.home-articles
  &__header
    display flex
    justify-content space-between
    padding (basePadding/3) (basePadding*2)
    font-size font-xl
    color #ffffff
    background-color #d8ceb7
    border-radius borderRadius
  &__add
    font-size font-s
  &__item
    .list-marked > li&--image
      list-style none
    &--image + &--image
      margin-top font-m
    &--best-products
      a:not(.link-secondary):not(.link-tertiary)
        color #000000
        &:hover
          text-decoration none
  &__rating
    float right
  &__more
    & + p^[-1]__sub-name
      margin-top 1.5rem
  &__list-rated-header
    display flex
    justify-content space-between
    color #636363
    ^[-1]__sub-name + &
      margin-top .25rem
  &__product-price
    color #636363
  .list-marked--no-markers
    padding-left 0
