mixin homeArticles(list)
  .home-articles
    p.home-articles__header
      span !{list.header}
      if list.addItem
        span.home-articles__add: a(href='/') !{list.addItem}
    if list.list
      +homeArticlesList(list)
    else
      each sublist in list.lists
        +homeArticlesList(sublist)



mixin homeArticlesList(list)
  -
    const listClass = [
      list.name || list.rated ? 'list-marked--w-prev-par' : '',
      list.rated ? ' list-marked--no-markers' : '',
    ]
  if list.name
    p.home-articles__sub-name: strong !{list.name}
  if list.rated
    p.home-articles__list-rated-header
      each item in list.rated
        span !{item}
  ul.home-articles__list.list-marked(class != listClass)
    each item, index in list.list
      -
        let itemPrice
        const itemClass = 'home-articles__item'
        var itemClassName = [
          itemClass,
          list.rated ? `${itemClass}--rated` : '',
          item.image ? `${itemClass}--image` : '',
          list.type == 'bestProducts' ? `${itemClass}--best-products` : '',
        ]
      if item.price
        - itemPrice = (typeof item.price == 'number') ? `${item.price}&nbsp;руб.` : item.price
      li(class=itemClassName)
        if list.type == 'news' && index == 0
          +grid({wrap:false})
            +grid__item({xs:4})
              img.home-articles__image(src= item.image)
            +grid__item({xs:8})
              a(href='/').link-secondary !{item.name}
              |  / !{item.date}
        else if list.type == 'job'
          a(href='/').link-tertiary !{item.name}
            if itemPrice
              |  - 
              strong !{itemPrice}
            |  (!{item.location})
        else if list.type == 'ads'
          a(href='/') !{item.name}
          | , 
          strong !{itemPrice}
          br
          | !{item.location}
        else if list.type == 'bestProducts'
          +grid({wrap:false})
            +grid__item({xs:4})
              img.home-articles__image(src= item.image)
            +grid__item({xs:8})
              p
                a(href='/') !{item.name}
                |  
                span.home-articles__product-price !{itemPrice}
                br
                | !{item.description}
              p Компания: 
                a(href='/').link-tertiary !{item.company}
        else if list.type == 'video'
          +grid({wrap:false})
            +grid__item({xs:4})
              img.home-articles__image(src= item.image)
            +grid__item({xs:8})
              a(href='/').link-tertiary !{item.name}
        else if list.type == 'otherProducts'
          a(href='/').link-secondary !{item.name}
          |  
          span.home-articles__product-price !{itemPrice}
          br
          | !{item.description}
        else if list.type == 'discounts'
          +grid({wrap:false})
            +grid__item({xs:4})
              img.home-articles__image(src= item.image)
            +grid__item({xs:8})
              a(href='/') !{item.name}
              | <br>
              | !{item.date}
              | <br>
              | !{item.location}
              | <br>
              | Компания: !{item.company}
        else
          if item.type == 'workers' || 'company'
            a(href='/') !{item.name}
            
          else
            a(href='/').link-tertiary !{item.name}
          if item.date
            |  / !{item.date}
          if list.rated
            span.home-articles__rating !{item.rating}
          if item.description
            br
            | !{item.description}
  if list.readMore
    p.home-articles__more: a(href='/').link-secondary.link-arrow !{list.readMore}
