.forum-top
  &__nav
    display flex
    flex-wrap wrap
    padding basePadding
    border 1px solid #d8ceb7
  &__nav-header
    margin-x (basePadding/2)
    margin-right auto
    @media screen and (max-width (point-s - 1))
      flex-basis 100%
      width 100%
  &__nav-link
    margin-x (basePadding/2)
