include ../includes/includes

//- data
include /data/main-menu
include /data/static-links

- let breadcrumbs = {parents:['Главная'], current:'Тестовая страница'}

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        if breadcrumbs
          .container
            .content
              +breadcrumbs(breadcrumbs)
        .container
          .content
            block main
              +pageSection
                +grid({paddingy: true})
                  +grid__item({m:9,xs:12})
                    block content
                  +grid__item({m:3,s:6,xs:12})
                    +aside.banner-position-3.sticky: +banner({position: 3}): div(style='width: 100%; height: 240px; font-size: 1.25rem; background-color: #963316; color: #fff; display: flex; align-items: center; justify-content: center; text-align: center') Позиция 3<br>(240×200 px)
                    +aside.banner-position-3: +banner({position: 3}): div(style='width: 100%; height: 240px; font-size: 1.25rem; background-color: #963316; color: #fff; display: flex; align-items: center; justify-content: center; text-align: center') Позиция 3<br>(240×200 px)
                    block aside
              +pageBottom
                block pageBottom
      include ../footer/footer
  +scripts(['jquery.min.js'])
  +scripts(['script.js'])
