.table-wrap
  overflow-x auto
  parMargin()
  & + &
  p + &
  .list-marked + &
  .list-numbered + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
.table
  width 100%
  parMargin()
  & + &
  p + &
  .list-marked + &
  .list-numbered + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top .5625rem
  h3 + &
    margin-top .3125rem
  h4 + &
    margin-top .125rem
  &__header
    padding (basePadding/3*2) basePadding
    font-size font-s
    line-height line-s
    text-align left
    vertical-align middle
    background-color #d8ceb7
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border-bottom 1px solid #D8CEB7
    ^[-1]__row:last-child > &
      border-bottom 1px solid #D8CEB7
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
  &:not(&--oneline)
    & ^[-1]__row:nth-child(2n-1):not(^[-1]__row--header) > ^[-1]__cell
      background #f3f3f3
  &--oneline
    & ^[-1]__cell:nth-of-type(2n)
      background #f3f3f3
