.banner
  &--position-1
    width 100%
    height 100px
  &--position-2
  &--position-4
    width 468px
    max-width 100%
    height 60px
  &--position-3
    width 240px
    max-width 100%
  &:empty
    display none
