.list-articles
  parMargin()
  &__title
    margin-top -.3125rem
    margin-bottom .3125rem
    a
      @extend h2
      display inline-block
      margin-bottom .25rem
      font-size font-xl
      line-height line-m
  &__item
    & + &
      margin-top (basePadding*2)
  &__properties
  &__description
  &__tags
  &__read-more
  &__item-footer
    margin-top 1rem
  &__gallery
    margin-top 1rem
  &__gallery-name
    & + .gallery
      margin-top 0
  &__gallery-more
    margin-top .25rem
  &__item-footer
    display flex
    margin-x -(basePadding/2)
    margin-bottom  -(basePadding/2)
  &__item-author
  &__item-date
    padding-x (basePadding/2)
    padding-bottom (basePadding/2)
