include /blocks/form-registration/form-registration

mixin forumSearchForm()
  .forum-search-form(class != attributes.class id != attributes.id)&attributes(attributes)
    .forum-search-form__header
      .forum-search-form__name Укажите свой критерий для поиска или используйте заранее предустановленные шаблоны
    .forum-search-form__body
      +blockMarked
        p Для поиска по ключевому слову введите одно или несколько слов. Разделяйте слова пробелом.
        p Вы можете использовать 
          strong AND
          |  чтобы определить слова, которые должны быть в результатах, 
          strong OR
          |  для слов, которые могут быть в результатах, и 
          strong NOT
          |  для слов, которых в результатах быть не должно.
        p Используйте символ * в качестве шаблона для частичного совпадения.
        p Изначально поиск ведется по всем разделам форума. Вы можете сузить масштабы поиска, выбрав один или несколько разделов для поиска.
      -
        const forumSearchForm = {
          blocks: [
            {
              fields: [
                {
                  type: 'text',
                  name: 'keywords',
                  id: 'fld1',
                  label: {tag: 'strong', content: 'Ключевые слова'},
                },
                {
                  type: 'text',
                  name: 'author',
                  id: 'fld2',
                  label: {tag: 'strong', content: 'Имя автора'},
                },
                {
                  type: 'checklist',
                  label: [{tag: 'strong', content: 'Выбор раздела для поиска'}, '<br>Если ни один раздел не выбран, поиск будет произведен по всем разделам форума.'],
                  blocks: [
                    {
                      name: 'Форум парикмахеров:',
                      checks: [
                        {type: 'checkbox', id: '', name: '', label: 'Профессия - парикмахер', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Начинающий мастер', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Окрашивание', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Стрижка', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Прически и укладки', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '>> Укладки', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Стрижка', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Прически и укладки', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Укладки', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Окрашивание', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Мелирование', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Взаимоотношения с клиентами', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Работа в салоне', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Наращивание волос', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Плетение косичек и дредов', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Постижерное искусство', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Лечение волос, уход за волосами', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Ламинирование и биоламинирование', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Химическая завивка и выпрямление волос', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Обучение парикмахерскому искусству', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Семинары, мастер-классы, курсы парикмахеров', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Парикмахерские школы, обучающие центры и академии', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Обучающие материалы, видео, книги по парикмахерскому искусству', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Профессиональная косметика, бренды', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Парикмахерские инструменты и аксессуары', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Парикмахерское оборудование и мебель', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Частные объявления: куплю, продам', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Обо всем', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'События', value: ''},
                      ],
                    },
                    {
                      name: 'Форум визажистов:',
                      checks: [
                        {type: 'checkbox', id: '', name: '', label: 'Профессия - визажист', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Начинающий визажист', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Техники и технологии макияжа', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Виды макияжа', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Обучение визажистов', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Семинары, мастер-классы, курсы визажистов', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Стиль и мода', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Косметические средства', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Бренды декоративной косметики', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Инструменты для макияжа', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Ресницы и брови', value: ''},
                        {type: 'checkbox', id: '', name: '', label: '> Наращивание ресниц', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Боди-арт и татуаж', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Взаимоотношения с клиентами', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'События', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Частные объявления: куплю, продам', value: ''},
                        {type: 'checkbox', id: '', name: '', label: 'Обо всем', value: ''},
                      ],
                    },
                  ],
                },
              ]
            },
            {
              fields: [
                {
                  type: 'select',
                  name: 'sort_by',
                  id: 'fld123',
                  label: {tag: 'strong', content: 'Сортировать результаты по'},
                  options: ['Дата сообщения','Автор','Тема','Раздел форума'],
                },
                {
                  type: 'radios',
                  label: {tag: 'strong', content: 'Порядок сортировки'},
                  radios: [
                    {type: 'radio', id: 'fld124', name: 'sort_dir', label: 'Возрастание', value: 'ASC'},
                    {type: 'radio', id: 'fld125', name: 'sort_dir', label: 'Убывание', value: 'DESC'},
                  ],
                },
                {
                  type: 'radios',
                  label: {tag: 'strong', content: 'Показывать результаты как'},
                  radios: [
                    {type: 'radio', id: 'fld126', name: 'show_as', label: 'Как темы', value: 'posts'},
                    {type: 'radio', id: 'fld127', name: 'show_as', label: 'Как сообщения', value: 'topics'},
                  ]
                },
              ]
            },
          ],
          submit: {button: 'Начать поиск'},
        }
      +formRegistration(forumSearchForm).forum-search-form__form
