.forum-search-form
  @extend .forum-reply
  &__header
    @extend .forum-block__header
  &__name
    @extend .forum-block__name
  &__body
    @extend .forum-reply__body
  .block-marked
    background-color #ffffe1
    p
      font-size font-s
      line-height line-s
      color #666
      & + p
        margin-top font-s
  &__form
    padding (basePadding*2) basePadding basePadding
    .form-registration
      &__field
        &:not(&--submit)
          border-top none
        &--checklist .form-registration__input
          background-color #fff
      &__label
        width 100%
        max-width 20rem
