.header-navigation
  @media screen and (max-width point-m - 1)
    position absolute
    top 3rem
    z-index 20
    width 20rem
    background-color #f1ede4
    transform scale(0)
    transform-origin 0 0 0
    transition transform .2s
    &--active
      transform scale(1)
      transition none
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding (basePadding/2) basePadding
        font-weight 500
        text-decoration none
        color #4e4e4e
        transition color .2s
      &:hover
        & > a
          color #952642
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist-switch
      display flex
      align-items center
      width 2.125rem
      height 2.125rem
      justify-content center
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      padding (basePadding/2) basePadding basePadding
      background-color rgba(255, 255, 255, .75)
      &--active
        display block
    &__sublist-item
      & > a
        padding (basePadding/2) (basePadding)
        font-weight 400
        white-space nowrap
        color #3d3d3d
        transition color .2s
      &:hover
        & > a
          color #952642
          background-color transparent
          transition none
