.form-success
  parMargin()
  padding (basePadding*2)
  padding-left (basePadding*2 + 3.75rem)
  background-image svgImport('svg/formSuccess.svg')
  background-repeat no-repeat
  background-position basePadding center
  background-size 3.75rem
  border solid 1px #ccc
  &__title
    font-weight bold
