.message.properties
  grid-row-gap 1rem // @stylint ignore
  grid-column-gap (basePadding*2) // @stylint ignore
  grid-template-columns 14rem auto
  .properties
    &__item-name
      text-align right
      color #333
