.pagination
  .pagination__title Страницы: 
  .pagination__list
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page1/', title='первая') [1]
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page1/', title='предыдущая') «
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page1/', title='1') 1
    span.pagination__item.pagination__item--active 2
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page3/', title='3') 3
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page4/', title='4') 4
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page5/', title='5') 5
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page6/', title='6') 6
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page7/', title='7') 7
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page8/', title='8') 8
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page9/', title='9') 9
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page3/', title='следующая') »
    a.pagination__item(href='http://www.dev.hairlife.ru/news/page341/', title='последняя') [341]
