.forum-search
  display flex
  flex-wrap wrap
  align-items center
  padding (basePadding/2) basePadding
  background-color #d8ceb7
  &__item
    margin 0 basePadding
  .form-search-small.form&__form
    .form-input__field
    .form__submit .btn
      padding-y .25rem
