.list-comments
  parMargin()
  &__item
    & + &
      margin-top basePadding
      padding-top (basePadding*2)
      border-top 1px solid #ccc
  &__item-header
    display flex
    margin-x -(basePadding/3)
    margin-bottom .5rem
  &__item-image
  &__item-info
    margin-x (basePadding/3)
  &__item-image
    width 2.75rem
  
  &__item-name
    margin-bottom .25rem
  &__item-date
    font-size font-s
  &__item-body
    margin-bottom .5rem
  &__item-footer
    a
      font-size font-s
      color #636363
