mixin listComments(list)
  .list-comments
    each item in list
      .list-comments__item
        .list-comments__item-header
          .list-comments__item-image: a(href != item.link): img(src != item.image alt != item.name title != item.name)
          .list-comments__item-info
            .list-comments__item-name: a(href != item.link) !{item.name}
            .list-comments__item-date !{item.date}
        .list-comments__item-body !{item.body}
        .list-comments__item-footer: a.link-secondary(href='send-message.html') Отправить сообщение
