.forum-topic
  &__header
  &__footer
    @extend .forum-block__header
  &__name
    @extend .forum-block__name
  &__header-link
    @extend .forum-block__header-link
  &__footer-name
    @extend .forum-block__footer-name
  &__messages
    border-right 1px solid #ccc
    border-left 1px solid #ccc
  &__message
    & + &
      border-top 1px solid #ccc
  &--last
    background-color #fbfbfb
    border 1px solid #dfe6ed
    & ^[-1]__header
      background-color #f4f4f4
      border-bottom 1px solid #cbd1d8
    & ^[-1]__messages
      margin (basePadding*2)
      border-top 1px solid #ccc
      border-bottom 1px solid #ccc
