include /blocks/forum-message/forum-message

mixin forumTopic(topic)
  -
    const topicClassList = [
      topic.settings.type ? `forum-topic--${topic.settings.type}` : '',
    ]
  .forum-topic(class != topicClassList)
    .forum-topic__header
      .forum-topic__name !{topic.header.name}
      if topic.settings.type === 'topic'
        .forum-topic__header-link: a(href='/') Подписаться
      else if topic.settings.type === 'search'
        .forum-topic__header-link: a(href != staticLinks.forumSearch) Начать новый поиск
    .forum-topic__messages
      - let count = 0
      each item in topic.list
        -
          count++
          item.count = count
        if topic.settings.type === 'topic'
          -
            item.footer = {
              links: [
                {name: 'Сообщить модератору', href: 'forum-report.html'},
                {name: 'Цитировать', href: '/'},
                {name: 'Поблагодарить', href: '/'},
              ]
            }
        else if topic.settings.type === 'search'
          -
            item.footer = {
              links: [
                {name: 'Перейти к разделу', href: 'forum-category.html'},
                {name: 'Перейти к теме', href: 'forum-topic.html'},
                {name: 'Перейти к сообщению', href: 'forum-topic.html#1'},
              ]
            }
        +forumMessage(item)(id != count).forum-topic__message
    if topic.settings.type !== 'last'
      .forum-topic__footer
        .forum-topic__footer-name !{topic.header.name}
