.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  margin-bottom (basePadding*1.5)
  font-size font-s
  font-weight 500
  line-height line-s
  &__parent
    padding-right (basePadding/2)
    a
      color color-text
      &:hover
        color color-link-hover
  &__current
    color #636363
  &__separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
