include /blocks/form-input/form-input

.subscribe-module: .container: .content
  a(href='#').subscribe-module__open Получить бесплатно лучшие видео мастер-классы
  .subscribe-module__title Подпишитесь на рассылку и получайте лучшие видео мастер-классы!
    +grid({ justify: 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): form(method='POST' action='/subscribe/sub.html' onsubmit='return us_.onSubmit(this);' data-us_mode='embed').subscribe-module__form
      input(type='hidden' name='subscribe_text_number' value='2')
      +grid({ justify: 'center', paddingy: true }).subscribe-module__textboxes
        +grid__item({ l: 4, xs: 12 }): +formInput({ type: 'text', name: 'f_1263961', placeholder: 'Ваше имя', required: true })
        +grid__item({ l: 4, xs: 12 }): +formInput({ type: 'email', name: 'email', placeholder: 'Ваш Email', required: true })
        +grid__item({ l: 4, xs: 6 }): button(type='submit' name='subscr').btn Подписаться
      +grid({ justify: 'center' })
        +grid__item({ l: 6, xs: 12 }): +formInput({ type: 'checkbox', name: 'list_ids[]', value: 1, checked: true, label: 'Видео для парикмахеров' })#subscribe-checkbox-1
        +grid__item({ l: 6, xs: 12 }): +formInput({ type: 'checkbox', name: 'list_ids[]', value: 2, checked: true, label: 'Видео для мастеров маникюра' })#subscribe-checkbox-2
        +grid__item({ l: 6, xs: 12 }): +formInput({ type: 'checkbox', name: 'list_ids[]', value: 3, checked: true, label: 'Видео для визажистов' })#subscribe-checkbox-3
        +grid__item({ l: 6, xs: 12 }): +formInput({ type: 'checkbox', name: 'list_ids[]', value: 4, checked: true, label: 'Видео для косметологов' })#subscribe-checkbox-4
