.subscribe-module
  position fixed
  right 0
  bottom 0
  left 0
  z-index 9999
  padding-y (basePadding * 2)
  background-color #d8d8d8
  transform translateY(100%)
  transition transform .4s
  &--active
    transform none
    transition transform .2s
    & ^[-1]__open::after
      opacity 1
      transform translateY(-50%) rotate(0)
  &__open
    position absolute
    bottom 100%
    left 50%
    width 34rem
    max-width 100%
    padding basePadding (basePadding * 4)
    text-align center
    text-decoration-style solid !important
    color #fff
    background-color #dd0414
    border-radius .5rem .5rem 0 0
    transform translateX(-50%)
    &:hover
      color #d8d8d8
      &::after
        filter brightness(.75)
    &::after
      content ''
      position absolute
      top 50%
      right (basePadding * 2)
      width 1rem
      height 1rem
      background-image svgImport('svg/close.svg')
      background-size 1rem
      transform translateY(-50%) rotate(90deg)
      transition transform .4s, opacity .4s, filter .2s
      opacity 0
  &__title
    text-align center
  &__form
    padding-y (basePadding * 2)
  .grid--padding-y&__textboxes
    margin-bottom basePadding
  .btn
    width 100%
  .form-input
  .form-input__field
    height 100%
