mixin pageHeader(header, settings = {})
  - settings.simple = settings.simple == undefined ? true : settings.simple
  - settings.rss = settings.rss == undefined ? true : settings.rss
  - settings.sub = settings.sub ? settings.sub : ''
  if settings.simple
    h1 !{header}
  else
    +grid({parLike:true}).page-header
      +grid__item().page-header__header(class != `${settings.sub ? 'page-header__header--sub' : ''}`)
        if !settings.sub
          h1 !{header}
        else
          .h2 !{header}
      +grid__item().page-header__links
        a(href != settings.add.href).link-add.link-tertiary.page-header__add !{settings.add.name}
        | 
        if settings.rss
          a(href != `${settings.rss != '' ? settings.rss : '/'}`).page-header__rss.link-rss RSS
