.page-header
  margin-bottom 1rem
  @media screen and (min-width point-m)
    flex-wrap nowrap
  .grid__cell&__header
    flex-grow 1
  .grid__cell&__links
    display flex
    flex-grow 0
    justify-content flex-end
    align-items baseline
    padding-x (basePadding/2)
    padding-top ((2.75rem - 1.25rem) / 2)
    line-height 1.25rem
    @media screen and (min-width point-m)
      flex-shrink 0
  &__add
    margin-x (basePadding/2)
    font-size font-xl
  &__rss
    margin-x (basePadding/2)
  
