mixin blockMarked(settings = {})
  -
    const classList = [
      settings.type ? `block-marked--${settings.type}` : '',
    ]
  .block-marked(class != classList)&attributes(attributes)
    if settings.header
      p.block-marked__header !{settings.header}
    block
