.block-marked
  parMargin()
  padding (basePadding*2)
  border 1px solid #ddd
  border-left 4px solid #d3b68a
  &__header
    margin-bottom (line-m/2)
    padding-bottom (line-m/2)
    color #1f537b
    border-bottom 1px solid rgba(#ccc, .5)
  &--simple
    border-left 1px solid #ddd
