.header-service-login
  margin-right (basePadding*2)
  font-size font-s
  line-height font-s
  &__list
    display flex
    align-items center
  &__item
    padding (basePadding/3) (basePadding/2)
    border-left 1px solid #f2efe6

    a
      display inline-block
      padding-top ((line-m - font-s) / 5 * 2)
      padding-bottom ((line-m - font-s) / 5 * 3)
    &:first-child
      border-left none
    &--login
        padding-left 1.75rem
        background-image var(--user-icon)
        background-repeat no-repeat
        background-position left center
        background-size 1.25rem
    &--message a
      display block
      width 1.5rem
      height .9375rem
      padding 0
      animation-name messagesFlickering
      animation-duration .6s
      animation-iteration-count infinite
      animation-direction alternate
      animation-fill-mode both
      @keyframes messagesFlickering
        from
          opacity 1
        to
          opacity .5
      svg
        max-width 100%
        max-height 100%
      #header-service-message
        transition stroke .4s
        stroke #873e2a
      &:hover
        animation-name none
        #header-service-message
          transition stroke .1s
          stroke #c31843
  .header__navigation-user &
    margin-right 0
    font-size font-s
    &__item
      border none
    & a
      color #fff
    #header-service-message
      transition stroke .4s
      stroke #fff
    &:hover
      animation-name none
      #header-service-message
        transition stroke .1s
        stroke #ccc
    
