.header-service-login
  ul.header-service-login__list
    li.header-service-login__item.header-service-login__item--login: a(href != staticLinks.login) Войти
    li.header-service-login__item: a(href != staticLinks.registration) Зарегистрироваться
    li.header-service-login__item.header-service-login__item--message: a(href != staticLinks.accountMessages)
      include /template/images/header-message.svg
