.properties
  parMargin()
  display grid
  grid-column-gap basePadding // @stylint ignore
  grid-row-gap .25rem // @stylint ignore
  grid-template-columns max-content 1fr
  &__item
    display contents
  &__item-name
    margin-bottom ((line-m - font-m)/2)
    font-weight bold
    color #a2a2a2
  &__item-value
    margin-bottom ((line-m - font-m)/2)
  &__popup-name
    @extend a, a[href^='#']
    position relative
    display inline-block
    margin-left (basePadding/3*2)
    padding-left (basePadding/3*2)
    border-left 1px solid #ccc
    cursor pointer
    &::after
      content ''
      display inline-block
      width .675rem
      height .675rem
      margin-left .25rem
      background-image linear-gradient(45deg, #fff 50%, var(--color-link) 50%)
      transform translateY(-25%) scaleX(.75) rotate(135deg)
    &:hover::after
      background-image linear-gradient(45deg, #fff 50%, var(--color-link-hover) 50%)
  &__popup-body
    display none
    padding basePadding
    &--active
      display block
  &__item-clarification
    margin-left (basePadding/3*2)
    font-weight bold
    color #a2a2a2
