include ../includes/includes

//- data
include /data/main-menu
include /data/static-links

mixin trow
  tr
    td(style='padding: 24px 0 0 0;')
      block

mixin row
  div(style='display: flex; flex-wrap: wrap; justify-content: center;')
    block

mixin cell
  div(style='width: 100%; max-width: 360px;')
    block

mixin header(header, settings = {hCol: '#1e0e0f'})
  div(style=`padding: 5px 10px; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 17px; color: ${settings.hCol}; background-color: #f6efe6; border-top: 1px solid #cb9685`) !{header}

mixin block(header, settings = {hCol: '#1e0e0f'})
  table(style='width: 100%; border-collapse: collapse;')
    if header
      tr
        td: +header(header, settings)
    tr
      td(style='padding: 0 12px; font-family: Arial, Helvetica, sans-serif; color: #000000;')
        block

mixin a()
  a(style='color: #aa2a06; text-decoration: underline;')&attributes(attributes)
    block

mixin video(img, name)
  table(style='margin-top: 1em')
    tr
      td(style='width: 112px'): +a(href=''): img(src != img alt != name title != name)
      td(style='padding-left: 12px'): +a(href=''): strong !{name}

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block head
  body
    table(style='box-sizing: border-box; margin: 0 auto; padding: 0; width: 720px; max-width: 100%; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; line-height: 17px; border-collapse: collapse;')
      tr
        td(style='display: flex; align-items: center; flex-wrap: wrap;')
          img(style='float: left; margin-right: 24px; width: 224px' src='/template/images/subscribe/industry-beauty-news/logo.jpg')
          h1(style='font-family: Arial, Helvetica, sans-serif; font-size: 27px; line-height: 32px; color: #aa2a06;') !{header}
      block content
