.header-top
  display flex
  margin-x -(basePadding)
  
  &__item
    margin-x basePadding
    &--logo
      margin-y basePadding
    &--service
      margin-left auto
  &__service
    display flex
    flex-direction column
    justify-content space-between
    align-items flex-end
    height 100%
    line-height font-xl
  &__banner
    margin-y auto
