.gallery
  parMargin()
  display flex
  flex-wrap wrap
  margin -(basePadding/2)
  &__item
    max-width 12rem
    padding (basePadding/2)
    text-align center
  &__item-header
    margin-bottom ((line-xl - font-xl)/2)
    font-size font-xl
  &__image
    display block
    img
      max-height 16.5rem
      padding (basePadding/3)
      border (basePadding/3) solid #ccc
  &__description
    p
      font-size inherit
      line-height inherit
      & + p
        margin-top .25rem
  &--no-borders
    & ^[-1]__image
      display block
      img
        padding 0
        border none
  &--size-small
    & ^[-1]__item
      max-width 6.375rem
    & ^[-1]__image
      display block
      img
        max-height 12rem
    &  ^[-1]__description
      font-size font-s
  &--description-align
    &-left
      &  ^[-2]__description
        text-align left
  &--description-size
    &-small
      &  ^[-2]__description
        font-size font-s
        line-height line-s
