.form-search-small.form
  flex-direction row
  margin-x -(basePadding/2)
  padding 0
  background-color transparent
  border-radius none
  .form__input
    margin-x (basePadding/2)
    margin-bottom 0
  .form__submit
    margin-x (basePadding/2)
    .btn
      height 100%
      padding-y 0
      font-size font-m
