mixin formSearchSmall(settings = {placeholder:''})
  form.form.form-search-small(class != attributes.class)
    .form__input
      +formInput({type:'text',name:'tag',placeholder:settings.placeholder})#tag
    .form__submit
      button.btn(type='submit') Поиск
