.article-footer
  parMargin()
  display flex
  margin-x -(basePadding/2)
  margin-bottom  -(basePadding/2)
  &__author
  &__date
  &__comments
  &__rating
    padding-x (basePadding/2)
    padding-bottom (basePadding/2)
  &__author
    padding-left (basePadding/2) + 1.5rem
    background-image var(--user-icon)
    background-repeat no-repeat
    background-position (basePadding/2) .25rem
    background-size 1rem
    a
      color #636363
      &:hover
        color #9c9c9c
  &__comments
    padding-left basePadding + 1rem
    background-image svgImport('svg/articleFooterComments.svg')
    background-repeat no-repeat
    background-position (basePadding/2) center
    background-size 1rem
  &__rate
    display inline-block
    width 1rem
    height 1rem
    margin-x .25rem
    background-repeat no-repeat
    background-position center
    &--up
      background-image svgImport('svg/articleFooterRateUp.svg')
    &--down
      background-image svgImport('svg/articleFooterRateDown.svg')
