// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

containerWidth = 76rem

// font sizes

font-xxs = 0.625rem
font-xs = 0.75rem
font-s = 0.875rem
font-m = 1rem
font-l = 1.125rem
font-xl = 1.25rem
font-xxl = 1.375rem
font-xxxl = 1.5rem
// line-heights

line-xxs = 0.9375rem
line-xs = 1.125rem
line-s = 1.3125rem
line-m = 1.625rem
line-l = 1.6875rem
line-xl = 1.875rem
line-xxl = 2.0625rem
line-xxxl = 2.25rem

// base-padding
basePadding = 0.75rem

// default border radius
borderRadius = 0.625rem

// functions
padding-x(n)
  padding-left n
  padding-right n
padding-y(n)
  padding-top n
  padding-bottom n
margin-x(n)
  margin-left n
  margin-right n
margin-y(n)
  margin-top n
  margin-bottom n

// blocks

parLike = 'p',
  '.list-marked',
  '.list-numbered',
  '.table',
  '.table-wrap',
  '.figure',
  '.tabs',
  '.grid--par-alike',
  '.gallery',
  '.show-hide--par-alike',
  '.footer__top',
  '.newsfeed-form',
  '.properties',
  '.list-tags',
  '.list-articles',
  '.tabs-non-interactive',
  '.form',
  '.video-item',
  '.list-tags-small',
  '.likely-wrap',
  '.announcement',
  '.properties',
  '.list-product-categories',
  '.block-marked',
  '.form-registration',
  '.form-error',
  '.article-footer',
  '.list-comments',
  '.work-of-month',
  '.form-user-photo',
  '.account-products',
  '.pagination',
  '.codebox',
  '.quotebox',
  '.quotebox > blockquote',
  '.form-success'
parMargin()
  for item in parLike
    {item} + &
      margin-top 1rem
  h1 + &
  .h1 + &
    margin-top 1rem
  h2 + &
  .h2 + &
    margin-top 0.5625rem
  h3 + &
  .h3 + &
    margin-top 0.3125rem
  h4 + &
  .h4 + &
    margin-top 0.125rem
  
