mixin formInput(item)
  -
    let inputClass = [
      item.type ? `form-input--${item.type}` : ''
    ]
  .form-input(class != inputClass.join(' '))
    if item.type != 'textarea' && item.type != 'checkbox' && item.type != 'select'  && item.type != 'captcha'  && item.type != 'radio' && item.type != 'file'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      input(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        placeholder= item.placeholder
        readonly= item.readonly
        maxlength= item.maxlength
        ).form-input__field
    else if item.type == 'textarea'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      textarea(
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        placeholder= item.placeholder
        readonly= item.readonly
        ).form-input__field
          block
    else if item.type == 'checkbox' || item.type == 'radio'
      input(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        checked= item.checked
        placeholder= item.placeholder
        readonly= item.readonly
        ).form-input__checkbox
      if item.label && !item.href
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      if item.label && item.href
        .form-input__label: a(href != item.href) !{item.label}
    else if item.type == 'select'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      select(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        readonly= item.readonly
      ).form-input__select
        each option in item.options
          option(value != option) !{option}
    else if item.type == 'file'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      input(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        placeholder= item.placeholder
        readonly= item.readonly
        maxlength= item.maxlength
        ).form-input__file
    if item.type == 'captcha'
      .form-input__row
        .form-input__label
        .form-input__captcha-image: img(src='http://www.hairlife.ru/_classes/securimage/securimage_show.php')#captcha
      .form-input__row
        if item.label
          label(for= attributes.id class= requiredClass).form-input__label !{item.label}
        input(
          type= item.type
          name= item.name
          id= attributes.id
          class != attributes.class
          required= item.required
          placeholder= item.placeholder
          readonly= item.readonly
          ).form-input__field
