mixin formUserPhoto(settings = {type: 'upload'})
  -
    settings.type = settings.type ? settings.type : 'upload'
    settings.description = settings.description ? settings.description : 'Допускается загрузка фотографий с расширением JPG, GIF, PNG.'
  if settings.type == 'upload'
    - settings.submit = settings.submit ? settings.submit : 'Изменить фотографию'
    form.form-user-photo
      .form-user-photo__input: input(type='file' name='userphoto' required='required')
      .form-user-photo__description !{settings.description}
      input(type='hidden' name='foto_send' value='true')
      .form-user-photo__submit: button.btn(type='submit') !{settings.submit}
  else if settings.type == 'delete'
    - settings.submit = settings.submit ? settings.submit : 'Удалить фотографию'
    form.form-user-photo
      input(type='hidden' name='delete_photo' value='true')
      .form-user-photo__submit: button.btn(type='submit') !{settings.submit}
