mixin listTags(list)
  ul.list-tags
    each item in list
      if typeof item == 'string'
        li.list-tags__item: a(href='/') !{item}
      else if typeof item == 'object'
        li.list-tags__item(class != `list-tags__item--${item.size}`): a(href='/') !{item.name}
