footer.footer
  .container
    .content
      .footer__top
        .footer__copy 2008 - 2019 © Hairlife.ru Все права защищены
        .footer__counters
          a(target='_top' href='http://top.mail.ru/jump?from=1866069' rel='nofollow')
            img(src="http://d9.c7.bc.a1.top.mail.ru/counter?id=1866069;t=49;l=1" style="border: 0" height="31" width="88" alt="Рейтинг@Mail.ru")
        .footer__advertising
          include footer-advertising/footer-advertising
        .footer__socials
          p Мы в соц. сетях: 
          include footer-socials/footer-socials
      p.footer__clarification Использование материалов разрешается при обязательной установке активной гиперссылки на&nbsp;сайт Hairlife.ru рядом с&nbsp;опубликованным материалом, для печатных изданий&nbsp;&mdash; с&nbsp;формулировкой &laquo;по&nbsp;материалам Hairlife.ru&raquo;
      .footer__likely
        .likely
          .vkontakte
          .facebook
          .twitter
          .odnoklassniki
          .gplus
      .footer__navigation
        +grid({paddingy:true})
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong Разделы
              li: a(href='').link-tertiary Персоны
              li: a(href='').link-tertiary Компании
              li: a(href='').link-tertiary Работа
              li: a(href='').link-tertiary Статьи
              li: a(href='').link-tertiary Портфолио
              li: a(href='').link-tertiary Видео
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong События
              li: a(href='').link-tertiary Новости
              li: a(href='').link-tertiary Выставки
              li: a(href='').link-tertiary Чемпионаты и конкурсы
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong Акции
              li: a(href='').link-tertiary Мастер-классы
              li: a(href='').link-tertiary Стрижки
              li: a(href='').link-tertiary Прически
              li: a(href='').link-tertiary Окрашивние
              li: a(href='').link-tertiary Наращивание волос
              li: a(href='').link-tertiary Плетение косичек и дредов
              li: a(href='').link-tertiary Nail-дизайн
              li: a(href='').link-tertiary Наращивание ногтей
              li: a(href='').link-tertiary Макияж
              li: a(href='').link-tertiary Косметология
              li: a(href='').link-tertiary Массаж
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong Форумы
              li: a(href='').link-tertiary Форум парикмахеров
              li: a(href='').link-tertiary Форум визажистов
              li: a(href='').link-tertiary Форум nail-мастеров
              li: a(href='').link-tertiary Форум косметологов
              li: a(href='').link-tertiary Форум руководителей салонов
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong О проекте
              li: a(href='').link-tertiary Правила использования
              li: a(href='').link-tertiary Зарегистрироваться
              li: a(href='').link-tertiary Вопросы и ответы
              li: a(href='').link-tertiary Новости портала
              li: a(href='').link-tertiary Наши баннеры и ссылки
          +grid__item({m:2,s:4,xs:6})
            ul.list-marked
              li: strong: a(href='').link-tertiary Реклама на портале
              li: strong: a(href='').link-tertiary Сотрудничество
              li: a(href='').link-tertiary Служба поддержки
              li: a(href='').link-tertiary Контакты
