.footer
  padding-top (56/16)rem
  &__staff
    padding-top 1rem
    padding-bottom (basePadding*2)
  &__socials
    display flex
    padding-top (basePadding*2)
    color #636363
    border-top 2px solid #e7e7e8
    p
      margin-right .5rem
      font-size font-s
      line-height line-s
  &__phone
    margin-bottom 1rem
    font-size (40/16)rem
    font-weight 500
    line-height 1.25
    white-space nowrap
  &__top
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    parMargin()
    margin-x -(basePadding/2)
    padding (basePadding/3) basePadding
    font-size font-s
    color #636363
    background-color #e7e7e8
    border-radius borderRadius
    & > * // @stylint ignore
      padding (basePadding/2)
  &__likely
    display flex
    parMargin()
    justify-content center
  &__navigation
    ^[-1]__likely + &
      margin-top 1rem
    .list-marked
      font-size font-s
      line-height line-s
  &__clarification
    font-size font-s
    line-height line-s
