.link-icon
  padding-left 1.5rem
  background-repeat no-repeat
  background-position left center
  background-size 1rem
  &--page
    background-image svgImport('svg/linkIconPage.svg')
  &--delete
    font-size font-s
    background-image svgImport('svg/linkIconDelete.svg')
  &--edit
    font-size font-s
    background-image svgImport('svg/asideMenuItemEdit.svg')
  &--account-add-photo
    font-size font-s
    background-image svgImport('svg/linkIconAccountAddPhoto.svg')
  &--account-add-info
    font-size font-s
    background-image svgImport('svg/linkIconAccountAddInfo.svg')
  &--account-add-contacts
    font-size font-s
    background-image svgImport('svg/linkIconAccountAddContacts.svg')
  &--account-add-map
    font-size font-s
    background-image svgImport('svg/linkIconAccountAddMap.svg')
  &--account-add-price
    font-size font-s
    background-image svgImport('svg/linkIconAccountAddPrice.svg')
