mixin tableOffers(offers)
  -
    const offersList = []
  each offer in offers
    - offer.buy = offer.buy == false ? offer.buy : true
    -
      offersList.push(
        [
          {
            classModifier: 'seller',
            content: [
              offer.image ? {tag: 'img', attr: {src: offer.image, alt: 'Волосы 24', title:'Волосы 24', class: 'table-offers__seller-image'}} : '',
              {tag: 'a', attr: {href:offer.link}, content: offer.seller}, `<br>${offer.city}`
            ],
          },
          {classModifier: 'comment', content:offer.comment ? offer.comment : '',},
          {classModifier: 'price', content:[{tag: 'div', attr:{class:'table-offers__price'}, content: `${offer.price} руб.`}, offer.buy ? [{tag: 'a', attr: {class: 'btn', href: 'trade-order.html'}, content: 'Заказать'}] : '']},
        ]
      )
  -
    const offerTable = {
      header: ['Продавец', 'Комментарии', 'Цена'],
      rows: offersList
    }
  +table(offerTable).table-offers
