extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Правила пользования сайтом Hairlife.ru')
  p Добро пожаловать на http://www.hairlife.ru (Далее - Сайт), ресурс, главной целью которого является объединение людей тем или иным образом связанных с индустрией красоты и салонным бизнесом.
  p 1. Статус Правил пользования Сайтом Hairlife.ru
  p 1.1. Настоящие Правила пользования Сайтом Hairlife.ru (ранее и далее – Правила) разработаны Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации. Правила распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.
  p 1.2. Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого является предоставление Администрацией Сайта Пользователю услуг по использованию Сайта и его сервисов (далее – Услуги). Помимо настоящих Правил, к соглашению между Пользователем и Администрацией Сайта относятся все специальные документы, регулирующие предоставление отдельных сервисов Сайта и размещенные в соответствующих разделах Сайта в сети Интернет.
  p 1.3. Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
  p 1.4. Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет по адресу: http://hairlife.ru/about/terms.html. Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
  p 2. Статус Сайта Hairlife.ru
  p 2.1. Сайт Hairlife.ru является интернет-ресурсом и представляет собой совокупность информации и программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу http://hairlife.ru.
  p 2.2. Все права на Сайт в целом и на использование сетевого адреса (доменного имени) http://hairlife.ru принадлежат Администрации Сайта. Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и действующим законодательством Российской Федерации.
  p 2.3. Настоящими Правилами установлены условия, в соответствии с которыми права на использование информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут принадлежать Пользователям Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без непосредственного участия Администрации Сайта.
  p 3. Администрация Сайта Hairlife.ru
  p 3.2. Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов третьих лиц при его использовании, а также для запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены на почтовый адрес 197110, ул. Большая Разночинная, д. 14, корп. 5, офис 317.
  p 3.3. В отношении функционирования и развития Сайта Администрация руководствуется законодательством Российской Федерации, настоящими Правилами и иными специальными документами, которые разработаны или могут быть разработаны и приняты Администрацией Сайта в целях регламентации предоставления Пользователям отдельных сервисов Сайта.
  p 3.4. Никакие положения настоящих Правил не предоставляют Пользователю право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта. Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта может быть предоставлено исключительно по письменному соглашению с Администрацией Сайта.
  p 4. Регистрация на Сайте Hairlife.ru и статус Пользователя
  p 4.1. Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: http://www.hairlife.ru/reg/.
  p 4.2. Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).
  p 4.3. При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной почты либо комбинацию из латинских букв и цифр для входа на Сайт) и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.
  p 4.4. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.
  p 4.5. После предоставления информации, указанной в п. 4.3. настоящих Правил, она проверяется Администрацияй Сайта. В случае одобрения регистрационной информации на Сайте создается персональная страница Пользователя, имеющая сетевой адрес вида http://www.hairlife.ru/people/[id]/. Пользователь вправе зарегистрировать не более одной персональной страницы на Сайте.
  p 4.6. При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта.
  p 4.7. После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и обязанности перед Пользователем, указанные в настоящих Правилах.
  p 4.8. Принимая настоящие Правила путем регистрации на Сайте, Пользователь подтверждает свое согласие на обработку Администрацией его персональных данных, предоставленных при регистрации, а также размещаемых Пользователем добровольно на своей персональной странице. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг, в том числе, в целях получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Сайта, а также разрабатывать новые сервисы и разделы Сайта. Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Услуг Пользователю. Администрация Сайта вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях.
  p 4.9. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить хранение логина и пароля (с использованием файлов cookies) для последующей автоматической авторизации на Сайте.
  p 4.10. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.
  p 4.11. После регистрации Пользователь получает право самостоятельно в личных некоммерческих целях создавать, использовать и определять содержание собственной персональной страницы и условия доступа других Пользователей к ее содержанию, а также получает возможность доступа и размещения информации на персональных страницах других Пользователей (при условии получения соответствующих прав доступа от их обладателей).
  p 4.12. Пользователь как обладатель информации, размещенной на собственной персональной странице, осознает, что за исключением случаев, установленных настоящими Правилами и действующим законодательством Российской Федерации, Администрация Сайта не принимает участие в формировании и использовании содержания и контроле доступа других пользователей к персональной странице Пользователя.
  p 4.13. Создание и использование Официальных страниц
  p 4.13.1. Пользователь вправе создавать Официальные страницы для целей продвижения коммерческих, политических, благотворительных и иных организаций и/или брендов, товаров, работ и/или услуг. При создании и администрировании Официальной страницы, в том числе при регистрации короткого имени Официальной страницы (поддоменного имени) Пользователь подтверждает, что действует на законных основаниях (например, на основании доверенности), обладает всеми необходимыми правами и не нарушает своими действиями законные права и интересы третьих лиц, а также действующее законодательство Российской Федерации, в том числе законодательство о конкуренции и защите интеллектуальной собственности.
  p 4.13.2. Пользователь несет полную ответственность за свои действия, связанные с созданием и администрированием Официальных страниц, в соответствии с действующим законодательством Российской Федерации.
  p 4.13.3. В случае обнаружения факта нарушения Пользователем при создании и администрировании Официальной страницы законных прав и интересов третьих лиц и действующего законодательства Российской Федерации, а также положений настоящих Правил, Администрация Сайта вправе заблокировать доступ Пользователя к Официальной странице и/или передать права администрирования Официальной страницы, в том числе право использования короткого имени Официальной страницы (поддоменного имени), законному правообладателю, подтвердившему свои права на Контент Официальной страницы в установленном порядке.
  p 5. Обязанности Пользователя Hairlife.ru
  p 5.1. При пользовании Услугами Сайта Пользователь обязан:
  ul.list-marked
    li соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных специальных документов Администрации Сайта; 
    li предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией; 
    li информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя; 
    li не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной содержащейся на ней информации в случае, если это может привести к нарушению законодательства Российской Федерации и/или настоящих Правил, специальных документов Администрации Сайта; 
    li не размещать на персональной странице информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц; 
    li перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать законность их размещения; 
    li хранить в тайне и не предоставлять другим Пользователям и третьим лицам ставшие ему известными в результате общения с другими Пользователями и иного использования Сайта персональные данные (включая, но не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты, ICQ, паспортными данными, банковской информацией) и информацию о частной жизни других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних; 
    li осуществлять резервное копирование важной для Пользователя хранящейся на его персональной странице информации.
  p 5.2. В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе, по размещению информации или предоставлению доступа, Администрация Сайта рекомендует воздержаться от осуществления последних.
  p 5.3. Пользователю при использовании Сайта запрещается:
  p 5.3.1. регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый аккаунт») или регистрировать компанию или юридическое лицо в качестве Пользователя, при этом, возможна регистрация от имени и поручению другого физического лица или юридического лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;
  p 5.3.2. вводить Пользователей в заблуждение относительно своей личности, используя логин и пароль другого зарегистрированного Пользователя;
  p 5.3.3. искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или организациями;
  p 5.3.4. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая: содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц; нарушает права несовершеннолетних лиц; является вульгарной или непристойной, содержит нецензурную лексику, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних; содержит сцены насилия, либо бесчеловечного обращения с животными; содержит описание средств и способов суицида, любое подстрекательство к его совершению; пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства; содержит экстремистские материалы; пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий, содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц; содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе "цифровых наркотиков" (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению; носит мошеннический характер; а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.
  p 5.3.5. незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей и третьих лиц;
  p 5.3.6. осуществлять массовые рассылки сообщений без согласия Пользователей Сайта;
  p 5.3.7. использовать программное обеспечение и осуществлять действия, направленные на нарушении нормального функционирования Сайта и его сервисов или персональных страниц Пользователей;
  p 5.3.8. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;
  p 5.3.9. использовать без специального на то разрешения Администрации Сайта автоматизированные скрипты (программы) для сбора информации на Сайте и(или) взаимодействия с Сайтом и его сервисами;
  p 5.3.10. любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;
  p 5.3.11. осуществлять незаконные сбор и обработку персональных данных других лиц;
  p 5.3.12. осуществлять (пытаться получить) доступ к каким-либо Услугам иным способом, кроме как через интерфейс, предоставленный Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администрацией;
  p 5.3.13. воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать Услуги для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями отдельного соглашения с Администрацией;
  p 5.3.14. размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных Администрацией Сайта. Приобретение Пользователем платных услуг на Сайте осуществляется в порядке, установленном в специальных документах Администрации, размещенных на Сайте.
  p 5.3.15. размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Сайте.
  p 5.4. Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.
  p 5.5. В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования, проинформировав об этом Администрацию Сайта в установленном порядке.
  p 6. Условия об интеллектуальных правах
  p 6.1. Исключительные права на Контент, размещенный на Сайте.
  p 6.1.1. Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее - Контент), являются объектами исключительных прав Администрации, Пользователей Сайта и других правообладателей, все права на эти объекты защищены.
  p 6.1.2. Кроме случаев, установленных настоящими Правилами, а также действующим законодательством Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом.
  p 6.1.3. Пользователь, размещая на Сайте принадлежащий ему на законных основаниях Контент, предоставляет другим пользователям неисключительное право на его использование путем просмотра, воспроизведения (в том числе копирования), переработку (в том числе на распечатку копий) и иные права исключительно с целью личного некоммерческого использования, кроме случаев, когда такое использование причиняет или может причинить вред охраняемым законом интересам правообладателя.
  p 6.1.4. Использование Пользователем Контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном виде.
  p 6.1.5. Кроме своего собственного Контента, Пользователь не вправе загружать или иным образом доводить до всеобщего сведения (публиковать на Сайте) Контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности при отсутствии явным образом выраженного согласия правообладателя на такие действия.
  p 6.1.6. Любое использование Сайта или Контента, кроме разрешенного в настоящих Правилах или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено.
  p 6.1.7. Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах не может быть рассмотрено как передача исключительных прав на Контент.
  p 6.2. Ответственность за нарушение исключительных прав.
  p 6.2.1. Пользователь несет личную ответственность за любой Контент или иную информацию, которые он загружает или иным образом доводит до всеобщего сведения (публикует) на Сайте или с его помощью. Пользователь не имеет права загружать, передавать или публиковать Контент на Сайте, если он не обладает соответствующими правами на совершение таких действий, приобретенными или переданными ему в соответствии с законодательством Российской Федерации.
  p 6.2.2. Администрация Сайта может, но не обязана, просматривать Сайт на наличие запрещенного Контента и может удалять или перемещать (без предупреждения) любой Контент или пользователей по своему личному усмотрению, по любой причине или без причины, включая без всяких ограничений перемещение или удаление Контента, который, по личному мнению Администрации, нарушает настоящие Правила, законодательство Российской Федерации и/или может нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц.
  p 6.2.3. Размещая свой Контент на Сайте, Пользователь передает Администрации право делать копии своего Контента с целью упорядочения и облегчения публикации и хранения пользовательского Контента на Сайте.
  p 6.2.4. Размещая свой Контент в любой части Сайта, Пользователь автоматически безвозмездно предоставляет Администрации неисключительное право на его использование путем копирования, публичного исполнения, воспроизведения, переработки, перевода и распространения для целей Сайта или в связи с ними, в том числе для его популяризации. Для указанных целей Администрация может изготавливать производные произведения или вставлять Контент Пользователя в качестве составных частей в соответствующие сборники, совершать иные действия, служащие достижению указанных целей.
  p 6.2.5. Если Пользователь удаляет свой Контент с Сайта, права, упомянутые в п. 6.2.3. - 6.2.4. настоящих Правил, будут автоматически отозваны, однако Администрация вправе сохранять архивные копии пользовательского Контента в течение неопределенного срока.
  p 6.3. Сайты и Контент третьих лиц.
  p 6.3.1. Сайт содержит (или может содержать) ссылки на другие сайты в сети Интернет (сайты третьих лиц) так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки, видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц (Контент третьих лиц), являющийся результатом интеллектуальной деятельности и охраняемых в соответствии с законодательством Российской Федерации.
  p 6.3.2. Указанные третьи лица и их Контент не проверяются Администрацией на соответствие тем или иным требованиям (достоверности, полноты, добросовестности и т.п.). Администрация не несет ответственность за любую информацию, размещенную на сайтах третьих лиц, к которым Пользователь получает доступ через Сайт или через Контент третьих лиц, включая, в том числе, любые мнения или утверждения, выраженные на сайтах третьих лиц или в их Контенте.
  p 6.3.3. Размещенные на Сайте ссылки или руководства по скачиванию файлов и(или) установке программ третьих лиц не означают поддержки или одобрения этих действий со стороны Администрации.
  p 6.3.4. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Администрации.
  p 6.3.5. Если Пользователь решил покинуть Сайт и перейти к сайтам третьих лиц или использовать, или установить программы третьих лиц, он делает это на свой риск и с этого момента настоящие Правила более не распространяются на Пользователя. При дальнейших действиях Пользователю стоит руководствоваться применимыми нормами и политикой, в том числе деловыми обычаями тех лиц, чей Контент он собирается использовать.
  p 7. Функционирование Hairlife.ru и ответственность при его использовании
  p 7.1. Пользователи несут ответственность за собственные действия в связи с созданием и размещением информации на собственной персональной странице на Сайте, а также в связи с размещением информации на персональных страницах других Пользователей и в иных разделах Сайта в соответствии с действующим законодательством Российской Федерации.
  p 7.2. Администрация Сайта предоставляет техническую возможность его использования Пользователями, не участвует в формировании содержания персональных страниц Пользователей и не контролирует и не несет ответственности за действия или бездействие любых лиц в отношении использования Сайта или формирования и использования содержания персональных страниц Пользователей на Сайте.
  p 7.3. В информационной системе Сайта и его программном обеспечении отсутствуют технические решения, осуществляющие автоматические цензуру и контроль действий и информационных отношений Пользователей по использованию Сайта.
  p 7.4. Администрация сохраняет за собой право в любое время изменять оформление Сайта, его содержание, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным уведомлением или без такового.
  p 7.5. Администрация Сайта не занимается предварительной модерацией или цензурой информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в установленном порядке.
  p 7.6. Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему собственному усмотрению, а также при получении информации от других пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать) или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные настоящими Правилами (включая личные сообщения), приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов Сайта в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового, не отвечая за любой вред, который может быть причинен Вам таким действием. Администрация Сайта закрепляет за собой право удалить персональную страницу Пользователя и(или) приостановить, ограничить или прекратить доступ Пользователя к любому из сервисов Сайта, если Администрация обнаружит, что по ее мнению, Пользователь представляет угрозу для Сайта и(или) его Пользователей. Администрация Сайта не несет ответственности за осуществленное в соответствии с настоящими Правилами временное блокирование или удаление информации, или удаление персональной страницы (прекращение регистрации) Пользователя.
  p 7.7. Удаление персональной страницы Пользователя означает автоматическое удаление всей информации, размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте. После удаления персональной страницы Пользователь теряет права доступа к Сайту.
  p 7.8. Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация Сайта не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.
  p 7.9. Администрация Сайта имеет право распоряжаться статистической информацией, связанной с функционированием Сайта, а также информацией Пользователей для обеспечения адресного показа рекламной информации различным аудиториям Пользователей Сайта. Для целей организации функционирования и технической поддержки Сайта и исполнения настоящих Правил Администрация Сайта имеет техническую возможность доступа к персональным страницам пользователей, которую реализует только в случаях, установленных настоящими Правилами.
  p 7.10. Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его сервисов, а также рекламировать собственную деятельность и услуги.
  p 7.11. Ограничение ответственности Администрации Сайта: САЙТ И ЕГО СЕРВИСЫ, ВКЛЮЧАЯ ВСЕ СКРИПТЫ, ПРИЛОЖЕНИЯ, КОНТЕНТ И ОФОРМЛЕНИЕ САЙТА ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ ИЛИ ЕГО СЕРВИСЫ МОГУТ ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ. АДМИНИСТРАЦИЯ НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ ЕГО СЕРВИСОВ; ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ МЕРЫ ПРЕДОСТОРОЖНОСТИ В СКАЧИВАНИИ С САЙТА ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ССЫЛКАМ, И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В ТОМ ЧИСЛЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ САЙТА НАСТОЯТЕЛЬНО РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ, В ТОМ ЧИСЛЕ АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ; ИСПОЛЬЗУЯ САЙТ, ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С САЙТА ИЛИ С ЕГО ПОМОЩЬЮ ЛЮБЫЕ МАТЕРИАЛЫ НА СВОЙ СОБСТВЕННЫЙ РИСК И НЕСЕТ ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ ИСПОЛЬЗОВАНИЯ УКАЗАННЫХ МАТЕРИАЛОВ, В ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ ПРИЧИНИТЬ КОМПЬЮТЕРУ ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ ДАННЫХ ИЛИ ЛЮБОЙ ДРУГОЙ ВРЕД; НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ДЕЛОВОЙ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ САЙТА, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.
  p 8. Заключительные положения
  p 1. Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно порядка использования Сайта и его сервисов и заменяют собой все предыдущие соглашения между Пользователем и Администрацией;
  p 2. Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством Российской Федерации.
  p 3. В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим законодательством Российской Федерации.
  p 4. Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним и действуют в течение неопределенного срока.
  p 5. Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Правил и версии Правил на ином языке, применяются положения русскоязычной версии настоящих Правил.
  p 6. Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
