extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Новости портала')
  include ../data/list-about-news
  +listContestsSmall(aboutNewsList)
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
