extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('О проекте')
  p
    strong Hairlife.ru
    | &nbsp;&mdash; интернет-проект, главной целью которого является объединение людей тем или иным образом связанных с&nbsp;индустрией красоты и&nbsp;салонным бизнесом. Это сообщество парикмахеров, визажистов, мастеров маникюра, руководителей и&nbsp;администраторов салонов.
  p Информационная площадка портала предоставляет широкий спектр возможностей всем участникам рынка: салонам и&nbsp;профессиональным магазинам, поставщикам и&nbsp;производителям, руководителям и&nbsp;парикмахерам. Мы&nbsp;постарались собрать наиболее полную информацию об&nbsp;индустрии, ее&nbsp;участниках, товарах и&nbsp;услугах.
  p К&nbsp;Вашим услугам:
  ul.list-marked
    li
      a(href != staticLinks.companies) Каталог компаний в индустрии красоты
      |
      a(href='#' data-mrc-sh-title='about-companies').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-companies')
        strong Каталог организаций
        | , работащих на рынке индустрии красоты. Каждая зарегистрированная компания на портале имеет свою страницу, своего рода визитную карточку, на которой располагается подробная информация о ней. Помимо этого представитель компаний могут публиковать информацию о товарах и услугах, новости, акции и др. сведения от имени компании. Каждая компания имеет рейтинг, в соответствии с которым упорядочиваются анкеты компаний. Рейтинг увеличивается при активном участии компании в работе портала и при размещении материалов от имени компании. Также рейтинг дает дополнительные преимущества для компаний. Подробнее о рейтинге можно узнать на странице
        a(href != staticLinks.rating) "Что такое рейтинг"
        | .
    li
      a(href != staticLinks.brands) Бренды - продукции в индустрии красоты
      |
      a(href='#' data-mrc-sh-title='about-brands').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-brands') Здесь мы постарались собрать наиболее полный список брендов или марок продукции в индустрии красоты. Для каждого бренда приведена страна производитель, логотип, ссылка на официальный сайт, краткое текстовое описание, а также список поставщиков и профессиональных магазинов, предоставляющих данный бренд.
    li
      a(href != staticLinks.discounts) Акции
      |  компаний
      a(href='#' data-mrc-sh-title='about-discounts').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-discounts')
        strong Акции
        |  - актуальная информация по всем скидкам и специальным предложениям компаний. Данный раздел создан для тех, кто не хочет упустить возможность съэкономить и получить выгодное предложение.
    li
      a(href != staticLinks.market) Торговая площадка
      | , где компании могут разместить свои товары
      a(href='#' data-mrc-sh-title='about-trade').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-trade')
        strong Торговая площадка
        |  позволяет найти любую продукцию за считанные минуты. Компаниям данный сервис предоставляет возможность размещать свои товары. Покупатель может изучить предложения товаров, посмотреть характеристики товара, отзывы, стоимость и сделать заказ.
    li
      a(href != staticLinks.news) Новости и события индустрии
      |
      a(href='#' data-mrc-sh-title='about-news').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-news')
        strong Новости и события индустрии
        |  - это ежедневная лента, освещающая события на рынках оборудования, аксессуаров, инструментов и косметики для салонов красоты. Актуальная информация для руководителей и владельцев бизнеса, парикмахеров, стилистов и администраторов салонов. Анонсы салонов красоты, пресс-релизы поставщиков оборудования и косметики. Последние события салонного бизнеса и его участников.
    li  Информация о проходящих
      a(href != staticLinks.exhibitions) выставках
      |  и
      a(href != staticLinks.competitions) конкурсах
      |
      a(href='#' data-mrc-sh-title='about-exhibitions-competitions').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-exhibitions-competitions') Раздел
        strong Выставки
        |  расскажет о всех ближайших значимых мероприятиях в сфере индустрии красоты. Информация по каждой выставке представлена очень скурпулезно, имеет подробное описание программы выставки, места проведения и контактной информации для желающих стать участниками. Раздел
        strong Конкурсы
        |  содержит подробную информацию о чемпионатах и конкурсах в сфере индустрии красоты.
        a(href != staticLinks.cooperation) Приглашаем организаторов выставок и конкурсов к сотрудничеству.
    li
      a(href != staticLinks.press) Обзор прессы
      |  и печатных изданий
      a(href='#' data-mrc-sh-title='about-press').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-press') Данный раздел представляет информацию о печатных изданиях освещающих индустрию красоты. Для каждого издания предполагается отдельная страница, с подробной информацией об издании (рубриках, тираже, периодичности выхода, аудитории, информации о подписке), а также возможна информация об анонсе выпуска и архив номеров (список вышедших номеров; для каждого номера размещается краткая информация об опубликованных статьях в номере).
        a(href != staticLinks.cooperation) Приглашаем печатные издания к сотрудничеству.
    li
      a(href != staticLinks.job) Работа
      |  - вакансии и резюме в индустрии красоты
      a(href='#' data-mrc-sh-title='about-job').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-job') Данный раздел представляет собой биржу труда, где соискатели могут найти подходящую вакансию, а работодатели - подобрать персонал. Для соискателей предусмотрена возможность откликнуться на вакансию на сайте посредством отправки сообщения, в которое можно добавить ссылку на размещенное резюме. Аналогично работодатели могут предложить работу соискателю, разместившему резюме на сайте посредством отправки сообщения, в которое они могут вставить ссылку на предлагаемую вакансию. Данные инструменты делают процесс как поиска работы, так и поиска персонала быстрым и удобным.
    li
      a(href != staticLinks.peoples) Перечень персон
      |  индустрии
      a(href='#' data-mrc-sh-title='about-peoples').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-peoples') Каталог персон дает полное представление о лицах определяющих сферу в целом. Каждый участник может разместить информацию о себе, своих интересах, достижениях, работе. Таким образом любой участник может найти на портале единомышленников или партнеров. Для участников проекта реализован сервис обмена сообщениями, что позволяет удобно и оперативно связываться с коллегами и знакомыми. Каждый участник имеет рейтинг, в соответствии с которым упорядочиваются анкеты участников. Рейтинг увеличивается при активном участии в работе портала и при размещении материалов. Также рейтинг дает дополнительные преимущества для участников портала. Подробнее о рейтинге можно узнать на странице
        a(href != staticLinks.rating) "Что такое рейтинг".
    li
      a(href != staticLinks.portfolio) Портфолио
      |  - коллекция фотографий работ участников
      a(href='#' data-mrc-sh-title='about-portfolio').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-portfolio') Данный раздел представляет возможность не только просмотреть результаты работ своих коллег, но и участвовать в их обсуждении и голосовании. Все фотографии работ разделены по категориям для эффективного отбора и поиска.
    li
      a(href != staticLinks.videos) Видео
      |
      a(href='#' data-mrc-sh-title='about-videos').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-videos') В этом разделе Вы найдете видео мастер-классы по стрижкам, укладкам, окрашиванию, nail-дизайну, макияжу и многое другое.
    li
      a(href != staticLinks.forum) Форум участников индустрии красоты
      |
      a(href='#' data-mrc-sh-title='about-forum').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-forum')
          strong Форум
          |  представляет собой площадку, где каждый участник может найти ответы на волнующие его вопросы, ознакомиться с мнениями участников на актуальные темы, получить консультацию от коллег или просто пообщаться с разными людьми.
    li
      a(href != staticLinks.newsfeed) Рассылка
      |  новостей индустрии красоты
      a(href='#' data-mrc-sh-title='about-newsfeed').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-newsfeed') Вы можете подписаться на рассылку новостей индустрии красоты. Данная рассылка отражает все последние события и тенденции в индустрии красоты и в мире салонного бизнеса. В выпуске рассылки содержатся актуальные новости и события, обсуждения на форуме, акции компаний, вакансии и резюме.
    li
      a(href != staticLinks.articles) Статьи
      |  и материалы
      a(href='#' data-mrc-sh-title='about-articles').link-secondary подробнее о разделе
      p(data-mrc-sh-body='about-articles') Обучающие статьи и информационные материалы в сфере индустрии красоты, которые будут полезны каждому участнику.
  h2 Зачем нужна регистрация участника?
  p Регистрация на&nbsp;портале позволит Вам стать его полноправным участником и&nbsp;приобщиться к&nbsp;профессиональному сообществу рунета, стать ее&nbsp;неотъемлемой частью. Зарегистрированный участник имеет возможность:
  ul.list-marked
    li зарегистрировать свою компанию или отнести себя к&nbsp;уже зарегистрированной компании;
    li стать активным участником форума;
    li обмениваться личными сообщениями с&nbsp;другими участниками проекта&nbsp;&mdash; завести новые знакомства в&nbsp;отраслевой среде, найти новых клиентов и&nbsp;партнеров;
    li размещать информацию о&nbsp;своей компании и&nbsp;от&nbsp;имени компании на&nbsp;портале;
    li получать сообщения и&nbsp;запросы в&nbsp;компанию от&nbsp;пользователей проекта;
    li и&nbsp;многое другое...

  p Для того, чтобы воспользоваться всеми сервисами портала, необходимо пройти несложную
    a(href != staticLinks.registration) регистрацию.
  p Мы&nbsp;искренне надеемся, что наш портал будет полезен каждому из&nbsp;участников рынка и&nbsp;отрасли в&nbsp;целом.
  p С&nbsp;уважением к&nbsp;Вам и&nbsp;Вашему труду, администрация портала.
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
