extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Как вставить наш баннер в группу вконтакте')
  ol.list-numbered
    li Заходим на страницу группы и выбираем в правом меню пункт "Редактировать информацию" 
      br
      img(src='http://www.hairlife.ru/img/insert_banner/step1.jpg' alt='' title='')
    li Находим с блоке Настройки пункт "Новости включены" и устанавливаем галочку напротив этого пункта. После этого сохраняем изменения. 
      br
      img(src='http://www.hairlife.ru/img/insert_banner/step2.jpg' alt='' title='')
    li Переходим на страниц группы и на появившейся панеле нажимаем ссылку "ред." 
      br
      img(src='http://www.hairlife.ru/img/insert_banner/step3.jpg' alt='' title='')
    li На появившейся странице во вкладке "Исходный код" вставляем нужный нам код баннера (приведен ниже). После этого сохраняем страницу. 
      br
      img(src='http://www.hairlife.ru/img/insert_banner/step4.jpg' alt='' title='')
  h2 Коды баннеров
  +grid({parLike:true, paddingy:true})
    +grid__item({s:2})
      p: strong Вид баннера / ссылки
    +grid__item({s:10})
      p: strong Код для размещения
    +grid__item({s:2})
      a(href='http://www.hairlife.ru' target='_blank' title='Портал индустрии красоты')
        img( src='http://www.hairlife.ru/img/br/btn_100x100_portal.jpg' width='100' height='100' border='0' alt='Портал индустрии красоты' title='Портал индустрии красоты')
    +grid__item({s:10})
      +formInput({type: 'textarea', readonly: true}) [[photo-14975286_227987137|100px|http://hairlife.ru/]]
    +grid__item({s:2})
      a(href='http://www.hairlife.ru' target='_blank' title='Сообщество парикмахеров')
        img(src='http://www.hairlife.ru/img/br/btn_100x100_parikmaher.jpg' width='100' height='100' border='0' alt='Сообщество парикмахеров' title='Сообщество парикмахеров')
    +grid__item({s:10})
      +formInput({type: 'textarea', readonly: true}) [[photo-14975286_227987138|100px|http://hairlife.ru/]]
    +grid__item({s:2})
      a(href='http://www.hairlife.ru' target='_blank' title='Победитель конкурса')
        img(src='http://www.hairlife.ru/img/br/btn_100x100_winner.jpg' width='100' height='100' border='0' alt='Победитель конкурса' title='Победитель конкурса')
    +grid__item({s:10})
      +formInput({type: 'textarea', readonly: true}) [[photo-14975286_228335687|100px|http://hairlife.ru/]]
  p: a(href=staticLinks.aboutAddBannerVkontakte) Как разместить наши баннеры в группе Вконтакте?
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
