extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Наши баннеры и ссылки')
  p Вы можете разместить наши баннеры на Вашем сайте:
  +grid({parLike:true, paddingy:true})
    +grid__item({s:3})
      p: strong Вид баннера / ссылки
    +grid__item({s:9})
      p: strong Код для размещения
    +grid__item({s:3})
      | Hairlife.ru - портал 
      a(href='http://www.hairlife.ru/' target='_blank' title='индустрии красоты') индустрии красоты
      | . 
      a(href='http://www.hairlife.ru/forum/' target='_blank' title='Форум парикмахеров') Форум парикмахеров.
    +grid__item({s:9})
      +formInput({type: 'textarea', readonly: true}) Hairlife.ru - портал <a href="http://www.hairlife.ru" target="_blank" title="индустрии красоты">индустрии красоты</a>. <a href="http://www.hairlife.ru/forum/" target="_blank" title="Форум парикмахеров">Форум парикмахеров</a>.
    +grid__item({s:3})
      a(href='http://www.hairlife.ru' target='_blank' title='Портал индустрии красоты') 
        img(src='http://www.hairlife.ru/img/br/button_02.gif' width='100' height='100' border='0' alt='Портал индустрии красоты' title='Портал индустрии красоты')
    +grid__item({s:9})
      +formInput({type: 'textarea', readonly: true}) <a href="http://www.hairlife.ru" target="_blank" title="Портал индустрии красоты"><img src="http://www.hairlife.ru/img/br/button_02.gif" width="100" height="100" border="0" alt="Портал индустрии красоты" title="Портал индустрии красоты" /></a>
    +grid__item({s:3})
      a(href='http://www.hairlife.ru' target='_blank' title='Портал индустрии красоты')
        img(src='http://www.hairlife.ru/img/br/button_01.gif' width='88' height='31' border='0' alt='Портал индустрии красоты' title='Портал индустрии красоты')
    +grid__item({s:9})
      +formInput({type: 'textarea', readonly: true}) <a href="http://www.hairlife.ru" target="_blank" title="Портал индустрии красоты"><img src="http://www.hairlife.ru/img/br/button_01.gif" width="88" height="31" border="0" alt="Портал индустрии красоты" title="Портал индустрии красоты" /></a>
  p: a(href=staticLinks.aboutAddBannerVkontakte) Как разместить наши баннеры в группе Вконтакте?
block aside
  include ../data/aside-menu-about
  +asideMenu(asideMenuAbout)
