extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Конкурсы портала'}
block content
  +pageHeader('Конкурсы портала')
  h2 Действующие конкурсы
  p В настоящее время конкурсов не проводится.
  h2 Прошедшие конкурсы
  include ../data/list-about-contests
  +listContestsSmall(aboutContestsList)
