extends /blocks/layout-account/layout-account
include /blocks/form-user-photo/form-user-photo

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountCompanyEdit},
    {name:'Логотип',link:staticLinks.accountCompanyAddLogo},
    {name:'Прайс',link:staticLinks.accountCompanyAddPrice, active: true},
    {name:'Схема проезда',link:staticLinks.accountCompanyAddMap},
    {name:'Филиалы',link:staticLinks.accountCompanyFilials},
  ])
  p
    a(href='http://www.hairlife.ru/uploaded_files/companies/prices/price_79_1566434050.xls') скачать прайс
    |  (.xls, 25.5 Kb)
  h2 Загрузка прайса
  p Вы можете загрузить прайс, который будет доступен для скачивания на странице Вашей компании. Для того чтобы добавить прайс сначала выберите его, нажав кнопку "Обзор", а затем нажмите кнопку "Добавить прайс".
  +formUserPhoto({submit: 'Изменить прайс', description: 'Допускается загрузка файлов с расширением XLS, DOC, DOCX, PDF, RAR, ZIP.'}) 
  h2 Удаление прайса
  +formUserPhoto({type: 'delete', submit: 'Удалить прайс'})
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
