extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +grid({parLike: true, paddingy: true})
    -
      const account = {
        photo: {src: 'http://www.hairlife.ru/uploaded_files/users/pers/small_709_1565290795.jpg'},
        userInfo: [
          {
            name: 'Общая информация',
            nameAdd: {tag: 'a', attr: {href: staticLinks.accountEditProfile}, content: '<strong>изменить</strong>'},
            properties: [
              {name: 'Имя', value: 'тест тест'},
              {name: 'Регион', value: 'Санкт-Петербург (Россия)'},
              {name: 'E-mail', value: 'dmitriy.m@medreclama.ru'},
              {name: 'Рейтинг', value: '15', popup:{name: '?', text: `Рейтинг увеличивается при заполнении своей анкеты, добавлении информационных материалов и активном участии в работе портала (общении, дискусиях и т.д.). Чем больше рейтинг, тем выше ваша анкета в каталоге участников. <a href="${staticLinks.aboutFaq}#6">Подробнее...</a>`}},
            ],
          },
        ], 
        companyInfo: [
          {
            name: 'Отношение к компании',
            properties: [
              {name: '', value: 'Вы работаете в компании "тест".'},
              {name: '', value: 'Ваш статус: Участник-представитель компании', popup:{name: '?', text: `Статус определяет набор полномочий пользователя. В данном случае статус показывает какими полномочиями вы обладаете по отношению к вашей компании на портале. <a href="${staticLinks.aboutFaq}#6">Подробнее...</a>`}},
            ]
          }
        ]
      }
    +grid__item({m:8,xs:12})
      +grid({parLike: true, paddingy: true})
          
        +grid__item({m:3,s:4,xs:12})
          p: img(src != account.photo.src alt='')
          p: +linkIcon({type: 'account-add-photo'})(href != staticLinks.accountEditProfilePersphoto) изменить фото
        +grid__item({m:9,s:8,xs:12})
          +accountInfo(account.userInfo)
          p: +linkIcon({type: 'page'})(href='peoples-item.html') моя страница на портале
      p
        +linkIcon({type: 'account-add-info'})(href != staticLinks.accountEditProfile) добавить информацию о себе
        br
        +linkIcon({type: 'account-add-contacts'})(href != staticLinks.accountEditProfileContacts) добавить контакты
      p: a(href='#' data-mrc-sh-title='account-send-wish').link-add: strong Отправить свое пожелание по работе портала
      p(data-mrc-sh-body='account-send-wish') Мы стремимся постоянно улучшать работу портала, делать ее удобнее и эффективнее для Вас. Для этого нам очень важно и Ваше мнение.
      +form({
        inputs: [
          {type: 'textarea', name: 'wish'},
        ],
        submit: 'Отправить'
      })(data-mrc-sh-body='account-send-wish') 
    +grid__item({m:4,s:6,xs:12})
      +accountInfo(account.companyInfo) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
