extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои настройки')
  +tabsNonInteractive([
    {name:'Входящие сообщения',link:staticLinks.accountMessages},
    {name:'Отправленные сообщения',link:staticLinks.accountMessagesSent, active: true},
  ])
  +table({
    header: ['Дата', 'Получатель', 'Тема', 'Действия'],
    rows: [
      [{colspan: 4, content: {attr: {style: 'padding-top: .75rem; padding-bottom: .75rem'}, content: 'У вас нет сообщений'}}]
    ]
  })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
