extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Пригласить друзей к участию в проекте')
  +blockMarked: p На данный момент вы пригласили 0 друзей и коллег на проект.
  p Вы можете пригласить друзей на наш сайт, отправив им ссылку: 
    a(href='/reg/?ref_id=60177') http://www.hairlife.ru/reg/?ref_id=60177
  p Также вы можеге перейти на страницу: 
    a(href='/invite/60177/') http://www.hairlife.ru/invite/60177/
    |  и поделитесь ссылкой, нажав на специальную кнопку. Об этом узнают ваши друзья в социальных сетях.
  +grid({parLike: true, justify: 'center'})
    +grid__item({m:6,s:8,xs:12})
      +form({
        inputs: [
          {type: 'text', label: 'Имя друга:', name: 'name', id: 'name',required: true,},
          {type: 'email', label: 'E-mail друга:', name: 'email', id: 'email',required: true,}
        ],
        submit: 'Отправить'
      })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
