extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои настройки')
  p На данный момент у Вашей компании нет вакансий. Вы можете 
    a(href != staticLinks.addVacancy) добавить их
    | .
  +tabsNonInteractive([
    {name:'Список вакансий', link: staticLinks.accountCompanyVacancies, active: true},
    {name:'Добавить вакансию', link: staticLinks.addVacancy},
  ])
  +table({
    header: ['Должность', 'Дата публикации', 'Статус', 'Действия'],
    rows: [
      ['тест', '-', 'не опубликовано',
        [
          {tag:'a', attr:{href:'account-company-vacancy-edit.html'}, content:'редактировать'},
          '<br><br>',
          {tag:'a', attr:{href:'/', onclick:`return confirm('Вы действительно хотите опубликовать вакансию?')`}, content:'опубликовать'},
          '<br><br>',
          {tag:'a', attr:{href:'/', onclick:`return confirm('Вы действительно хотите удалить вакансию?')`}, content:'удалить'},
        ]
      ],
      ['тест', '26.08.2019', 'опубликовано',
        [
          {tag:'a', attr:{href:'account-company-vacancy-edit.html'}, content:'редактировать'},
          '<br><br>',
          {tag:'a', attr:{href:'/', onclick:`return confirm('Вы действительно хотите снять вакансию с публикации?')`}, content:'снять с публикации '},
          '<br><br>',
          {tag:'a', attr:{href:'/', onclick:`return confirm('Вы действительно хотите удалить вакансию?')`}, content:'удалить'},
        ]
      ]
    ]
  })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
