extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мое портфолио') 
  +tabsNonInteractive([
    {name:'Список фотографий',link:staticLinks.accountPortfolio, active: true},
    {name:'Добавить фотографию',link:staticLinks.addPortfolio},
  ])
  p Здесь находятся фотографии Ваших работ. Пока у Вас не добавлено фотографий. Вы можете 
    a(href != staticLinks.addVideo) добавить фотографию
    |  к вашему портфолио.
  -
    const photoCaption = [
      {tag: 'a', attr: {href: staticLinks.accountEditPortfolio}, className: 'link-icon link-icon--edit', content: 'редактировать'},
      '<br>',
      {tag: 'a', attr: {href: 'account-portfolio.html', onclick:`return confirm('Вы действительно хотите удалить фотографию?')`}, className: 'link-icon link-icon--edit', content: 'удалить'},
    ]
    const accauntGallery = {
      settings: {noBorders: true, descAlign: 'left', descSize: 'small'},
      list: [
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_381_1312658621.jpg', alt: 'акриловое наращивание под лак, роспись акриловыми красками, флористика', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_938_1312055920.jpg', alt: '', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_528_1312056103.jpg', alt: 'наращивание ногтей с удленением ногтевого ложа, френч выполнен с использованием глитера', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_84_1312056298.jpg', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, прорисовка акриловыми красками', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_707_1312056391.jpg', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, с добавлением кусочков слюды, прорисовка акриловыми красками', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_608_1312056433.jpg', alt: 'гелевое наращивание ногтей, цветной френч', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_161_1312056637.jpg', alt: '', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_723_1312660417.jpg', alt: 'акриловое моделирование с удленением ногтевого ложа, френч выложен глитером двух цветов, прорисовка акриловой краской', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_381_1312658621.jpg', alt: 'акриловое наращивание под лак, роспись акриловыми красками, флористика', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_938_1312055920.jpg', alt: '', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_528_1312056103.jpg', alt: 'наращивание ногтей с удленением ногтевого ложа, френч выполнен с использованием глитера', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_84_1312056298.jpg', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, прорисовка акриловыми красками', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_707_1312056391.jpg', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, с добавлением кусочков слюды, прорисовка акриловыми красками', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_608_1312056433.jpg', alt: 'гелевое наращивание ногтей, цветной френч', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_161_1312056637.jpg', alt: '', description: photoCaption},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_723_1312660417.jpg', alt: 'акриловое моделирование с удленением ногтевого ложа, френч выложен глитером двух цветов, прорисовка акриловой краской', description: photoCaption},
      ]
    }
  +gallery(accauntGallery)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
