extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Товары','Оборудование для салонов'], current:'Рабочие места парикмахера'}
block content
  +pageHeader('Товары')
  p Для того чтобы добавить товар на торговую площадку или редактировать уже добавленные товары, выберите категорию из списка ниже. 
  p Через дефис указано количество Ваших товаров в данной категории размещенные на торговой площадке.
  h2 Парикмахерское оборудование
  ul.list-marked
    li
      a(href='account-company-products-category.html') Рабочие места парикмахера
      |  - 0
    li
      a(href='account-company-products-category.html') Парикмахерские кресла
      |  - 0
    li
      a(href='account-company-products-category.html') Парикмахерские кресла для детей
      |  - 0
    li
      a(href='account-company-products-category.html') Стулья мастера
      |  - 0
    li
      a(href='account-company-products-category.html') Мойки для волос
      |  - 0
    li
      a(href='account-company-products-category.html') Лаборатории
      |  - 0
    li
      a(href='account-company-products-category.html') Тележки для окрашивания
      |  - 0
    li
      a(href='account-company-products-category.html') Тележки парикмахерские
      |  - 0
    li
      a(href='account-company-products-category.html') Сушуары
      |  - 0
    li
      a(href='account-company-products-category.html') Климазоны
      |  - 0
    li
      a(href='account-company-products-category.html') Тумбы парикмахерские
      |  - 0
  h2 Маникюрное и педикюрное оборудование
  ul.list-marked
    li
      a(href='account-company-products-category.html') Маникюрные и педикюрные аппараты
      |  - 0
    li
      a(href='account-company-products-category.html') Маникюрные столы
      |  - 0
    li
      a(href='account-company-products-category.html') Маникюрные стойки
      |  - 0
    li
      a(href='account-company-products-category.html') Вытяжки и настольные пылесосы
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для сушки лака
      |  - 0
    li
      a(href='account-company-products-category.html') UV ультрафиолетовые лампы
      |  - 0
    li
      a(href='account-company-products-category.html') Педикюрные кресла
      |  - 0
    li
      a(href='account-company-products-category.html') Педикюрные комплексы
      |  - 0
    li
      a(href='account-company-products-category.html') Педикюрные ванны
      |  - 0
  h2 Косметологическое оборудование
  ul.list-marked
    li
      a(href='account-company-products-category.html') Многофункциональный аппараты
      |  - 0
    li
      a(href='account-company-products-category.html') Косметологические стойки
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для ультразвуковой терапии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для фототерапии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для миостимуляции
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для лазерной косметологии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для микротоковой терапии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для RF-лифтинга
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для прессотерапии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для лимфодренажа
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для микродермабразии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для гальванотерапии
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для дарсонвализации
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты вакуумного массажа
      |  - 0
    li
      a(href='account-company-products-category.html') Электрокоагуляторы
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для механического пилинга (брашинг)
      |  - 0
    li
      a(href='account-company-products-category.html') Вапоризаторы
      |  - 0
    li
      a(href='account-company-products-category.html') Термоодеяла
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для перманентного макияжа
      |  - 0
    li
      a(href='account-company-products-category.html') Нагреватели воска
      |  - 0
    li
      a(href='account-company-products-category.html') Нагреватели полотенец
      |  - 0
    li
      a(href='account-company-products-category.html') Косметологические кресла и кушетки
      |  - 0
    li
      a(href='account-company-products-category.html') Косметологические тележки
      |  - 0
    li
      a(href='account-company-products-category.html') Лампы лупы
      |  - 0
    li
      a(href='account-company-products-category.html') Стулья косметолога
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для кавитации
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для криолиполиза
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для LPG вакуумно-роликового массажа
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для диагностики кожи и волос
      |  - 0
    li
      a(href='account-company-products-category.html') Аппараты для мезотерапии
      |  - 0
  h2 SPA и массажное оборудование
  ul.list-marked
    li
      a(href='account-company-products-category.html') Массажные столы и кушетки
      |  - 0
    li
      a(href='account-company-products-category.html') Массажные кресла
      |  - 0
    li
      a(href='account-company-products-category.html') Массажные стулья
      |  - 0
    li
      a(href='account-company-products-category.html') SPA капсулы
      |  - 0
    li
      a(href='account-company-products-category.html') SPA кушетки
      |  - 0
    li
      a(href='account-company-products-category.html') Инфракрасные кабины
      |  - 0
    li
      a(href='account-company-products-category.html') Криосауны
      |  - 0
  h2 Оборудование для загара
  ul.list-marked
    li
      a(href='account-company-products-category.html') Горизонтальные солярии
      |  - 0
    li
      a(href='account-company-products-category.html') Вертикальные солярии
      |  - 0
    li
      a(href='account-company-products-category.html') Солярии для лица
      |  - 0
    li
      a(href='account-company-products-category.html') Установки для автозагара
      |  - 0
    li
      a(href='account-company-products-category.html') Лампы
      |  - 0
  h2 Мебель для салона
  ul.list-marked
    li
      a(href='account-company-products-category.html') Стойки администраторов (ресепшены)
      |  - 0
    li
      a(href='account-company-products-category.html') Столики
      |  - 0
    li
      a(href='account-company-products-category.html') Диваны
      |  - 0
    li
      a(href='account-company-products-category.html') Банкетки
      |  - 0
    li
      a(href='account-company-products-category.html') Кресла
      |  - 0
    li
      a(href='account-company-products-category.html') Пуфы
      |  - 0
    li
      a(href='account-company-products-category.html') Полки
      |  - 0
    li
      a(href='account-company-products-category.html') Витрины
      |  - 0
    li
      a(href='account-company-products-category.html') Шкафы
      |  - 0
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
