extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои настройки')
  +tabsNonInteractive([
    {name:'Рассылка',link:staticLinks.accountSettingsEditSettings},
    {name:'Уведомления',link:staticLinks.accountSettingsEditNotification, active: true},
  ])
  p Здесь вы можете указать, какие уведомления о различных событиях на портале Вы хотели бы получать на Вашу электронную почту.
  +grid({parLike: true, justify: 'center'})
    +grid__item({m:6,s:8,xs:12})
      include /data/account-settings
      +formRegistration(formSettingsEditNotification)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
