extends /blocks/layout-account/layout-account
include /blocks/message/message
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Сообщение')
  +tabsNonInteractive([
    {name:'Входящие сообщения',link:staticLinks.accountMessages},
    {name:'Отправленные сообщения',link:staticLinks.accountMessagesSent},
  ])
  +message([
    {name: 'От кого', value: [{tag: 'a', attr: {href: 'peoples-item.html'}, content: 'тест тест'}, '<br>', 'тест']},
    {name: 'Тема', value: 'тест тема'},
    {name: 'Сообщение', value: 'сообщение'},
    {name: '', value: {tag: 'a', attr: {'data-mrc-sh-title': 'form-answer', href: '#'},content: 'ответить'}},
  ])
  +formRegistration({
    fields: [
      {type: 'text', label: 'Тема:', id: 'subject_answer', name: 'subject_answer'},
      {type: 'textarea', label: 'Сообщение:', id: 'descr_answer', name: 'descr_answer'},
    ],
    submit: {button: 'Отправить'} 
  })(data-mrc-sh-body='form-answer')
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
