extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  p На данный момент у Ваc нет резюме. Вы можете 
    a(href != staticLinks.addResume) добавить его
    | .
  +table({
    header: ['Должность', 'Дата публикации', 'Статус', 'Действия'],
    rows: [
      [
        'тест', '-', 'не опубликовано', {
          content:[
            {tag:'a',attr:{href:staticLinks.accountEditResume},content:'редактировать'},
            '<br>', 
            {tag:'a',attr:{href:'/account/resume/index.html?action=activate', onclick:`return confirm('Вы действительно хотите опубликовать резюме?')`},content:'опубликовать'},
          ]
        }
      ]
    ]
  })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
