extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountEditProfile},
    {name:'Контакты',link:staticLinks.accountEditProfileContacts, active: true},
    {name:'Образование',link:staticLinks.accountEditProfileDegree},
    {name:'Личная фотография',link:staticLinks.accountEditProfilePersphoto},
    {name:'Данные доступа',link:staticLinks.accountEditProfileAccess},
  ])
  +grid({parLike: true, paddingy: true})
    +grid__item({m:8,s:10,xs:12})
      -
        const formAccountEditContacts = {
          fields: [
            {
              type: 'select',
              name: 'metro_id',
              id: 'metro',
              label: 'Станция метро:',
              options: ['- Выберите станцию -','Автово','Адмиралтейская','Академическая','Балтийская','Василеостровская','Владимирская','Выборгская','Горьковская','Гостиный двор','Гражданский проспект','Девяткино','Достоевская','Елизаровская','Звёздная','Кировский завод','Комендантский проспект','Крестовский остров','Купчино','Ладожская','Ленинский проспект','Лесная','Лиговский проспект','Ломоносовская','Маяковская','Московская','Московские ворота','Нарвская','Невский проспект','Новочеркасская','Обухово','Озерки','Парк Победы','Парнас','Петроградская','Пионерская','Площадь Александра Невского-1','Площадь Александра Невского-2','Площадь Восстания','Площадь Ленина','Площадь Мужества','Политехническая','Приморская','Пролетарская','Проспект Большевиков','Проспект Ветеранов','Проспект Просвещения','Пушкинская','Рыбацкое','Садовая','Сенная площадь','Спортивная','Старая Деревня','Технологический институт','Удельная','Улица Дыбенко','Фрунзенская','Чёрная речка','Чернышевская','Чкаловская','Электросила',],
            },
            {
              type: 'text',
              name: 'adress',
              id: 'adress',
              label: 'Адрес:',
              clarification: 'Например: ул. Садовая, д.21',
            },
            {
              type: 'text',
              name: 'phone_home',
              id: 'phone_home',
              label: 'Телефон домашний:',
              clarification: 'Например: +7 (495) 123-45-67',
            },
            {
              type: 'text',
              name: 'phone_mobile',
              id: 'phone_mobile',
              label: 'Телефон мобильный:',
              clarification: 'Например: +7 (911) 765-43-21',
            },
            {
              type: 'text',
              name: 'icq',
              id: 'icq',
              label: 'ICQ:',
            },
            {
              type: 'checkbox',
              name: 'see_contacts_perm',
              id: 'see_contacts_perm',
              label: 'Отображать мои контакты:',
            },
          ],
          submit: {button: 'Сохранить'}
        }

      +formRegistration(formAccountEditContacts) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
