extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Новости')
  +tabsNonInteractive([
    {name:'Список новостей',link:staticLinks.accountCompanyNews},
    {name:'Добавить новость',link:staticLinks.addNews, active: true},
  ])
  p На данный момент у Вашей компании нет новостей. 
    a(href != staticLinks.addNews) Добавить новость
  ul.list-marked
    li
      a(href='news-item.html') Большой курс по маникюру за небольшие деньги
      |  | 
      a(href != staticLinks.accountCompanyNewsEdit).link-secondary изменить
      br
      small 29.08.2019
    li
      a(href='news-item.html') Международный чемпионат «Звездное Время-2019» г.Брест,Беларусь
      |  | 
      a(href != staticLinks.accountCompanyNewsEdit).link-secondary изменить
      br
      small 29.08.2019
    li
      a(href='news-item.html') Курс "Эффективный директор бьюти-индустрии"
      |  | 
      a(href != staticLinks.accountCompanyNewsEdit).link-secondary изменить
      br
      small 29.08.2019
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
