extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountEditProfile},
    {name:'Контакты',link:staticLinks.accountEditProfileContacts},
    {name:'Образование',link:staticLinks.accountEditProfileDegree, active: true},
    {name:'Личная фотография',link:staticLinks.accountEditProfilePersphoto},
    {name:'Данные доступа',link:staticLinks.accountEditProfileAccess},
  ])
  h2 Базовое образование
  +grid({parLike: true})
    +grid__item({m:8,s:10,xs:12})
      -
        const formAccountEditEducationBasic = {
          fields: [
            {
              type: 'select',
              name: 'country_id',
              id: 'bd_country_id',
              label: 'Страна:',
              options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'select',
              name: 'city_id',
              id: 'bd_city_id',
              label: 'Город:',
              options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'text',
              name: 'org_name',
              id: 'org_name',
              label: 'Название учебного заведения:',
              required: true,
            },
            {
              type: 'text',
              name: 'speciality',
              id: 'speciality',
              label: 'Специальность:',
              clarification: 'Например: парикмахер-стилист',
              required: true,
            },
            {
              type: 'select',
              name: 'degree_type_id',
              label: 'Тип образования:',
              options: [' - Выберите тип - ', 'высшее', 'незаконченное высшее', 'среднее', 'среднее специальное'],
              required: true,
            },
            {
              type: 'text',
              name: 'graduate_date',
              id: 'graduate_date',
              label: 'Год окончания:',
              clarification: 'Год в виде ГГГГ.<br>Например: 2006',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEditEducationBasic)
  h2 Дополнительное образование
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      +table({
        header: ['Организация', 'Курс', 'Город', 'Год', 'Действия'],
        rows: [
          [
            'Международный Учебный Центр «Май» или Школа-студия Дениса Осипова',
            'Курс повышения квалификации',
            'Санкт-Петербург',
            '1990',
            [
              {tag: 'a', attr: {href:'edit-profile-addit-degree.html'}, content: 'изменить'},
              '<br>',
              {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
            ],
          ],
        ]
      })
    +grid__item({m:8,s:10,xs:12})
      -
        const formAccountEditEducationAdditional = {
          fields: [
            {
              type: 'select',
              name: 'addit_degree_country_id',
              id: 'dd_country_id',
              label: 'Страна:',
              options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'select',
              name: 'addit_degree_city_id',
              id: 'dd_city_id',
              label: 'Город:',
              options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'text',
              name: 'addit_degree_org_name',
              id: 'addit_degree_org_name',
              label: 'Название организации или учебного заведения:',
              clarification: 'Например: Международный Учебный Центр «Май» или Школа-студия Дениса Осипова',
              required: true,
            },
            {
              type: 'text',
              name: 'course_name',
              id: 'course_name',
              label: 'Название программы или курса:',
              clarification: 'Например: Курс повышения квалификации или Наращивание волос',
              required: true,
            },
            {
              type: 'text',
              name: 'end_date',
              id: 'end_date',
              label: 'Год окончания:',
              clarification: 'Год в виде ГГГГ.<br>Например: 2006',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEditEducationAdditional)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
