extends /blocks/layout-account/layout-account
include /blocks/form-user-photo/form-user-photo

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountCompanyEdit},
    {name:'Логотип',link:staticLinks.accountCompanyAddLogo, active: true},
    {name:'Прайс',link:staticLinks.accountCompanyAddPrice},
    {name:'Схема проезда',link:staticLinks.accountCompanyAddMap},
    {name:'Филиалы',link:staticLinks.accountCompanyFilials},
  ])
  +grid({parLike: true, paddingy: true})
    +grid__item({m:4,s:8,xs:12})
      img(src='http://www.hairlife.ru/uploaded_files/companies/logos/big_854_1566433188.jpg' alt='')
  h2 Загрузка логотипа
  p Вы можете загрузить логотип, который будет отображаться на странице Вашей компании. Для того чтобы добавить логотип сначала выберите его, нажав кнопку "Обзор", а затем нажмите кнопку "Добавить логотип".
  +formUserPhoto({submit: 'Загрузить логотип', description: 'Допускается загрузка изображений с расширением JPG, GIF, PNG.'}) 
  h2 Удаление логотипа
  +formUserPhoto({type: 'delete', submit: 'Удалить логотип'})
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
