extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя компания')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountCompanyEdit, active: true},
    {name:'Логотип',link:staticLinks.accountCompanyAddLogo},
    {name:'Прайс',link:staticLinks.accountCompanyAddPrice},
    {name:'Схема проезда',link:staticLinks.accountCompanyAddMap},
    {name:'Филиалы',link:staticLinks.accountCompanyFilials},
  ])
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения.
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAccountEdit = {
          blocks: [
            {
              name: 'Общая информация',
              fields: [
                {
                  type: 'text',
                  name: 'name',
                  id: 'name',
                  label: ['Название компании:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  required: true,
                },
                {
                  type: 'text',
                  name: 'work_time',
                  id: 'work_time',
                  label: 'График работы:',
                },
                {
                  type: 'text',
                  name: 'site_url',
                  id: 'site_url',
                  label: 'Адрес сайта (URL):',
                  clarification: 'Например: http://www.hairlife.ru',
                },
                {
                  type: 'text',
                  name: 'work_time',
                  id: 'work_time',
                  label: 'График работы:',
                },
                {
                  type: 'textarea',
                  name: 'about',
                  label: ['Описание деятельности:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  required: true,
                  clarification: 'Длина описание не должна превышать 2000 символов.',
                  additionalInfo: [{tag: 'strong', content: '1996'}, 'символов осталось']
                },
              ],
            },
            {
              name: 'Контактная информация',
              fields: [
                {
                  type: 'select',
                  name: 'country_id',
                  id: 'country_id',
                  label: ['Страна:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
                  required: true,
                },
                {
                  type: 'select',
                  name: 'city_id',
                  id: 'city_id',
                  label: ['Город:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
                  required: true,
                },
                {
                  type: 'select',
                  name: 'metro_id',
                  label: 'Метро:',
                  options: [' - Выберите станцию - ', 'Автово','Адмиралтейская','Академическая','Балтийская','Василеостровская','Владимирская','Выборгская','Горьковская','Гостиный двор','Гражданский проспект','Девяткино','Достоевская','Елизаровская','Звёздная','Кировский завод','Комендантский проспект','Крестовский остров','Купчино','Ладожская','Ленинский проспект','Лесная','Лиговский проспект','Ломоносовская','Маяковская','Московская','Московские ворота','Нарвская','Невский проспект','Новочеркасская','Обухово','Озерки','Парк Победы','Парнас','Петроградская','Пионерская','Площадь Александра Невского-1','Площадь Александра Невского-2','Площадь Восстания','Площадь Ленина','Площадь Мужества','Политехническая','Приморская','Пролетарская','Проспект Большевиков','Проспект Ветеранов','Проспект Просвещения','Пушкинская','Рыбацкое','Садовая','Сенная площадь','Спортивная','Старая Деревня','Технологический институт','Удельная','Улица Дыбенко','Фрунзенская','Чёрная речка','Чернышевская','Чкаловская','Электросила',],
                },
                {
                  type: 'email',
                  name: 'email',
                  id: 'email',
                  label: ['E-mail компании:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'Введите адрес электронной почты компании.<br>Например: mail@companyname.ru',
                  required: true,
                },
                {
                  type: 'text',
                  name: 'adress',
                  id: 'adress',
                  label: ['Адрес:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'Например: ул. Садовая, д.21, офис 223',
                  required: true,
                },
                {
                  type: 'tel',
                  name: 'phone_number',
                  id: 'phone_number',
                  label: ['Телефон:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'Например: +7 (495) 123-45-67',
                  required: true,
                },
                {
                  type: 'tel',
                  name: 'fax_number',
                  id: 'fax_number',
                  label: 'Факс:',
                  clarification: 'Например: +7 (495) 123-45-67',
                },
              ]
            }
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEdit) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
