extends /blocks/layout-account/layout-account

include /blocks/table-account-products/table-account-products

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Товары'], current:'Оборудование для салонов'}
block content
  +pageHeader('Товары')
  p В настоящее время у Вас нет товаров в данной категории. 
    a(href != staticLinks.addOffer) Добавить товар
    |  в данную категорию.
  +tabsNonInteractive([
    {name:'Добавить товар в текущую категорию', link: staticLinks.addOffer},
  ])
  p Вы можете отредактировать цены и комментарии сразу для нескольких продуктов. Для этого Вы должны внести изменения в соответствующие поля цены и комментария к продуктам, а затем нажать кнопку "сохранить изменения".
  form.account-products
    .account-products__table
      +tableAccountProducts({
        header: ['','Продукт','Цена','Комментарии','Действия'],
        rows: [
          [
            '<input type="checkbox" name="marked_product_offer_id[1802]" value="1802">',
            {content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'тест тест'}},
            '<input style="border: 1px solid #CCC; width: 50px; padding: 2px;" type="text" name="offer_cost[1802]" value="0"> руб.',
            {content: {tag: 'div', className: 'form-input', content: {tag: 'textarea', className: 'form-input__field', attr: {name: "offer_comments[1802]"}}}},
            [
              {tag: 'a', attr: {href:'account-messages-answer.html'}, content: 'деактивировать'},
              '<br><br>',
              {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
            ],
          ],
          [
            '<input type="checkbox" name="marked_product_offer_id[1802]" value="1802">',
            {content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'тест тест'}},
            '<input style="border: 1px solid #CCC; width: 50px; padding: 2px;" type="text" name="offer_cost[1802]" value="0"> руб.',
            {content: {tag: 'div', className: 'form-input', content: {tag: 'textarea', className: 'form-input__field', attr: {name: "offer_comments[1802]"}}}},
            [
              {tag: 'a', attr: {href:'account-messages-answer.html'}, content: 'деактивировать'},
              '<br><br>',
              {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
            ],
          ],
        ]
      })
    .account-products__save: button.btn(type='submit') Сохранить изменения
    .account-products__actions С отмеченными продуктами:
      button.btn.account-products__button(type='submit') Удалить
      button.btn.account-products__button(type='submit') Деактивировать
      button.btn.account-products__button(type='submit') Активировать
  p Вы можете выполнить действия "Удалить", "Деактивировать", "Активировать" сразу для нескольких продуктов. Для этого Вы должны отметить в крайней левой колонке нужные продукты, а затем нажать кнопку с необходимым действием.
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
