extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои статьи')
  +tabsNonInteractive([
    {name:'Список статей',link:staticLinks.accountPosts, active: true},
    {name:'Добавить статью',link:staticLinks.addArticle},
  ])
  p На данный момент у Вас нет статей. 
    a(href != staticLinks.addArticle) Добавить статью
  ul.list-marked
    li
      a(href='blogs-post.html') 4 полезных совета для владельцев салона красоты.
      |  | 
      a(href != staticLinks.accountEditPost).link-secondary изменить
      br
      small 18.08.2019
    li
      a(href='blogs-post.html') Кейс: чат-бот, который экономит кучу времени владельцам салона красоты
      |  | 
      a(href != staticLinks.accountEditPost).link-secondary изменить
      br
      small 18.08.2019
    li
      a(href='blogs-post.html') Что делать, чтобы ножницы служили долго
      |  | 
      a(href != staticLinks.accountEditPost).link-secondary изменить
      br
      small 18.08.2019
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
