extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои настройки')
  +tabsNonInteractive([
    {name:'Входящие сообщения',link:staticLinks.accountMessages, active: true},
    {name:'Отправленные сообщения',link:staticLinks.accountMessagesSent},
  ])
  +table({
    header: ['Дата', 'Отправитель', 'Тема', 'Действия'],
    rows: [
      [
        [
          '22.08.2019 в 23.28',
        ],
        [
          {tag: 'a', attr: {href:'peoples-item.html'}, content: 'тест тест'},
          '<br>',
          'тест',
        ],
        {content:{tag: 'a', attr: {href:'account-message.html'}, content: 'Re: тест тема'}},
        [
          {tag: 'a', attr: {href:'account-messages-answer.html'}, content: 'ответить'},
          '<br><br>',
          {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
        ],
      ],
      [
        [
          '22.08.2019 в 23.28',
          {content: {tag: 'strong', content: 'отвечено'}}
        ],
        [
          {tag: 'a', attr: {href:'peoples-item.html'}, content: 'тест тест'},
          '<br>',
          'тест',
        ],
        {content:{tag: 'a', attr: {href:'account-message.html'}, content: 'Re: тест тема'}},
        [
          {tag: 'a', attr: {href:'account-messages-answer.html'}, content: 'ответить'},
          '<br><br>',
          {tag: 'a', attr: {href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content: 'удалить'},
        ],
      ],
      [
        '11.07.2019 в 18.16',
        'Портал HAIRLIFE.RU',
        {content: {tag: 'a', attr:{href: 'account-message.html'}, content: 'Портал Hairlife.ru приветствует Вас.'}},
        {content: {tag: 'a', attr:{href:'', onclick:`return confirm('Вы действительно хотите удалить сообщение?')`}, content:'удалить'}}
      ]
    ]
  })
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
