extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мои фотогалереи') 
  +tabsNonInteractive([
    {name:'Список фотогалерей',link:staticLinks.accountGalleries, active: true},
    {name:'Добавить фотогалерею',link:staticLinks.addGallery},
  ])
  +blockMarked
    p(style='font-size: 1.125rem; line-height: 1.5; color: red'): strong Пожалуйста, не добавляйте сюда свои работы. 
      br
      | Для добавления Ваших работ, пожалуйста, используйте раздел 
      a(href != staticLinks.accountPortfolio) «Мое портфолио»
  p Пока у Вас не добавлено фотогалерей. Вы можете 
    a(href != staticLinks.addVideo) добавить фотогалерею
    | .
  .list-articles
    .list-articles__item
      +grid({parLike: true, paddingy: true, justify: 'center'})
        +grid__item({m:2,s:3,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/galleries/oblogka.jpg')
        +grid__item({m:10,s:9,xs:12})
          p: a(href='account-gallery.html') тест
          p
            | 0 фотографий
            br
            | Создан: 27.08.2019
          p: a(href != staticLinks.addPhoto) Добавить фото 
          p: a(href != staticLinks.accountEditGallery) Редактировать галерею
    .list-articles__item
      +grid({parLike: true, paddingy: true, justify: 'center'})
        +grid__item({m:2,s:3,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/galleries/2019/60177/1407/mid_115_1567212322.jpg')
        +grid__item({m:10,s:9,xs:12})
          p: a(href='account-gallery.html') тест 2
          p
            | 1 фотографий
            br
            | Создан: 31.08.2019
          p: a(href != staticLinks.addPhoto) Добавить фото 
          p: a(href != staticLinks.accountEditGallery) Редактировать галерею
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
