extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Товары')
  p Пожалуйста, выберите категорию товаров:
  ul.list-marked
    li: a(href='account-company-products-cat-list.html') Оборудование и мебель для салонов
    li: a(href='account-company-products-cat-list.html') Парикмахерские инструменты и аксессуары
    li: a(href='account-company-products-cat-list.html') Волосы и изделия из волос
    li: a(href='account-company-products-cat-list.html') Косметическая и лечебная продукция
    li: a(href='account-company-products-cat-list.html') Расходные материалы и одежда
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
