extends /blocks/layout-account/layout-account

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +grid({parLike: true, paddingy: true})
    -
      const company = {
        photo: {src: 'http://www.hairlife.ru/uploaded_files/companies/logos/company_nologo_s.jpg'},
        info: [
          {
            name: 'Общая информация',
            nameAdd: {tag: 'a', attr: {href: staticLinks.accountEditProfile}, content: '<strong>изменить</strong>'},
            properties: [
              {name: 'Название', value: 'тест'},
              {name: 'Регион', value: 'Санкт-Петербург (Россия)'},
              {name: 'Адрес', value: 'тест'},
              {name: 'Рейтинг', value: '0', popup:{name: '?', text: `Рейтинг увеличивается при добавлении информации о компании, а также при публикации материалов от имени компании. Чем больше рейтинг, тем выше анкета компании в каталоге компаний. <a href="${staticLinks.aboutFaq}#6">Подробнее...</a>`}},
            ],
          },
        ], 
        staff: [
          {
            name: 'Сотрудники компании:',
            properties: []
          }
        ],
        addInfo: [
          {
            name: 'Разместить информацию:',
            properties: []
          }
        ]
      }
    +grid__item({m:8,xs:12})
      +grid({parLike: true, paddingy: true})
          
        +grid__item({m:3,s:4,xs:12})
          p: img(src != company.photo.src alt='')
          p: +linkIcon({type: 'account-add-photo'})(href != staticLinks.accountCompanyAddLogo) изменить
        +grid__item({m:9,s:8,xs:12})
          +accountInfo(company.info)
          p: +linkIcon({type: 'page'})(href='companies-item.html') страница компании на портале
      p
        +linkIcon({type: 'account-add-info'})(href != staticLinks.accountCompanyEdit) добавить информацию о компании
        br
        +linkIcon({type: 'account-add-map'})(href != staticLinks.accountCompanyAddMap) добавить схему проезда
        br
        +linkIcon({type: 'account-add-price'})(href != staticLinks.accountCompanyAddPrice) добавить прайс-лист
    +grid__item({m:4,s:6,xs:12})
      +accountInfo(company.staff)
      ul.list-marked
        li
          a(href='') Список сотрудников
          |  (0)
        li: a(href != staticLinks.accountInvite) Пригласить коллегу к участию в проекте
      +accountInfo(company.addInfo)
      ul.list-marked
        li: a(href != staticLinks.addNews) Добавить новость
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
