extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя информация')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountEditProfile},
    {name:'Контакты',link:staticLinks.accountEditProfileContacts},
    {name:'Образование',link:staticLinks.accountEditProfileDegree},
    {name:'Личная фотография',link:staticLinks.accountEditProfilePersphoto},
    {name:'Данные доступа',link:staticLinks.accountEditProfileAccess, active: true},
  ])
  +grid({parLike: true})
    +grid__item({m:8,s:10,xs:12})
      h2 Изменить Логин (E-mail)
      -
        const formAccountEditAccessLogin = {
          fields: [
            {
              type: 'email',
              name: 'old_login',
              id: 'old_login',
              label: 'Старый Логин (E-mail):',
              required: true,
            },
            {
              type: 'email',
              name: 'new_login',
              id: 'new_login',
              label: 'Новый Логин (E-mail):',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEditAccessLogin)
      h2 Изменить Пароль
      -
        const formAccountEditAccessPassword = {
          fields: [
            {
              type: 'password',
              name: 'old_password',
              id: 'old_password',
              label: 'Старый Пароль:',
              required: true,
            },
            {
              type: 'password',
              name: 'new_password',
              id: 'new_password',
              label: 'Новый Пароль:',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEditAccessPassword)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
