extends /blocks/layout-account/layout-account
include /blocks/form-user-photo/form-user-photo

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моя компания')
  +tabsNonInteractive([
    {name:'Общая информация',link:staticLinks.accountCompanyEdit},
    {name:'Логотип',link:staticLinks.accountCompanyAddLogo},
    {name:'Прайс',link:staticLinks.accountCompanyAddPrice},
    {name:'Схема проезда',link:staticLinks.accountCompanyAddMap, active: true},
    {name:'Филиалы',link:staticLinks.accountCompanyFilials},
  ])
  +grid({parLike: true, paddingy: true})
    +grid__item({s:8,xs:12})
      img(src='http://www.hairlife.ru/uploaded_files/companies/maps/map_100_1566434934.png' alt='')
  h2 Загрузка схемы проезда
  p Вы можете загрузить схему проезда, которая будет отображаться на странице Вашей компании. Для того чтобы добавить схему сначала выберите ее, нажав кнопку "Обзор", а затем нажмите кнопку "Добавить схему проезда".
  +formUserPhoto({submit: 'Изменить схему проезда', description: 'Допускается загрузка изображений с расширением JPG, GIF, PNG.'}) 
  h2 Удаление схемы проезда
  +formUserPhoto({type: 'delete', submit: 'Удалить схему проезда'})
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
