extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Товары','Оборудование для салонов'], current:'Рабочие места парикмахера'}
block content
  +pageHeader('Моя информация')
  p Добавление товара в категорию "Парикмахерские кресла"
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddOffer = {
          blocks: [
            {
              name: 'Описание товара',
              fields: [
                {
                  type: 'text',
                  name: 'brand_name',
                  id: 'brand_name',
                  label: ['Бренд или производитель:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'Если у товара неизвестен бренд или производитель, укажите страну производства.',
                  required: true,
                },
                {
                  type: 'text',
                  name: 'name',
                  id: 'name',
                  label: ['Название или модель товара:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  required: true,
                },
                {
                  type: 'file',
                  name: 'product_photo',
                  id: 'product_photo',
                  label: 'Фотография:',
                  clarification: 'Фотография товара в новом состоянии.<br>Если товар б/у, необходимо добавить фотографию в текущем состоянии.',
                },
                {
                  type: 'textarea',
                  name: 'descr',
                  id: 'descr',
                  label: ['Описание товара:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  required: true,
                },
                {
                  type: 'checks',
                  name: 'used',
                  id: 'used',
                  checks: [
                    {type: 'checkbox', id: 'used', name: 'used', label: 'б/у товар'}
                  ]
                },
                {
                  type: 'text',
                  name: 'parameters[8]',
                  id: 'parameters[8]',
                  label: ['Материал обивки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'например: кожзам, пенополиуретан, кожзам и пластик, пластик',
                  required: true,
                },
                {
                  type: 'text',
                  name: 'parameters[9]',
                  id: 'parameters[9]',
                  label: ['Тип подъемника:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'например: гидравлика, пневмактика, пневматика или гидравлика, пневматика',
                  required: true,
                },
                {
                  type: 'text',
                  name: 'parameters[10]',
                  id: 'parameters[10]',
                  label: ['Материал подлокотников:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                  clarification: 'например: кожзам, хромированный металл, металл, пластик, пенополиуретан',
                  required: true,
                },
              ],
            },
            {
              name: 'Описание вашего предложения',
              fields: [
                {
                  type: 'textarea',
                  name: 'comments',
                  id: 'comments',
                  label: 'Комментарии к Вашему предложению по товару:',
                },
                {
                  type: 'price',
                  name: 'cost',
                  id: 'cost',
                  label: ['Стоимость:', {tag: 'span', className: 'footnote-mark', content: '*'}],
                },
              ],
            },
          ],
          submit: [{button: 'Сохранить', name: 'save'}, {button: 'Сохранить и добавить ещё', name: 'saveandadd'}]
        }
      +formRegistration(formAddOffer) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
