extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Добавление спецпредложения')
  p: span: a(href='#' data-mrc-sh-title='act-post-rules') Требования к спецпредложениям и акциям
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='act-post-rules')
    li Спецпредложение должно быть интересно другим участникам портала, а именно сотрудникам салонов красоты, профессиональных магазинов, поставщиков косметики, оборудования и аксессуаров и других компаний в сфере парикмахерского дела и трихологии;
    li Спецпредложение должно полностью освещать суть, то есть не быть кратким в пару строк;
    li Вставка ссылок в текст спецпредложения ЗАПРЕЩЕНО.
    li Срок действия спецпредложения не должен быть больше 12 месяцев.
  +blockMarked
    p
      strong Внимание:
      |  размещение более 5 акций в месяц и акций со ссылками осуществляется только на платной основе. Подробнее о 
      a(href='/adv/priority.html') приоритетном размещении информации
      | .
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddResume = {
          fields: [
            {
              type: 'text',
              name: 'title',
              id: 'title',
              label: ['Заголовок:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
              additionalInfo: {tag: 'strong', content: 'Не следует писать заголовок ЗАГЛАВНЫМИ БУКВАМИ.'},
            },
            {
              type: 'textarea',
              id: 'descr',
              name: 'descr',
              label: ['Текст спецпредложения:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
              additionalInfo: {tag: 'strong', content: 'Не следует писать текст ЗАГЛАВНЫМИ БУКВАМИ.'},
            },
            {
              type: 'dateSelect',
              id: 'descr',
              name: 'descr',
              label: ['Начало действия:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Опишите требования к соискателям и их непосредственные должностные обязанности.',
              required: true,
              clarification: 'Дата начала действия спецпредложения.',
            },
            {
              type: 'dateSelect',
              id: 'descr',
              name: 'descr',
              label: ['Конец действия:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Опишите требования к соискателям и их непосредственные должностные обязанности.',
              required: true,
              clarification: 'Дата конца действия спецпредложения.',
            },
            {
              type: 'select',
              name: 'category_id',
              id: 'category',
              label: ['Категория:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              options: ['--','Парикмахерское дело','Ногтевой сервис','Визаж','Косметология','Мода и стиль','Флористика','Управление салоном красоты','Общее',],
              required: true,
              clarification: 'Выберите тематическую категорию, к которой относится спецпредложение.',
            },
            {
              type: 'file',
              name: 'photo_file',
              id: 'photo',
              label: ['Изображение:'],
              clarification: 'Допускается загрузка изображений с расширением JPG, GIF, PNG.',
            },
          ],
          submit: {button: 'Добавить'}
        }
      +formRegistration(formAddResume) 

block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
