extends /blocks/layout-account/layout-account
include /blocks/form-add-post/form-add-post

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
  +scripts(['tiny_mce/tiny_mce.js', 'tiny_mce/tiny_mce_init_news.js'])
block content
  +pageHeader(newsEditPage ? 'Редактирование новости' : 'Добавление новости')
  +tabsNonInteractive([
    {name:'Список новостей',link:staticLinks.accountCompanyNews},
    {name:'Добавить новость',link:staticLinks.addNews, active: newsEditPage ? false : true},
  ])
  p: a(href='#' data-mrc-sh-title='post-requirements') Требования к новостям
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='post-requirements')
    li Новость должна быть интересна всем участникам индустрии;
    li Новость должна полностью освещать событие, т.е. не быть краткой в пару строк;
    li Новость не должна нести откровенный рекламный характер;
    li Запрещено полностю копировать информацию из других источников.
  if !postEditPage
    +blockMarked: p
      strong Внимание:
      |  размещение более 5 новостей в месяц, новостей со ссылками осуществляется только на платной основе. Подробнее о 
      a(href != staticLinks.advPriority) приоритетном размещении информации
      | .
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const form = {
      fields: [
        {
          type: 'file',
          id: 'photo',
          name: 'photo_file',
          label: 'Изображение: ',
          clarification: 'Допускается загрузка изображений с расширением JPG, GIF, PNG.',
        },
        {
          type: 'text',
          id: 'title',
          name: 'title',
          label: ['Заголовок: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          required: true,
        },
        {
          type: 'textarea',
          id: 'descr',
          name: 'descr',
          label: 'Текст новости:',
          required: true,
        },
        {
          type: 'select',
          id: 'category',
          name: 'category_id',
          label: ['Категория: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          options: ['--','Парикмахерское дело','Визаж','Ногтевой сервис','Косметология','Мода и стиль','Флористика','Управление салоном красоты','Общее',],
          clarification: 'Выберите тематическую категорию, к которой относится мероприятие.',
          required: true,
        },
        {
          type: 'text',
          id: 'tags',
          name: 'tags_str',
          label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          warning: {content: 'Важно: каждая метка должна содержать не больше 2 слов, метки нужно разделять запятыми.', tag: 'p', attr: {style: 'color: #aa2a06;'}},
          clarification: 'Метка: это ключевое слово, которое кратко описывают Вашу новость.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста.<br><strong>Пример заполнения поля:</strong> intercharm, новинки косметики, семинар для руководителей, мастер-класс.',
          required: true,
        },
        {
          type: 'select',
          id: 'gallery_id',
          label: 'Прикрепить фотогалерею:',
          options: ['- Выберите галерею -', 'тест',],
          clarification: 'Здесь Вы можете выбрать фотогалерею, которая будет прикреплена к новости. Фотографии из этой фотогалереи будут отображаться в самой новости.',
          required: true,
        },
      ],
      submit: {button: 'Добавить'}
    }
  +formAddPost(form) 

block aside 
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
