extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Редактирование вакансии')
  +tabsNonInteractive([
    {name:'Список вакансий', link: staticLinks.accountCompanyVacancies},
    {name:'Добавить вакансию', link: staticLinks.addVacancy, active: vacancyEditPage ? false : true},
  ])
  p: span: a(href='#' data-mrc-sh-title='vac-post-rules') Правила размещения вакансий 
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='vac-post-rules')
    li принимаются объявления о вакансиях только в сфере парикмахерской индустрии;
    li не принимаются объявления о заработке в Интернете, рекламные объявления о товарах, услугах, деятельности компаний, интернет-ресурсах и т.п.;
    li в каждом объявлении можно разместить информацию только об одной вакансии;
    li при заполнении полей вакансии запрещается использовать ссылки на ресурсы Интернет, а также любые тэги форматирования html;
  +blockMarked
    p
      strong Внимание:
      |  объявления об аренде рабочих мест, кабинетов и салонов нужно размещать здесь: 
      a(href='http://www.hairlife.ru/notices/rent/index.html') http://www.hairlife.ru/notices/rent/index.html
      | .
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddResume = {
          fields: [
            {
              type: 'text',
              name: 'position',
              label: ['Должность:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
            },
            {
              type: 'radios',
              name: 'position',
              label: ['Специализация:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
              radios: [
                {type: 'radio', name: 'amplua_id', id: 'amplua_2', value: '2', label: 'Руководитель салона'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_5', value: '5', label: 'Администратор салона'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_1', value: '1', label: 'Парикмахер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_4', value: '4', label: 'Технолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_18', value: '18', label: 'Мастер по косичкам'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_24', value: '24', label: 'Имиджмейкер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_21', value: '21', label: 'Мастер по наращиванию волос'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_14', value: '14', label: 'Стилист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_9', value: '9', label: 'Визажист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_20', value: '20', label: 'Мастер по ресницам'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_8', value: '8', label: 'Мастер ногтевого сервиса'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_10', value: '10', label: 'Косметолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_22', value: '22', label: 'Мастер перманентного макияжа'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_11', value: '11', label: 'Массажист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_15', value: '15', label: 'Модельер одежды'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_3', value: '3', label: 'Врач-трихолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_16', value: '16', label: 'Татуировщик'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_19', value: '19', label: 'Пирсинг мастер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_17', value: '17', label: 'Фотограф'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_13', value: '13', label: 'Преподаватель'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_6', value: '6', label: 'Продажи'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_7', value: '7', label: 'Маркетинг, PR'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_23', value: '23', label: 'Флорист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_25', value: '25', label: 'Фитнес инструктор'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_0', value: '0', label: 'Иное'},
              ]
            },
            {
              type: 'text',
              name: 'age',
              label: ['Возраст:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
            },
            {
              type: 'select',
              name: 'male_id',
              label: ['Пол:'],
              options: [' - Выберите пол - ', 'мужской', 'женский'],
            },
            {
              type: 'select',
              name: 'experience_id',
              label: 'Стаж работы:',
              options: [' - Выберите стаж работы - ', 'нет опыта', '1 год', 'до 3 лет', 'до 5 лет', 'больше 5 лет'],
            },
            {
              type: 'text',
              name: 'age',
              label: 'Зарплата:',
              clarification: 'Укажите, пожалуйста, размер заработной платы в виде оклада, зарплаты за выход или процента.',
            },
            {
              type: 'select',
              name: 'male_id',
              label: ['Тип занятости:'],
              options: [' - Любой - ', 'Полный день', 'Свободный график', 'Сменный график'],
            },
            {
              type: 'textarea',
              name: 'experience',
              label: ['Требования и обязанности:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Опишите требования к соискателям и их непосредственные должностные обязанности.',
            },
            {
              type: 'textarea',
              name: 'about',
              label: ['Условия работы:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Опишите условия, такие как график работы, наличие социального пакета, возможности обучения и перспективы развития.<br><strong>Для салонов</strong> укажите: возраст и уровень салона, проходимость салона, с какими брендами он работает, количество мест в зале.',
            },
            {
              type: 'text',
              name: 'contact_phone',
              label: 'Адрес места работы:',
              clarification: '<strong>Данное поле должно быть заполнено в такой последовательности:</strong> название города, название улицы, номер дома, номер корпуса дома. Никаких дополнительных уточнений вводить не нужно.',
            },
            {
              type: 'text',
              name: 'contact_phone',
              label: 'Контактное лицо:',
            },
            {
              type: 'tel',
              name: 'contact_phone',
              label: ['Контактный телефон:', {tag: 'span', className: 'footnote-mark', content: '*'}],
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAddResume) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
