extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader(photoEditPage ? 'Редактирование видео' : 'Добавить фото')
  +tabsNonInteractive([
    {name:'Список фотогалерей',link:staticLinks.accountGalleries},
    {name:'Список фотографий галереи',link:'account-gallery.html'},
    {name:'Добавить фото',link:staticLinks.addPhoto, active: photoEditPage ? false : true},
  ])
  if !photoEditPage
    +blockMarked
      p(style='font-size: 1.125rem; line-height: 1.5; color: red'): strong Пожалуйста, не добавляйте сюда свои работы. 
        br
        | Для добавления Ваших работ, пожалуйста, используйте раздел 
        a(href != staticLinks.accountPortfolio) «Мое портфолио»
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const formAddResume = {
      fields: [
        {
          type: 'file',
          name: 'userphoto',
          id: 'userphoto',
          label: ['Выберите файл:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          clarification: 'Допускается загрузка фотографий с расширением JPG, GIF, PNG.',
          required: true,
        },
        {
          type: 'text',
          name: 'name',
          id: 'name',
          label: 'Название фото:',
        },
        {
          type: 'textarea',
          name: 'descr',
          id: 'descr',
          label: 'Описание фото:',
        },
        {
          type: 'text',
          name: 'tags',
          id: 'tags',
          label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          warning: {tag:'span', attr: {style: 'color: #aa2a06;'}, content: 'Важно: каждая метка должна содержать не больше 2 слов, метки нужно разделять запятыми.'},
          clarification: 'Метка: это ключевое слово, которое кратко описывают Вашу фотографию.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста. <br><strong>Пример</strong>: мой салон, обучение, коллеги, парикмахерский инструмент.',
          required: true,
        },
      ],
      submit: {button: 'Добавить'}
    }
  if photoEditPage
    -
      formAddResume.fields[0] = {
        type: 'simpleText', label: 'Миниатюра фотографии:', value: {
          tag: 'div', content: {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/galleries/2019/60177/1408/small_414_1567352947.jpg'}}
        }
      }
  +formRegistration(formAddResume)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
