extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Мое портфолио')
  +tabsNonInteractive([
    {name:'Список фотографий',link:staticLinks.accountPortfolio},
    {name:'Добавить фотографию',link:staticLinks.addPortfolio, active: portfolioEditPage ? false : true},
  ])
  if !portfolioEditPage
    +blockMarked
      p: strong Если вы хотите чтобы вашу работу нашли, указывайте полное название, метки и описание!
  else
    h2 Редактирование
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const formAddPortfolio = {
      fields: [
        {
          type: 'file',
          name: 'userphoto',
          id: 'file_attachment',
          label: ['Выберите файл:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          clarification: 'Допускается загрузка фотографий с расширением JPG, GIF, PNG.',
          required: true,
        },
        {
          type: 'checks',
          checks: [
            {type:'checkbox',id:'work_type_1',name:'work_type[1]',label:'Прическа', value: '1'},
            {type:'checkbox',id:'work_type_2',name:'work_type[2]',label:'Окрашивание', value: '2'},
            {type:'checkbox',id:'work_type_3',name:'work_type[3]',label:'Ресницы и брови', value: '3'},
            {type:'checkbox',id:'work_type_4',name:'work_type[4]',label:'Наращивание волос', value: '4'},
            {type:'checkbox',id:'work_type_5',name:'work_type[5]',label:'Плетение косичек и дредов', value: '5'},
            {type:'checkbox',id:'work_type_6',name:'work_type[6]',label:'Маникюр', value: '6'},
            {type:'checkbox',id:'work_type_7',name:'work_type[7]',label:'Макияж', value: '7'},
            {type:'checkbox',id:'work_type_8',name:'work_type[8]',label:'Боди-арт', value: '8'},
            {type:'checkbox',id:'work_type_9',name:'work_type[9]',label:'Полный модный образ', value: '9'},
            {type:'checkbox',id:'work_type_10',name:'work_type[10]',label:'Замещение волос', value: '10'},
            {type:'checkbox',id:'work_type_11',name:'work_type[11]',label:'Флористика', value: '11'},
            {type:'checkbox',id:'work_type_12',name:'work_type[12]',label:'Косметология', value: '12'},
          ],
          label: ['Тип работы:', {tag: 'span', className: 'footnote-mark', content: '*'}], 
          required: true,
        },
        {
          type: 'text',
          name: 'name',
          id: 'name',
          label: ['Название работы:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          warning: {tag:'span', attr: {style: 'color: #aa2a06;'}, content: 'Важно: для прически необходимо указать название, например: боб, каре, каскад и т.д.'},
          clarification: 'Укажите основную суть работы.',
          required: true,
        },
        {
          type: 'text',
          name: 'tags',
          id: 'tags',
          label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          warning: {tag:'span', attr: {style: 'color: #aa2a06;'}, content: 'Важно: каждая метка должна содержать не больше 2 слов, метки нужно разделять запятыми.'},
          clarification: 'Метка: это ключевое слово, которое кратко описывают Вашу фотографию.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста. <br><strong>Пример</strong>: мой салон, обучение, коллеги, парикмахерский инструмент.',
          required: true,
        },
        {
          type: 'textarea',
          name: 'descr',
          id: 'descr',
          label: 'Описание фото:',
          clarification: 'Опишите что именно делалось в работе, какие использовались приемы и техники, косметика, инструменты и аксессуары.',
        },
      ],
      submit: {button: 'Добавить'}
    }
  if portfolioEditPage
    -
      formAddPortfolio.fields[0] = {
        type: 'simpleText', label: 'Миниатюра фотографии:', value: {
          tag: 'div', content: {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/galleries/2019/60177/1408/small_414_1567352947.jpg'}}
        }
      }
  +formRegistration(formAddPortfolio)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
