extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Товары','Оборудование для салонов'], current:'Рабочие места парикмахера'}
block content
  +pageHeader('Моя информация')
  p Для того чтобы добавить товар в данную категорию, Вы должны выбрать бренд или производителя и нажать кнопку "Дальше".
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddOffer = {
          fields: [
            {
              type: 'text',
              name: 'brand_name',
              id: 'brand_name',
              label: 'Выберите бренд или производителя товара',
              warning: 'Если нужного бренда или производителя нет в списке или Вы его не знаете, оставьте поле пустым.',
            },
          ],
          submit: {button: 'Далее'}
        }
      +formRegistration(formAddOffer)
  p: a(href='add-offer-step-2.html'): strong шаг 2
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
