extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Моё резюме')
  h2 !{resumePageSubheader ? resumePageSubheader : 'Добавление резюме'}
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddResume = {
          fields: [
            {
              type: 'text',
              name: 'position',
              label: ['Желаемая должность:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
            },
            {
              type: 'radios',
              name: 'position',
              label: ['Специализация:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
              radios: [
                {type: 'radio', name: 'amplua_id', id: 'amplua_2', value: '2', label: 'Руководитель салона'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_5', value: '5', label: 'Администратор салона'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_1', value: '1', label: 'Парикмахер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_4', value: '4', label: 'Технолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_18', value: '18', label: 'Мастер по косичкам'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_24', value: '24', label: 'Имиджмейкер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_21', value: '21', label: 'Мастер по наращиванию волос'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_14', value: '14', label: 'Стилист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_9', value: '9', label: 'Визажист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_20', value: '20', label: 'Мастер по ресницам'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_8', value: '8', label: 'Мастер ногтевого сервиса'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_10', value: '10', label: 'Косметолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_22', value: '22', label: 'Мастер перманентного макияжа'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_11', value: '11', label: 'Массажист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_15', value: '15', label: 'Модельер одежды'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_3', value: '3', label: 'Врач-трихолог'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_16', value: '16', label: 'Татуировщик'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_19', value: '19', label: 'Пирсинг мастер'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_17', value: '17', label: 'Фотограф'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_13', value: '13', label: 'Преподаватель'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_6', value: '6', label: 'Продажи'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_7', value: '7', label: 'Маркетинг, PR'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_23', value: '23', label: 'Флорист'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_25', value: '25', label: 'Фитнес инструктор'},
                {type: 'radio', name: 'amplua_id', id: 'amplua_0', value: '0', label: 'Иное'},
              ]
            },
            {
              type: 'text',
              name: 'age',
              label: ['Возраст:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              required: true,
            },
            {
              type: 'select',
              name: 'male_id',
              label: ['Пол:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              options: [' - Выберите пол - ', 'мужской', 'женский'],
            },
            {
              type: 'select',
              name: 'experience_id',
              label: 'Стаж работы:',
              options: [' - Выберите стаж работы - ', 'нет опыта', '1 год', 'до 3 лет', 'до 5 лет', 'больше 5 лет'],
            },
            {
              type: 'text',
              name: 'age',
              label: 'Ожидаемая зарплата:',
            },
            {
              type: 'checkbox',
              name: 'use_base_degree_profile',
              id: 'use_base_degree_profile',
              label: 'Ожидаемая зарплата:',
              checked: true,
              clarification: `использовать информацию об основном образовании из <a href="#" data-mrc-sh-title="info-from-profile">профайла</a>
                <div class="properties" data-mrc-sh-body="info-from-profile">
                  <div class="properties__item">
                    <div class="properties__item-name">Город:
                    </div>
                    <div class="properties__item-value">Мурманск
                    </div>
                  </div>
                  <div class="properties__item">
                    <div class="properties__item-name">Учебное заведение:
                    </div>
                    <div class="properties__item-value">МПК
                    </div>
                  </div>
                  <div class="properties__item">
                    <div class="properties__item-name">Специальность:
                    </div>
                    <div class="properties__item-value">учитель информатики
                    </div>
                  </div>
                  <div class="properties__item">
                    <div class="properties__item-name">Год окончания:
                    </div>
                    <div class="properties__item-value">2012
                    </div>
                  </div>
                </div>`,
              additionalInfo: `Если вы хотите указать в резюме курсы, семинары или тренинги на которых вы обучались, пожалуйста, добавьте <a href="${staticLinks.accountEditProfileDegree}">дополнительное образование</a>.`,
            },
            {
              type: 'textarea',
              name: 'experience',
              label: 'Опыт работы:',
              clarification: 'Опишите, пожалуйста, ваши профессиональные навыки. Где, на каких должностях и какое время вы работали. Для парикмахеров - с какой косметикой вы работали.',
            },
            {
              type: 'textarea',
              name: 'about',
              label: 'Информация о себе:',
              clarification: 'Опишите, пожалуйста, ваши профессинальные качества.',
            },
            {
              type: 'tel',
              name: 'contact_phone',
              label: 'Контактный телефон:',
            },
            {
              type: 'checkbox',
              label: '',
              clarification: 'опубликовать резюме после сохранения',
            }
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAddResume) 
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
