extends /blocks/layout-account/layout-account
include /blocks/form-add-post/form-add-post

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
  +scripts(['tiny_mce/tiny_mce.js', 'tiny_mce/tiny_mce_init_post.js'])
block content
  +pageHeader(postEditPage ? 'Редактирование статьи' : 'Добавление статьи')
  +tabsNonInteractive([
    {name:'Список статей',link:staticLinks.accountPosts},
    {name:'Добавить статью',link:staticLinks.addPost, active: postEditPage ? false : true},
  ])
  p: a(href='#' data-mrc-sh-title='post-requirements') Требования к статьям
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='post-requirements')
    li Статья должна быть интересна всем участникам индустрии;
    li Статья должна полностью освещать какую либо тему, т.е. не быть краткой в пару строк;
    li Запрещено полностю копировать информацию из других источников.
  if !postEditPage
    +blockMarked: p
      strong Внимание:
      |  рекламные статьи и статьи со ссылками размещаются только на платной основе. Подробнее о 
      a(href != staticLinks.advArticles) приоритетном размещении рекламных статей
      | .
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const form = {
      fields: [
        { type: 'text', id: '', name: '', label: ['Заголовок:', {tag: 'span', className: 'footnote-mark', content: '*'}], clarification: 'Заголовок должен отражать основную суть Вашей статьи.', required: true,},
        { type: 'textarea', id: '', name: '', label: ['Текст статьи:', {tag: 'span', className: 'footnote-mark', content: '*'}], warning: [
          {tag: 'p', attr: {style: 'color: #aa2a06;'}, content: 'Для того, чтобы загрузить и вставить изображение в запись, нужно установить курсор в нужное место и нажать кнопку <img src="http://www.hairlife.ru/js/tiny_mce/plugins/imagemanager/pages/im/img/insertimage.gif" alt="Загрузить и вставить изображение"> "Загрузить и вставить изображение". При этом загруженное изображение можно уменьшать в размерах, вырезать из него части и переворачивать. Вставленное изображение можно перемещать по тексту с помощью курсора перетаскиванием.'},
          {tag: 'p', attr: {style: 'color: #aa2a06;'}, content: 'Для того, чтобы установить выравнивание изображения относительно текста, отступы от изображения до текста и оконтовку нужно выбрать нужное изображение и нажать кнопку Добавить/изменить изображение <img src="http://www.hairlife.ru/img/ico-edit-image.gif" alt="">"Добавить/изменить изображение".'},
        ], clarification: `<strong>Важно:</strong> Для того, чтобы отделить введение от основного текста Вашей статьи, пожалуйста, вставьте разрыв с помощью кнопки <img src="http://www.hairlife.ru/img/icon-cat.gif" alt=""> "Вставить тег 'Далее'" на панели инструментов.`,
        required: true, },
        {type: 'select', id: '', name: '', label: ['Раздел:', {tag: 'span', className: 'footnote-mark', content: '*'}], options: ['- Выберите раздел -', 'Стрижки', 'Прически', 'Маникюр и дизайн ногтей', 'Личности', 'Управление салоном красоты', 'Наращивание волос, плетению косичек и дредов', 'SPA', 'Мое портфолио', 'Профессиональная косметика, бренды', 'Оборудование и инструменты', 'Окрашивание', 'Тенденции в прическах, стрижках и макияже', 'Макияж', 'Конкурс фото уроков', 'Косметология', 'Уход за волосами', 'Взаимоотношения с клиентами', 'Карьера', 'Стиль и мода, тенденции', 'Волосы и изделия из волос', 'Дерматология', 'Уход за ногами',], clarification: 'Пожалуйста, выберите раздел, в который Вы хотите добавить статью.'},
        { type: 'text', id: '', name: '', label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}], warning: {content: '<strong>ВАЖНО</strong>: ЭТО НЕ ЗАГОЛОВОК, ЭТО КЛЮЧЕВЫЕ СЛОВА, КАЖДАЯ МЕТКА ДОЛЖНА СОДЕРЖАТЬ НЕ БОЛЬШЕ 2 СЛОВ, МЕТКИ НУЖНО РАЗДЕЛАТЬ ЗАПЯТЫМИ.', tag: 'p', attr: {style: 'color: #aa2a06;'}}, clarification: 'Метка: это ключевое слово, которое кратко описывают Вашу статью.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста.<br>Пример заполнения поля: кератин, шампунь, оттенок волос, wella.', required: true, },
        {type: 'select', id: '', name: '', label: 'Прикрепить фотогалерею:', options: ['- Выберите галерею -', 'тест',], clarification: 'Здесь Вы можете выбрать фотогалерею, которая будет прикреплена к статье. Фотографии из этой фотогалереи будут отображаться в самой статье.'},
      ],
      submit: {button: 'Добавить'}
    }
  +formAddPost(form) 

block aside 
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
