extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader(galleryEditPage ? 'Редактировать фотогалерею' : 'Добавить фотогалерею')
  +tabsNonInteractive([
    {name:'Список фотогалерей',link:staticLinks.accountGalleries},
    {name:'Добавить фотогалерею',link:staticLinks.addGallery, active: galleryEditPage ? false : true},
  ])
  if !galleryEditPage
    +blockMarked
      p(style='font-size: 1.125rem; line-height: 1.5; color: red'): strong Пожалуйста, не добавляйте сюда свои работы. 
        br
        | Для добавления Ваших работ, пожалуйста, используйте раздел 
        a(href != staticLinks.accountPortfolio) «Мое портфолио»
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const form = {
      fields: [
        {
          type: 'text',
          id: 'title',
          name: 'title',
          label: ['Название галереи: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          clarification: 'Укажите основную суть галереи.',
          required: true,
        },
        {
          type: 'textarea',
          id: 'descr',
          name: 'descr',
          label: 'Описание галереи:',
          clarification: 'Опишите, что именно отражает данная галерея.',
          required: true,
        },
      ],
      submit: {button: 'Добавить'}
    }
  +formRegistration(form) 

block aside 
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
