extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
  +scripts(['tiny_mce/tiny_mce.js', 'tiny_mce/tiny_mce_init_video.js'])
block content
  +pageHeader(videoEditPage ? 'Редактирование видео' : 'Добавление видео')
  +tabsNonInteractive([
    {name:'Список видео',link:staticLinks.accountVideo},
    {name:'Добавить видео',link:staticLinks.addVideo, active: videoEditPage ? false : true},
  ])
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddResume = {
          fields: [
            {
              type: 'select',
              name: 'category_id',
              id: 'category_id',
              label: ['Рубрика:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              options: ['- Выберите рубрику -','Стрижки','Прически','Окрашивание','Наращивание волос','Плетение косичек и дредов','Nail-дизайн','Макияж','Косметология','Наращивание ногтей','Массаж','Остальное','Уход за волосами','Уход за ногами','Уход за руками',],
              required: true,
            },
            {
              type: 'text',
              name: 'url',
              id: 'url',
              label: ['Ссылка на видео:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Например: http://www.youtube.com/watch?v=d2WVUZGm4bs.',
              required: true,
            },
            {
              type: 'text',
              name: 'name',
              id: 'name',
              label: ['Название:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              clarification: 'Называние видео должно отражать основную суть видео.',
              required: true,
            },
            {
              type: 'textarea',
              name: 'descr',
              id: 'descr',
              label: 'Описание видео:',
              clarification: 'Опишите что просходит в видео, какие использовались приемы и техники, косметика, инструменты и аксессуары.',
            },
            {
              type: 'text',
              name: 'tags',
              id: 'tags',
              label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
              warning: {tag:'span', attr: {style: 'color: #aa2a06;'}, content: 'Важно: каждая метка должна содержать не больше 2 слов, метки нужно разделять запятыми.'},
              clarification: 'Метка: это ключевое слово, которое кратко описывают Ваше видео.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста.<br><strong>Пример заполнения поля:</strong> стрижка боб, слайсинг, дизайн ногтей, wella.',
              required: true,
            },
          ],
          submit: {button: 'Добавить'}
        }
      if videoEditPage
        -
          formAddResume.fields.unshift({
            type: 'simpleText', label: 'Видео',value: {
              tag: 'div', className: 'iframe-responsive', content: {
                tag: 'div', className: 'iframe-responsive__iframe', content: {
                  tag: 'iframe', attr: {src: 'http://www.youtube.com/v/Sr-GWS_jI_k'}
                }
              }
            }
          })
      +formRegistration(formAddResume)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
