extends /blocks/layout-account/layout-account
include /blocks/form-add-post/form-add-post

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
  +scripts(['tiny_mce/tiny_mce.js', 'tiny_mce/tiny_mce_init_post.js'])
block content
  +pageHeader('Добавление обучающего мероприятия')
  p: a(href='#' data-mrc-sh-title='post-requirements') Требования к обучающим мероприятиям 
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='post-requirements')
    li Обучающее мероприятие должно быть интересно всем участникам индустрии;
    li Информация должна полностью освещать мероприятие, т.е. не быть краткой в пару строк;
  p Символом 
    +footnoteMark
    |  отмечены поля, обязательные для заполнения. 
  -
    const form = {
      fields: [
        {
          type: 'file',
          id: 'photo',
          name: 'photo_file',
          label: 'Изображение: ',
          clarification: 'Допускается загрузка изображений с расширением JPG, GIF, PNG.',
        },
        {
          type: 'select',
          id: 'type_id',
          name: 'type_id',
          label: ['Тип мероприятия: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          options: ['--', 'Семинар', 'Мастер класс', 'Курс'],
          clarification: 'Выберите тип мероприятия.',
          required: true,
        },
        {
          type: 'text',
          id: 'title',
          name: 'title',
          label: ['Название: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          required: true,
        },
        {
          type: 'textarea',
          id: 'descr',
          name: 'descr',
          label: 'Описание мероприятия:',
        },
        {
          type: 'select',
          id: 'category_id',
          name: 'category_id',
          label: ['Категория: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          options: ['--','Парикмахерское дело','Визаж','Ногтевой сервис','Косметология','Мода и стиль','Флористика','Управление салоном красоты','Общее',],
          clarification: 'Выберите тематическую категорию, к которой относится мероприятие.',
          required: true,
        },
        {
          type: 'select',
          name: 'city_id',
          id: 'city_id',
          label: ['Город:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
          required: true,
        },
        {
          type: 'text',
          id: 'adress',
          name: 'adress',
          label: 'Адрес: ',
        },
        {
          type: 'radios',
          id: '',
          name: '',
          label: ['Платно или бесплатно: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          radios: [
            {
              type: 'radio',
              name: 'pay',
              id: 'radio1',
              value: '0',
              label: 'бесплатно',
              required: true,
            },
            {
              type: 'radio',
              name: 'pay',
              id: 'radio2',
              value: '1',
              label: 'платно',
              required: true,
            }]
        },
        {
          type: 'text',
          id: 'date_start',
          name: 'date_start',
          label: ['Дата начала: ', {tag: 'span', className: 'footnote-mark', content: '*'}],
          required: true,
        },
        {
          type: 'text',
          id: 'date_end',
          name: 'date_end',
          label: 'Дата окончания: ',
        },
        {
          type: 'text',
          id: '',
          name: '',
          label: ['Метки:', {tag: 'span', className: 'footnote-mark', content: '*'}],
          warning: {tag:'span', attr: {style: 'color: #aa2a06;'}, content: 'Важно: каждая метка должна содержать не больше 2 слов, метки нужно разделять запятыми.'},
          clarification: 'Метка: это ключевое слово, которое кратко описывают Вашу статью.<br>Желательно выбирать метки из списка, появляющегося после начала ввода текста.<br><strong>Пример заполнения поля:</strong> кератин, шампунь, оттенок волос, wella.',
        },
      ],
      submit: {button: 'Добавить'}
    }
  +formAddPost(form) 

block aside 
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
