extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Размещение товаров на торговой площадке')
  p Размещение предложений товаров позволит вам эффективно рассказать о вашей продукции, ассортименте, возможностях. Функционал сервиса дает возможность участникам проекта заказывать товары. Таким образом, вы получите средство демонстрации продукции, но и канал продаж.
  p: strong Стоимость услуги: 
  include ../data/adv-torg
  +tableAdv(tableAdvTorg)
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
