extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Реклама в рассылке')
  p Реклама в 
    a(href='') рассылках портала
    |  - один из наиболее простых, быстрых и эффективных способов донести рекламную информацию до целевой аудитории, превышающей на сегодняшний день 
    strong 50 000 подписчиков
    | . Вашу рекламу получат те, кому она действительно интересна!
  p К размещению в рассылке принимаются текстовые блоки (не более 700 символов) и до 2-х изображений (размером не более 200*200 px). 
  p: strong Стоимость услуги: 
  include ../data/adv-rassilka
  +tableAdv(tableAdvRassilka)
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
