extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  include ../data/adv-banner
  +pageHeader('Баннерная реклама')
  p Баннерная реклама является одним из наиболее популярных и эффективных способов привлечения потенциальных клиентов. Вашу рекламу увидит целевая аудитория, заинтересованная в поиске товаров, оборудования и услуг, связанных с индустрией красоты.
  p Статическое размещение баннера - на одном рекламном месте показывается баннер только одного рекламодателя.
  p Динамическое размещение баннера - на одном рекламном месте поочередно показываются баннеры нескольких рекламодателей.
  p Указаны наиболее популярные зоны и размеры баннеров, размещаемых на портале. Если Вы хотите разместить рекламные материалы по своей схеме, не предложенной в данном документе - пишите или звоните нам, уверены, мы найдем решение!
  h2 Варианты размещения баннерной рекламы
  p: img(src='http://www.hairlife.ru/img/banners.jpg')
  p: strong Базовая скидка для рекламных агентств – 15%.
  h2 Предложение по статическому размещению баннеров
  +tableAdv(tableAdvBannerStatic)
  p
    +footnoteMark
    |  При количестве баннеров больше 4-х применяется понижающий коэффициент 0,7. 
    br
    +footnoteMark
    +footnoteMark
    |  Позиция будет видна более 75% посетителей портала (на основе учета статистики разрешений экранов пользователей). 
  h2 Предложение по динамическому размещению баннеров
  +tableAdv(tableAdvBannerDynamic)
  p
    +footnoteMark
    |  Позиция будет видна более 75% посетителей портала (на основе учета статистики разрешений экранов пользователей). 
    br
    | Сумма минимального заказа при динамическом размещении - 3000 руб.
  h2 Позиция 4 (468x60 px). Только статическое размещение
  p Баннер размещается в выбранных разделах
  +tableAdv(tableAdvBannerPos4)
  h2 Наценка за таргетинг:
  ul.list-marked
    li Гео-таргетинг (Москва и Санкт-Петербург) - 35%
    li Гео-таргетинг (Регионы, кроме Москвы и Санкт-Петербурга) - 25%
    li Таргетинг по частоте показов - 10%
    li Таргетинг по времени показов - 20%
  p Наценки за таргетинг суммируются.
  p Бронирование рекламного места осуществляется не позднее, чем за неделю до начала рекламной кампании. Оплата рекламной кампании производится перед ее началом в размере 100% стоимости.
  h2 Разработка баннера:
  p Мы можем разработать баннер для вашей рекламной кампании. Точная стоимость зависит от ваших требований
  +tableAdv(tableAdvBannerDevelop)
  p Стоимость разработки баннера в позиции 1 обговаривается индивидуально.
  p: a(href='#' data-mrc-sh-title='adv-materials-requirements') Требования к рекламным материалам
  p(data-mrc-sh-body='adv-materials-requirements'): strong Flash баннер:
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='adv-materials-requirements')
    li Размер .swf файла не должен превышать 50Кб.
    li При нажатии (клике) на рекламные материалы в формате Flash рекламируемый сайт должен открываться в новом окне браузера.
    li Баннер может потенциально загружать процессор стандартного компьютера не более чем на 25%. В качестве стандартного подразумевается компьютер с процессором Intel Celeron 1,7 GHz или AMD Duron 1,7 GHz и установленным Flash Player v. 8.
  p(data-mrc-sh-body='adv-materials-requirements'): strong GIF, JPEG баннер:
  ul.list-marked.list-marked--w-prev-par(data-mrc-sh-body='adv-materials-requirements')
    li При подаче рекламного материала должны быть переданы файл баннера и URL рекламируемой страницы.
    li Размер файла не должен превышать 50Кб.
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
  p(style='font-size: 1.25rem; text-align: center'): strong: a(href=staticLinks.advRequest) Заявка на размещение рекламы
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
