extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Приоритетное размещение рекламных акций')
  p Данная услуга позволит эффективно рассказать о вашем специальном предложении огромной аудитории портала.
  p В услугу входит:
  ul.list-marked.list-marked--w-prev-par
    li размещение активных гиперссылок в тексте акции;
    li публикация анонса акции на титульной странице портала (1 неделя);
    li размещение анонса акции в рассылке портала Новости индустрии красоты (около 3 500 подписчиков);
    li публикация анонса акции на титульной странице раздела "Акции компаний" (2 недели);
  p: strong Стоимость услуги приоритетного размещения одной акции: 2 000 руб.
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
