extends /blocks/layout/layout
include /blocks/review/review

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Проведение совместных конкурсов')
  p Наш портал предлагает проведение совместных рекламных программ: призовых акций, конкурсов и других мероприятий.
  p Это простой, эффективный и недорогой способ обратить внимание на компанию и ее товары и услуги, интересно и, в тоже время, ненавязчиво донести до потенциального потребителя всю необходимую рекламную информацию.
  p Проведение совместных акций с нашим порталом несомненно позволит Вам привлечь новых клиентов, увеличить лояльность и узнаваемость торговой марки. Мы сможем оперативно донести Вашу рекламу до профессиональной аудитории!
  h2 Отзывы партнеров 
  -
    const reviews = [
      {
        intro: 'Конкурс на портале Hairlife - это прекрасная возможность заявить о своей компании, товарах и услугах. ',
        body: {tag: 'p', content:'Большое спасибо руководству портала за такую возможность. Желаем всем творческих успехов и активного развития бизнеса!'},
        author: 'Ольга Лейтес, руководитель компании "Волосы24"',
        itemId: 1,
      },
      {
        intro: 'Нам кажется очень интересным этот формат - проведение подобных конкурсов на портале индстрии крастоты Hairlife.ru. ',
        body: [
          {tag: 'p', content: 'Есть конкурсы, проходящие на выставках в режиме он-лайн - это совершенно другой формат, в котором есть место и нервам, и ограничениям по времени и работа локоть к локтю со своими конкурентами, а есть конкурсы, где мастера могут показать свои любимые работы, выполненные без строгого временного и форматного ограничений. А так же выбор победителей путем открытого голосования на портале нам кажется современным и справедливым.'},
          {tag: 'p', content: 'Как спонсорам, нам было приятно очень корректное отношение администрации портала - и информация о нас была размещена с учетом наших пожеланий и подтверждение вручения спонсорских пакетов была предоставлена в самой наглядной форме, хотя мы на этом не настаивали.'},
          {tag: 'p', content: 'Мы обязательно еще примем участие в конкурсах на этом портале. Желаем всем участникам и победителям конкурсов на портале Hairlife.ru получать удовольствие от работы, а так же желаем всем профессионалам бьюти-индустрии как можно скорее приобщаться к профессиональным интернет-ресурсам, где можно найти огромное количество полезной информации, обменяться мнениями с коллегами, "на других посмотреть и себя показать".'},
        ],
        author: 'Олеся Дмитриченко, представитель марки Biolustre TM в России',
        itemId: 2,
      },
      {
        intro: 'Спасибо руководителям Портала Hairlife за активную и творческую работу ',
        body: [
          {tag: 'p', content: 'Наш семинар был посвящен теме: "История красоты: макияж и прически сквозь века", которую проводил Александр Васильев - всемирно известный историк моды, дизайнер, коллекционер. Наша задача была привлечь на этот семинар как можно больше людей, заинтересованных данной тематикой. Поэтому мы были рады сотрудничеству с Порталом Hairlife.ru, на котором присутствует профессиональная аудитория.'},
          {tag: 'p', content:'С помощью Портала нам удалось провести совместный конкурс работ из портфолио на тему: <a href="/portfolio/contest/1/">"Макияж и прически сквозь века"</a>. Это было просто и очень эффективно! Конкурс привлек внимание большой части сообщества Портала: в первые же дни после его начала мы отметили серьезный рост числа заказов билетов на семинар. Спасибо руководителям Портала Hairlife за активную и творческую работу, будем рады сотрудничеству снова!'},
        ],
        author: 'Дмитрий Соболев, организатор профессиональных семинаров и мастер-классов',
        itemId: 3,
      },
    ]
  each item in reviews
    +review(item)
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
