extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Реклама на форуме')
  h2 Спонсор разделов форума
  p Размещение логотипа (50х50 px) и краткого описания компании (до 250 знаков) в разделах форума.
  p: strong Стоимость услуги: 1500 руб. в месяц.
  +gallery({
    list: [
      {src: 'http://www.hairlife.ru/img/about/adv/sponsor-razdela-foruma1.jpg', detail:'http://www.hairlife.ru/img/about/adv/sponsor-razdela-foruma1.jpg'},
      {src: 'http://www.hairlife.ru/img/about/adv/sponsor-razdela-foruma2.jpg', detail:'http://www.hairlife.ru/img/about/adv/sponsor-razdela-foruma2.jpg'},
    ],
    settings: {fancyboxId: 'forum-sponsor'}
  })
  h2 Приоритетная публикация тем на форуме
  ul.list-marked
    li тема публикуется выше других в разделе форума;
    li тема выделяется жирным шрифтом;
    li анонс темы публикуется на главной странице портала;
  +gallery({
    list: [
      {src: 'http://www.hairlife.ru/img/about/adv/prority-topic.jpg', detail:'http://www.hairlife.ru/img/about/adv/sponsor-razdela-foruma1.jpg'},
    ],
    settings: {fancyboxId: 'forum-priority'}
  })
  p: strong Стоимость услуги: 500 руб. в неделю.
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
