extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Приоритетное размещение рекламных видео')
  p Один из наиболее наглядных способов рекламы услуг или продуктов и преимуществ Вашей компании. Видео ролик поможет рассказать обо всех тонкостях услуг или продукта, его уникальности. Позволит полностью раскрыть все преимущества рекламируемого товара или услуг.
  p В услугу входит:
  ul.list-marked.list-marked--w-prev-par
    li размещение активных гиперссылок в описании к видео ролику;
    li публикация анонса видео ролика на титульной странице портала (1 неделя);
    li размещение анонса видео ролика в рассылке портала Новости индустрии красоты (около 3 500 подписчиков);
    li публикация анонса видео ролика на титульной странице раздела "Видео" (2 недели);
  p: strong Стоимость услуги приоритетного размещения одного видео ролика: 2 000 руб.
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
