extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Приоритетное размещение рекламных статей')
  p Один из наиболее оптимальных способов рекламы сложных услуг или продуктов и преимуществ Вашей компании в условиях сильной конкуренции. Баннерная и наружная реклама, размещение кратких анонсов и пресс-релизов - все это не позволит рассказать обо всех тонкостях услуг или продукта, его уникальности. Статья же позволит полностью раскрыть все преимущества рекламируемого товара или услуг.
  p В услугу входит:
  ul.list-marked.list-marked--w-prev-par
    li размещение активных гиперссылок в тексте статьи;
    li публикация анонса статьи на титульной странице портала (1 неделя);
    li размещение анонса статьи в рассылке портала Новости индустрии красоты (около 3 500 подписчиков);
    li публикация анонса статьи на титульной странице раздела "Статьи" (2 недели);
  p: strong Стоимость услуги приоритетного размещения одной статьи: 2 000 руб.
  p Цены действительны с 01.07.2014. 
  +blockMarked: p Если у Вас возникли какие-либо вопросы, Вы можете отправить заявку через 
    a(href != staticLinks.advRequest) форму
    |  или связаться с нами по телефону +7 (952) 287-17-47. Мы будем рады помочь Вам и ответить на все возникшие вопросы!
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
