extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Заявка на размещение рекламы')
  p Если Вас заинтересовала возможность размещения реклама на нашем портале, Вы можете отправить заявку посредством данной формы.
  include ../blocks/form-success/form-success
  include ../blocks/form-error/form-error
  +grid({parLike: true, paddingy: true})
    +grid__item({s:8,xs:12})
      -
        const formAdvRequest = {
          inputs: [
            {type: 'text', name: 'company', id: 'company', label: 'Компания:'},
            {type: 'text', name: 'name', id: 'name', label: 'Имя:'},
            {type: 'tel', name: 'phone', id: 'phone', label: 'Контактный телефон:'},
            {type: 'email', name: 'from_mail', id: 'from_mail', label: 'Контактный E-mail:'},
            {type: 'textarea', name: 'message', id: 'message', label: 'Предполагаемый вид рекламы и место размещения:'},
          ],
          submit: 'Отправить',
          settings: {background: true},
        }
      +form(formAdvRequest)
    +grid__item({s:4,xs:12})
      p Также Вы можете отправить заявку на размещение рекламы по электронной почте: 
        a(href='/_service/nospam.html?lgn=reklama&srv=hairlife&dmn=ru') reklama@hairlife.ru
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
