extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Реклама на портале')
  p
    strong Hairlife.ru
    |  — это интернет-проект, сочетающий в себе профессиональное сообщество, а также мультимедийное СМИ. Это сообщество людей, занятых в индустрии красоты. Профессиональная аудитория, актуальная информация, общение и коллективное создание материалов делает этот проект уникальным.
  p На Портале зарегистрировано более 
    strong 40 000 участников
    |  и более 
    strong 2000 компаний.
  p Ежемесячная аудитория проекта превышает 
    strong 270 000 человек
    | , которые просматривают около 
    strong 750 000 страниц
    | 
    a(href != staticLinks.advStat) (статистика портала)
    |  - это парикмахеры, визажисты, мастера маникюра, руководители салонов красоты, поставщики оборудования и мебели для салонов, инструментов и аксессуаров, косметики и расходных материлов, сотрудники профессиональных магазинов, учебные организации и другие участники.
  p Если Вам интересно проведение рекламной кампании на нашем Портале, мы с радостью подберем для Вас оптимальный медиа-план и ответим на все Ваши вопросы.
  h2 Рекламные возможности
  ul.list-marked
    li
      a(href != staticLinks.advBanner) Баннерная реклама
      | ;
    li
      a(href != staticLinks.advPriority) Приоритетная публикация в каталоге компаний
      | ;
    li
      a(href != staticLinks.advTorg) Размещение товаров на торговой площадке
      | ;
    li
      a(href != staticLinks.advRassilka) Реклама в рассылке
      | ;
    li
      a(href != staticLinks.advForum) Реклама на форуме
      | ;
    li
      a(href != staticLinks.advNews) Приоритетное размещение рекламных новостей
      | ;
    li
      a(href != staticLinks.advDiscounts) Приоритетное размещение рекламных акций
      | ;
    li
      a(href != staticLinks.advArticles) Приоритетное размещение рекламных статей
      | ;
    li
      a(href != staticLinks.advVideos) Приоритетное размещение рекламных видео
      | ;
    li
      a(href != staticLinks.advContest) Проведение совместных конкурсов
      | .
  p Заказать проведение рекламной кампании Вы можете позвонив по телефону +7 (952) 287-17-47, написав нам по адресу 
    a(href='/_service/nospam.html?lgn=reklama&srv=hairlife&dmn=ru') reklama@hairlife.ru
    |  или заполнив 
    a(href != staticLinks.advRequest) форму заявки
    | .
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
    if item.name == 'Реклама на портале'
      -
        item.sublist = sublistAds
  +asideMenu(asideMenuAbout)
