extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Обзор прессы индустрии красоты')
  +grid({paddingy: true, parLike:true, justify:'center'})
    +grid__item({s:3, xs:6}): img(src='http://www.hairlife.ru/uploaded_files/press/img/logo/psv_big.jpg' alt='Парикмахер Стилист Визажист')
    +grid__item({s:9, xs:12})
      h2 Парикмахер Стилист Визажист
      p Журнал издает с 2003 года ИД «Панорама». Первое профессиональное издание, адресованное мастерам и преподавателям парикмахерских академий, школ, колледжей, курсов, факультетов повышения квалификации, а также косметическим компаниям, которые проводят семинары для стилистов.
  h3 Архив номеров:
  -
    const arch = [
      {
        name: '№1 / 2010',
        theme: 'Досадные сальности',
        image: 'http://www.hairlife.ru/uploaded_files/press/magazines/1_psv_big.jpg',
        href: 'analytics-press-magazine.html',
        magName: 'Парикмахер Стилист Визажист',
      },
      {
        name: '№1 / 2010',
        theme: 'Тонкие белые линии',
        image: 'http://www.hairlife.ru/uploaded_files/press/magazines/2_psv_big.jpg',
        href: 'analytics-press-magazine.html',
        magName: 'Парикмахер Стилист Визажист',
      },
      {
        name: '№1 / 2010',
        theme: 'Стайлинг',
        image: 'http://www.hairlife.ru/uploaded_files/press/magazines/3_psv_big.jpg',
        href: 'analytics-press-magazine.html',
        magName: 'Парикмахер Стилист Визажист',
      },
      {
        name: '№1 / 2010',
        theme: 'Рыжий - особый случай',
        image: 'http://www.hairlife.ru/uploaded_files/press/magazines/4_psv_big.jpg',
        href: 'analytics-press-magazine.html',
        magName: 'Парикмахер Стилист Визажист',
      },
    ]
  +grid({paddingy: true, parLike: true})
    each item in arch
      +grid__item({m:6,s:8,xs:12})
        +grid()
          +grid__item({xs:4}): img(src != item.image alt != item.magName + ' - ' + item.name)
          +grid__item({xs:8})
            h4: a(href != item.href) !{item.name}
            if item.theme
              br
              p Тема номера:
                br
                a(href != item.href) !{item.theme}
              br
            a(href != item.href) подробнее
  h3 Общая информация об издании:
  p
    strong Для кого?
    |  Журнал адресован мастерам и преподавателям парикмахерских академий, школ, колледжей, курсов, факультетов повышения квалификации, а также косметическим компаниям, которые проводят семинары для стилистов.
  p
    strong О чем?
    |  В статьях в наглядной и легкой форме рассказывается о теории и практике парикмахерского искусства, даются основные понятия по специальным дисциплинам: колористика, материаловедение, техника колорирования и мелирования, основы постижерного дела, психология общения с клиентом.
  p
    strong В чем особенности?
    |  Только в нашем журнале много внимания уделено понятиям об основных характеристиках цвета: цветовой тон, насыщенность, светлота, контраст, законы композиции и гармонии, характеристика красителей для волос и их применение, создание техник окрашивания, лекала.
  p
    strong Где учиться?
    |  Читатели смогут освоить современные направления в парикмахерской моде, познакомиться с коллекциями ведущих стилистов России и мира, прочитать интервью со звездами, а также познакомиться с работой лучших образовательных учреждений по парикмахерскому делу, и сделать правильный выбор по обучению.
  p
    strong Бонус для подписчиков
    |  В каждом номере - конкурсы и подарки для подписчиков.
  p
    strong Поддержка
    |  Журнал издается при поддержке Первого Открытого Всероссийского Клуба парикмахеров Hair Club и Александра Кувватова - топ-стилиста международного класса.
  p: strong Рубрики:

  p HAIR CLUB
    br
    | Информация о Фотосезонах с публикацией итоговой фотосессии с работами команды стилистов-участников проекта HAIR CLUB.
  p НОВОСТИ ПАРИКМАХЕРСКОГО МИРА
    br
    | Новости и пострелизы важнейших событий: семинаров, мастер-классов, модных показов, конкурсы и фестивали в области моды и парикмахерского искусства
  p МОДА И СТИЛЬ
    br
    | Представлены коллекции и отдельные работы российских и зарубежных мастеров
  p ИСКУССТВО ЦВЕТА
    br
    | Раздел для колористов, в нем печатаются статьи и учебные материалы по окрашиванию и колористике, приводятся поэтапные схемы окрашивания в модных техниках
  p ЛОКОНЫ И ВОЛНЫ
    br
    | Материалы о техниках создания прекрасных локонов, а также о выпрямлении вьющихся волос, уход за кудрявыми волосами
  p ПОСТИЖЕРНОЕ ДЕЛО
    br
    | Все о накладках, париках, косичках, дредах, существующих технологиях наращивания, уход за нарощенными волосами
  p ИНСТРУМЕНТЫ, АКСЕССУАРЫ
    br
    | Характеристики и экспертные оценки парикмахерского инструмента: ножниц, щипцов, кистей для колорирования и мелирования, фенов, машинок для стрижки и окантовки, кейсов, инструмента для мастера по маникюру и педикюру. Оборудование для салонов красоты. Одноразовые и расходные материалы.
  p ЛУЧШИЕ АКАДЕМИИ
    br
    | Раздел, целиком посвященный одной из академий, обучающих школ, студий, интервью с руководителем академии
  p МАСТЕР-КЛАСС
    br
    | Все о техниках стрижек, мастер-классы ведущих стилистов и технологов.
  p ШКОЛА МАКИЯЖА
    br
    | Макияж для парикмахера и визажиста. Подиумный макияж. Салонный макияж. Статьи и мастер-классы.
  p: strong Параметры журнала:
  ul.list-marked.list-marked--w-prev-par
    li Формат – 165х230 мм
    li Объем – 64 полосы
    li Тираж – 10 000 экз.
    li Периодичность – 1 раз в месяц
    li распространение: путем прямой подписки и через каталоги агентств «Роспечать», «Почта России», а также через редакцию;
    li основные регионы распространения: Санкт-Петербург, Сибирь и Дальний Восток, Урал, страны СНГ и Балтии, бесплатная рассылка;
    li Скачать форму на подписку здесь: http://panor.ru/journals/psv/subscribe/
  p: strong С 2010 г ЖУРНАЛ ВЫХОДИТ С БЕСПЛАТНЫМИ ПРИЛОЖЕНИЯМИ!

  p
    strong Парикмахерский салон
    br
    | Журнал для собственников и управляющих салонов, медицинских, оздоровительных и SPA-центров.
  p
    strong BEAUTY Cosmetic
    br
    | Первое специальное издание для визажистов, гримёров и стилистов, художников бодиарта, имиджмейкеров.
  p
    strong Татуаж, пирсинг, боди-арт
    br
    | Журнал посвящен искусству татуировки, пирсинга, перманентного макияжа и других модификаций тела. 
