extends /blocks/layout-posting/layout-posting

block head
  - header = 'Профессия - косметолог'
block content
  +trow
    +block('Целлюлит: информативно о проблеме', {hCol: '#ad2800'})
      p Целлюлит - это косметический недостаток, который формируется в зонах локального отложения жира (чаще всего в области бедер) на фоне застойных явлений. Внешне это проявляется появлением на коже бугорков, которые вначале бывают малозаметными, и лишь при определенных состояниях, например, при концентрическом сдавлении кожи руками.
      p Позже эти изменения становятся видны и в состоянии покоя, все более напоминая кожуру апельсина. Целлюлит встречается только у женщин. Чтобы разобраться в такой несправедливости, а заодно и в причинах появления целлюлита, нужно остановиться на строении жировой ткани.
      p Жировая ткань, прежде всего, представлена жировыми клетками - адипоцитами, располагающимися группами в рыхлой соединительной ткани, пронизанной кровеносными сосудами. У женщин жировые дольки, как правило, крупнее, чем у мужчин. Более того, соединительнотканные волокна, расположены практически перпендикулярно по направлению к поверхности кожи (у мужчин - диагонально).
      p В результате при увеличении адипоцитов в размерах, их скопления начинают выпячивать покрывающую их кожу в виде бугорков, а соединительнотканные перемычки, препятствующие этому, создают ямочки. Визуально на коже появляются неровности.
      p Диагональное же расположение соединительнотканных волокон у мужчин не позволяет даже увеличенным адипоцитам изменять поверхность кожи. Именно поэтому целлюлита у мужчин быть не может. Однако описанная выше картина - это еще не целлюлит.
      p Целлюлит начинается тогда, когда в жировой ткани возникают проблемы с циркуляцией крови по капиллярам. Причиной может быть как чрезмерное увеличение жировых долек, так и малоподвижный образ жизни, приводящий к застою крови в сосудах. А в подавляющем большинстве случаев и то и другое.
      p В результате метаболическая активность адипоцита начинает существенно страдать, межклеточное вещество заполняется продуктами его жизнедеятельности, которые плохо выводятся из-за снижения интенсивности кровотока, накапливаются токсические вещества. Под действием токсинов фибробласты, вырабатывающие специальные тончайшие волокна, которые связывают между собой отдельные жировые клетки, начинают продуцировать более грубые волокна. При ухудшении оттока межтканевой жидкости между клетками из лимфы начинают оседать белки, которые в свою очередь обволакиваются этими грубыми фиброзными волокнами, дополнительно усугубляя процесс. Постепенно жировые дольки оказываются в своеобразной клетке из фибриновых волокон, выключающих ее из жирового обмена. Застойные явления в жировой ткани мешают поступлению новой порции кислорода и питательных веществ, жировые клетки начинают в полном смысле слова голодать, токсических веществ (метаболитов) становится больше. Возникает замкнутый круг, результатом которого становится целлюлит. Последний прогрессирует, и, наконец, становится необратимым. На последних стадиях из-за все более увеличивающихся расстройств кровообращения в зоне локального адипоза изменения начинают проявляться и в коже. Она перерастягивается, истончается, теряет свой тонус, неровности на ее поверхности становятся еще более заметными.
      p На сегодня выделяют 4 стадии развития целлюлита:
      ul
        li 1 стадия: проявлений на коже практически нет, но уже появляется легкая отечность мест локального отложения жира.
        li 2 стадия (отечная): отек увеличивается, жир становится более плотным.
        li 3 стадия (микронодулярная, или микроузелковая): в покое кожные покровы ровные, однако сжатие в складку делает их похожими на апельсиновую корку.
        li 4 стадия (макронодулярная, или макроузелковая): неровности на коже видны даже в покое, она истончена. Появляется легкая болезненность при касании проблемной зоны.
      p Теперь, когда мы знаем, что процесс возникновения целлюлита многоэтапный и многофакторный, наивно было бы предполагать, что этот косметический недостаток можно было бы устранить с помощью какого-либо одного "чудодейственного" метода или средства. А потому решать эти проблемы следует комплексно, одновременно воздействуя на все факторы, провоцирующие развитие локального ожирения и целлюлита. Любая такая комплексная антицеллюлитная программа должна обеспечивать:
      ul
        li Липолиз
        li Улучшение кровоснабжения жировой ткани и мышц
        li Выведение из жировой ткани токсинов и излишков жидкости
        li Утилизация организмом продуктов липолиза.
        li Только в случае последовательной активации всех вышеперечисленных условий можно получить заметный и продолжительный результат.
      p И все же - почему *испортить* фигуру легче, чем откорректировать ее? Гипертрофия адипоцитов возникает в результате расстройства баланса между процессом образования жира и его расходования. Почему жир попадает в клетку и откладывается в так называемых "проблемных зонах", нам в целом понятно, а вот почему он не так активно уходит из адипоцита и практически не хочет покидать свои облюбованные локализации абсолютно не ясно. Попробуем все же разобраться.
      p Удалось установить, что любая жировая клетка на своей мембране имеет рецепторы, посредством которых осуществляется регуляция процессов расхода и образования жира. Наиболее активные из них - это альфа2-адренорецепторы, которые замедляют сжигание жира, и бетта-рецепторы, которые, наоборот, ускоряют его. От преобладания тех или иных рецепторов на адипоците зависит его способность более или менее интенсивно участвовать в жировом обмене. Так оказалось, что в тех самых "проблемных зонах"; (ягодицы, бедра, живот) преобладают клетки с альфа2-адренорецепторами, именно поэтому они охотно накапливают жир и совсем не хотят его расходовать. Такой резерв организм создает для чрезвычайных ситуаций, когда неоткуда будет черпать энергию. Зоны преимущественного расположения клеток с бетта-рецепторами (лицо, грудь) накапливают и расходуют жир одинаково быстро. Вот почему когда мы полнеем, жир преимущественно откладывается на бедрах, ягодицах, передней стенке живота, а вот когда сбрасываем вес, худеют лишь лицо, шея, грудь.
      p Казалось бы все просто. Создать чудододейственное средство, активизирующее бетта-рецепторы, чтобы заставить жировую клетку расходовать свои запасы, - и проблема решена! В программах коррекции фигуры действительно существуют такие препараты, являющиеся производными ксантина (кофеин, теофиллин, теобромин и др.) Они включены в антицеллюлитные крема и широко применяются в косметических салонах. Однако даже самый мощный "расщепитель" жира не в состоянии решить проблему лишнего веса и целлюлита. Мы помним, что гипертрофированные жировые дольки окружены плотной фиброзной оболочкой, не каждый адипоцит имеет связь с кровеносным сосудом, а потому извлечь жир будет непросто. А в организме есть места с доступным жиром, который и будет расходоваться в первую очередь.
      p Но даже если жир из проблемных зон выманить все же удастся, на первый план выдвинется проблема его утилизации. Если он не будет в ближайшее время расходован, то вернется назад или отложится по соседству. Самым надежным способом избавления от продуктов расщепления жировых запасов - жирных кислот - является мышечная работа. Однако поклонники занятий фитнесом замечают, что не так-то просто устранить излишки жира, даже изнуряя себя тренировками в зале. В чем же дело?
      p Удалось установить, что для интенсивной работы мышцы охотнее используют запасы гликогена, а расходовать запасы жира принимаются только при длительных умеренных нагрузках (например, ходьба пешком). Лишь после длительных тренировок молодые и худенькие могут рассчитывать на то, что у них будут расходоваться именно жир. Людям с избыточной массой тела лучше на это не уповать. Так что же, отступиться и смириться? Конечно, нет! И следующая статья будет полностью посвящена тому, как попытаться откорректировать свою фигуру, не прибегая к услугам пластического хирурга.
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с косметологией и индустрией красоты. Это профессиональное сообщество активных и ярких людей, для которых важным является развитие профессиональных и творческих способностей.
      p На нашем сайте Вы найдете полезную информацию, которая поможет Вам в развитии мастерства и профессионального уровня.
      ul
        li(style='margin-bottom: 8px'): +a(href='/blogs/') Статьи по косметологии
        li(style='margin-bottom: 8px'): +a(href='/portfolio/') Работы из портфолио участников
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события в мире косметологии
        li(style='margin-bottom: 8px'): +a(href='/videos/') Обучающее видео и мастер-классы
        li(style='margin-bottom: 8px'): +a(href='/job/vacancies/') Вакансии
