extends /blocks/layout-posting/layout-posting

block head
  - header = 'Управление салоном красоты'
block content
  +trow
    +block('Советы 2в1: забота о губах и коррекция размера', {hCol: '#ad2800'})
      p Известно, что губы очень чувствительны и очень быстро сохнут, будь то морозная зима или солнечное лето. Поэтому за ними надо ухаживать и днем, и ночью.
      p Чтобы нормализовать обменные процессы, достаточно использовать увлажняющие твердые или кремообразные бальзамы для губ.
      p Можно применять:
      p Антивозрастной бальзам для губ. Мгновенно наполняют чувствительную кожу губ влагой, восстанавливают контур и разглаживают морщинки.
      p Лечебный бальзам для губ. Применяется в качестве бальзама для губ, для профилактики сухости и потрескивания губ от мороза и солнца,а также как лечебное средство от порезов, потрескиваний, шелушения губ, укусов насекомых и для лечения «простуды».
      p Нежный бальзам для губ.Придающий нежный оттенок и блеск. Идеальное средство для обветренных губ. Смягчает губы и делает их красивыми.
      p Макияж губ позволит улучшить их форму и контуры. Если у клиента слишком тонкие губы, есть верный способ сделать их более объемными. Для этого нужно обвести губы по контуру специальным карандашом оттенка, близкого к оттенку его губ. Начните от центра, выходя за пределы естественного контура губ, как бы снаружи контура. Если губы слишком полные, это тоже не проблема. Нанесите по контуру губ карандаш оттенка, близкого к оттенку тонального крема клиента. На этот раз прорисуйте контур как бы во внутренней части контура губ.
      p Какую помаду лучше выбрать: матовую или блестящую? Важно помнить, что губная помада наносится только с внутренней стороны контура губ, и никогда – за его пределами. Чтобы цвет лег равномерно, можно нанести помаду пальцем или специальной кистью. На пухлые губы можно нанести только блеск, особенно вечером. Тонкие губы можно выделить светлыми и блестящими оттенками. Для чрезмерно пухлых губ рекомендуется матовая помада.
      p Для того, чтобы помада держалась дольше, перед ее нанесением следует покрыть губы тонким слоем пудры. Это можно сделать через тонкую косметическую салфетку.
      p Чтобы губы всегда выглядели неотразимо, нужно держать мышцы губ в тонусе. Ведь губы - это тоже мышцы, и им нужна гимнастика! Порекомендуйте клиенту работать над мышцами лица, широко раскрывая рот и произнося гласные звуки. Напомните ему, что во время смеха работает множество мышц нижней части лица.
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с парикмахерским искусством, визажем и индустрией красоты. Это профессиональное сообщество активных и ярких людей, для которых важным является развитие профессиональных и творческих способностей.	
      p На нашем сайте Вы найдете полезную информацию, которая поможет Вам в развитии мастерства и профессионального уровня:
      ul
        li(style='margin-bottom: 8px'): +a(href='/blogs/') Статьи по визажу
        li(style='margin-bottom: 8px'): +a(href='/portfolio/') Работы из портфолио участников
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события в мире визажа и декоративной косметики
        li(style='margin-bottom: 8px'): +a(href='/videos/') Обучающее видео и мастер-классы
        li(style='margin-bottom: 8px'): +a(href='/job/vacancies/') Вакансии
