extends /blocks/layout-posting/layout-posting

block head
  - header = 'Профессия - nail мастер'
block content
  +trow
    +block('Секреты Спа-ухода в салоне и в домашних условиях', {hCol: '#ad2800'})
      p Спа – в переводе означает здоровье через воду или с помощью воды. В Древнем Риме исцеляли недуги с помощью термальных источников и принимали термальные ванны. Сейчас в «Спа» входит ряд процедур, направленных на получение не только приятных, ни с чем несравнимых эмоций, но и на ожидаемый результат от применения препаратов Spa.
      p Действие спа-процедур направлено на релаксацию и здоровье клиента.  Результат от применения spa-процедур это омоложение организма, увеличение продолжительности хорошего настроения, а, следовательно, и жизни! Повышается самооценка, женщина не только видит свою красоту, она чувствует себя красивой, надолго сохраняя эффект от процедур.
      p В салоне или дома, прежде чем начать такую умиротворяющую душу процедуру, необходимо закрыть кабинет и вывесить табличку: «Сеанс релаксации! Просьба соблюдать тишину!». Отключить телефон не только клиента, но и свой.  Отправьте всех домашних на часовую прогулку в парке. И наслаждайтесь!
      p В идеале предложите переодеться клиенту в махровый халат, который слегка сбрызнете любимым маслом клиента. Сняв повседневную, давящую одежду и почувствовав любимый аромат, клиент расслабляется, и готов полностью отдаться процедуре. Что в результате даст 100% эффект. Это прекрасно можно сделать и для себя любимой.
      p Сделайте для клиента или себя - максимум релаксации. Для этого дайте работу 5 органам чувств. Погасите свет, зажгите свечи, включите спокойную музыку для релаксации. Некоторые любят индийские мотивы, другим нравится арабская или турецкая музыка. Узнайте это заранее. Позаботьтесь о цвете в комнате, добавьте больше согревающих теплых цветов. В идеале искусственный камин, даже если вы притащите его из дома в салон, что в итоге щедро оценит ваш клиент. Есть клиенты, любящие смотреть на огонь во время процедуры. Как правило, это самые благодарные клиенты.
      p Сочетание запаха в спа-комнате должно быть соответствующим. Вы должны знать, какие ароматы нравятся вашему клиенту. Если первичный прием - лучше спросить. Иначе можно получить слезы или другие аллергические реакции.  Сочетание арома и цветотерапии позволяет влиять на духовный  настрой человека и приводят его к гармонии с самим собой. Клиент постепенно набирается сил и энергии и никогда этого не забудет. Зажгите аромапалочки или аромалампу с маслом, которое вам нравится. Рекомендую масло иланг-иланг, нероли, пачули.
      p Все движения делайте обдуманно, с любовью. Не допускайте механического выполнения процедуры. Вкладывайте высокую степень доброжелательного настроения! Улыбайтесь, даже если не хочется. Если вы сможете через силу держать улыбку несколько минут, через время, вам в самом деле захочется улыбнуться. Проверьте!
      p Пока подготавливаем рабочее место, дома или в салоне, предлагаем клиенту чашку чая – жасминовый или любой зеленый. Дома мы можем заварить чай для себя тот, который нам нравится. Когда я делаю процедуру себе, с моим низким давлением, не пью черный чай и кофе, пью иногда горячий каркаде или горячий зеленый. Людям с повышенным давлением лучше предложить холодный зеленый чай, каркаде.
      p Таким образом, происходит воздействие на 5 органов чувств. И это только подготовительный процесс – все не менее интересное впереди. Дезинфицируем стол, оборудование,  руки свои и клиента. И все последующие шаги Спа-ухода переплетаются  с евроманикюром.
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с nail-дизайном и индустрией красоты. Это профессиональное сообщество активных и ярких людей, для которых важным является развитие профессиональных и творческих способностей.
      p На нашем сайте Вы найдете полезную информацию, которая поможет Вам в развитии мастерства и профессионального уровня:
      ul
        li(style='margin-bottom: 8px'): +a(href='/blogs/') Статьи по nail-дизайну
        li(style='margin-bottom: 8px'): +a(href='/portfolio/') Работы из портфолио участников
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события в мире ногтевого сервиса
        li(style='margin-bottom: 8px'): +a(href='/videos/') Обучающее видео и мастер-классы
        li(style='margin-bottom: 8px'): +a(href='/job/vacancies/') Вакансии
