extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Обзор прессы индустрии красоты')
  +grid({paddingy: true, parLike:true, justify:'center'})
    +grid__item({s:3, xs:6}): img(src='http://www.hairlife.ru/uploaded_files/press/magazines/1_psv_big.jpg' alt='№1 / 2010')
    +grid__item({s:9, xs:12})
      h2 №1 / 2010
      p Тема номера: Досадные сальности
      p
        strong МОДА И СТИЛЬ
        br
        | POISON
        br
        | Six Figures
        br
        | Егор Молодкин, Игорь Кулахметов, («Золотая лига», Intercoiffure Russia)
        br
        | Елена Сланицкая («Мысин-Cтудио» на Тверской)
      p
        strong РАЗГОВОРЫ
        br
        | Признайтесь, что пришло время учиться!
        br
        | Интервью Рэйфа Харди, креативного директора SexyHair в России и Ильи Вейцмана, бессменного президента компании «Шарм Дистрибьюшн» Крутые повороты Сергея Любимова
      p
        strong КАК?
        br
        | Объяснить клиентам
        br
        | Внести прямоту
      p
        strong МАСТЕР-КЛАСС
        br
        | STONE
      p
        strong ШКОЛА МАКИЯЖА
        br
        | Тени для век и румяна
        br
        | Кинодива
      p
        strong ЛУЧШИЕ АКАДЕМИИ
        br
        | Высшее образование для визажиста
      p
        strong ПРИЛОЖЕНИЕ
        br
        | Ногтевой базар
      p
        strong ПРОФЕССИОНАЛЬНЫЕ НОВОСТИ
        br
        | Фестиваль красоты «Невские Берега»
