extends /blocks/layout-posting/layout-posting

block head
  - header = 'Профессия - парикмахер'
block content
  +trow
    div(style='padding: 16px 0; text-align: center; font-size: 18px; line-height: 22px; color: #000100;') Ждем Вас на 
      +a(href='') Форуме парикмахеров.
  +trow
    +block('Последние вопросы и темы форума.')
      ul
        li
          +a(href='') 	Репетитор по физике
          br
          | Я работаю учителем физики в школе (профессиональный лицей) более 17 лет, сейчас хотел бы подработать в качестве репетитора. Много слышал про дистанционное образование. Реально ли ...
  +trow
    +block('Можно ли красить наращенные волосы?', {hCol: '#ad2800'})
      p Мы не запрещаем, наши волосы (компании "Волосы 24") можно окрашивать и тонировать. Но мы настоятельно не рекомендуем осветлять их выше того уровня, что есть.
      p А окрашивание или тонировка? Мы рекомендуем остановить выбор на тонировке. Почему? Во-первых это более щадящая процедура не только для наращенных волос, но и для своих!
      p Во-вторых уровни осветления на ваших и наращенных волосах разные (в любом случае!) и по итогу оттенок на ваших волосах и на наращенных может оказаться разным.
      p Мы всегда информируем вас о таких нюансах, но если вы всё-таки рискнёте, то помните:
      ul
        li средства, которые вы выбираете должны быть исключительно профессиональными;
        li мастер, который будет выполнять данные процедуры, должен иметь представление о наращенных волосах и последствиях;
        li волосы для наращивания, над которыми были проведены какие-либо манипуляции обмену и возврату не подлежат
      p На фото наглядный пример того, как идеально наш мастер Дарья протонировала волосы производства компании "Волосы 24" №19 и №22 по нашей палитре под клиента.
      p: img(src='/js/tiny_mce/plugins/imagemanager/65565607_2700921799918116_9104530815802654850_n.jpg' style='max-width: 100%')
  +trow
    +header('Видео мастер-классы')
    +row
      +cell
        +block
          +video('http://i1.ytimg.com/vi/lDxfcg-Q4-g/default.jpg','Из блонда в омбре | airtouch + обратное тонирование')
      +cell
        +block
          +video('http://i1.ytimg.com/vi/lDxfcg-Q4-g/default.jpg','Из блонда в омбре | airtouch + обратное тонирование')
  +trow
    div(style='padding: 16px 0; text-align: center; font-size: 18px; line-height: 22px; color: #000100;') Ждем Вас на 
      +a(href='') Форуме парикмахеров.
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с парикмахерским искусством и индустрией красоты. Это профессиональное сообщество активных и ярких людей, для которых важным является развитие профессиональных и творческих способностей.	
      p На нашем сайте Вы найдете полезную информацию, которая поможет Вам в развитии мастерства и профессионального уровня:
      ul
        li(style='margin-bottom: 8px'): +a(href='/blogs/') Статьи по парикмахерскому искусству
        li(style='margin-bottom: 8px'): +a(href='/portfolio/') Работы из портфолио участников
        li(style='margin-bottom: 8px'): +a(href='/news/') Новости и события в парикмахерском мире
        li(style='margin-bottom: 8px'): +a(href='/videos/') Обучающее видео и мастер-классы
        li(style='margin-bottom: 8px'): +a(href='/job/vacancies/') Вакансии
