extends /blocks/layout-posting/layout-posting

block head
  - header = 'Новости индустрии красоты'
block content
  +trow
    +block('Можно ли красить наращенные волосы?', {hCol: '#ad2800'})
      p Мы не запрещаем, наши волосы (компании "Волосы 24") можно окрашивать и тонировать. Но мы настоятельно не рекомендуем осветлять их выше того уровня, что есть.
      p А окрашивание или тонировка? Мы рекомендуем остановить выбор на тонировке. Почему? Во-первых это более щадящая процедура не только для наращенных волос, но и для своих!
      p Во-вторых уровни осветления на ваших и наращенных волосах разные (в любом случае!) и по итогу оттенок на ваших волосах и на наращенных может оказаться разным.
      p Мы всегда информируем вас о таких нюансах, но если вы всё-таки рискнёте, то помните:
      ul
        li средства, которые вы выбираете должны быть исключительно профессиональными;
        li мастер, который будет выполнять данные процедуры, должен иметь представление о наращенных волосах и последствиях;
        li волосы для наращивания, над которыми были проведены какие-либо манипуляции обмену и возврату не подлежат
      p На фото наглядный пример того, как идеально наш мастер Дарья протонировала волосы производства компании "Волосы 24" №19 и №22 по нашей палитре под клиента.
      p: img(src='http://www.hairlife.ru/js/tiny_mce/plugins/imagemanager/65565607_2700921799918116_9104530815802654850_n.jpg' style='max-width: 100%')
  +trow
    +row
      +cell
        +block('Обсуждение на форуме')
          p: strong Форум руководителей салонов 
          ul
            li: +a(href='') Площадь санузла и других помещений.
          p: strong Форум парикмахеров
          ul
            li: +a(href='') Репетитор по физике
            li: +a(href='') Как восстановить волосы
            li: +a(href='') Помогите с окрашиванием
            li: +a(href='') Стойка администратора
            li: +a(href='') Каким образом можно поднять посещаемость салона?
          p: strong Форум визажистов
          ul
            li: +a(href='') нужен совет
            li: +a(href='') Гель-лаки
          p: strong Форум стилистов, имиджмейкеров
          ul
            li: +a(href='') Модные тусовки для имиджмейкеров.
          p: strong Форум мастеров маникюра
          ul
            li: +a(href='') Аллергия на гель-лак. Обзор аллергика на ТМ Linto
            li: +a(href='') Помогите неправильно провела стерилизацию
            li: +a(href='') Грибок ногтей
          p: strong Форум косметологов
          ul
            li: +a(href='') Прошу совета у коллег
            li: +a(href='') Кто знаком с аппаратом корейского производства Emshape?
            li: +a(href='') Биорепарант + ботулотоксин в одном шприце
          p: strong Форум флористов
          ul
            li: +a(href='') Как начать обучение
      +cell
        +block('Статьи и материалы')
          p: strong Управление салоном
          ul
            li
              +a(href='') 4 полезных совета для владельцев салона красоты.
              br
              | На сегодняшний день бизнес в сфере услуг один из самых распространённых видов деятельности, а салоны красоты есть чуть ли
          p: strong Парикмахерское дело
          ul 
            li
              +a(href='') Филлер для лица
              br
              | Филлеры – это препараты, которые вводятся в ткани лица и тела путем инъекций. Филлеры разглаживают мелкие мимические морщины, корректируют форму
          p: strong Макияж
          ul
            li
              +a(href='') Мастер-класс по оформлению бровей - видеоурок, обучение, фото
              br
              | Мастер-класс по оформлению бровей от визажиста Гринченко
          p: strong Стиль, мода, имидж
          ul
            li
              +a(href='') Мужские запонки - деталь из прошлого
              br
              | Принято думать, что ношение всякого рода аксессуаров - это надел женской части населения. Очень многие
          p: strong Ногтевой сервис
          ul
            li
              +a(href='') Что делать, чтобы ножницы служили долго
              br
              | Что делать, чтобы ножницы служили долго Ножницы - довольно сложный механизм, на работу которого оказывает влияние множество факторов и показателей. Очень
          p: strong Косметология
          ul
            li
              +a(href='') Салициловый пилинг
              br
              | В переводе с латыни salix, значит ива, из коры которой была впервые выделена салициловая кислота. Также ее можно найти в
  +trow
    +header('Новости')
    +row
      +cell
        +block
      +cell
        +block
          p: strong Ногтевой сервис
          ul
            li: +a(href='')  Курс базового маникюра и подолога
  +trow
    +row
      +cell
        +block('Новые резюме')
          ul
            li(style='margin-bottom: 8px')
              +a(href='') Стилист, имиджмейкер, шоппинг-сопровождение
              br
              span(style='color: #9a9a9a;') (г. Москва)
            li(style='margin-bottom: 8px')
              +a(href='') Мастер-парикмахер
              br
              span(style='color: #9a9a9a;') (г. Москва)
            li(style='margin-bottom: 8px')
              +a(href='') мастер ногтевого сервиса
              br
              span(style='color: #9a9a9a;') (г. Ломоносов )
            li(style='margin-bottom: 8px')
              +a(href='') Топ-Стилист
              br
              span(style='color: #9a9a9a;') (г. Санкт-Петербург)
            li(style='margin-bottom: 8px')
              +a(href='') стилист-имиджмейкер
              br
              span(style='color: #9a9a9a;') (г. Москва)
      +cell
        +block('Новые вакансии')
          ul
            li(style='margin-bottom: 8px')
              +a(href='') Парикмахер
              | 
              strong 5000 за выход
              | 
              span(style='color: #9a9a9a;') (г. Москва)
            li(style='margin-bottom: 8px')
              +a(href='') Мастер ногтевого сервиса
              | 
              strong от 40000
              | 
              span(style='color: #9a9a9a;') (г. Мытищи)
            li(style='margin-bottom: 8px')
              +a(href='') Парикмахер-универсал
              | 
              strong от 40000
              | 
              span(style='color: #9a9a9a;') (г. Мытищи)
            li(style='margin-bottom: 8px')
              +a(href='') Мастер Ногтевого сервиса
              | 
              strong 40000
              | 
              span(style='color: #9a9a9a;') (г. Нижний Новгород)
            li(style='margin-bottom: 8px')
              +a(href='') Массажист
              | 
              strong 50 000
              | 
              span(style='color: #9a9a9a;') (г. Москва)
  +trow
    +row
      +cell
        +block('Обучающие мероприятия')

      +cell
        +block('Новые работы из портфолио участников')
          p: strong Прически, стрижки, окрашивание
          p: strong Макияж
          p: strong Nail-дизайн
          p: strong Полный модный образ
  +trow
    +header('Видео мастер-классы')
    +row
      +cell
        +block
          +video('http://i1.ytimg.com/vi/lDxfcg-Q4-g/default.jpg','Из блонда в омбре | airtouch + обратное тонирование')
          +video('http://i1.ytimg.com/vi/bKGp2IwKuV4/default.jpg','Акварель гель лаками / Весенний маникюр 2019')
          +video('http://i1.ytimg.com/vi/GYuEyk9utSs/default.jpg','Возрастной макияж')
          +video('http://i1.ytimg.com/vi/qGgMCVGDGWE/default.jpg','Массаж по методу Панфилова')
      +cell
  +trow 
    div(style='padding-top: 12px; line-height: 1.25; border-top: 1px solid #cb9685')
      p
        strong Hairlife.ru
        |  - интернет проект, главной целью которого является объединение людей тем или иным образом связанных с индустрией красоты и салонным бизнесом. Это сообщество парикмахеров, визажистов, мастеров маникюра, руководителей и администраторов салонов.	
      p Информационная площадка портала предоставляет широкий спектр возможностей всем участникам рынка: салонам красоты, поставщикам и магазинам, парикмахерам и руководителям салонов. Мы постарались собрать наиболее полную информацию об индустрии, ее участниках, товарах и услугах.
      p Возможность найти деловых партнеров, ознакомиться с последними новостями индустрии, организовать продажи своих товаров или найти нужного поставщика, найти информацию по интересующим темам, разместить эффективную рекламу - вот далеко не полный перечень причин, по которым профессионалы ежедневно посещают наш портал.
