extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Рассылки от портала Hairlife.ru')
  p Наш портал ведет 6 рассылок: 
    strong Новости индустрии красоты
    | , 
    strong Управление салоном красоты
    | , 
    strong Профессия - парикмахер
    | , 
    strong Профессия - визажист
    | , 
    strong Профессия - nail мастер
    | , 
    strong Профессия - косметолог
  +grid({parLike:true})
    +grid__item({m:5,s:10,xs:12})
      +newsfeedForm({background: true, more: false})
  h2 Новости индустрии красоты (около 3500 подписчиков)
  p Из данной рассылки Вы сможете узнать обо всех событиях, происходящих в отрасли. Ежедневная лента, освещающая события на рынках оборудования, аксессуаров, инструментов и косметики для салонов красоты. Анонсы салонов красоты, пресс-релизы поставщиков оборудования и косметики. Последние события салонного бизнеса и его участников.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/industry.beauty.parikmaher' target='_blank') Новости индустрии красоты
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedIndustry) Пример выпуска
  h2 Управление салоном красоты (около 1000 подписчиков)
  p В данной рассылке будут публиковаться статьи, раскрывающие различные вопросы управления салоном красоты: менеджмент, управление персоналом, маркетинг. Особенности бизнеса. Юридические и финансовые вопросы.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/business.school.salondirector' target='_blank') Управление салоном красоты
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedSalondirector) Пример выпуска
  h2 Профессия - парикмахер (около 16500 подписчиков)
  p В данной рассылке Вы найдете интересную информацию для парикмахеров и стилистов. Полезный опыт, нестандартные решения и совершенствование мастерства, обучение парикмахерскому искусству, советы опытных мастеров. Все, что может принести пользу в развитии мастерства и профессионального уровня.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/woman.beauty.parikmaher' target='_blank') Профессия - парикмахер
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedParikmaher) Пример выпуска
  h2 Профессия - визажист (11500 подписчиков)
  p В данной рассылке Вы найдете интересную информацию для визажистов и стилистов. Полезный опыт, нестандартные решения и совершенствование мастерства, обучение визажу, советы опытных мастеров. Все, что может принести пользу в развитии мастерства и профессионального уровня.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/woman.beauty.visage' target='_blank') Профессия - визажист
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedVisage) Пример выпуска
  h2 Профессия - стилист, имиджмейкер (500 подписчиков)
  p В данной рассылке Вы найдете интересную информацию для стилистов и имиджмейкеров. Создание образа и стиля, макияж, прическа, одежда, полезный опыт, нестандартные решения и совершенствование мастерства, советы опытных стилистов. Все, что может принести пользу в развитии мастерства и профессионального уровня.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/woman.beauty.stilist' target='_blank') Профессия - стилист, имиджмейкер
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedStilist) Пример выпуска
  h2 Профессия - nail мастер (9000 подписчиков)
  p В данной рассылке Вы найдете интересную информацию для nail мастеров в маникюре, педикюре, ногтевом дизайне, моделировании и наращивании ногтей. Полезный опыт, нестандартные решения и совершенствование мастерства, обучение искусству nail-дизайна, советы опытных мастеров. Все, что может принести пользу в развитии мастерства и профессионального уровня.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/woman.beauty.nailmaster' target='_blank') Профессия - nail мастер
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedNailmaster) Пример выпуска
  h2 Профессия - косметолог (9500 подписчиков)
  p В данной рассылке Вы найдете интересную информацию для косметологов. Материалы по различным процедурам, обучение на косметолога, опыт работы и трудоустройство, бренды (нюансы применения, новинки), косметологическое оборудование. Все, что может принести пользу в развитии мастерства и профессионального уровня.
  p Рассылка выходит при помощи службы Subscribe.ru и собственного сервиса проекта.
  p Адрес рассылки на сайте Subscribe.ru - 
    a(href='http://subscribe.ru/catalog/woman.beauty.kosmetolog' target='_blank') Профессия - косметолог
  h3 Выпуски рассылки
  ul.list-marked
    li: a(href != staticLinks.newsfeedKosmetolog) Пример выпуска
