extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная',' Статьи', 'Управление салоном красоты'], current:'4 полезных совета для владельцев салона красоты'}
block content
  +pageHeader('4 полезных совета для владельцев салона красоты.', {simple:false, add: {name: 'добавить статью', href: staticLinks.addArticle}, rss: false})
  p На сегодняшний день бизнес в сфере услуг один из самых распространённых видов деятельности, а салоны красоты есть чуть ли не на каждой улице наших городов, а то их бывает и по несколько штук.
  p Однако, какой бы не был заманчив данный бизнес, не у многих получается вести его правильно. В больших городах салоны красоты открываются и закрываются чуть ли не каждый день.
  p О том, что может помочь вашему бизнесу выйти вперед будет говориться именно в этой статье.
  p: strong Совет 1. Используем клиентскую базу,повышаем лояльность.
  p У всех салонов красоты есть своя клиентская база, которой они уже могут начать пользоваться.У кого-то она хранится в бумажном блокноте с записью клиентов, кто-то ведет запись в таблицах Excel, кто-то в CRM системах.
  p Но почему-то многие салоны красоты никак не используют свою базу, забывая о базовых вещах, таких как e-mail рассылка, рассылка через различные мессенджеры, предоставление новой акции по телефону.
  p Если учитывать то, что основная аудитория салонов красоты - это женщины, а скоро 8 марта, то отличным вариантом будет подарить вашим клиентам к этому празднику какой-то подарок.Главное,чтобы при виде вашего подарка женщина не хотела тут же от него избавиться, подарите ей что-нибудь милое.Пусть это будет какой-то милый горшочек с цветами,который они могут поставить у себя дома, или ,как вариант - подарочный сертификат.
  p: strong Совет 2. Сокращаем издержки.
  p Переходить ли на более дешевую линию косметики - решать лично Вам. Но вот сократить свои издержки я бы советовал каждому.
  p Один из таких вариантов - это начать использовать современные технологии.
  p Например, чат-бота, который может сократить издержки на 30-40 % при его правильном внедрении.
  p Кстати, к  плюсам чат-ботов еще в том, что они сохраняют всю информацию о вашем клиенте, а что делать дальше с этой информацией - Вы уже знаете.
  p: strong Совет 3.Не забываем про персонал.
  p Поскольку все мастеры в основном имеют процент со сделки, то в  момент кризиса самое главное - это не дать вашему персоналу разбежаться, постоянно мотивировать их, убедить своих сотрудников, что только вместе Вы сможете преодолеть этот этап.
  p Открыто говорите с сотрудниками о трудностях и планах по их преодолению. Клиенты сильно привязаны к своим мастерам, поэтому от сохранения коллектива, возможно, зависит судьба вашего салона.
  p: strong Совет 4. Расширяйтесь!
  p Сейчас хорошее время для того, чтобы начать делать то, чего вы не делали до этого, – например, создавать новые направления внутри салона.
  p Жизнь людей меняется, рынок меняется и наши предприятия должны изменяться. У нас же принято открывать салоны красоты "на века". Это чревато тем, что вы станете очередным безликим салоном красоты или косметологическим центром, ничем не интересным для клиентов.
  p Такой шаг дает возможность найти новые ниши, расширить ассортимент и – снизить цены! То есть в рамках новых направлений Вы можете создавать услуги и ставить цены ниже, чем в основном прайсе. Это позволит Вам не метаться, снижая цены на основные услуги и играя в бесконечные акции, а, предложив новую услугу или анонсировав и реализовав новое направление, дать клиентам выбор и привлечь новых.
  p Например, Вы можете использовать “пакет услуг”, где одновременно будете красить волосы и делать педикюр. Так для клиента получается дешевле и быстрее.
  +articleFooter({
    author: {name: 'Павел Ходак', link: 'peoples-item.html'},
    date: '07.03.2019',
  })
  +listTagsSmall(['продвижение салона', 'управление салоном', 'салон красоты'])
  +likely
  .h2 Статьи по теме:
  ul.list-marked
    li: a(href='') Почему клиенты не возвращаются?
    li: a(href='') Как правильно выбрать консультанта для красивого бизнеса.
    li: a(href='') Как сделать клиентов партнера своими клиентами?
    li: a(href='') Парикмахерские
    li: a(href='') Выбираем оборудование для салона красоты
  .h2 Обсуждения на форуме по теме:
  ul.list-marked
    li: a(href='') Это реальный салон красоты! ( г.Лагос, Нигерия)
    li: a(href='') Список всех журналов в салоне красоты с мед. лицензией
  .h2 Комментарии
  -
    const comments = [
      {
        name: 'Пегарева Ольга Владимировна',
        link: 'peoples-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/users/pers/small_1_1251117362.jpg',
        date: '25.11.2010',
        body: 'Фото хорошие. Да и прическа тоже))). Вот комментарии подкачали. Если сделать к каждому фото подробное описание, то получится ценный учебный материал.',
      },
      {
        name: 'Черная Елена',
        link: 'peoples-item.html',
        image: 'http://www.hairlife.ru/uploaded_files/users/pers/small_293_1292317084.jpg',
        date: '14.12.2010',
        body: 'Коменты-жесть!!!мало того что ничего не понятно-так еще и ошибок море!!',
      },
    ]
  +listComments(comments)
  -
    const commentForm = {
      header: 'Добавить комментарий',
      inputs: [
        {type: 'textarea', name: 'comment'},
      ],
      submit: 'Добавить',
    }
  +grid({parLike: true})#comments
    +grid__item({m:8,s:10,xs:12})
      +form(commentForm)
