extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Конкурсы')
  h2 Статус: Конкурс завершен, идет подсчет оценок, проверка работ и оценка экспертами
  p: strong Тема конкурса: Коммерческий женский образ с элементами креатива
  a(href='http://www.hairlife.ru/account/posts/add_post.html') Добавляйте Ваши мастер-классы
  | , соответствующие теме конкурса в раздел Статьи. И затем предлагайте их на конкурс.
  br
  br
  a(href='http://www.academy-standart.com/ ', target='_blank')
    img(add_image='', image='', src='http://www.hairlife.ru/img/contests/academy-standart.jpg', alt='Academy standart', title='Academy standart', style='border: solid 1px #D3B68A; margin: 0 10px 5px 0; float: left;')
  | Спонсор конкурса: 
  strong Academy standart.
  p
    | Академия красоты и парикмахерского искусства STANDART готовит конкурентоспособных и востребованных специалистов салонного бизнеса, ориентированных на успех в современных условиях динамично развивающейся индустрии красоты.
  p
    | Контакты:
    br
    | Сайт: 
    a(href='http://www.academy-standart.ru', target='_blank') www.academy-standart.ru
    br
    | Санкт-Петербург 
    br
    | +79215813219, 
    a(href='mailto:julia@academy-standart.com') julia@academy-standart.com
  p
    | Лондон
    br
    | +447834569999, 
    a(href='mailto:mariia@academy-standart.com') mariia@academy-standart.com
  p
    strong Задание конкурса:
    |  предоставить информационный материал - процесс выполнения стрижки, окрашивания и конечный
    | вариант работы с фотографиями (От 5 до 20 фото) в виде мастер-класса с пошаговым описанием.
  p Участник должен предоставить фото модели до начала работы.
  p В работе должен быть отображен женский образ.
  p
    | Цвет волос до начала работы должен быть однородный по всей длине (натуральный,
    | окрашенный, осветленный).
  p
    | При окрашивании волос рекомендуется использовать не менее 3-х цветовых нюансов.
    | Окрашивание всей массы волос является обязательным.
  p Использование постижей и наращенных волос не допустимо.
  p
    | Работа участника должна выражать коммерческий стиль, прогрессивный дизайн с
    | акцентом на инновации в области технологий стрижки и окрашивания.
  p
    | Модная прическа, созданная в коммерческом образе, должна быть доступной для
    | выполнения каждому мастеру.
  p
    strong Призы:
  p Победители награждаются дипломами Академии STANDART.
  p
    | за 1 место – сертификат на обучение в Академии STANDART в Лондоне на курсе NEO CLASSIC & SALON CREATIVE
  p
    | за 2 место – сертификат на 30% скидку на обучение в Академии STANDART в Лондоне на курсе NEO CLASSIC & SALON CREATIVE
  p
    | за 3 место - сертификат на 20% скидку на обучение в Академии STANDART в Лондоне на курсе NEO CLASSIC & SALON CREATIVE
  p Визу, перелёт, проживание, питание победители оплачивают самостоятельно.
  p: strong Пожалуйста, отметьте наш конкурс, чтобы о нем узнали ваши друзья!
  +likely
  h2 Правила конкурса
  ul.list-marked
    li В конкурсе могут принять участие мастера из всех регионов России, со стажем работы не менее одного года.
    li На конкурс принимаются фото хорошего качества, где четко видна выполненная работа.
    li В конкурсе может участвовать один мастер-класс от одного автора.
  h2 Конкурсные работы
  p В конкурсе участвует 3 работ от 3 участников
  ul.list-marked
    li
      a(href='blogs-post.html') коммерческая стрижка с элементами креатива
      br
      | Автор: 
      a(href='peoples-item.html') Захарова Евгения
    li
      a(href='blogs-post.html') Мастер-класс
      br
      | Автор: 
      a(href='peoples-item.html') Евгения Тарасова
    li
      a(href='blogs-post.html') Новый путь.
      br
      | Автор: 
      a(href='peoples-item.html') Макеева Ксения
