extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Конкурсы')
  h2 Завершившиеся конкурсы
  h3: a(href='blogs-contest.html') Весенняя интрига
  p: strong Тема: Коммерческий женский образ с элементами креатива
  p
    | Конкурс проводился с 16.03.2012 по 14.07.2012. 
    br
    | В конкурсе принимало участие 3 материалов от 3 участников
  ul.list-marked
    li
      a(href='blogs-post.html') коммерческая стрижка с элементами креатива
      br
      | Автор: 
      a(href='peoples-item.html') Захарова Евгения
    li
      a(href='blogs-post.html') Мастер-класс
      br
      | Автор: 
      a(href='peoples-item.html') Евгения Тарасова
    li
      a(href='blogs-post.html') Новый путь.
      br
      | Автор: 
      a(href='peoples-item.html') Макеева Ксения
