extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Статьи'}
block content
  +pageHeader('Статьи', {simple:false, add: {name: 'добавить статью', href: staticLinks.addArticle}, rss:'http://www.hairlife.ru/blogs/rss/'})
  +pageSection
    +tabs
      +tab({name: 'Категории'})
        -
          const categories = [
            {name:'Стрижки', count:24},
            {name:'Прически', count:15},
            {name:'Маникюр и дизайн ногтей', count:160},
            {name:'Личности', count:5},
            {name:'Управление салоном красоты', count:82},
            {name:'Наращивание волос, плетению косичек и дредов', count:26},
            {name:'SPA', count:24},
            {name:'Мое портфолио', count:8},
            {name:'Профессиональная косметика, бренды', count:26},
            {name:'Оборудование и инструменты', count:35},
            {name:'Окрашивание', count:18},
            {name:'Тенденции в прическах, стрижках и макияже', count:338},
            {name:'Макияж', count:53},
            {name:'Конкурс фото уроков', count:9},
            {name:'Косметология', count:60},
            {name:'Уход за волосами', count:46},
            {name:'Взаимоотношения с клиентами', count:8},
            {name:'Карьера', count:12},
            {name:'Стиль и мода, тенденции', count:35},
            {name:'Волосы и изделия из волос', count:8},
            {name:'Дерматология', count:9},
            {name:'Уход за ногами', count:5},
          ]
        +listCategories(categories)
      +tab({name: 'Метки'})
        -
          const tags = [{name:'коллекция причесок',size:'large'}, 'маникюр', 'салон красоты']
        +listTags(tags)
  +pageSection
    include ../data/list-blogs
    +listBlog(listBlogs)
  +pageSection
    include ../blocks/pagination/pagination
