extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Бренды'], current:'Gamma & Bross Spa'}
block content
  h1 Gamma & Bross Spa
  +grid({parLike:true, paddingy:true, justify: 'center'})
    +grid__item({m:3,s:4,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/brands/big_7_1268338425.jpg' alt='Gamma & Bross Spa' title='Gamma & Bross Spa')
    +grid__item({m:9,s:8,xs:12})
      -
        const properties = [
          {name: 'Страна', value: 'Италия'},
          {name: 'Сайт', value: 'http://www.gammabross.ru/', link: 'http://www.gammabross.ru/'},
        ]
      +properties(properties)
   
  p Поставщиков предоставляющих данный бренд: 1 
    a(href='#' data-mrc-sh-title='brand-provider') показать
  ul.list-marked(data-mrc-sh-body='brand-provider')
    li
      a(href='company-item.html') Хитэк-груп
      |  (г. Москва)
  .h3 Описание:
  p Gamma & Bross SPA представляет оборудование для салонов красоты премиум и люкс класса.
  ul.list-marked.list-marked--w-prev-par
    li Компания ориентирована на тщательное изучение рыночного спроса, осуществление желаний владельца салона и его клиента.
    li Придерживается инновационного подхода к созданию салона. Gamma вывела на рынок новый бренд - MG Bross, способствовавший укреплению позиций компании в продаже мебели, оборудования и аксессуаров класса люкс.
    li Уделяет особое внимание новым модным тенденциям: зеркала, мойки, кресла парикмахерские, выполненные в различных стилях современного дизайна, разрабатывается с учетом уникальности стиля, ориентации на клиента и создания особой атмосферы салона красоты.
    li Пытается предугадать пути развития рынка и предложить уникальный продукт, отличающийся от продуктов конкурентов.
    li Мебель, парикмахерское оборудование, электрика, аксессуары и другая продукция от Gamma & Bross SPA - это создание неповторимого стиля в интерьере и удобства, как для мастера, так и для клиента.
  p И сейчас мало кому известно, что одна из самых известных мировых марок начала свою историю в 1921 году, в маленькой плотницкой мастерской на севере Италии. Именно там было положено начало производству художественной деревянной мебели. Несколько десятилетий прошло с того момента, как в 1968 году владельцы этой мастерской решили заняться производством, а заодно стали устанавливать мебель и оборудование для парикмахерских в близлежащих регионах. Тогда-то мастерская и превратилась в фабрику, стремительно расширяя свое производство, и уже через 10 лет имя Gamma Arridamenti стало известно широкому кругу потребителей на обширном внутреннем рынке Италии.
  p А еще через 10 лет, в 1990 году, теперь уже крупная компания, с собственными заводами и обширными складскими помещениями, Gamma Arridamenti предложила свое парикмахерское оборудование для салонов красоты европейскому рынку, начиная с Бельгии, Германии и Франции, а затем вышла на мировой рынок, охватив территории на Дальнем Востоке, в Тихом Океане и в США.
  p Сама же компания активно расширяет территорию своего влияния, включая в эту область уже и Средний Восток, Канаду. К концу 90х была сформирована дистрибьюторская сеть в Европе, теперь продукция бренда Gamma Arridamenti широко представлена на территории Западной Европы и Великобритании, развивается дистрибьюторская сеть в Португалии, а также Румынии, Сербии и других странах Восточной Европы.
  p Для удовлетворения растущего мирового спроса компания строит новые производственные здания и склады общей площадью более 5000 кв.метров, для клиентов открывается новый выставочный зал, где представлены все коллекции, площадью более 1000 кв. метров, а также и залы в Нью-Йорке и Париже. В середине 90х оборудование для парикмахерских и другая продукция Gamma & Bross впервые была представлена на Российском рынке.
  p Сегодня Gamma & Bross SPA - одна из наиболее успешных компаний, представленных на рынке мебели и оборудования для салонов, ставшая лидером в сегменте класса люкс. Бренды Gamma & Bross SPA представлены по всему миру в более чем сорока странах через эксклюзивных дистрибьюторов и агентов.
  .h3 Похожие бренды:
  ul.list-marked.list-marked--w-prev-par
    li: a(href='brands-item.html') La Biosthetique
    li: a(href='brands-item.html') KMS California
    li: a(href='brands-item.html') Simone
    li: a(href='brands-item.html') Cadiveu Professional
    li: a(href='brands-item.html') FINITI
