extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Спасибо за регистрацию Вашей компании на портале Hairlife.ru')
  p После проверки регистрационных данных администрацией портала информация о&nbsp;Вашей компании будет опубликована на&nbsp;страницах портала и&nbsp;станет доступна всем посетителям.
  p Уведомление о&nbsp;результатах проверки будет отправлено на&nbsp;Ваш личный E-mail, указанный при регистрации.
  p Уже сейчас&nbsp;Вы можете дополнить информацию о&nbsp;своей компании: 
    a(href=staticLinks.accountCompanyAddLogo) загрузить логотип
    | , 
    a(href=staticLinks.accountCompanyAddPrice) загузить прайс-лист
    | , 
    a(href=staticLinks.accountCompanyAddMap) добавить схему проезда
    | , 
    a(href='/account/company/edit_services.html') указать список услуг
    |  и&nbsp;
    a(href=staticLinks.accountCompanyProducts) список продукции
    | .
  p: a(href=staticLinks.accountCompanyAddLogo).btn Дополнить информацию о компании
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
