extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Все компании', {simple:false, add: {name: 'добавить компанию', href: staticLinks.addCompany}, rss:false})
  +pageSection
    p: a(href='#' data-mrc-sh-title='companies-search'): strong Поиск компаний:
    form.form(data-mrc-sh-body='companies-search')
      +grid({ parLike: true})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'text', name: 'name', label: 'Название:'})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'country_id', label: 'Страна:', options: ['- Выберите страну -','Россия','Украина','Беларусь','Австралия','Австрия','Азербайджан','Аргентина']})#country_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -','Москва','Санкт-Петербург','Кимовск','Рыльск','Абаза','Абакан','Абинск','Агидель','Адлер к.п.','Азнакаево','Азов','Айхал п.',]})#city_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'comp_line_id', label: 'Сфера деятельности:', options: ['- Выберите -','Оборудование для салонов','Косметическая продукция','Инструменты и аксессуары','Расходные материалы и одежда','Волосы и изделия из волос','Одежда, обувь, аксессуары','Услуги салона красоты','Медицинские услуги в сфере трихологии','Профессиональное обучение','Тематическое СМИ','Организация выставок','Программное обеспечение','Профессиональная ассоциация','Подбор персонала','Консалтинговые и бизнес услуги','Ремонт и обслуживание инструментов и оборудования',]})#comp_line_id
        +grid__item({xs:12})
          +grid
            +grid__item({s:4,xs:12}).form__submit: button(type='submit').btn Найти 
  +pageSection
    include ../data/list-companies
    +listCompanies(companiesList)
  +pageSection
    include ../blocks/pagination/pagination
  +pageSection
    .h3 Быстрые ссылки:
    ul.list-marked
      li: a(href='/') Косметика для салонов красоты - Санкт-Петербург - Россия
      li: a(href='/') Салоны красоты и парикмахерские - Санкт-Петербург - Россия
      li: a(href='/') Обучение парикмахеров - Санкт-Петербург - Россия
      li: a(href='/') Салоны красоты и парикмахерские - Санкт-Петербург - Россия
      li: a(href='/') Одежда, обувь, аксессуары - Санкт-Петербург - Россия
block pageBottom
  p Для любого человека, в&nbsp;каком&nbsp;бы он&nbsp;регионе не&nbsp;проживал, немалый интерес представляют парикмахерские компании. Для одних людей&nbsp;&mdash; это прекрасное место найти истинно своего, высококвалифицированного мастера, который&nbsp;бы на&nbsp;протяжении всей жизни мог качественно заботиться о&nbsp;состоянии их&nbsp;волос. Для других парикмахерские фирмы&nbsp;&mdash; место закупки профессионального оборудования, инструментария, аксессуаров, расходных материалов, брендовых средств высокого качества, обеспечивающих комплексный уход за&nbsp;волосами. Для кого-то обращение в&nbsp;парикмахерскую компанию&nbsp;&mdash; это шанс пройти путь от&nbsp;начинающего парикмахера к&nbsp;профессионалу высшего звена, поскольку данные организации достаточно часто организовывают различные обучающие мероприятия для всех желающий.
  p В&nbsp;любом случае цель деятельности каждой парикмахерской фирмы&nbsp;&mdash; созидательная. Поскольку ее&nbsp;сотрудники прикладывают максимум усилий для того, чтобы позволить людям реализовать их&nbsp;мечты, желания, стремления в&nbsp;плане карьерного, профессионального или&nbsp;же личностного роста. Принимая во&nbsp;внимание все это, мы&nbsp;создали на&nbsp;нашем ресурсе специальный раздел, в&nbsp;котором&nbsp;бы информацию о&nbsp;своей деятельности могли публиковать абсолютно все парикмахерские компании. Ведь за&nbsp;счет этого у&nbsp;них появляется шанс делать реальные шаги на&nbsp;пути ко&nbsp;взаимовыгодному сотрудничеству со&nbsp;своими потенциальными клиентами. Попадая в&nbsp;каталог на&nbsp;проекте Hairlife.ru, данные организации становятся узнаваемыми в&nbsp;глазах собственной целевой аудитории&nbsp;и, соответственно, востребованными.
  p Помогая развиваться нашему порталу, парикмахерские фирмы развивают собственные партнерские отношения. Таким образом, путем освещения собственной деятельности, публикации выгодных предложений и&nbsp;акций, расписаний обучающих курсов, формируется здоровый симбиоз, приносящий одинаково выгодные условия для нашего информационного проекта и&nbsp;организаций парикмахерской сферы.
