extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Компании','Волосы 24'], current:'Акции'}
block content
  +pageSection
    +pageHeader('Волосы 24: Акции', {simple:false, add: {name: 'добавить компанию', href: staticLinks.addCompany}, rss:false})
    include ../data/company
    +tabsNonInteractive([
      {name:'Страница компании',link:'companies-item.html'},
      {name:'Сотрудники',link:'companies-item-staff.html'},
      {name:'Продукция и услуги',link:'companies-item-services.html'},
      {name:'Новости',link:'companies-item-news.html'},
      {name:'Акции',link:'companies-item-discounts.html', active: true},
      {name:'Вакансии',link:'companies-item-vacancies.html'},
    ])
    ul.list-marked
      each item in companyInfo.discounts
        li
          a(href='discounts-item.html') !{item.name}
          br
          | !{item.date}
block aside
  include ../data/companies-item-aside-menu
  +asideMenu(companiesItemAsideMenu)
