extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Компании','Волосы 24'], current:'Сотрудники'}
block content
  +pageSection
    +pageHeader('Волосы 24: Сотрудники', {simple:false, add: {name: 'добавить компанию', href: staticLinks.addCompany}, rss:false})
    include ../data/company
    +tabsNonInteractive([
      {name:'Страница компании',link:'companies-item.html'},
      {name:'Сотрудники',link:'companies-item-staff.html', active: true},
      {name:'Продукция и услуги',link:'companies-item-services.html'},
      {name:'Новости',link:'companies-item-news.html'},
      {name:'Акции',link:'companies-item-discounts.html'},
      {name:'Вакансии',link:'companies-item-vacancies.html'},
    ])
    +listUsers(companyInfo.staff)
block aside
  include ../data/companies-item-aside-menu
  +asideMenu(companiesItemAsideMenu)
