extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Компании','Волосы 24'], current:'Продукция и услуги'}
block content
  +pageSection
    +pageHeader('Волосы 24: Продукция и услуги', {simple:false, add: {name: 'добавить компанию', href: staticLinks.addCompany}, rss:false})
    include ../data/company
    +tabsNonInteractive([
      {name:'Страница компании',link:'companies-item.html'},
      {name:'Сотрудники',link:'companies-item-staff.html'},
      {name:'Продукция и услуги',link:'companies-item-services.html', active: true},
      {name:'Новости',link:'companies-item-news.html'},
      {name:'Акции',link:'companies-item-discounts.html'},
      {name:'Вакансии',link:'companies-item-vacancies.html'},
    ])
    +grid({paddingy: true, parLike: true})
      +grid__item({m:4,s:6,xs:12})
        h2 Продукция
        each item in companyInfo.products
          p: strong !{item.name}
          ul.list-marked.list-marked--w-prev-par
            each i in item.list
              li !{i}
      +grid__item({m:4,s:6,xs:12})
        h2 Товары
        ul.list-marked
          each item in companyInfo.merchandise
            li: a(href='trade-subcat.html') !{item}
block aside
  include ../data/companies-item-aside-menu
  +asideMenu(companiesItemAsideMenu)
