extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Компании'], current:'Волосы 24'}
block content
  +pageSection
    +pageHeader('Волосы 24', {simple:false, add: {name: 'добавить компанию', href: staticLinks.addCompany}, rss:false})
    include ../data/company
    +tabsNonInteractive([
      {name:'Страница компании',link:'companies-item.html', active: true},
      {name:'Сотрудники',link:'companies-item-staff.html'},
      {name:'Продукция и услуги',link:'companies-item-services.html'},
      {name:'Новости',link:'companies-item-news.html'},
      {name:'Акции',link:'companies-item-discounts.html'},
      {name:'Вакансии',link:'companies-item-vacancies.html'},
    ])
    +grid({paddingy:true, justify: 'center', parLike:true})
      +grid__item({m:3,s:4,xs:6})
        img(src='http://www.hairlife.ru/uploaded_files/companies/logos/big_813_1360230987.jpg' alt='Волосы 24' title='Волосы 24')
      +grid__item({m:9,s:8,xs:12})
        +properties(companyInfo.basic)
    .h2 Описание деятельности:
    +createElement(companyInfo.description)
    .h3: a(href='#' data-mrc-sh-title='company-request').link-tertiary Отправить запрос в компанию:
    +grid({parLike: true})(data-mrc-sh-body='company-request')
      +grid__item({m:8,s:10,xs:12})
        +form({
          inputs: [
            {type: 'text', id: 'subject', name: 'subject', label: 'Тема запроса:'},
            {type: 'textarea', id: 'request', name: 'request', label: 'Текст запроса:'},
          ],  
          submit: 'Отправить'
        })
block aside
  include ../data/companies-item-aside-menu
  +asideMenu(companiesItemAsideMenu)
