extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Акции'], current:'- 12% Скидка на Авторскйи курс Базовое и Модное окрашивание'}
block content
  +pageSection
    +pageHeader('Архив спецпредложений и акций', {simple:false, add: {name: 'добавить акцию', href: staticLinks.addDiscounts}, rss:false})
    +grid({paddingy: true, parLike: true, justify: 'center'})
      +grid__item({m:3,s:4,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/discounts/big_217_1506337216.jpg' alt='Большой курс по маникюру за небольшие деньги' title='Большой курс по маникюру за небольшие деньги')
      +grid__item({m:9,s:8,xs:12})
        -
          const discountProperties = [
            {name: 'Город', value: 'Санкт-Петербург'},
            {name: 'Компания', value: 'Academy Fashion Kings', link: 'companies-item.html'},
            {name: 'Срок действия', value: '<strong>01.09.2017 - 31.10.2017</strong>'},
          ]
        +properties(discountProperties)
    p Скидка 12% действует только при записи на курс в сентябре и октябре. При бронировании места на оба курса Базовое окрашивание + Модное окрашивание дополнительная скидка 5% на каждый! Чтобы оставить предварительную заявку на обучение, вы можете: • позвонить по тел. 8 (812) 945-14-29 (с 10 до 20) Авторский курсы "Окрашивание волос" - это: 12000 р - 12% =10500 р. + доп 5% (два курса) = 19950 р за оба курса (База + Модное) Базовое окрашивание - Индивидуальное обучение, Понятие цвета. Основы цветоведения. Цветовой круг. Окрашивание тон в тон и тонирование.Осветление. Понятие и виды. Цветовые нюансы. Колорирование. Отработка практики на модели. Модное окрашивание - Индивидуальное обучение, курс рассчитан для действующих мастеров и учеников прошедших базовый курс. Общие понятия о техниках рассветления. Шатуш, Омбре, Калифорнийское мелирование, Брондирование - общие черты и различия.Пошаговая техника для каждого рассветления. Работа с моделью, практическая отработка. Автор и преподаватель курсов Конская Нина - Профессиональный стилист, парикмахер, имиджмейкер, тренер. Финалист конкурса Wella Trend Vision в категории «Окрашивание». Лауреат премии Russian Hairdressing. Чемпион Санкт-Петербурга и Москвы. 1 день с 11:00 до 18:00. (отработка с 14:00 или 13:00) По окончанию обучения выдается именной сертификат (дополнительно возможно получить сертификат по международному стандарту - уточняйте заранее) ✆ т. 8 (812] 945-14-29 Россия, Санкт-Петербург (10:00-20:00) 
    +likely
    p: a(href != staticLinks.news).link-arrow к списку новостей
