extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Спецпредложения и акции'}
block content
  +pageHeader('Спецпредложения и акции', {simple:false, add: {name: 'добавить акцию', href: staticLinks.addDiscounts}, rss:false})
  +pageSection
    p В настоящее время новых спецпредложений и акций нет.
  +pageSection
    p: a(href != staticLinks.discountsArchive) Архив спецпредложений и акций
