extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Выставки'}
block content
  +pageHeader('Архив спецпредложений и акций', {simple:false, add: {name: 'добавить акцию', href: staticLinks.addDiscounts}, rss:false})
  +pageSection
    include ../data/list-discounts
    +listArticles(discountsList)
  +pageSection
    include ../blocks/pagination/pagination
    p: a(href != staticLinks.discounts) Текущие спецпредложения и акции
