extends /blocks/layout-account/layout-account
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Дополнительное образование')
  +grid({parLike: true, paddingy: true})
    +grid__item({m:8,s:10,xs:12})
      -
        const formAccountEditEducationAdditional = {
          fields: [
            {
              type: 'select',
              name: 'addit_degree_country_id',
              id: 'dd_country_id',
              label: 'Страна:',
              options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'select',
              name: 'addit_degree_city_id',
              id: 'dd_city_id',
              label: 'Город:',
              options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'text',
              name: 'addit_degree_org_name',
              id: 'addit_degree_org_name',
              label: 'Название организации или учебного заведения:',
              clarification: 'Например: Международный Учебный Центр «Май» или Школа-студия Дениса Осипова',
              required: true,
            },
            {
              type: 'text',
              name: 'course_name',
              id: 'course_name',
              label: 'Название программы или курса:',
              clarification: 'Например: Курс повышения квалификации или Наращивание волос',
              required: true,
            },
            {
              type: 'text',
              name: 'end_date',
              id: 'end_date',
              label: 'Год окончания:',
              clarification: 'Год в виде ГГГГ.<br>Например: 2006',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAccountEditEducationAdditional)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
