extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Выставки'], current:'Central Asia Beauty Expo 2019'}
block content
  +pageSection
    +pageHeader('Central Asia Beauty Expo 2019')
    +grid({paddingy: true, parLike: true, justify: 'center'})
      +grid__item({m:3,s:4,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/exhibitions/img/big_422_1558944401.jpg' alt='' title='')
      +grid__item({m:9,s:8,xs:12})
        h2 Выставка Central Asia Beauty Expo 2019
        -
          const exhibitionPropertioes = [
            {name: 'Город', value: 'Алматы (Казахстан)'},
            {name: 'Дата проведения', value: '08.08.2019 - 10.08.2019'},
            {name: 'Место проведения', value: 'МВК "Атакент-Экспо"'},
            {name: 'Организатор', value: 'NS Expo'},
          ]
        +properties(exhibitionPropertioes)
    h2 Описание:
    p Международная выставка красоты и косметики Central Asia Beauty Expo - крупнейшее событие в сфере красоты на территории Казахстана и Средней Азии.
    p Индустрия красоты это сложный высококонкурентный бизнес. В Казахстане активно увеличивается количество компаний, предлагающих различные косметические средства по уходу за собой, декоративную косметику, косметологические услуги, спа-процедуры и парфюмерию.
    p В связи с ростом потребителей повышается значимость этого сектора, что является стимулом для развития данной отрасли.
    p Разделы выставки:
    ul.list-marked
      li Средства личной гигиены
      li Парфюмерия и дезодоранты
      li Профессиональное оборудование и продукция для парикмахерских салонов, для салонов красоты и спа-центров
      li Профессиональная, лечебная и декоративная косметика
      li Натуральная и дермо косметика
      li Все для волос
      li Ногтевой сервис
      li Чистящие и моющие средства
      li Аппаратная и эстетическая косметология, пластическая хирургия
      li биологически активные добавки
      li Фармацевтика, космецевтика, БАДы
      li Специализированные учебные центры, школы
  +pageSection
    +likely
    p: a(href != staticLinks.news).link-arrow к списку выставок
