extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Выставки'}
block content
  +pageHeader('Выставки')
  +pageSection
    include ../data/list-exhibitions
    +listArticles([exhibitionsList[0]])
  +pageSection
    p: a(href != staticLinks.pastExhibitions) Прошедшие выставки
