extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Выставки'}
block content
  +pageHeader('Выставки')
  +pageSection
    include ../data/list-exhibitions
    -
      const list = exhibitionsList.slice(1)
    +listArticles(list)
  +pageSection
    include ../blocks/pagination/pagination
    p: a(href != staticLinks.exhibitions) Будущие выставки
