extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-topic/forum-topic
include /blocks/forum-message/forum-message
include /blocks/forum-service-links/forum-service-links
include /blocks/forum-tags/forum-tags
include /blocks/forum-reply/forum-reply

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Начинающий мастер')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Форум парикмахеров','Профессия - парикмахер','Медицинские книжки парикмахеров'], current: 'Добавление ответа'})
    +pageSubsection
      -
        const forum = {
          settings: {type: 'search'}, 
          header: {
            name: 'Сообщений найдено [ 7 ]',
          },
          list: [
            {
              author: { 
                name: 'songtao',
              },
              date: '11.10.2017 18:12:24',
              topic: 'Re: Парики',
              forum: 'Постижерное искусство',
              replies: 11,
              body: [
                'Конечно,  выбор  качества  парик  ,  теперь  парик  лучше и дешевле  ,  я часто  в  этот сайт  купить ',
                {tag: 'a', attr: {href:'https://www.juleehair.com/human-hair-weave.html'}, content: 'https://www.juleehair.com/human-hair-weave.html'},
                {tag: 'div', className: 'quotebox', content:[
                  {tag: 'cite', content: 'songtao'},
                  {tag: 'blockquote', content:
                    {tag: 'p', content: 'Конечно,  выбор  качества  парик  ,  теперь  парик  лучше и дешевле  ,  я часто  в  этот сайт  купить'},
                  },
                  {tag: 'div', className: 'quotebox', content:[
                    {tag: 'cite', content: 'songtao'},
                    {tag: 'blockquote', content:[
                      {tag: 'p', content: 'Конечно,  выбор  качества  парик  ,  теперь  парик  лучше и дешевле  ,  я часто  в  этот сайт  купить'},
                    ]}
                  ]}
                ]}
              ],
            },
            {
              author: {
                name: 'талина',
              },
              date: '23.03.2017 10:01:28',
              topic: 'Re: Парики',
              forum: 'Постижерное искусство',
              replies: 11,
              body: ['вы можно туда сморть', {tag: 'a', attr: {href:'http://ru.unice.com/'}, content: 'http://ru.unice.com/'}, 'Том есть многи торогой выбор от наращивание волосы.парик.на капсулах.на лентах.на заколках'],
            },
            {
              author: {
                name: 'Яна Смирнова',
              },
              date: '03.03.2017 22:54:15',
              topic: 'Тема: Парики',
              forum: 'Постижерное искусство',
              replies: 11,
              body: 'Очень давно хочется длинные волосы, свои как не стараюсь, не отрастают до нужной длинны. Наращивать не буду, так как не сторонник этого. Знакомая посоветовала купить парик. Подскажите, их сейчас носят? И как вы относитесь к парикам?',
            },
            {
              author: {
                name: 'Дина',
              },
              date: '17.02.2017 21:58:52',
              topic: 'Тема: Перевозка парика',
              forum: 'Стиль',
              body: 'ношу парик и часто путешествую, столкнулась с проблемой перевозки, ведь подставку с собой возить не удобно, а каждый раз покупать новую слишком затратно, можете что либо посоветовать?',
            },
          ]
        }
      +forumServiceLinks({type: 'search'})
      +forumTopic(forum)
      +forumServiceLinks({type: 'search'})
