extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-block/forum-block
include /blocks/forum-stats/forum-stats
include /blocks/forum-service-links/forum-service-links
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Последние темы форумов')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Главная страница форума'], current: 'Последние темы форумов'})
    +pageSubsection
      -
        const topics = {
          settings: {
            type: 'search',
            pages: 3,
          },
          header: {
            name: 'Темы [ с 1 по 30 из 353 ]',
          },
          list: [
            {
              name: 'Прически и укладки',
              author: 'Марина',
              pages: 5 ,
              answers: 295,
              views: 6078,
              last: {
                date: '22.09.2019 23:51:47',
                author: 'Марина Одинцова',
              },
              settings: {
                important: true,
                icon: 'new',
              },
            },
            {
              name: 'Медицинские книжки парикмахеров',
              author: 'Ольга Елисеева',
              answers: 19,
              views: 36702,
              last: {
                date: '22.09.2019 22:50:12',
                author: 'Светлана Карасева',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Школы для повышения квалификации.',
              author: 'Дарья',
              answers: 1,
              views: 1159,
              last: {
                date: '22.09.2019 22:49:07',
                author: 'Светлана Карасева',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Курсы или индивидуальное обучение!',
              author: 'Оксана Курка',
              pages: 6,
              answers: 139,
              views: 86663,
              last: {
                date: '22.09.2019 22:47:25',
                author: 'Светлана Карасева',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Боюсь начать работать..',
              author: 'Анастасия Игоревна',
              answers: 11,
              views: 4749,
              last: {
                date: '06.09.2019 13:14:09',
                author: 'Анна Экер',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'смена место работы',
              author: 'Айжан Осмонова',
              answers: 2,
              views: 1525,
              last: {
                date: '23.07.2019 02:25:14',
                author: 'Марина Потапова',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Парикмахерское дело',
              author: 'Ольга Дубова',
              pages: 7,
              answers: 154,
              views: 89901,
              last: {
                date: '12.06.2019 10:22:27',
                author: 'Стас Лукянов',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Мастера которые работают в домашних условиях. Работа на дому.',
              author: 'Зинаида',
              pages: 16,
              answers: 395,
              views: 204768,
              last: {
                date: '01.06.2019 12:59:20',
                author: 'Анастасия Солопихина',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Что бы вас заставило сменить краситель на котором работаете?',
              author: 'Наталья Гопайца',
              answers: 1,
              views: 871,
              last: {
                date: '18.04.2019 15:59:43',
                author: 'Ольга Архангельская',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'Акции для привлечения клиентов',
              author: 'Озерцова Ирина',
              pages: 5,
              answers: 117,
              views: 151521,
              last: {
                date: '09.04.2019 18:31:15',
                author: 'Захар Сосновский',
              },
              settings: {
                icon: 'new',
              },
            },
            {
              name: 'прокачка своего опыта',
              author: 'Алексей Нотбек',
              answers: 13,
              views: 4329,
              last: {
                date: '04.03.2019 19:28:43',
                author: 'Анна Решетова',
              },
              settings: {
                icon: 'new',
              },
            },
          ]
        }
      +forumBlock(topics)
      +forumServiceLinks({type: 'search'})
block pageBottom
  p Форум участников индустрии красоты представляет собой площадку, где каждый участник может найти ответ на волнующие его вопрос, ознакомится с мнениями участников на актуальные темы, получить консультацию от коллег или просто пообщаться с разными людьми. На нашем парикмахерском форуме и других форумах регулярно встречаются новички и профессионалы своего дела, ведущие активное обсуждение.
  p Один из самых счастливых моментов в жизни – это радость общения. Ведь всегда можно узнать много нового, интересного. И особенно, если это общение парикмахеров, коллег и единомышленников, товарищей по духу.
  p Портал индустрии красоты Hairlife.ru – это профессиональный ресурс для парикмахеров, созданный специально для обмена информацией, секретов и методик искусства красоты. На форуме парикмахеров есть место, как и для начинающих мастеров, так и для профессионалов высокого класса. Помните, что общение парикмахеров обеспечивает всестороннее развитие и высокий уровень знаний, и навыков нашей любимой профессии.
  p Для вас не останется никаких тайн, “скользких” мест и затруднений. Любая прическа, стрижка, окрашивание волос – все ответы вы отыщите на парикмахерском форуме.
  p Благодаря экспертным мнениям и советам, вы не только сможете создать элегантный и эксклюзивный образ, но и создадите свой индивидуальный и неповторимый стиль.
  p Постоянный контакт парикмахеров обеспечивается большим разнообразием специальных форумов. И не важно, владелец ли вы салона красоты, косметолог, стилист или визажист, вы всегда найдете своих единомышленников и коллег. Поскольку для каждого направления существует свой парикмахерский форум.
  p Кроме этого на нашем сайте вы найдете специальную учебную литературу, необходимые видеоматериалы и эксклюзивные статьи. Ежедневно сайт обновляется полезными материалами, созданными участниками портала Hairlife.ru. Всё – таки, контакт парикмахеров необходим постоянно.
  p Присоединяйтесь к специальному форуму парикмахеров, ведь здесь вы найдете множество подруг и друзей, объединенных одним интересным увлечением. Тем более, что теперь у вас есть удобная и интересная площадка для общения. Парикмахерский форум ждет вас!
