extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-block/forum-block
include /blocks/forum-stats/forum-stats

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Общение участников индустрии красоты')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      .h2 Последние темы форумов
      -
        const lastTopics = [
          {
            name: 'Насадки для остер',
            desc: 'Подскажите пожалуйста где можно приобрести насадки для остер поштучно не в наборе ...',
          },
          {
            name: 'Удобно ли работать парикмахером в контактных линзах',
            desc: 'У меня вопрос к опытным мастерам парикмахерам, удобно ли работать в контактных линзах, хочу в ...',
          },
          {
            name: 'Сыворотка для лица. Какую использовать?',
            desc: 'Девочки подскажите кто какой сывороткой пользуется? Раньше использовала Формест, хочу поменять. ...',
          },
          {
            name: 'Смешивания продуктов разных брендов',
            desc: 'Дорогие коллеги можно ли, и делаете ли вы комбинирование косметики различных фирм в одном уходе. ...',
          },
          {
            name: 'Сухая кожа',
            desc: 'Всем привет! Девочки, с приходом холодов и включением отопления с кожей твориться что-то страшное. Ноги, ...',
          },
        ]
      ul.list-marked
        each item in lastTopics
          li
            a(href='forum-topic.html') !{item.name}
            br
            | !{item.desc}
    -
      const forum = {
        header: {
          name: 'Форум парикмахеров',
          href: 'forum-category.html',
        },
        list: [
          {
            name: 'Профессия - парикмахер',
            description: 'Вопросы профессии, особенности, интересы, фишки. Парикмахерское дело как творчество.',
            moderator: 'Новикова Ольга Ивановна',
            topics: 76,
            messages: 3214,
            last: {
              date: '22.09.2019 22:50:12',
              author: 'Светлана Карасева',
            },
          },
          {
            name: 'Начинающий мастер',
            description: 'Вопросы от начинающих мастеров',
            moderator: 'Новикова Ольга Ивановна',
            sub: ['Окрашивание','Стрижка',{name: 'Прически и укладки', sub: ['Укладки']}],
            topics: 353,
            messages: 5467,
            last: {
              date: 'Сегодня 18:33:41',
              author: 'Пяточкина',
            },
            settings: {
              icon: 'new',
            }
          },
          {
            name: 'Стрижка',
            description: 'Делимся опытом различными техниками и схемами стрижек. Обсуждение стрижек и причёсок. Практические занятия, тенденции моды.',
            moderator: 'Новикова Ольга Ивановна',
            topics: 295,
            messages: 6078,
            last: {
              date: '22.09.2019 23:51:47',
              author: 'Марина Одинцова',
            },
          },
          {
            name: 'Прически и укладки',
            description: 'Способы укладки и создания причесок. Различные технологии создания вечерних и свадебных причесок. Применение резинок, шпилек, заколок, украшений. Укладочные средства.',
            moderator: 'Новикова Ольга Ивановна',
            sub: ['Укладки'],
            topics: 187,
            messages: 3602,
            last: {
              date: '09.11.2019 14:07:50',
              author: 'Елена Кузнецова',
            },
          },
          {
            name: 'Создание стиля и образа',
            description: 'Вопросы по созданию стиля и образа, тенденции в моде. (Этот раздел перенесен)',
            settings: {
              icon: 'redirect',
            },
          },
          {
            name: 'Обучение парикмахерскому искусству',
            description: `Обсуждение школ и центров. Отзывы об авторских семинарах, тренингах и курсах парикмахеров. <strong>Все семинары и курсы можно размещать только в разделе <a href="${staticLinks.seminars}">Обучающие мероприятия.</a></strong>`,
            moderator: 'Новикова Ольга Ивановна',
            sub: ['Семинары, мастер-классы, курсы парикмахеров','Парикмахерские школы, обучающие центры и академии','Обучающие материалы, видео, книги по парикмахерскому искусству'],
            topics: 121,
            messages: 694,
            last: {
              date: '29.10.2019 16:32:50',
              author: 'Диана Герман',
            },
          },
        ]
      }
    +pageSubsection
      +forumBlock(forum)
    +pageSubsection
      +forumBlock(forum)
    +pageSubsection
      +forumStats()
block pageBottom
  p Форум участников индустрии красоты представляет собой площадку, где каждый участник может найти ответ на волнующие его вопрос, ознакомится с мнениями участников на актуальные темы, получить консультацию от коллег или просто пообщаться с разными людьми. На нашем парикмахерском форуме и других форумах регулярно встречаются новички и профессионалы своего дела, ведущие активное обсуждение.
  p Один из самых счастливых моментов в жизни – это радость общения. Ведь всегда можно узнать много нового, интересного. И особенно, если это общение парикмахеров, коллег и единомышленников, товарищей по духу.
  p Портал индустрии красоты Hairlife.ru – это профессиональный ресурс для парикмахеров, созданный специально для обмена информацией, секретов и методик искусства красоты. На форуме парикмахеров есть место, как и для начинающих мастеров, так и для профессионалов высокого класса. Помните, что общение парикмахеров обеспечивает всестороннее развитие и высокий уровень знаний, и навыков нашей любимой профессии.
  p Для вас не останется никаких тайн, “скользких” мест и затруднений. Любая прическа, стрижка, окрашивание волос – все ответы вы отыщите на парикмахерском форуме.
  p Благодаря экспертным мнениям и советам, вы не только сможете создать элегантный и эксклюзивный образ, но и создадите свой индивидуальный и неповторимый стиль.
  p Постоянный контакт парикмахеров обеспечивается большим разнообразием специальных форумов. И не важно, владелец ли вы салона красоты, косметолог, стилист или визажист, вы всегда найдете своих единомышленников и коллег. Поскольку для каждого направления существует свой парикмахерский форум.
  p Кроме этого на нашем сайте вы найдете специальную учебную литературу, необходимые видеоматериалы и эксклюзивные статьи. Ежедневно сайт обновляется полезными материалами, созданными участниками портала Hairlife.ru. Всё – таки, контакт парикмахеров необходим постоянно.
  p Присоединяйтесь к специальному форуму парикмахеров, ведь здесь вы найдете множество подруг и друзей, объединенных одним интересным увлечением. Тем более, что теперь у вас есть удобная и интересная площадка для общения. Парикмахерский форум ждет вас!
