extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-topic/forum-topic
include /blocks/forum-message/forum-message
include /blocks/forum-service-links/forum-service-links
include /blocks/forum-tags/forum-tags
include /blocks/forum-reply/forum-reply

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Начинающий мастер')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Форум парикмахеров','Профессия - парикмахер'], current: 'Медицинские книжки парикмахеров'})
    +pageSubsection
      +forumServiceLinks({type: 'topic'})
      -
        const forum = {
          settings: {type: 'topic'}, 
          header: {
            name: 'Сообщений [ 6 ]',
          },
          list: [
            {
              author: {
                name: 'Валерия Им',
                status: 'Участник',
                photo: 'http://www.hairlife.ru/uploaded_files/users/pers/small_584_1565866038.jpg',
                rating: 17,
                stats: [
                  {name: 'Зарегистрирован', value: '15.08.2019'},
                  {name: 'Сообщений', value: 15},
                ]
              },
              date: '21.08.2019 05:25:34',
              body: 'Есть постоянные клиенты, разовые редко когда бывают. Расположение салона хорошее, может у людей просто денег нет?',
            },
            {
              author: {
                name: 'аксинья строкова',
                status: 'Участник',
                rating: 4,
                stats: [
                  {name: 'Зарегистрирован', value: '18.06.2019'},
                  {name: 'Сообщений', value: 10},
                ]
              },
              date: '29.08.2019 14:51:16',
              body: 'Реклама - двигатель торговли. В инсте, телеграме, фб, вк, везде активно продвигайтесь.',
            },
            {
              author: {
                name: 'Галина Обузова',
                status: 'Участник',
                photo: 'http://www.hairlife.ru/uploaded_files/users/pers/small_735_1446458246.jpg',
                rating: 27,
                stats: [
                  {name: 'Зарегистрирован', value: '02.11.2015'},
                  {name: 'Сообщений', value: 30},
                  {name: 'Поблагодарили всего', value: 1},
                ]
              },
              date: '30.08.2019 06:26:27',
              body: 'Денег может и нет, но за собой ухаживать все равно нужно) Я своих постоянных клиентов берегу, акции и подарочки периодически делаю. А для привлечения новых у меня на Авито есть своя страница, там выложены все услуги. Люди идут, грех жаловаться.',
            },
            {
              author: {
                name: 'Анастасия Солопихина',
                status: 'Участник',
                photo: 'http://www.hairlife.ru/uploaded_files/users/pers/small_587_1557729691.jpg',
                rating: 59,
                stats: [
                  {name: 'Зарегистрирован', value: '11.05.2019'},
                  {name: 'Сообщений', value: 51},
                ]
              },
              date: '14.09.2019 01:20:36',
              body: [
                {tag: 'p', content:'Страница в Инстаграм очень выручает и лучше если там больше видео с работами, это очень эффективно:'},
                {tag: 'p', content:'Вот несколько вариантов, обучающие видео:'},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/B0WqX0AFBq6'}, content: 'https://www.instagram.com/p/B0WqX0AFBq6',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/Bx8Kza1lnNf'}, content: 'https://www.instagram.com/p/Bx8Kza1lnNf',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BxSTCQAoP64'}, content: 'https://www.instagram.com/p/BxSTCQAoP64',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BumPytJIkDg'}, content: 'https://www.instagram.com/p/BumPytJIkDg',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BvmtsSTocq0'}, content: 'https://www.instagram.com/p/BvmtsSTocq0',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/Bv91x3oIWzM'}, content: 'https://www.instagram.com/p/Bv91x3oIWzM',}},
              ],
            },
            { 
              author: {
                name: 'вероника васильева',
                status: 'Новичок',
                photo: '',
                rating: 1,
                stats: [
                  {name: 'Зарегистрирован', value: '03.11.2019'},
                  {name: 'Сообщений', value: 1},
                ]
              },
              date: '03.11.2019 00:21:11',
              body: 'ну только реклама',
            },
            { 
              author: {
                name: 'Инга Михайленко',
                status: 'Новичок',
                photo: '',
                rating: 1,
                stats: [
                  {name: 'Зарегистрирован', value: '09.11.2019'},
                  {name: 'Сообщений', value: 3},
                ]
              },
              date: '20.11.2019 12:44:37',
              body: 'Валерия я сама мастер и работаю в салоне. Мы постоянно проходим тренинги не только в профессиональной сфере, но и как обслуживать клиентов, а так же как делать так, чтобы их становилось больше! Реклама это понятное дело, страницы в соц.сетях тоже, но очень многие вещи зависят от персонала. Так вот наша владелица постоянно записывает нас на курсы в учебном центре Игро! Реально классная штука! Потому что обслужить клиента можно хорошо, но что-то такое ляпнуть, что он и сам приходить не будет, а рекомендовать тем более! А самая хорошая реклама-это сарафанное радио! так что зайдите на сайт Игро, там есть расписание разных семинаров, в том числе и по формированию лояльности у клиентов.',
            }
          ]
        }
      +forumTopic(forum)
      +forumServiceLinks({type: 'topic'})
      +forumTags(['посещаемость салонов красоты', 'клиенты-парикмахера'])
      +forumReply({type: 'fast', serviceName: 'Быстрый ответ'}) 
    +pageSubsection
      .h2 Похожие темы форума
      ul.list-marked
        li: a(href='forum-topic.html') Снижается ли посещаемость салонов в последнее время
    +pageSubsection
      .h2 Работы по теме
      -
        const works = {
          settings: {
            fancyboxId: 'similar-works',
          },
          list: [
            {
              src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/square_358_1563522416.jpg',
              detail: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/big_358_1563522416.jpg',
              title: 'Окрашивание волос',
              alt: 'Окрашивание волос',
            },
            {
              src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58892/square_476_1548687993.jpg',
              detail: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58892/big_476_1548687993.jpg',
              title: 'Стрижка и покраска',
              alt: 'Стрижка и покраска',
            },
            {
              src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/59311/square_94_1542430555.jpg',
              detail: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/59311/big_94_1542430555.jpg',
              title: 'Осветление и тонирование волос с растяжкой цвета',
              alt: 'Осветление и тонирование волос с растяжкой цвета',
            },
            {
              src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58503/square_478_1534274691.jpg',
              detail: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58503/big_478_1534274691.jpg',
              title: 'окрашивание волос',
              alt: 'окрашивание волос',
            },
            {
              src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2017/55840/square_986_1517918093.jpg',
              detail: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2017/55840/big_986_1517918093.jpg',
              title: 'Окрашивание',
              alt: 'Окрашивание',
            },
          ]
        }
      +gallery(works)
