extends /blocks/layout/layout
include /blocks/forum-quote/forum-quote
include /blocks/codebox/codebox

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Помощь')
  +pageSection
    h2 Помощь в использовании Изображения
    +pageSubsection: +blockMarked({header:'Наличие поддержки отображения изображения определяется администратором. Если вывод изображений включён, то ссылка на помощь «Image» будет отображена когда вы будете составлять/редактировать сообщение или вашу подпись. Для добавления изображения используется тег BBкода [img]. Текст находящийся после знака "=" в открывающем теге используется для добавления альтернативного текста к изображению.', type: 'simple'})
      p
        code [img=PunBB bbcode test]http://www.hairlife.ru/forum/img/test.png[/img]
        br
        img(src='http://www.hairlife.ru/forum/img/test.png' alt='PunBB bbcode test')
