extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-block/forum-block
include /blocks/forum-stats/forum-stats
include /blocks/forum-service-links/forum-service-links
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Темы без ответа')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Главная страница форума'], current: 'Темы без ответа'})
    +pageSubsection
      -
        const topics = {
          settings: {
            type: 'search',
            pages: 3,
          },
          header: {
            name: 'Темы [ с 1 по 30 из 353 ]',
          },
          list: [
            {
              name: 'Прически и укладки',
              author: 'Марина',
              settings: {
                icon: 'sticky',
              },
            },
            {
              name: 'Медицинские книжки парикмахеров',
              author: 'Ольга Елисеева',
            },
            {
              name: 'Школы для повышения квалификации.',
              author: 'Дарья',
            },
            {
              name: 'Курсы или индивидуальное обучение!',
              author: 'Оксана Курка',
            },
            {
              name: 'Боюсь начать работать..',
              author: 'Анастасия Игоревна',
            },
            {
              name: 'смена место работы',
              author: 'Айжан Осмонова',
            },
            {
              name: 'Парикмахерское дело',
              author: 'Ольга Дубова',
            },
            {
              name: 'Мастера которые работают в домашних условиях. Работа на дому.',
              author: 'Зинаида',
            },
            {
              name: 'Что бы вас заставило сменить краситель на котором работаете?',
              author: 'Наталья Гопайца',
            },
            {
              name: 'Акции для привлечения клиентов',
              author: 'Озерцова Ирина',
            },
            {
              name: 'прокачка своего опыта',
              author: 'Алексей Нотбек',
            },
          ]
        }
      +forumBlock(topics)
      +forumServiceLinks({type: 'search'})
