extends /blocks/layout/layout
include /blocks/forum-quote/forum-quote
include /blocks/codebox/codebox

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Помощь')
  +pageSection
    h2 Помощь в использовании BBCode
    +pageSubsection: +blockMarked: p Наличие поддержки BBкода определяется администратором. Если BBкод включён, то ссылка на помощь «BBCode» будет отображена когда вы будете составлять/редактировать сообщение или вашу подпись. BBкоды – это набор тегов форматирования, которые влияют на оформление (вид) текста на данном форуме. BBкоды принципиально похожи на HTML и аналогичны. Ниже представлен список доступных BBкодов и пояснения в их применении.
    +pageSubsection: +blockMarked({header:'Отображение (вид) текста может быть изменено его вложением в представленные теги:', type: 'simple'})
      p
        code [b]Жирный текст[/b]
        |
        | результат
        br
        strong Жирный текст
      p
        code [u]Подчёркнутый текст[/u]
        |
        | результат
        span(style='text-decoration: underline') Подчёркнутый текст
      p
        code [i]Текст курсивом[/i]
        |
        | результат
        br
        i Текст курсивом
      p
        code [color=#FF0000]Красный текст[/color]
        |
        | результат
        br
        span(style='color: #f00') Красный текст
      p
        code [color=blue]Синий текст[/color]
        |
        | результат
        br
        span(style='color: blue') Синий текст
      p
        code [b][u]Подчёркивание жирного текста[/u][/b]
        |
        | результат
        br
        strong(style='text-decoration: underline') Подчёркивание жирного текста
      p
        code [h]Текст заголовка[/h]
        |
        | результат
        br
        h5 Текст заголовка
    +pageSubsection: +blockMarked({header:'Вы можете создавать ссылки на другие документы или e-mail адреса используя следующие теги:', type: 'simple'})
      p
        code [url=http://www.hairlife.ru/forum/]Форум на www.hairlife.ru[/url]
        |
        | результат
        br
        a(href='http://www.hairlife.ru/forum/') Форум на www.hairlife.ru
      p
        code [url]http://www.hairlife.ru/forum/[/url]
        |
        | результат
        br
        a(href='http://www.hairlife.ru/forum/') http://www.hairlife.ru/forum/
      p
        code [email]name@example.com[/email]
        |
        | результат
        br
        a(href='mailto:name@example.com') name@example.com
      p
        code [email=name@example.com]My e-mail address[/email]
        |
        | результат
        br
        a(href='') My e-mail address
      p
        code [video]http://my.video.com/xyz[/video]
        |
        | результат встроенный видеоплеер в вашем сообщении.
        br
        | Вы можите использовать видео только с этих сервисов: youtube, rutube, dailymotion, vimeo, google video.
    +pageSubsection: +blockMarked({header:'Для цитирования используйте тег цитирования. Вы можете использовать тег цитирования без указания имени автора.', type: 'simple'})
      p
        code [quote=James]Этот текст я хочу процитировать.[/quote]
        |
        | вывод автора цитируемого текста.
        +forumQuote({author: 'James пишет:'}) Этот текст я хочу процитировать
      p
        code [quote]Этот текст я хочу процитировать.[/quote]
        |
        | вывод цитируемого текста.
        blockqoute.forum-quote
          | Этот текст я хочу процитировать.
    +pageSubsection: +blockMarked({header:'Когда вы добавляете к тексту код убедитесь, что вы использовали для этого тег «code». Текст, вложенный в данный тег, будет отображен с использованием моноширинного шрифта и он не будет изменён другими тегами. Длинные куски кода, не умещающиеся в поле сообщения, будут иметь полосу прокрутки.', type: 'simple'})
      p
        code [code]Некоторый код.[/code]
        |
        | результат использования тега «code».
        br
        +codebox Некоторый код.
      p
        code [code]Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода.[/code]
        |
        | результат использования тега «code».
        br
        +codebox Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода. Это длинный кусок кода.
    +pageSubsection: +blockMarked({header:'Для создания списка вы можете использовать тег «list». Вы можете создавать три варианта использования тега.', type: 'simple'})
      p
        code [list][*]Некоторый пункт 1.[/*][*]Некоторый пункт 2.[/*][*]Некоторый пункт 3.[/*][/list]
        |
        | результат - маркированный список.
        br
      ul.list-marked.list-marked--w-prev-par
        li Некоторый пункт 1.
        li Некоторый пункт 2.
        li Некоторый пункт 3.
      p
        code [list=1][*]Некоторый пункт 1.[/*][*]Некоторый пункт 2.[/*][*]Некоторый пункт 3.[/*][/list]
        |
        | результат - нумерованный список.
        br
      ol.list-numbered.list-numbered--w-prev-par
        li Некоторый пункт 1.
        li Некоторый пункт 2.
        li Некоторый пункт 3.
      p
        code [list=a][*]Некоторый пункт 1.[/*][*]Некоторый пункт 2.[/*][*]Некоторый пункт 3.[/*][/list]
        |
        | результат - список в алфавитной нумерации.
        br
      ol.list-numbered.list-numbered--w-prev-par.list-numbered--alphabetical
        li Некоторый пункт 1.
        li Некоторый пункт 2.
        li Некоторый пункт 3.
