extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-block/forum-block
include /blocks/forum-stats/forum-stats
include /blocks/forum-service-links/forum-service-links
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Начинающий мастер')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Форум парикмахеров'], current: 'Начинающий мастер'})
    +pageSubsection
      -
        const subCategories = {
          settings: {
            type: 'sub',
          },
          header: {
            name: 'Подфорумы [ 3 ]',
          },
          list: [
            {
              name: 'Окрашивание',
              topics: 76,
              messages: 3214,
              last: {
                date: '22.09.2019 22:50:12',
                author: 'Светлана Карасева',
              },
            },
            {
              name: 'Стрижка',
              topics: 353,
              messages: 5467,
              last: {
                date: 'Сегодня 18:33:41',
                author: 'Пяточкина',
              },
            },
            {
              name: 'Прически и укладки',
              topics: 295,
              messages: 6078,
              last: {
                date: '22.09.2019 23:51:47',
                author: 'Марина Одинцова',
              },
            },
          ]
        }
      +forumServiceLinks
      +forumBlock(subCategories)
    +pageSubsection
      -
        const topics = {
          settings: {
            type: 'topics',
            pages: 3,
          },
          header: {
            name: 'Темы [ с 1 по 30 из 353 ]',
          },
          list: [
            {
              name: 'Прически и укладки',
              author: 'Марина',
              pages: 5 ,
              answers: 295,
              views: 6078,
              last: {
                date: '22.09.2019 23:51:47',
                author: 'Марина Одинцова',
              },
              settings: {
                important: true,
                icon: 'sticky',
              }
            },
            {
              name: 'Медицинские книжки парикмахеров',
              author: 'Ольга Елисеева',
              answers: 19,
              views: 36702,
              last: {
                date: '22.09.2019 22:50:12',
                author: 'Светлана Карасева',
              },
            },
            {
              name: 'Школы для повышения квалификации.',
              author: 'Дарья',
              answers: 1,
              views: 1159,
              last: {
                date: '22.09.2019 22:49:07',
                author: 'Светлана Карасева',
              },
            },
            {
              name: 'Курсы или индивидуальное обучение!',
              author: 'Оксана Курка',
              pages: 6,
              answers: 139,
              views: 86663,
              last: {
                date: '22.09.2019 22:47:25',
                author: 'Светлана Карасева',
              },
            },
            {
              name: 'Боюсь начать работать..',
              author: 'Анастасия Игоревна',
              answers: 11,
              views: 4749,
              last: {
                date: '06.09.2019 13:14:09',
                author: 'Анна Экер',
              },
            },
            {
              name: 'смена место работы',
              author: 'Айжан Осмонова',
              answers: 2,
              views: 1525,
              last: {
                date: '23.07.2019 02:25:14',
                author: 'Марина Потапова',
              },
            },
            {
              name: 'Парикмахерское дело',
              author: 'Ольга Дубова',
              pages: 7,
              answers: 154,
              views: 89901,
              last: {
                date: '12.06.2019 10:22:27',
                author: 'Стас Лукянов',
              },
            },
            {
              name: 'Мастера которые работают в домашних условиях. Работа на дому.',
              author: 'Зинаида',
              pages: 16,
              answers: 395,
              views: 204768,
              last: {
                date: '01.06.2019 12:59:20',
                author: 'Анастасия Солопихина',
              },
            },
            {
              name: 'Что бы вас заставило сменить краситель на котором работаете?',
              author: 'Наталья Гопайца',
              answers: 1,
              views: 871,
              last: {
                date: '18.04.2019 15:59:43',
                author: 'Ольга Архангельская',
              },
            },
            {
              name: 'Акции для привлечения клиентов',
              author: 'Озерцова Ирина',
              pages: 5,
              answers: 117,
              views: 151521,
              last: {
                date: '09.04.2019 18:31:15',
                author: 'Захар Сосновский',
              },
            },
            {
              name: 'прокачка своего опыта',
              author: 'Алексей Нотбек',
              answers: 13,
              views: 4329,
              last: {
                date: '04.03.2019 19:28:43',
                author: 'Анна Решетова',
              },
            },
          ]
        }
      +forumBlock(topics)
      +forumServiceLinks
    +pageSubsection
      +forumStats()
