extends /blocks/layout/layout
include /blocks/forum-top/forum-top
include /blocks/forum-topic/forum-topic
include /blocks/forum-message/forum-message
include /blocks/forum-service-links/forum-service-links
include /blocks/forum-tags/forum-tags
include /blocks/forum-reply/forum-reply

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Начинающий мастер')
  +pageSection
    +pageSubsection
      +forumTop() 
    +pageSubsection
      +breadcrumbs({parents:['Все форумы', 'Форум парикмахеров','Профессия - парикмахер','Медицинские книжки парикмахеров'], current: 'Добавление ответа'})
    +pageSubsection
      +forumReply({name: 'Добавление ответа', serviceName: 'Напишите и отправьте новый ответ'})
    +pageSubsection
      -
        const forum = {
          settings: {type: 'last'}, 
          header: {
            name: 'Обзор темы (новые сверху)',
          },
          list: [
            {
              author: {
                name: 'Валерия Им',
              },
              date: '21.08.2019 05:25:34',
              body: 'Есть постоянные клиенты, разовые редко когда бывают. Расположение салона хорошее, может у людей просто денег нет?',
            },
            {
              author: {
                name: 'аксинья строкова',
              },
              date: '29.08.2019 14:51:16',
              body: 'Реклама - двигатель торговли. В инсте, телеграме, фб, вк, везде активно продвигайтесь.',
            },
            {
              author: {
                name: 'Галина Обузова',
              },
              date: '30.08.2019 06:26:27',
              body: 'Денег может и нет, но за собой ухаживать все равно нужно) Я своих постоянных клиентов берегу, акции и подарочки периодически делаю. А для привлечения новых у меня на Авито есть своя страница, там выложены все услуги. Люди идут, грех жаловаться.',
            },
            {
              author: {
                name: 'Анастасия Солопихина',
              },
              date: '14.09.2019 01:20:36',
              body: [
                {tag: 'p', content:'Страница в Инстаграм очень выручает и лучше если там больше видео с работами, это очень эффективно:'},
                {tag: 'p', content:'Вот несколько вариантов, обучающие видео:'},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/B0WqX0AFBq6'}, content: 'https://www.instagram.com/p/B0WqX0AFBq6',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/Bx8Kza1lnNf'}, content: 'https://www.instagram.com/p/Bx8Kza1lnNf',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BxSTCQAoP64'}, content: 'https://www.instagram.com/p/BxSTCQAoP64',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BumPytJIkDg'}, content: 'https://www.instagram.com/p/BumPytJIkDg',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/BvmtsSTocq0'}, content: 'https://www.instagram.com/p/BvmtsSTocq0',}},
                {tag: 'p', content:{tag: 'a', attr: {href:'https://www.instagram.com/p/Bv91x3oIWzM'}, content: 'https://www.instagram.com/p/Bv91x3oIWzM',}},
              ],
            },
            { 
              author: {
                name: 'вероника васильева',
              },
              date: '03.11.2019 00:21:11',
              body: 'ну только реклама',
            },
            { 
              author: {
                name: 'Инга Михайленко',
              },
              date: '20.11.2019 12:44:37',
              body: 'Валерия я сама мастер и работаю в салоне. Мы постоянно проходим тренинги не только в профессиональной сфере, но и как обслуживать клиентов, а так же как делать так, чтобы их становилось больше! Реклама это понятное дело, страницы в соц.сетях тоже, но очень многие вещи зависят от персонала. Так вот наша владелица постоянно записывает нас на курсы в учебном центре Игро! Реально классная штука! Потому что обслужить клиента можно хорошо, но что-то такое ляпнуть, что он и сам приходить не будет, а рекомендовать тем более! А самая хорошая реклама-это сарафанное радио! так что зайдите на сайт Игро, там есть расписание разных семинаров, в том числе и по формированию лояльности у клиентов.',
            }
          ]
        }
      +forumTopic(forum)
