extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +grid({paddingy: true})
    +grid__item({m:6,xs:12})
      -
        const testList = {
          type: 'news',
          header: 'Новости индустрии',
          addItem: 'добавить новость',
          list: [
            {name:'Большой курс по маникюру за небольшие деньги', date:'26.04.2019', image: 'http://www.hairlife.ru/uploaded_files/news/img/small_650_1556266155.jpg'},
            {name:'Международный чемпионат «Звездное Время-2019» г.Брест,Беларусь', date:'15.02.2019'},
            {name:'Курс "Эффективный директор бьюти-индустрии"', date:'22.01.2019'},
            {name:'Мастер-класс Нико Баджио «Макияж по-итальянски: искусство цвета»', date:'13.11.2018'},
            {name:'Бесплатный курс по лечению сосудистых заболеваний и эпиляции любых типов волос. 3.10.18 Москва', date:'14.09.2018'},
          ],
          readMore: 'Все новости индустрии',
        }
      +homeArticles(testList)
    +grid__item({m:6,xs:12})
      -
        const forum = {
          header: 'Новости индустрии',
          addItem: 'задать вопрос на форуме',
          list: [
            {name:'Разработка сайта'},
            {name:'Firecut'},
            {name:'Я косметолог и у меня проблемная кожа. Неуверенность в работе'},
            {name:'Прокси-сервер'},
            {name:'Лаки и красители'},
            {name:'Какая ваша любимая косметологическая услуга?'},
            {name:'Лайки в Фейсбуке'},
            {name:'мультялки'},
            {name:'Продам аппарат фотоэпиляции, омоложения Formatk Light. Израиль'},
            {name:'грибок'},
          ],
          readMore: 'Все темы форума индустрии красоты',
        }
      +homeArticles(forum)
    +grid__item({xs:12})
      +grid({justify: 'center'}).banner-position-4
        +grid__item()
          +banner({position: 4}): div(style='width: 100%; height: 100%; font-size: 1.25rem; background-color: #963316; color: #fff; display: flex; align-items: center; justify-content: center; text-align: center') Позиция 4 (468×60 px) 
    +grid__item({m:6,xs:12})
      -
        const video = {
          type: 'video',
          header: 'Видео мастер-классы',
          addItem: '',
          list: [
            {name:'PURE - коллекция LAKME 2017г. Образ - Естественный блонд', image:'http://i1.ytimg.com/vi/8ep3I_cYUnY/default.jpg'},
            {name:'Акварель гель лаками / Весенний маникюр 2019', image:'http://i1.ytimg.com/vi/bKGp2IwKuV4/default.jpg'},
            {name:'дизайн ногтей 2019 / Акварель гель лаком', image:'http://i1.ytimg.com/vi/YoYv1oO9-TU/default.jpg'},
            {name:'Трендовый дизайн ногтей "Перепелиные яички"', image:'http://i1.ytimg.com/vi/xmB9c7TgkyM/default.jpg'},
          ],
          readMore: 'Все мастер-классы',
        }
      +homeArticles(video)
    +grid__item({m:6,xs:12})
      -
        const articles = {
          type: 'articles',
          header: 'Статьи',
          addItem: 'Добавить статью',
          list: [
            {
              name:'Какой салон выбирают клиенты? ',
              description: 'У конкурентов нет отбоя от клиентов, а вы можете часами ждать, когда кто-то посетит ваш салон? Есть постоянные клиенты, но хотелось бы, чтобы их число росло? Новейшее оборудование, приятная атмосфера в помещении, профессиональные мастера, но доход невелик? Знакомые проблемы? Все это решаемо с помощью одного инструмента. Пройдите процедуру сертификации и докажите, что вам можно доверять, а качество услуг, предоставляемых в ...',
            },
            {
              name:'Парикмахерский инструмент - советы для частных мастеров. Обзор ',
              description: 'Если подбираете комплект, тестируя новые инструменты и обновляя свой набор, то предлагаем пробежаться по обзору. Мы даем рекомендации по базовому комплекту: ножницы, щетки и расчески. Если вы уже в курсе этого арсенала и вам нужно больше, смотрите подборку парикмахерского инструмента и аксессуаров в каталоге «Хитэк». Ножницы ...',
            },
            {
              name:'Пришло время автоматизировать ваш салон ',
              description: 'Время не стоит на месте, а вместе с ним развиваются и возможности салонного бизнеса. Современные IT-технологии идут навстречу руководителям и предлагают широкий спектр услуг, которые не просто оптимизируют работу салона, но позволяют добиться максимальной управляемости бизнеса. Если ваш салон по-прежнему осуществляет учет товара вручную, администратор постоянно забывает о записях, а клиенты так и не узнают об акциях – пришло время ...',
            },
            {
              name:'Косметология и бизнес: как привлечь клиентов и увеличить доход ',
              description: 'Косметологический бизнес достаточно чувствителен к «встряскам» рынка, и экономический кризис неизменно отражается на доходе салонов. Радует, конечно, что клиенты не отказываются полностью от услуг индустрии красоты, но некоторые направления периодически ощущают спад. Нынешняя ситуация – не исключение. И если еще недавно большим спросом пользовались дорогостоящие процедуры для всего тела, то сегодня главный акцент идет на омолаживающие процедуры кожи лица, шеи ...',
            },
            {
              name:'4 полезных совета для владельцев салона красоты.',
            },
            {
              name:'Кейс: чат-бот, который экономит кучу времени владельцам салона красоты',
            },
            {
              name:'Что делать, чтобы ножницы служили долго',
            },
            {
              name:'Как ухаживать За волосами зимой - 10 рекомендаций для всех!',
            },
            {
              name:'Идеи маникюра 2019',
            },
          ],
          readMore: 'Все статьи',
        }
      +homeArticles(articles)
    +grid__item({m:6,xs:12})
      -
        const resume = {
          type: 'job',
          header: 'Новые резюме',
          addItem: 'добавить резюме',
          list: [
            {name:'Мастер-парикмахер', location:'г. Москва'},
            {name:'мастер ногтевого сервиса', location:'г. Ломоносов'},
            {name:'Топ-Стилист', location:'г. Санкт-Петербург'},
            {name:'стилист-имиджмейкер', location:'г. Москва'},
            {name:'парикмахер-универсал', location:'г. Москва'},
          ],
          readMore: 'Все резюме',
        }
      +homeArticles(resume)
    +grid__item({m:6,xs:12})
      -
        const vacancy = {
          type: 'job',
          header: 'Новые вакансии',
          addItem: 'добавить вакансию',
          list: [
            {name:'Мастер ногтевого сервиса', location:'г. Санкт-Петербург', price:'100000'},
            {name:'Парикмахер', location:'г. Санкт-Петербург', price:'50 процентов от выполненных процедур'},
            {name:'Мастер ногтевого сервиса', location:'г. Санкт-Петербург', price:'35000'},
            {name:'Администратор салона', location:'г. Санкт-Петербург', price:'30000'},
            {name:'Администратор салона красоты', location:'г. Москва', price:'30000'},
          ],
          readMore: 'Все вакансии',
        }
      +homeArticles(vacancy)
    +grid__item({m:6,xs:12})
      -
        const bestProducts = {
          type: 'bestProducts',
          header: 'Лучшие товары',
          addItem: 'добавить товар',
          list: [
            {name:'Мужское парикмахерское кресло Modern 1012', price: 55000, company:'Barber Chair', image:'http://www.hairlife.ru/uploaded_files/users/2017/56989/products/mid_43_1505981760.jpg'},
            {name:'Щипцы для снятия нарощенных волос (металл)', price: 1680, company:'Волосы 24', image:'http://www.hairlife.ru/uploaded_files/users/2010/735/products/mid_224_1416903829.jpg'},
            {name:'Щипцы для формирования капсул 2,5 мм', price: 1300, company:'Волосы 24', image:'http://www.hairlife.ru/uploaded_files/users/2010/735/products/mid_20_1416903324.jpg'},
          ],
          readMore: 'Приоритетное размещение товаров',
        }
      +homeArticles(bestProducts)
    +grid__item({m:6,xs:12})
      -
        const otherProducts = {
          type: 'otherProducts',
          header: 'Другие товары',
          addItem: 'добавить товар',
          list: [
            {name:'Пульверизатор', price: 499, description:'Распылители'},
            {name:'Брошка "Парикмахер"', price: 150, description:'Пеньюары многоразовые'},
            {name:'СФС-75539', price: 130, description:'Расчески для стрижки'},
            {name:'UzbekHair', price: 50000, description:'Волосы на трессе'},
            {name:'Масляный кофейный скраб "Ваниль"', price: 1020, description:'Скрабы'},
            {name:'Филировочная бритва', price: 1500, description:'Ножи, бритвы для стрижки волос'},
            {name:'Лак для волос 750 мл.', price: 1000, description:'Лаки'},
          ],
          readMore: '',
        }
      +homeArticles(otherProducts)
    +grid__item({m:6,xs:12})
      -
        const rent = {
          header: 'Объявления об аренде',
          lists: [
            {
              type: 'ads',
              name: 'Рабочие места и кабинеты',
              list: [
                {name:'Кабинет косметолога', price: 'по договоренности', location: 'Москва, Москворецкая наб. д.7'},
                {name:'Рабочее место парикмахера', price: '1500 в день', location: 'Москва, Москворецкая наб. д.7'},
                {name:'Рабочее место парикмахера', price: '1000 в день и 16000 в месяц', location: 'Санкт-Петербург, Московский пр.183,185 лит.Б'},
                {name:'Рабочее место парикмахера', price: '3500 в день', location: 'Москва, Большой Гнездниковский переулок, 3'},
                {name:'Кабинет мастера маникюра/педикюра', price: 'договорная в месяц', location: 'Москва, Москворечье 4 корп 3'},
              ],
              readMore: 'Все объявления'
            },
            {
              type: 'ads',
              name: 'Салоны красоты и парикмахерские ',
              list: [
                {name:'Салон красоты', price: '5000 в день и 120000 в месяц', location: 'Москва, Москва Ленинский Проспект 37А'},
                {name:'Салон красоты', price: '5000 в день и 120000 в месяц', location: 'Москва, Ленинский проспект 37А'},
                {name:'Косметологический салон', price: 'по договоренности', location: 'Краснодар, северная'},
                {name:'Салон красоты', price: '40000 в месяц', location: 'Москва, мкр. 1 Мая 4к1'},
                {name:'Салон красоты', price: '75000 в месяц', location: 'Санкт-Петербург, Кораблестроителей 16 корп. 3'},
              ],
              readMore: 'Все объявления'
            },
          ]
        }
      +homeArticles(rent)
    +grid__item({m:6,xs:12})
      -
        const sellBusiness = {
          type: 'ads',
          header: 'Объявления о продаже бизнеса',
          list: [
            {name:'Салон красоты', price: 8000000, location: 'Москва, Рубцовская набережная д2к2'},
            {name:'Салон красоты', price: 16500000, location: 'Москва, Ленинский проспект 37А'},
            {name:'Парикмахерская', price: 250000, location: 'Барнаул, Машиностроителей 19-400'},
            {name:'Парикмахерская', price: 250000, location: 'Нижний Новгород, Машиностроителей 19-400'},
            {name:'Салон красоты', price: 18000000, location: 'Тверь'},
          ],
          readMore: 'Все объявления',
        }
      +homeArticles(sellBusiness)
    +grid__item({m:6,xs:12})
      -
        const companies = {
          type: 'news',
          header: 'Топ компаний',
          addItem: 'добавить компанию',
          lists: [
            {
              name: 'Поставщики',
              rated: ['Компания','Рейтинг'],
              list: [
                {name:'Лайма-Люкс Рус', rating: 394},
                {name:'Волосы 24', rating: 360},
                {name:'Мастерская волос ПАТИХАЕР', rating: 292},
                {name:'Inoar Professional', rating: 256},
                {name:'ОлеХаус', rating: 208},
              ],
              readMore: 'Полный список поставщиков'
            },
            {
              name: 'Профессиональные магазины',
              rated: ['Компания','Рейтинг'],
              list: [
                {name:'Мастерская волос ПАТИХАЕР', rating: 292},
                {name:'Золингер', rating: 200},
                {name:'СТАЙЛ', rating: 153},
                {name:'PROcolors', rating: 147},
                {name:'КОНСТАНТА-МЕД', rating: 111},
              ],
              readMore: 'Полный список магазинов'
            },
          ]
        }
      +homeArticles(companies)
    +grid__item({m:6,xs:12})
      -
        const discounts = {
          type: 'discounts',
          header: 'Акции компаний',
          addItem: 'добавить акцию',
          list: [
            {
              name:'Двухслойные стаканы для салонов красоты',
              date: '22.07.2019 - 20.05.2020',
              company:'АРАГО ГРУПП', 
              location: 'г. Москва',
              image:'http://www.hairlife.ru/uploaded_files/users/2017/56989/products/mid_43_1505981760.jpg'
            },
          ],
          readMore: 'Все спецпредложения',
        }
      +homeArticles(discounts)
    +grid__item({m:6,xs:12})
      -
        const executives = {
          type: 'workers',
          header: 'Топ руководителей',
          rated: ['Имя','Рейтинг'],
          list: [
            {name:'Ольга Пироженко', rating: 753},
            {name:'Елена', rating: 302},
            {name:'Антонина Чижова', rating: 181},
            {name:'Анастасия', rating: 175},
            {name:'Елена Елфимова', rating: 140},
          ],
          readMore: 'Полный список руководителей',
        }
      +homeArticles(executives)
    +grid__item({m:6,xs:12})
      -
        const masters = {
          type: 'workers',
          header: 'Топ мастеров',
          rated: ['Имя','Рейтинг'],
          list: [
            {name:'Золотарева Светлана', rating: 2149},
            {name:'Морозова Лилия', rating: 1986},
            {name:'Каграманян Кристина', rating: 1266},
            {name:'Alexandr Maestro', rating: 1086},
            {name:'Изумрудная', rating: 845},
          ],
          readMore: 'Полный список мастеров',
        }
      +homeArticles(masters)
block aside
  +aside({title:'Рассылка Hairlife.ru'})
    +newsfeedForm
  +aside({title:'Портфолио'})
    p: a(href='/') добавить работу
    +grid({parLike:true})
      +grid__item({xs:4}): img(src='' alt='' title='')
      +grid__item({xs:8})
        p Автор: 
          a(href='/') Анастасия Троян
        p Голосов:
    p: a(href='/portfolio/').link-arrow Все работы
  +aside({title:'Фотогалереи'})
    p: a(href='/') добавить галерею
    +grid({parLike:true})
      +grid__item({xs:4}): img(src='http://www.hairlife.ru/uploaded_files/galleries/2019/59985/1403/mid_713_1559684611.jpg' alt='' title='')
      +grid__item({xs:8})
        p: a(href='/') Мои фото 
        p Автор: 
          a(href='/') Анастасия Троян
  +aside({title:'Коллекции причесок'})
    p Профессиональная косметика для женщин
    p: a(href='/blog/12/').link-arrow Все коллекции
  +aside({title:'Новые участники'})
    -
      const users = [
        {name: 'Артур', date: '30.06.2019'},
        {name: 'ирина музафарова', date: '29.06.2019'},
        {name: 'Павел Павелский', date: '29.06.2019'},
        {name: 'Марина', date: '28.06.2019'},
        {name: 'Марина Будик', date: '28.06.2019'},
      ]
    ul.list-marked
      each item in users
        li
          a(href='/') !{item.name}
          |  - !{item.date}
    p: a(href='/reg/').link-arrow Стать участником
  +aside({title:'Ближайшая выставка'})
    p: a(href='/') Central Asia Beauty Expo 2019
    +grid({parLike:true})
      +grid__item({xs:4}): img(src='http://www.hairlife.ru/uploaded_files/exhibitions/img/small_422_1558944401.jpg' alt='Central Asia Beauty Expo 2019' title='Central Asia Beauty Expo 2019')
      +grid__item({xs:8})
        p Выставка Central Asia Beauty Expo 2019
        p 08.08.2019 - 10.08.2019
        p г. Алматы
    p: a(href='/exhibitions/').link-arrow Все выставки
  +aside({title:'Ближайший конкурс'})
    p: a(href='/') Хрустальные ножницы - 2019
    +grid({parLike:true})
      +grid__item({xs:4}): img(src='http://www.hairlife.ru/uploaded_files/competitions/img/small_614_1558950090.jpg' alt='Хрустальные ножницы - 2019' title='Хрустальные ножницы - 2019')
      +grid__item({xs:8})
        p Чемпионат России "Хрустальные ножницы - 2019"
        p 28.09.2019 - 28.09.2019
        p г. Брянск
    p: a(href='/competitions/').link-arrow Все конкурсы
block pageBottom
  h1 Сайт парикмахеров
  p 
    strong Hairlife.ru
    |  - это сеть парикмахеров, главной целью которого является объединение людей тем или иным образом связанных с индустрией красоты, парикмахерским бизнесом. Наш сайт парикмахеров и других мастеров, сочетающий в себе мультимедийное средство массовой информации, торговую площадку и профессиональное сообщество парикмахеров. Портал проектировался таким образом, чтобы учесть интересы разных типов компаний и участников бизнеса салонов красоты.
  p Опыт великое дело. Причем, абсолютно не важно, являетесь ли вы признанным профессионалом или только делаете первые шаги в искусстве красоты. В любом случае, всегда можно стать еще более искусным специалистом, мастером. Благодаря глобальной паутине это стало возможным. Более того, портал индустрии красоты Hairlife.ru специально был создан для профессионального общения. Клуб парикмахеров – это своеобразная точка сосредоточения, источник знаний и новых мыслей.
  p Проект  Hairlife.ru по своей сути, это парикмахерская социальная сеть, сочетающая в себя не только живое общение, но и советы профессионалов. Клуб парикмахеров дает возможность не только узнать, но и предоставляет площадку для высказывания. Наша первая парикмахерская сеть позволяет, также как и в обычная соцсеть, просматривать видео и оставлять интересные комментарии. Парикмахер сеть дает возможность расти профессионально, шаг за шагом шлифуя свое мастерство. Клуб парикмахеров дает возможность вдохновиться новыми идеями, изысканными формами и положительными эмоциями.
  p Только представьте, как прекрасно и замечательно, когда тебя понимают. Это бывает лишь, тогда когда находишься в кругу единомышленников. А наша парикмахерская социальная сеть предполагает еще и общее стремления к совершенству, тягу к эстетике и красоте.
  p Принимайте активное участие в нашем проекте, и вы узнаете много нового, найдете новых друзей или подруг, полностью разделяющих ваши профессиональные интересы. Проект Hairlife.ru ждет вас!
  p Добро пожаловать в клуб стильных, модных и свободных людей! Благо теперь на просторах интернета есть такое место!
