extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Работа'}
block content
  +pageHeader('Работа')
  +grid({parLike: true, paddingy: true})
    +grid__item({m:8,xs:12})
      +pageHeader('Резюме', {simple: false,add:{name:'добавить резюме', link: staticLinks.addResume}, rss: false, sub: true})
      ul.list-marked
        -
          const resume = [
            {name:'Стилист, имиджмейкер, шоппинг-сопровождение', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Мастер-парикмахер', link: 'resume-item.html', city: 'г. Москва'},
            {name:'мастер ногтевого сервиса', link: 'resume-item.html', city: 'г. Ломоносов '},
            {name:'Топ-Стилист', link: 'resume-item.html', city: 'г. Санкт-Петербург'},
            {name:'стилист-имиджмейкер', link: 'resume-item.html', city: 'г. Москва'},
            {name:'парикмахер-универсал', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Парикмахер - универсал.', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Визажист, мастер по прическам, парикмахер.', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Стилист по прическам', link: 'resume-item.html', city: 'г. Санкт-Петербург'},
            {name:'Парикмахер-универсал', link: 'resume-item.html', city: 'г. Москва'},
          ]
        each item in resume
          li
            a(href != item.link) !{item.name}
            |  (!{item.city})
      p: a(href='job-resumes.html').link-secondary все резюме (209)
    +grid__item({m:8,xs:12})
      +pageHeader('Вакансии', {simple: false,add:{name:'добавить вакансию', link: staticLinks.addVacancy}, rss: false, sub: true})
      ul.list-marked
        -
          const vacancies = [
            {name:'Массажист', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Парикмахер стилист', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Парикмахер-универсал', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Парикмахер универсал', link: 'resume-item.html', city: 'г. Новосибирск'},
            {name:'Мастер ногтевого сервиса', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Парикмахер универсал', link: 'resume-item.html', city: 'г. Ставрополь'},
            {name:'Парикмахер', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Мастер ногтевого сервиса', link: 'resume-item.html', city: 'г. Москва'},
            {name:'Мастер ногтевого сервиса', link: 'resume-item.html', city: 'г. Санкт-Петербург'},
            {name:'Парикмахер', link: 'resume-item.html', city: 'г. Санкт-Петербург'},
          ]
        each item in vacancies
          li
            a(href != item.link) !{item.name}
            |  (!{item.city})
      p: a(href='job-vacancies.html').link-secondary все вакансии (1512)
block pageBottom
  p В жизни каждого человека, получившего профессиональную квалификацию, наступает период поиска места для трудоустройства. Такой период в жизни случается и у каждого парикмахера. Если это начинающий мастер, только-только освоивший азы парикмахерского мастерства, то, прежде всего, его интересует работа парикмахером без опыта. И это понятно, ведь опыта работы у такой категории людей практически не существует, за исключением, конечно, того, который был получен в ходе практической отработки полученных знаний на моделях. Поэтому такой человек ищет любую вакансию, старается устроиться даже на непродолжительный срок только для того, чтобы подпитаться полезными знаниями, расширить спектр предоставляемых услуг и, конечно же, чтобы стать специалистом с опытом работы, поскольку часто парикмахер требуется именно такой.
  p Но существует и другая категория мастеров, которые уже сумели выйти на какой-то определенный уровень профессионализма, наработали базу постоянных клиентов, расширили спектр предоставляемых услуг, существенно повысили уровень собственной классификации. Поэтому для таких особ более интересной окажется специализация парикмахер-универсал — работа, которая предполагает многоплановость предоставляемых услуг, всестороннюю реализацию запросов клиента и, соответственно, более широкий охват потенциальных посетителей. Поскольку у данной категории профессионалов уже есть немалый опыт, наработанный ими за определенный промежуток времени, то для них подойдут уже практически любые предложения работодателей, при условии, конечно, если работа, парикмахер которую получит, будет достойно оплачиваться.
  p В процессе поиска работы присутствует и определенная особенность, которая обязательно берется в расчет любым мастером-парикмахером. Суть ее состоит в удаленности места работы от его дома. Для кого-то, в силу тех или иных обстоятельств, подходит только то предложение работы, которое предполагает от человека преодоление минимальных расстояний за день. Поэтому он, скорее всего, будет, вбивая в поисковую строку запрос «ищу работу парикмахера», уточнять станции метро или остановки городского транспорта, до которых ему удобнее всего добираться. Безусловно, немаловажным критерием поиска места под трудоустройство является и город, в котором открыта вакансия. Ведь, если, например, человек проживает в Санкт-Петербурге, то его уж точно не устроит работа парикмахером в Москве.
