extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block main
  +grid({justify:'center', paddingy: true})
    +grid__item({m:6,s:8,xs:12})
      +pageHeader('Войти на сайт')
      p Для того чтобы войти на сайт Вы должны ввести Ваш логин (E-mail) и пароль.
      -
        const loginForm = {
          inputs: [
            {type:'text',name:'login',id:'login',label:'Логин (E-mail)',required: true,},
            {type:'password',name:'password',id:'password',label:'Пароль:',required: true,},
            {type:'checkbox',name:'remebmer_me',id:'remebmer_me',label:'Запомнить меня', checked: true},
          ],
          submit: 'Войти',
        }
      +form(loginForm).login-form
      p: a(href != staticLinks.passRecovery) Забыли пароль? 
      p Если Вы все еще не являетесь зарегистрированным участником портала, вы можете 
        a(href != staticLinks.registration) пройти процедуру регистрации.
