extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Новости индустрии красоты'], current:'Большой курс по маникюру за небольшие деньги'}
block content
  +pageSection
    +pageHeader('Большой курс по маникюру за небольшие деньги', {simple:false, add: {name: 'добавить новость', href: staticLinks.addNews}, rss:false})
    +grid({paddingy: true, parLike: true, justify: 'center'})
      +grid__item({m:3,s:4,xs:6}): img(src='http://www.hairlife.ru/uploaded_files/news/img/big_650_1556266155.jpg' alt='Большой курс по маникюру за небольшие деньги' title='Большой курс по маникюру за небольшие деньги')
      +grid__item({m:9,s:8,xs:12})
        p Авторский курс "Идеальный маникюр и покрытие" позволит вам получить навыки в этом прекрасном ремесле и стать мастером маникюра. В нем собрана самая полная, самая полезная информация, как научиться маникюру с нуля , а так же содержит много полезной информации для действующих мастеров для повышения квалификации. Курс состоит из 2х частей: Теория 2ч и практика 1ч40мин. В течении курса мы с вами поддерживаем связь, проверяем что у вас получилось, помогаю советом. Этим и отличается мой курс от остальных. Помимо большого количества полезной информации я не бросаю своих учеников как делаю многие, продал да и ладно... После обучения выдается именной сертификат на почту. Стоимость курса 1500р. 
    +listTagsSmall(['обучение мастера ногтевого сервиса', 'обучение мастеров маникюра', 'бесплатные-курсы-маникюра', 'курсы маникюра', 'френч', 'идеальный-маникюр', 'маникюр'])
    +grid({paddingy:true, parLike:true, align: 'center'})
      +grid__item() 26.04.2019
      +grid__item(): a(href='/') Татьяна Сидоренко
      +grid__item()
        +likely
    p: a(href != staticLinks.news).link-arrow к списку новостей
    .h2 Похожие новости
    -
      const similarNews = [
        {name: 'Подведение итогов чемпионата "Урал-Бьюти"', date: '16.02.2010'},
        {name: 'Команда из Балашихи заняла почетное место на Невских берегах 2010', date: '03.03.2010'},
        {name: 'Беловский парикмахер завоевал «Гран-кубок» на международном конкурсе ', date: '11.03.2010'},
        {name: 'Новый лак для ногтей Extra Long Lasting от фирмы ADOS', date: '13.10.2010'},
        {name: 'В ноябре пройдет конкурс межрегионального масштаба среди мастеров по нэйл-дизайну', date: '29.10.2010'},
      ]
    ul.list-marked
      each item in similarNews
        li
          a(href='news-item.html') !{item.name}
          |  / !{item.date}
    h2 Обсуждения на форуме по теме:
    -
      const forumTopics = [
        {name: 'Ах этот френч...', description: 'Френч остается популярным уже не первый год. Клиентки очень часто заказывают именно его. Если Вы наращиваете ногти, то предпочитаете ... '},
        {name: 'Последствия неправильно сделанного маникюра', description: 'Таких последствий может быть много. Одни потом легко проходят, другие остаются с клиентом надолго. С какими последствиями от неправильного маникюра ... '},
        {name: 'Обучение персонала', description: 'Здравствуйте. Может кто то подсказать где можно произвести обучение персонала в Киеве. Интересуют направления маникюра и модельной стрижки. ... '},
        {name: 'Рейтинг школ по обучению nail мастеров', description: 'Существует ли какой то рейтинг школ по обучению и подготовке nail мастеров? Возможно какие то специализированные журналы проводили такое исследование? ... '},
        {name: 'Курсы или индивидуальное обучение для nail мастера?', description: 'Не секрет, что по окончании курсов многое остается неясным или просто неизвестным, но зато есть диплом. Если же договориться о ...'},
      ]
    ul.list-marked
      each item in forumTopics
        li
          a(href='forum-topic.html') !{item.name}
          br
          | !{item.description}
