extends /blocks/layout/layout
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Продажа салонов красоты и парикмахерких'], current:'Добавить объявление'}
block content
  +pageHeader('Добавить объявление о продаже салона')
  +grid({parLike: true, paddingy: true})
    +grid__item({s:10,xs:12})
      -
        const formAddResume = {
          fields: [
            {
              type: 'radios',
              name: 'descr',
              id: 'descr',
              label: 'Что продаете:',
              required: true,
              radios: [
                {type: 'radio', name: 'salon_type_id', label: 'Парикмахерская', id: 'radio1', value: '1'},
                {type: 'radio', name: 'salon_type_id', label: 'Салон красоты', id: 'radio2', value: '2'},
                {type: 'radio', name: 'salon_type_id', label: 'Маникюрная студия', id: 'radio3', value: '3'},
                {type: 'radio', name: 'salon_type_id', label: 'Косметологический салон', id: 'radio4', value: '4'},
              ]
            },
            {
              type: 'price',
              name: 'cost',
              id: 'cost',
              label: 'Стоимость:',
            },
            {
              type: 'textarea',
              name: 'descr',
              id: 'descr',
              label: 'Описание:',
              required: true,
            },
            {
              type: 'select',
              name: 'city_id',
              id: 'city_id',
              label: 'Город:',
              options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
              required: true,
            },
            {
              type: 'select',
              name: 'metro_id',
              id: 'metro_id',
              label: 'Метро:',
              options: [' - Выберите станцию - ', 'Автово','Адмиралтейская','Академическая','Балтийская','Василеостровская','Владимирская','Выборгская','Горьковская','Гостиный двор','Гражданский проспект','Девяткино','Достоевская','Елизаровская','Звёздная','Кировский завод','Комендантский проспект','Крестовский остров','Купчино','Ладожская','Ленинский проспект','Лесная','Лиговский проспект','Ломоносовская','Маяковская','Московская','Московские ворота','Нарвская','Невский проспект','Новочеркасская','Обухово','Озерки','Парк Победы','Парнас','Петроградская','Пионерская','Площадь Александра Невского-1','Площадь Александра Невского-2','Площадь Восстания','Площадь Ленина','Площадь Мужества','Политехническая','Приморская','Пролетарская','Проспект Большевиков','Проспект Ветеранов','Проспект Просвещения','Пушкинская','Рыбацкое','Садовая','Сенная площадь','Спортивная','Старая Деревня','Технологический институт','Удельная','Улица Дыбенко','Фрунзенская','Чёрная речка','Чернышевская','Чкаловская','Электросила',],
            },
            {
              type: 'text',
              name: 'adress',
              id: 'adress',
              label: 'Адрес:',
              required: true,
            },
            {
              type: 'email',
              name: 'email',
              id: 'email',
              label: 'Контактный E-mail:',
            },
            {
              type: 'text',
              name: 'contact_person',
              id: 'contact_person',
              label: 'Контактное лицо:',
              required: true,
            },
            {
              type: 'tel',
              name: 'phone_number',
              id: 'phone_number',
              label: 'Контактный телефон:',
              required: true,
            },
          ],
          submit: {button: 'Сохранить'}
        }
      +formRegistration(formAddResume)
block aside
  include ../data/aside-menu-account
  +asideMenu(asideMenuAccount)
  -
    const asideMenuNews = {
      header: 'Новости портала',
      list: [
        {name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007', link: ''},
        {name: 'Конкурс: "Волшебные метаморфозы"', link: ''},
        {name: 'Конкурс «МИСС INOAR»', link: ''},
      ],
      settings: {sublist: true}
    }
  +asideMenu(asideMenuNews)
