extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Объявления'}
block content
  include ../data/notices
  +pageHeader('Объявления об аренде и продаже рабочих мест, салонов и парикмахерских')
  +pageSection
  h2 Аренда
  +grid({paddingy: true, parLike: true})
    +grid__item({m:6,xs:12})
      .h3 Кабинеты и рабочие места
      ul.list-marked
        each item, index in listRentPlace
          if index < 5
            li
              a(href != item.link) !{item.name}
              | , 
              strong !{item.price}
              br
              | !{item.city}, !{item.address}
      p: strong
        | + 
        a(href != staticLinks.noticesRentAddPlace) добавить объявление
      p: a(href != staticLinks.noticesRentPlaces).link-secondary все объявления (1874)
    +grid__item({m:6,xs:12})
      .h3 Салоны и парикмахерские
      ul.list-marked
        each item, index in listRentSalon
          if index < 5
            li
              a(href != item.link) !{item.name}
              | , 
              strong !{item.price}
              br
              | !{item.city}, !{item.address}
      p: strong
        | + 
        a(href != staticLinks.noticesRentAddSalon) добавить объявление
      p: a(href != staticLinks.noticesRentSalons).link-secondary все объявления (389)
  h2 Продажа
  +grid({paddingy: true, parLike: true})
    +grid__item({m:6,xs:12})
      .h3 Салоны и парикмахерские
      ul.list-marked
        each item, index in listSalePlace
          if index < 5
            li
              a(href != item.link) !{item.name}
              | , 
              strong !{item.price}
              br
              | !{item.city}, !{item.address}
      p: strong
        | + 
        a(href != staticLinks.noticesSaleAddSalon) добавить объявление
      p: a(href != staticLinks.noticesSaleSalons).link-secondary все объявления (1874)
