extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Аренда'}
block content
  include ../data/notices
  +pageHeader('Аренда кабинетов и салонов')
  +pageSection
  +grid({paddingy: true, parLike: true})
    +grid__item({m:6,xs:12})
      h2 Кабинеты и рабочие места
      ul.list-marked
        each item, index in listRentPlace
          li
            a(href != item.link) !{item.name}
            | , 
            strong !{item.price}
            br
            | !{item.city}, !{item.address}
      p: strong
        | + 
        a(href != staticLinks.noticesRentAddPlace) добавить объявление
      p: a(href != staticLinks.noticesRentPlaces).link-secondary все объявления (1874)
    +grid__item({m:6,xs:12})
      h2 Салоны и парикмахерские
      ul.list-marked
        each item, index in listRentSalon
          li
            a(href != item.link) !{item.name}
            | , 
            strong !{item.price}
            br
            | !{item.city}, !{item.address}
      p: strong
        | + 
        a(href != staticLinks.noticesRentAddSalon) добавить объявление
      p: a(href != staticLinks.noticesRentSalons).link-secondary все объявления (389)
