extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents: ['Главная', 'Продажа салонов красоты и парикмахерких'], current: 'Салон красоты'}
block content
  +pageSection
    +pageHeader('Продажа - Салон красоты - Москва')
    +blockMarked: p ППри обращении к продавцам не забывайте указывать, что интересующее Вас объявление найдено на портале Hairlife.ru
    -
      const rent = [
        {
          name: 'Общая информация',
          properties: [
            {name: 'Стоимость', value: {tag: 'strong', content: '8000000'}},
            {name: 'Город', value: {tag: 'strong', content: 'Москва'}},
            {name: 'Адрес', value: 'Рубцовская набережная д2к2'},
            {name: 'Дата публикации', value: '01.07.2019'},
          ],
        },
        {
          name: 'Описание',
          properties: [
            {name: '', value: 'Продается салон красоты, который находится в ЦАО( Басманный район). В салоне сделан красивый, современный, концептуальный ремонт. Вся мебель премиум класса, удобна в использовании, а так же салон полностью оснащен всем необходимым для работы.В салоне представлен весь спектр услуг, а так же имеется бессрочная медицинская лицензия.Команда специалистов, которые на постоянной основе повышают уровень своего профессионализма, работает на протяжении 12 лет и имеет свою базу постоянных и лояльных клиентов.Продажа обоснована не возможностью совмещения двух проектов, один из которых является основным.Прибыль порядка 500 тыс руб в месяц. Все финансовые показатели подтверждаются/'},
          ],
        },
        {
          name: 'Контактная информация',
          properties: [
            {name: 'Контактное лицо', value: 'Ирина'},
            {name: 'Контактный телефон', value: '2147483647'},
          ],
        },
      ]
    +announcement(rent)
    +likely
    p: a(href='notices-sale-places.html').link-arrow к списку объявлений
