extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Продажа салонов и парикмахерских'}
block content
  include ../data/notices
  +pageHeader('Продажа салонов и парикмахерских')
  +pageSection
    +pageSubsection
      p: a(href='#' data-mrc-sh-title='sell-salons-search'): strong Поиск объявлений:
      form.form(data-mrc-sh-body='sell-salons-search')
        +grid({ parLike: true})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -', 'Москва', 'Санкт-Петербург', 'Кимовск', 'Рыльск', 'Абаза', 'Абакан', 'Абинск']})#city_id
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'salon_type_id', label: 'Что продается:', options: ['- Выберите тип -', 'Парикмахерская', 'Салон красоты', 'Маникюрная студия', 'Косметологический салон']})
          +grid__item({m:4,s:6,xs:12}).grid
            +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Найти 
      p: strong Найдено объявлений: 1165
      p: strong: a(href != staticLinks.noticesSaleAddSalon) Добавить объявление
    +pageSubsection
      +tableNotices(listSalePlace)
    +pageSubsection
      include ../blocks/pagination/pagination
    +pageSubsection
      .h3 Быстрые ссылки:
      ul.list-marked
        li: a(href='') Объявления о продаже - Парикмахерская - Пушкин
        li: a(href='') Объявления о продаже - Салон красоты - Челябинск
        li: a(href='') Объявления о продаже - Салон красоты - Балашиха
        li: a(href='') Объявления о продаже - Салон красоты - Гатчина
        li: a(href='') Объявления о продаже - Салон красоты - Вологда
