extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная', 'Аренда'], current:'Аренда кабинетов и рабочих мест'}
block content
  include ../data/notices
  +pageHeader('Объявления об аренде рабочих мест, кабинетов')
  +pageSection
    +pageSubsection
      p: a(href='#' data-mrc-sh-title='rent-places-search'): strong Поиск объявлений:
      form.form(data-mrc-sh-body='rent-places-search')
        +grid({ parLike: true})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -', 'Москва', 'Санкт-Петербург', 'Кимовск', 'Рыльск', 'Абаза', 'Абакан', 'Абинск']})#city_id
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'place_type_id', label: 'Что сдаете:', options: ['- Выберите тип -', 'Кабинет', 'Рабочее место']})
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'purpose_id', label: 'Для кого:', options: ['- Выберите какое(й) -', 'Парикмахера', 'Мастера маникюра/педикюра', 'Косметолога', 'Стоматолога']})
          +grid__item({m:4,s:6,xs:12}).grid
            +grid__item({s:8,xs:12}).form__submit: button(type='submit').btn Найти 
      p: strong Найдено объявлений: 1874
      p: strong: a(href != staticLinks.noticesRentAddPlace) Добавить объявление
    +pageSubsection
      +tableNotices(listRentPlace)
    +pageSubsection
      include ../blocks/pagination/pagination
    +pageSubsection
      .h3 Быстрые ссылки:
      ul.list-marked
        li: a(href='') Объявления о продаже - Салон красоты - Тверь
        li: a(href='') Объявления о продаже - Салон красоты - Зеленоград
        li: a(href='') Объявления о продаже - Парикмахерская - Клинцы
        li: a(href='') Объявления о продаже - Салон красоты - Челябинск
        li: a(href='') Объявления о продаже - Салон красоты - Ижевск
