extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents: ['Главная', 'Аренда', 'Аренда кабинетов и рабочих мест'], current: 'Кабинет мастера маникюра/педикюра'}
block content
  +pageSection
    +pageHeader('Аренда - Кабинет косметолога - Санкт-Петербург')
    +blockMarked: p При обращении к арендодателям не забывайте указывать, что интересующее Вас объявление найдено на портале Hairlife.ru
    -
      const rent = [
        {
          name: 'Общая информация',
          properties: [
            {name: 'Стоимость', value: {tag: 'strong', content: 'цена договорная'}},
            {name: 'Город', value: {tag: 'strong', content: 'Санкт-Петербург'}},
            {name: 'Адрес', value: 'Невский проспект, 139'},
            {name: 'Дата публикации', value: '25.11.2019'},
          ],
        },
        {
          name: 'Описание',
          properties: [
            {name: '', value: 'Здравствуйте. Сдаются в аренду рабочие места в салоне красоты по адресу: м. Пл. Александра Невского, Невский проспект, 139. Места подойдут парикмахерам, визажистаи, бровистам, колористам, косметологам, массажистам, шугаринг, лазерная эпиляция т. д. Так же есть кушетка и отдельный кабинет с раковиной. Звоните 89219530683, пишите в личку. Рассмотрим разные варианты сотрудничества. Сдаём впервые, свежий ремонт.'},
          ],
        },
        {
          name: 'Контактная информация',
          properties: [
            {name: 'Контактное лицо', value: 'Мадина'},
            {name: 'Контактный телефон', value: '2147483647'},
          ],
        },
      ]
    +announcement(rent)
    +likely
    p: a(href='notices-rent-places.html').link-arrow к списку объявлений
