extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Персоны'}
block content
  +pageHeader('Все персоны')
  +pageSection
    p: a(href='#' data-mrc-sh-title='peoples-search'): strong Поиск участников:
    form.form(data-mrc-sh-body='peoples-search')
      +grid({ parLike: true})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'text', name: 'fio', label: 'Фамилия или имя:'})
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'country_id', label: 'Страна:', options: ['- Выберите страну -','Россия','Украина','Беларусь','Австралия','Австрия','Азербайджан','Аргентина']})#country_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'city_id', label: 'Город:', options: ['- Выберите город -','Москва','Санкт-Петербург','Кимовск','Рыльск','Абаза','Абакан','Абинск','Агидель','Адлер к.п.','Азнакаево','Азов','Айхал п.',]})#city_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'select', name: 'amplua_id', label: 'Амплуа:', options: ['- Выберите амплуа -','Руководитель салона','Администратор салона','Парикмахер','Технолог','Мастер по косичкам','Имиджмейкер','Мастер по наращиванию волос','Стилист','Визажист','Мастер по ресницам','Мастер ногтевого сервиса','Косметолог','Мастер перманентного макияжа','Массажист','Модельер одежды','Врач-трихолог','Татуировщик','Пирсинг мастер','Фотограф','Преподаватель','Продажи','Маркетинг, PR','Флорист','Фитнес инструктор','Иное',]})#amplua_id
        +grid__item({m:4,s:6,xs:12})
          .form__input: +formInput({type: 'text', name: 'position', label: 'Должность:',})
        +grid__item({m:4,s:6,xs:12})
          .form__submit: button(type='submit').btn Найти 
  +pageSection
    include ../data/list-users
    +listUsers(usersList)
  +pageSection
    include ../blocks/pagination/pagination
  +pageSection
    .h2 Быстрые ссылки:
    ul.list-marked
      li: a(href='/') Парикмахер - Москва
      li: a(href='/') Мастер ногтевого сервиса - Волгодонск
      li: a(href='/') Руководитель салона - Козельск
      li: a(href='/') Руководитель салона - Санкт-Петербург
      li: a(href='/') Мастер по ресницам - Самара
