extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны'], current:'Золотарева Светлана'}
block content
  +pageSection
    h1 Золотарева Светлана
    include ../data/user
    +tabsNonInteractive([
      {name:'Страница персоны',link:'peoples-item.html', active: true},
      {name:'Образование',link:'peoples-item-education.html'},
      {name:'Портфолио',link:'peoples-item-portfolio.html'},
      {name:'Фотогалереи',link:'peoples-item-galleries.html'},
      {name:'Видео',link:'peoples-item-video.html'},
    ])
    +grid({paddingy:true, justify: 'center', parLike:true})
      +grid__item({m:3,s:4,xs:6})
        a(href='http://www.hairlife.ru/uploaded_files/users/pers/big_702_1412752952.jpg' data-fancybox): img(src='http://www.hairlife.ru/uploaded_files/users/pers/big_702_1412752952.jpg' alt='Золотарева Светлана' title='Золотарева Светлана')
      +grid__item({m:9,s:8,xs:12})
        +properties(userInfo.basic)
        p: a(href != staticLinks.peoplesSendMessage) отправить сообщение
        .h2 Контактная информация:
        +properties(userInfo.contacts)
        .h2 Последние работы из портфолио:
        +gallery(userInfo.works)
        .h2 Участие в портале:
        +properties(userInfo.activity)
