extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны','Золотарева Светлана'], current:'Фотогалереи'}
block content
  +pageSection
    h1 Золотарева Светлана: фотогалереи
    include ../data/user
    +tabsNonInteractive([
      {name:'Страница персоны',link:'peoples-item.html'},
      {name:'Образование',link:'peoples-item-education.html'},
      {name:'Портфолио',link:'peoples-item-portfolio.html'},
      {name:'Фотогалереи',link:'peoples-item-galleries.html', active: true},
      {name:'Видео',link:'peoples-item-video.html'},
    ])
    +listArticles(userInfo.galleries)
