extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны','Золотарева Светлана'], current:'Фотогалереи'}
block content
  +pageSection
    h1 Школа парикмахерского искусства
    include ../data/user
    +tabsNonInteractive([
      {name:'Страница персоны',link:'peoples-item.html'},
      {name:'Образование',link:'peoples-item-education.html'},
      {name:'Портфолио',link:'peoples-item-portfolio.html', active: true},
      {name:'Фотогалереи',link:'peoples-item-galleries.html'},
      {name:'Видео',link:'peoples-item-video.html'},
    ])
    p места, в каторых мне давелось трудиться и творить
    +gallery(userInfo.portfolio)
