extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны','Золотарева Светлана'], current:'Образование'}
block content
  +pageSection
    h1 Золотарева Светлана: образование
    include ../data/user
    +tabsNonInteractive([
      {name:'Страница персоны',link:'peoples-item.html'},
      {name:'Образование',link:'peoples-item-education.html', active: true},
      {name:'Портфолио',link:'peoples-item-portfolio.html'},
      {name:'Фотогалереи',link:'peoples-item-galleries.html'},
      {name:'Видео',link:'peoples-item-video.html'},
    ])
    h2 Основное образование:
    h3 УЧЕБНО-КУРСОВОЙ КОМБИНАТ ЖКХ, Курск
    +properties(userInfo.education.primary)
    h2 Дополнительное образование:
    h3 Школа парикмахерского искусства "Нуэль"
    +properties(userInfo.education.secondary)
