extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageSection
    h1 Золотарева Светлана
    include ../data/user
    +tabsNonInteractive([
      {name:'Страница персоны',link:'peoples-item.html'},
      {name:'Образование',link:'peoples-item-education.html'},
      {name:'Портфолио',link:'peoples-item-portfolio.html'},
      {name:'Фотогалереи',link:'peoples-item-galleries.html'},
      {name:'Видео',link:'peoples-item-video.html'},
    ])
    h2 Отправить сообщение
    +grid({paddingy:true, justify: 'center', parLike:true})
      +grid__item({m:3,s:4,xs:6})
        a(href='http://www.hairlife.ru/uploaded_files/users/pers/big_702_1412752952.jpg' data-fancybox): img(src='http://www.hairlife.ru/uploaded_files/users/pers/big_702_1412752952.jpg' alt='Золотарева Светлана' title='Золотарева Светлана')
      +grid__item({m:9,s:8,xs:12})
        +properties(userInfo.basic)
        +grid({paddingy:true, parLike:true})
          +grid__item({m:10,xs:12})
            +form({
              inputs: [
                {type: 'text', name: 'subject', id: 'subject', label: 'Тема сообщения'},
                {type: 'textarea', name: 'message', id: 'message', label: 'Сообщение'}
              ],
              submit: 'Отправить',
              settings: {background: true},
            })
