extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Персоны'], current:'Золотарева Светлана'}
block content
  +pageSection
    +pageHeader('Флористика', {simple: false, add:{name:'добавить работу',href: staticLinks.addPortfolio}, rss: false})
    -
      const photoItem = {
        name: 'Флористика',
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/big_381_1312658621.jpg',
        count: 1,
        amount: 249,
        description: 'акриловое наращивание под лак, роспись акриловыми красками, флористика',
        tags: ['акриловые краски', 'художественная роспись на ногтях'],
        author: 'Золотарева Светлана',
        votes: 2,
      }
    +photoItem(photoItem)
    +likely
    p: a(href='#' data-mrc-sh-title='companies-search') Код для вставки на сайт, на форум или блог
    p.form-input(data-mrc-sh-body='companies-search')
      label.form-input__label: strong Код для вставки на обычный сайт или блог
      textarea(readonly onclick='this.select()').form-input__field <a href="http://www.hairlife.ru/people/portfolio/photo/4279/"><img src="http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/big_381_1312658621.jpg" title="акриловое наращивание под лак, роспись акриловыми красками, флористика" alt="акриловое наращивание под лак, роспись акриловыми красками, флористика" border="0"/></a><br/><a href="http://www.hairlife.ru/people/portfolio/photo/4279/">акриловое наращивание под лак, роспись акриловыми красками, флористика</a> на <a href="http://www.hairlife.ru/portfolio/">Hairlife.ru</a>
    p.form-input(data-mrc-sh-body='companies-search')
      label.form-input__label: strong Код для вставки в форум (BBCode)
      textarea(readonly onclick='this.select()').form-input__field [url=http://www.hairlife.ru/people/portfolio/photo/4279/][img] http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/big_381_1312658621.jpg[/img][/url][url=http://www.hairlife.ru/people/portfolio/photo/4279/]Посмотреть на Hairlife.ru[/url]
    p.form-input(data-mrc-sh-body='companies-search')
      label.form-input__label: strong Ссылка на фотографию
      textarea(readonly onclick='this.select()').form-input__field http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/big_381_1312658621.jpg
    .h2 Похожие работы
    -
      const similarWorks = {
        settings: {size: 'small'},
        list: [
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2010/1604/square_88_1309437706.jpg', href:'photos-item.html', alt:'Декоративный френч', description:'Декоративный френч'},
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5056/square_861_1311249052.jpg', href:'photos-item.html', alt:'Гелевое наращивание', description:'Гелевое наращивание'},
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5083/square_993_1311275547.jpg', href:'photos-item.html', alt:'Гелевое наращивание', description:'Гелевое наращивание'},
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5100/square_924_1311329429.jpg', href:'photos-item.html', alt:'Лунный кот', description:'Лунный кот'},
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5100/square_759_1311330174.jpg', href:'photos-item.html', alt:'Витражный френч с прорисовкой', description:'Витражный френч с прорисовкой'},
          {src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5100/square_90_1311331041.jpg', href:'photos-item.html', alt:'Алые паруса', description:'Алые паруса'},
        ]
      }
    +gallery(similarWorks)
    h2 Обсуждения на форуме по теме:
    ul.list-marked
      li
        a(href='/') Художественная роспись на ногтях
        br
        | Чем предпочитаете рисовать и часто ли у Вас заказывают роспись? Просто сейчас есть возможность съездить на курсы по росписи, но ...
