extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Конкурсы работ'}
block content
  h1 Конкурсы работ
  h2 Завершившиеся конкурсы
  .h3: a(href='portfolio-contest.html') Нейл-постер. «Стильно. Модно. Молодёжно»
  p: strong Тема: Нейл-дизайн. Обложка для корпоративного календаря компании Alex Beauty Concept 2015 года. 
  p Конкурс проводился с 1.06.2014 по 7.07.2014. 
    br
    | В конкурсе принимало участие 166 работ от 44 участников
  -
    const gallery = {
      list: [
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_737_1404110924.jpg',
          alt:'',
          description: ['Баллов: 76', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/12263/small_1000_1404215673.jpg',
          alt:'',
          description: ['Баллов: 70', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Леонид Косарев'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41566/small_832_1403849355.jpg',
          alt:'',
          description: ['Баллов: 63', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Шафеева Нурия'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41664/small_272_1404100691.jpg',
          alt:'',
          description: ['Баллов: 62', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Вишнякова'}],
        },
      ]
    }
  +gallery(gallery)
  p: a.link-secondary(href='portfolio-contest.html') Посмотреть все работы 
  .h3: a(href='portfolio-contest.html') Нейл-постер. «Стильно. Модно. Молодёжно»
  p: strong Тема: Нейл-дизайн. Обложка для корпоративного календаря компании Alex Beauty Concept 2015 года. 
  p Конкурс проводился с 1.06.2014 по 7.07.2014. 
    br
    | В конкурсе принимало участие 166 работ от 44 участников
  +gallery(gallery)
  p: a.link-secondary(href='portfolio-contest.html') Посмотреть все работы 
  include ../blocks/pagination/pagination
block pageBottom
  p Любое творчество нуждается в оценке, обсуждении. Без этого оно не может быть совершенно. Зрители, ведущие мастера по верному пути, позволяют ему стать профессионалом своего дела. Вполне закономерно, что парикмахер, имеющий за плечами свою базу выполненных работ, как мастер нуждается в оценке окружающими его специалистами. Но каким образом ему представить свои работы на обзор общественности? Конечно же, наполнив свое портфолио парикмахера.
  p Понимая надобность данного раздела, мы создали его доступным для каждого мастера вне зависимости от даты его регистрации. Система его формирования достаточно продумана. Так, для легкости поиска по работам, присутствует возможность добавления фотографий в соответствие с заданными категориями. Облегчает поиск конкретной работы проставление тематических тегов к портфолио парикмахеров. От их точности и емкости зависит простота их систематизации. Поскольку большинству посетителям может быть интересна техника выполнения конкретной прически, стрижки, то в разделе предвидится и возможность публикации описания к технике создания конкретного образа.
  p Видимыми достоинствами раздела портфолио парикмахеров можно назвать несколько. В первую очередь, немаловажной особенностью является то, что доступ к работам получают все участники ресурса. Кроме получения вдохновения от новых идей и нестандартных подходов в момент формирования образов, посетители имеют возможность дать оценку портфолио парикмахера, проголосовать за наиболее понравившиеся работы, вступить в обсуждение техники той или иной стрижки, укладки, плетения. Практически каждый комментарий, оставленный к изображению плода творчества парикмахера, представляет не только эстетическую, но и информационную ценность.
