extends /blocks/layout/layout
include /blocks/gallery-contest/gallery-contest

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Конкурсы работ'], current:'Нейл-дизайн. Обложка для корпоративного календаря компании Alex Beauty Concept 2015 года.'}
block content
  h1 Конкурс: Нейл-постер. «Стильно. Модно. Молодёжно»
  h2 Тема конкурса: Нейл-дизайн. Обложка для корпоративного календаря компании Alex Beauty Concept 2015 года.
  p: strong Статус: Конкурс завершен
  p Конкурс проводился с 1.06.2014 по 7.07.2014
  p
    | Уважаемые мастера ногтевого сервиса, мы рады приветствовать Вас на нашем новом конкурсе по нейл-дизайну.
  p
    | «Стильно. Модно. Молодёжно» - это прекрасная возможность для nail мастеров показать свое умение и поучаствовать в создании постера.
  p
    strong      Спонсор конкурса
    strong  
  p
    img(style='float: left; margin-top: 0px; margin-bottom: 0px; margin-left: 10px; margin-right: 10px;', title='Alex Beauty Concept', dir='ltr', longdesc='http://alex-beauty.ru/', usemap='http://alex-beauty.ru/', src='http://www.hairlife.ru/uploaded_files/posts/images/AlexBeautyConcept.jpg', alt='Alex Beauty Concept', width='144', height='101')
  p
    strong
      a(href='http://alex-beauty.ru/', target='_blank') Alex Beauty Concept
    |  - это крупнейший производитель профессиональных препаратов для маникюра и ухода за руками, моделирования и дизайна ногтей.
    br
    br
    | С 2008 г. мы работаем для Вас, двигаемся вперед вместе с вами, создаем новые продукты, основываясь на ваших пожеланиях и тенденциях моды.
    br
    br
    | Победы в Чемпионатах, успешное участие в международных выставках и ежедневное общение с вами мотивируют нас на расширение ассортимента, поиск и создание новых препаратов и средств для профессионалов нейл-индустрии.
    br
    br
    | Лучшие продукты по средней цене — вот наша стратегия!
  p
    strong
      br
      | Срок подачи работ на конкурс:
    br
    br
    | Прием работ на конкурс осуществляется с 1 по 30 июня 2014 года.
    br
    | Объявление победителей: 7 июля 2014 года.
  p: strong
      br
      | Условия конкурса:
  p В конкурсе могут принять участие все желающие.
  p Конкурс проводится в форме домашнего задания (заочно).
  p Готовая работа – это фотография нейл-дизайна.
    strong  
  p: strong
      br
      | Требования к работам:
  p На фото может быть изображено лицо модели с руками, только руки, только ноги или ноги и руки. Ракурс может быть любой. Возможно использование детского, женского и мужского образов или их сочетание.
  p
    strong: em Важно!
    |  На ногтях должен быть хорошо просматриваемый дизайн.
  p Приветствуется фото с изображением продукции ТМAlexBeautyConcept или Laufwunder с просматриваемым логотипом.
  p В работе могут быть использованы материалы для моделирования и дизайна ногтей – акрилы, гели, гель-лаки, лаки, краски, аксессуары.
  p Моделирование ногтей приветствуется, но не обязательно. Возможна нестандартная форма ногтей.
    strong
      br
  p
    strong
      br
      | Призовые места:
  p
    strong 1-е место:
    a(href='http://alex-beauty.ru/catalog/uvlamps/535/2614/', target='_blank') UV Lamp Digital (CCFL)
  p
    strong 2-е место:
    a(href='http://alex-beauty.ru/catalog/uvlamps/503/', target='_blank') UV Lamp Long Life BIG BOX (CCFL)
  p
    strong 3-е место:
    a(href='http://alex-beauty.ru/catalog/uvlamps/477/', target='_blank') UV Lamp Long Life BIG DOME (CCFL)
  p
    strong 4-е место:
    |  Приз зрительских симпатий: 
    a(href='http://alex-beauty.ru/catalog/uvlamps/452/', target='_blank') UV Lamp "LongLife" DOME
  p Дополнительные призовые места:
  p
    strong 5-е место:
    a(href='http://alex-beauty.ru/catalog/uvlamps/541/2630/', target='_blank') Спецприз Генерального директора 
    br
    strong 6-е место:
    a(href='http://alex-beauty.ru/catalog/uvlamps/541/2630/') Спецприз Головного офиса (Нюрнберг)
  p
    | Но это еще не все: участники, выполнившие все условия конкурса, получат гарантированный приз – подводку для глаз 
    a(href='http://alex-beauty.ru/catalog/Promotional_products/472/2585/', target='_blank') AlexBeautyConcept
    | .
  .h2 Правила конкурса
  p
  strong Требования к фотографиям:
  p 1. На конкурс предоставляются фотографии в электронном виде.
  p
    | 2. Работа должна быть выполнена в цифровом формате, то есть, снята на цифровой фотоаппарат с максимально возможным разрешением. Фотографии должны иметь расширение JPG. Качество фотографии должно составлять не менее 300 точек на дюйм (300 dpi), для распечатки постеров размером 50х70 см.
  p
    strong Внимание!
    strong  
    | Свою работу Вы должны загрузить в раздел 
    a(href='http://www.hairlife.ru/account/portfolio/add_photo.html', target='_blank') "Мое портфолио"
    | , укажите Тип работы: Маникюр и предложить на конкурс: «Стильно. Модно. Молодёжно», а оригинал в хорошем качестве отправить на E-mail: school@alex-beauty.ru
  p
    strong В сообщении с прикрепленными работами необходимо указать: 
    | Получено письменное согласие фотографа и модели, участвующих в создании постера, на использование фотографий в рекламных целях.
  p
    strong Если у Вас возникнут какие-либо трудности с загрузкой оригинала работы,  Вы можете проконсультироваться по тел.
    | : 8-495-787-71-10, 8-495-787-71-14 или по Е-mail: pr@nails.ru
  p 3. Вы можете фотографировать свою работу самостоятельно, или воспользоваться услугами профессионального фотографа, что может увеличить шансы на вашу победу (в случае, если работа будет выглядеть более выигрышно по сравнению с равнозначными и равно оцененными членами жюри работами). Мы настоятельно рекомендуем во время фотографирования использовать штатив и хорошее освещение для того, чтобы ваша работа выглядела более выигрышно.
  p 4. Использование графических программ возможно только для корректировки цвета лица, рук и тела модели.
  p 5. Участник добровольно передает свои авторские права на фотоизображения, присланные на конкурс компании AlexBeautyConcept. Компания «AlexBeautyConcept» гарантирует, что при любой публикации этих фотографий будет указано имя и фамилия мастера, выполнившего работу. Дальнейшее использование работы участником без письменного разрешения компании AlexBeautyConcept невозможно.
  p 6. Факт отправки фотоизображения (Постера) на фотоконкурс Нейл-постер является подтверждением со стороны Участника следующих фактов:
  p 6.1.Участник обладаете исключительными правами на данное фотоизображение (Постер) и получили согласие фотографа на распространение и переработку его работы,  и согласие модели на дальнейшее распространение ее изображения.
  p 6.2.Все исключительные права на фотоизображение («Постер») передаются  компании AlexBeautyConcept.
  p: strong
      br
      | Критерии оценки:
  ol.list-numbered
    li Общее впечатление
    li Образ
    li Мастерство
    li Оригинальность 
  p: strong
    br
    | На конкурс не принимаются фото:
  ol.list-numbered
    li Снятые не в фокусе (размытость, недостаточная четкость снимаемых ногтей).
    li Если использовались графические программы (Фотошоп и др.) для корректировки формы или дизайна ногтей!
  p: strong
      br
      | Судейский состав конкурса:
  | Профессиональные инструкторы и технологи компании AlexBeautyConcept.
  +likely
  .h2 Конкурсные работы
  p В конкурсе участвует 166 работ от 44 участников
  -
    const gallery = {
      list: [
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_737_1404110924.jpg',
          alt:'',
          header: '1 место',
          description: ['Баллов: 76', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/12263/small_1000_1404215673.jpg',
          alt:'',
          header: '2 место',
          description: ['Баллов: 70', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Леонид Косарев'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41566/small_832_1403849355.jpg',
          alt:'',
          header: '3 место',
          description: ['Баллов: 63', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Шафеева Нурия'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41664/small_272_1404100691.jpg',
          alt:'',
          header: '4 место',
          description: ['Баллов: 62', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Вишнякова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41673/small_912_1404125402.jpg',
          alt:'',
          header: '5 место',
          description: ['Баллов: 60', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ревунова Надежда'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/39701/small_786_1403726645.jpg',
          alt:'',
          header: '6 место',
          description: ['Баллов: 56', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Дэнис Наталья'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_913_1404070534.jpg',
          alt:'',
          description: ['Баллов: 52', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_302_1404070596.jpg',
          alt:'',
          description: ['Баллов: 50', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_443_1404111852.jpg',
          alt:'',
          description: ['Баллов: 50', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_625_1403117891.jpg',
          alt:'',
          description: ['Баллов: 48', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41683/small_501_1404148318.jpg',
          alt:'',
          description: ['Баллов: 48', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Наталья Медведева'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_192_1404070936.jpg',
          alt:'',
          description: ['Баллов: 46', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_554_1404071470.jpg',
          alt:'',
          description: ['Баллов: 45', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/24351/small_593_1403561894.jpg',
          alt:'',
          description: ['Баллов: 42', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Евгения Миронова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_722_1404112194.jpg',
          alt:'',
          description: ['Баллов: 41', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_589_1404113113.jpg',
          alt:'',
          description: ['Баллов: 40', '<br>', 'Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
      ]
    }
  +galleryContest(gallery)
  include ../blocks/pagination/pagination
block pageBottom
  p Любое творчество нуждается в оценке, обсуждении. Без этого оно не может быть совершенно. Зрители, ведущие мастера по верному пути, позволяют ему стать профессионалом своего дела. Вполне закономерно, что парикмахер, имеющий за плечами свою базу выполненных работ, как мастер нуждается в оценке окружающими его специалистами. Но каким образом ему представить свои работы на обзор общественности? Конечно же, наполнив свое портфолио парикмахера.
  p Понимая надобность данного раздела, мы создали его доступным для каждого мастера вне зависимости от даты его регистрации. Система его формирования достаточно продумана. Так, для легкости поиска по работам, присутствует возможность добавления фотографий в соответствие с заданными категориями. Облегчает поиск конкретной работы проставление тематических тегов к портфолио парикмахеров. От их точности и емкости зависит простота их систематизации. Поскольку большинству посетителям может быть интересна техника выполнения конкретной прически, стрижки, то в разделе предвидится и возможность публикации описания к технике создания конкретного образа.
  p Видимыми достоинствами раздела портфолио парикмахеров можно назвать несколько. В первую очередь, немаловажной особенностью является то, что доступ к работам получают все участники ресурса. Кроме получения вдохновения от новых идей и нестандартных подходов в момент формирования образов, посетители имеют возможность дать оценку портфолио парикмахера, проголосовать за наиболее понравившиеся работы, вступить в обсуждение техники той или иной стрижки, укладки, плетения. Практически каждый комментарий, оставленный к изображению плода творчества парикмахера, представляет не только эстетическую, но и информационную ценность.
