extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Портфолио'}
block content
  include ../data/portfolio.pug
  +pageHeader('Портфолио', {simple:false, add: {name: 'добавить работу', href: staticLinks.addPortfolio}, rss:false})
  +pageSection
    +tabs
      +tab({name: 'Поиск'})
        +grid({tag:'form'}).form
          +grid__item({m:4,s:6,xs:12})
            .form__input: +formInput({type: 'select', name: 'work_type_id', label: 'Тип работы:', options: ['- Выберите тип работы -','Прическа','Окрашивание','Ресницы и брови','Наращивание волос','Плетение косичек и дредов','Маникюр','Макияж','Боди-арт','Полный модный образ','Замещение волос','Флористика','Косметология',]})
            .form__input: +formInput({type: 'text', name: 'tag_name', label: 'Метки к работам:'})#tag_name
            +grid()
              +grid__item({s:6,xs:12}).form__submit: button(type='submit').btn Найти
      +tab({name: 'Метки'})
        -
          const tags = ['вечерний макияж', 'вечерний образ', 'вечерняя прическа', 'креативный макияж', 'макияж', 'наращивание ногтей', 'плетение косичек', 'полный модный образ', 'прическа', 'прическа вечерняя', 'прическа на длинные волосы', 'прическа с плетением', 'прическа свадебная', 'свадебная прическа', 'свадебный макияж', 'свадебный образ',]
        +listTags(tags)
  +pageSection
    +grid({parLike: true, paddingy: true})
      +grid__item({s:6,xs:12})
        h2 Активные участники
        ul.list-marked
          each item in activeUsers
            li
              a(href='peoples-item.html') !{item.name}
              |  / 
              a(href='peoples-item-portfolio.html').link-secondary !{item.works} работ
      +grid__item({s:6,xs:12})
        h2 Комментарии к работам
        ul.list-marked
          each item in comments
            li
              span.secondary-text "!{item.text}"…
              br
              | сказал(а) 
              a(href='peoples-item.html') !{item.author}
              |  про 
              a(href='photos-item.html#comments') работу
      +grid__item({s:6,xs:12})
        h2 Работа месяца
        +workOfMonth({src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/big_673_1563522315.jpg',author:'Анастасия Троян',link:'peoples-item.html',votes:0})
      +grid__item({s:6,xs:12})
        h2 Популярные работы
        +gallery(popularWorksGallery)
    h2 Новые работы
    p: a(href != staticLinks.portfolioSearch) все работы (19652)
    h3 Прически
    +gallery(galleryHairstyle)
    h3 Nail-дизайн
    +gallery(nailDesignGallery)
    h3 Макияж
    +gallery(makeUpGallery)
    h3 Полный модный образ
    +gallery(completeLookGallery)
    .h2 Быстрые ссылки:
    ul.list-marked
      li: a(href != staticLinks.portfolioSearch) Портфолио - Ресницы и брови
      li: a(href != staticLinks.portfolioSearch) Портфолио - Маникюр
      li: a(href != staticLinks.portfolioSearch) Портфолио - Флористика
      li: a(href != staticLinks.portfolioSearch) Портфолио - Полный модный образ
      li: a(href != staticLinks.portfolioSearch) Портфолио - Замещение волос

block pageBottom
  p Любое творчество нуждается в оценке, обсуждении. Без этого оно не может быть совершенно. Зрители, ведущие мастера по верному пути, позволяют ему стать профессионалом своего дела. Вполне закономерно, что парикмахер, имеющий за плечами свою базу выполненных работ, как мастер нуждается в оценке окружающими его специалистами. Но каким образом ему представить свои работы на обзор общественности? Конечно же, наполнив свое портфолио парикмахера.
  p Понимая надобность данного раздела, мы создали его доступным для каждого мастера вне зависимости от даты его регистрации. Система его формирования достаточно продумана. Так, для легкости поиска по работам, присутствует возможность добавления фотографий в соответствие с заданными категориями. Облегчает поиск конкретной работы проставление тематических тегов к портфолио парикмахеров. От их точности и емкости зависит простота их систематизации. Поскольку большинству посетителям может быть интересна техника выполнения конкретной прически, стрижки, то в разделе предвидится и возможность публикации описания к технике создания конкретного образа.
  p Видимыми достоинствами раздела портфолио парикмахеров можно назвать несколько. В первую очередь, немаловажной особенностью является то, что доступ к работам получают все участники ресурса. Кроме получения вдохновения от новых идей и нестандартных подходов в момент формирования образов, посетители имеют возможность дать оценку портфолио парикмахера, проголосовать за наиболее понравившиеся работы, вступить в обсуждение техники той или иной стрижки, укладки, плетения. Практически каждый комментарий, оставленный к изображению плода творчества парикмахера, представляет не только эстетическую, но и информационную ценность.
