extends /blocks/layout/layout
include /blocks/gallery-contest/gallery-contest

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная','Конкурсы работ'], current:'Нейл-дизайн. Обложка для корпоративного календаря компании Alex Beauty Concept 2015 года.'}
block content
  -
    const galleryBest = {
      settings: {descSize: 'small'},
      list: [
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_737_1404110924.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Татьяна Житлухина'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/12263/small_1000_1404215673.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Леонид Косарев'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41566/small_832_1403849355.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Шафеева Нурия'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41664/small_272_1404100691.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Вишнякова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41673/small_912_1404125402.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ревунова Надежда'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/39701/small_786_1403726645.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Дэнис Наталья'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_913_1404070534.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Филясова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_302_1404070596.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Филясова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_443_1404111852.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Татьяна Житлухина'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_625_1403117891.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Филясова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41683/small_501_1404148318.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Наталья Медведева'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_192_1404070936.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Филясова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_554_1404071470.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Ольга Филясова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/24351/small_593_1403561894.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Евгения Миронова'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_722_1404112194.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Татьяна Житлухина'}]}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_589_1404113113.jpg',
          alt:'',
          description: [{tag: 'p', content: ['Конкурс: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Нейл-постер. «Стильно. Модно. Молодёжно»'}]},{tag: 'p', content: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, className: 'link-secondary', content: 'Татьяна Житлухина'}]}],
        },
      ]
    }
  -
    const galleryMonth = {
      settings: {descSize: 'small'},
      list: [
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_737_1404110924.jpg',
          alt:'',
          header:'декабрь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/12263/small_1000_1404215673.jpg',
          alt:'',
          header:'ноябрь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Леонид Косарев'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41566/small_832_1403849355.jpg',
          alt:'',
          header:'октябрь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Шафеева Нурия'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41664/small_272_1404100691.jpg',
          alt:'',
          header:'сентябрь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Вишнякова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41673/small_912_1404125402.jpg',
          alt:'',
          header:'август',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ревунова Надежда'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/39701/small_786_1403726645.jpg',
          alt:'',
          header:'июль',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Дэнис Наталья'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_913_1404070534.jpg',
          alt:'',
          header:'июнь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_302_1404070596.jpg',
          alt:'',
          header:'май',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41667/small_443_1404111852.jpg',
          alt:'',
          header:'апрель',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Татьяна Житлухина'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_625_1403117891.jpg',
          alt:'',
          header:'март',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41683/small_501_1404148318.jpg',
          alt:'',
          header:'февраль',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Наталья Медведева'}],
        },
        {
          href:'photos-item.html',
          src:'http://www.hairlife.ru/uploaded_files/users/portfolio/2014/41389/small_192_1404070936.jpg',
          alt:'',
          header:'январь',
          description: ['Автор: ', {tag: 'a', attr: {href:'peoples-item.html'}, content: 'Ольга Филясова'}],
        },
      ]
    }
  h1 Призеры
  h2 Лучшие конкурсные работы
  +gallery(galleryBest)
  h2 Работа месяца (2014 г.)
  +gallery(galleryMonth)
  h2 Работа месяца (2013 г.)
  +gallery(galleryMonth)
  h2 Работа месяца (2012 г.)
  +gallery(galleryMonth)
  h2 Работа месяца (2011 г.)
  +gallery(galleryMonth)
  h2 Работа месяца (2010 г.)
  +gallery(galleryMonth)
  include ../blocks/pagination/pagination
block pageBottom
  p Любое творчество нуждается в оценке, обсуждении. Без этого оно не может быть совершенно. Зрители, ведущие мастера по верному пути, позволяют ему стать профессионалом своего дела. Вполне закономерно, что парикмахер, имеющий за плечами свою базу выполненных работ, как мастер нуждается в оценке окружающими его специалистами. Но каким образом ему представить свои работы на обзор общественности? Конечно же, наполнив свое портфолио парикмахера.
  p Понимая надобность данного раздела, мы создали его доступным для каждого мастера вне зависимости от даты его регистрации. Система его формирования достаточно продумана. Так, для легкости поиска по работам, присутствует возможность добавления фотографий в соответствие с заданными категориями. Облегчает поиск конкретной работы проставление тематических тегов к портфолио парикмахеров. От их точности и емкости зависит простота их систематизации. Поскольку большинству посетителям может быть интересна техника выполнения конкретной прически, стрижки, то в разделе предвидится и возможность публикации описания к технике создания конкретного образа.
  p Видимыми достоинствами раздела портфолио парикмахеров можно назвать несколько. В первую очередь, немаловажной особенностью является то, что доступ к работам получают все участники ресурса. Кроме получения вдохновения от новых идей и нестандартных подходов в момент формирования образов, посетители имеют возможность дать оценку портфолио парикмахера, проголосовать за наиболее понравившиеся работы, вступить в обсуждение техники той или иной стрижки, укладки, плетения. Практически каждый комментарий, оставленный к изображению плода творчества парикмахера, представляет не только эстетическую, но и информационную ценность.
