extends /blocks/layout/layout
include /blocks/form-registration/form-registration

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block main
  +grid({justify:'center', paddingy: true})
    +grid__item({m:8,xs:12})
      +pageHeader('Восстановление пароля')
      p Введите, пожалуйста, Ваш логин (E-mail), указанный при регистрации. Новый пароль будет выслан Вам на указанный E-mail в течение 10 - 15 минут. 
      p Если письмо с новым паролем не пришло на Ваш почтовый ящик, пожалуйста поищите его в папке "Спам". Если его там нет, пожалуйста, обратитесь в 
        a(href != staticLinks.support) службу поддержки
        | . Мы вам обязательно поможем.
      include ../blocks/form-error/form-error
      include ../data/reg-recovery
      +formRegistration(formRecovery).form-recovery
