extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block main
  .container
    .content
      +pageHeader('Спасибо за регистрацию на портале Hairlife.ru')
      +blockMarked
        p После проверки регистрационных данных администрацией портала, Вы получите доступ ко всем сервисам. 
        p Уведомление о результатах проверки будет отправлено на E-mail, указанный при регистрации. Уже сейчас вы можете войти в личный кабинет и добавить информацию о себе. 
        p Предлагаем Вам подписаться на 
          a(href=staticLinks.newsfeed) рассылки нашего портала
          | .
      p Также Вы можете:

      h2 Зарегистрировать компанию
      p Вы можете зарегистрировать компанию, в которой Вы работаете. Регистрация компании позволит в полной мере представить ее всем посетителям. Вы сможете разместить список продкуции и услуг, новости и специальные предложения Вашей компании, получать запросы от потенциальных клиентов и многое другое.
      p: strong Перед размещением информации о компании, пожалуйста, проверьте возможна она уже зарегистрирована в 
        a(href=staticLinks.companies) нашем каталоге
        | .
      p: a(href=staticLinks.addCompany).btn Зарегистрировать компанию
      h2 Отнести себя к компании
      p Если Вы работаете в компании, зарегистрированной в нашем каталоге, Вы можете зарегистрироваться как сотрудник данной компании. Для этого Вам нужно найти свою компанию в каталоге и отнести себя к ней.
      p: a(href='/companies/search.html').btn Найти свою компанию
