extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Связаться с нами')
  p Если у Вас возникли какие-либо вопросы, предложения или пожелания при работе с порталом, свяжитесь с нами по 
    a(href != staticLinks.contacts) телефону
    | , через данную форму обратной связи, либо отправив письмо на указанный ниже почтовый ящик. Ваше сообщение будет рассмотрено в самые короткие сроки.
  p По вопросам размещения рекламы: +7 (952) 287-17-47
  h2 Форма обратной связи
  include ../blocks/form-support/form-support
  h2 Электронная почта:
  p
    a(href='mailto:assistance@hairlife.ru') assistance@hairlife.ru
    |  - технические вопросы
  p
    a(href='mailto:service@hairlife.ru') service@hairlife.ru
    |  - общие вопросы
  p
    a(href='mailto:reklama@hairlife.ru') reklama@hairlife.ru
    |  - размещение рекламы
  p
    a(href='mailto:pr@hairlife.ru') pr@hairlife.ru
    |  - сотрудничество и PR
block aside
  include ../data/aside-menu-about
  each item in asideMenuAbout.list
    if item.name == 'О проекте'
      -
        item.sublist = undefined
  +asideMenu(asideMenuAbout)
