extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = false
block content
  +pageHeader('Конкурс: информация, статьи, фото и видео', {simple:true})
  -
    const newsList = [
      {
        name: 'Большой курс по маникюру за небольшие деньги',
        link: 'news-item.html',
        description: 'Авторский курс "Идеальный маникюр и покрытие" позволит вам получить навыки в этом прекрасном ремесле и стать мастером маникюра. В нем собрана самая полная, самая полезная информация, как научиться маникюру с нуля , а так же ...',
        tags: ['обучение мастера ногтевого сервиса', 'обучение мастеров маникюра', 'бесплатные-курсы-маникюра', 'курсы маникюра', 'френч', 'идеальный-маникюр', 'маникюр'],
      },
      {
        name: 'Международный чемпионат «Звездное Время-2019» г.Брест,Беларусь',
        link: 'news-item.html',
        description: 'Приглашаем всех мастеров на II Открытый Международный Чемпионат  по маникюру, моделированию и дизайну ногтей "Звездное Время-2019" 04-05 апреля 2019 г. Брест, Беларусь.    ...',
        tags: ['конкурс', 'конкурсы'],
      },
      {
        name: 'Курс "Эффективный директор бьюти-индустрии"',
        link: 'news-item.html',
        description: 'Курс "Эффективный директор бьюти-индустрии" Курс рассчитан для настоящих и будущих владельцев бьюти-бизнеса. А также для управляющих бьюти-салонов.  Собрана информация на основе успешного 19-летнего опыта ведения салонов премиум-класса.  Лучшие эксперты с 10 летним стажем. Владельцы салонов ...',
        tags: ['управление салоном'],
      },
    ]
  +pageSection
    h2 Новости:
    +listArticles(newsList)
  +pageSection
    h2 Сообщения форума:
    +listArticles(newsList)
  +pageSection
    h2 Статьи:
    +listArticles(newsList)
  +pageSection
    h2 Фотографии:
    +gallery({
      settings: {fancyboxId: 'tag'},
      list: [
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2010/1394/74/small_283_1290275079.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2010/1394/74/big_283_1290275079.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/small_178_1292151969.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/big_178_1292151969.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/small_540_1292151988.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/big_540_1292151988.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/small_10_1302431621.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/big_10_1302431621.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/small_877_1302431628.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/big_877_1302431628.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2010/1394/74/small_283_1290275079.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2010/1394/74/big_283_1290275079.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/small_178_1292151969.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/big_178_1292151969.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/small_540_1292151988.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/106/big_540_1292151988.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/small_10_1302431621.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/big_10_1302431621.jpg'},
        {src: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/small_877_1302431628.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2008/1/197/big_877_1302431628.jpg'},
      ],
    }) 
  +pageSection
    h2 Видео:
    include ../data/videos
    +listArticles(videos)
