extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная', 'Торговая площадка'], current: 'Оборудование для салонов'}
block content
  +pageHeader('Оборудование для салонов', {simple:false, add: {name: 'добавить товар', href: staticLinks.addOffer}, rss:false})
  +pageSection
    +pageSubsection
      +grid({parLike: true, paddingy: true})
        +grid__item({m:8,xs:12})
          include ../data/trade
          - const category = trade.categories[0]
          each item in category.list
            -item.link = 'trade-subcategory.html'
          +listProductCategories(category.list)
block aside
  -
    const asideMenu = {
      header: 'Торговая площадка',
      list: [
        {name: 'Разместить предложение на продукцию', href: staticLinks.addOffer},
      ]
    }
  +asideMenu(asideMenu)
  +aside()
    p Поиск продукции по названию:
    +formSearchSmall
