extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Торговая площадка'}
block content
  +pageHeader('Торговая площадка', {simple:false, add: {name: 'добавить товар', href: staticLinks.addOffer}, rss:false})
  +pageSection
    include ../data/trade
    +pageSubsection
      p Торговая площадка предоставляет возможность: изучить ассортимент, получить подробную информацию о товарах и сравнить их характеристики, получить информацию о ценах и поставщиках, заказать выбранную продукцию.
      p Для поиска необходимого Вам товара, выберите интересующий Вас раздел. Далее, используя рубрикатор, выберите интересующую вас категорию, после чего появится список товаров.
    +pageSubsection
      .h2 Лучшие товары
      +grid({parLike: true, paddingy: true})
        each item in trade.best
          +grid__item({m:4,s:6,xs:12})
            +grid({parLike: true, paddingy: true})
              +grid__item({xs:5}): img(src != item.image alt != item.name title != item.name)
              +grid__item({xs:7}): a(href != item.link) !{item.name}
      p: a(href != staticLinks.advPriority).link-arrow.link-secondary Приоритетное размещение товаров 
    +pageSubsection
      +grid({parLike: true, paddingy: true})
        each category in trade.categories
          +grid__item({m:6,xs:12})
            .h2: a(href != category.title.link) !{category.title.name}
            +listProductCategories(category.list)
            if category.offers
              .h3 Последние предложения
              ul.list-marked
                each offer in category.offers
                  li
                    a(href != offer.link) !{offer.name}
                    |  !{offer.price} руб.
block aside
  -
    const asideMenu = {
      header: 'Торговая площадка',
      list: [
        {name: 'Разместить предложение на продукцию', href: staticLinks.addOffer},
      ]
    }
  +asideMenu(asideMenu)
  +aside()
    p Поиск продукции по названию:
    +formSearchSmall
