extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    breadcrumbs = {parents:['Главная'], current:'Видео'}
block content
  +pageHeader('Видео мастер-классы', {simple:false, add: {name: 'добавить видео', href: 'account-add-video.html'}, rss:'http://www.hairlife.ru/videos/rss/'})
  +pageSection
    +tabs
      +tab({name: 'Категории'})
        -
          const categories = [
            {name:'Стрижки', count:323},
            {name:'Прически', count:305},
            {name:'Окрашивание', count:45},
            {name:'Наращивание волос', count:19},
            {name:'Плетение косичек и дредов', count:136},
            {name:'Уход за волосами', count:14},
            {name:'Nail-дизайн', count:338},
            {name:'Наращивание ногтей', count:44},
            {name:'Макияж', count:481},
            {name:'Косметология', count:596},
            {name:'Уход за ногами', count:36},
            {name:'Уход за руками', count:42},
            {name:'Массаж', count:168},
          ]
        +listCategories(categories)
      +tab({name: 'Метки'})
        -
          const tags = ['акриловый дизайн', 'вечерняя прическа', {name:'дизайн ногтей',size:'large'}, 'модные прически', 'плетение косичек', 'прическа', {name:'прическа вечерняя', size:'x-large'}, 'прическа для длинных и средних волос', 'прическа на длинные волосы с плетением', 'прическа повседневная', 'прическа с плетением', 'прическа свадебная', 'уход за лицом', 'уход за телом',]
        +listTags(tags)
        +grid({parLike: true})
          +grid__item({m:4,s:6,xs:12})
            p: strong Поиск видео по меткам
            +formSearchSmall({placeholder:'Введите метку:'})
  +pageSection
    include ../data/videos
    +listArticles(videos)
block pageBottom
  p Процесс обучения – это всегда непросто, особенно если рядом нет профессионального наставника. Но выход есть всегда! Главное, чтобы процесс обучения был наглядным. На нашем портале Hairlife.ru специально были выложены уроки парикмахера видео, позволяющие вам узнать многие секреты этой интересной профессии.
  p Уроки парикмахерского искусства видео позволяют новичкам, желающим в домашних условиях овладеть азами парикмахерского дела, познакомиться с главными и основными приёмами и техниками, применяемыми при создании различных мужских и женских стрижек. Причем портал красоты Hairlife.ru, будет полезен не только людям, постигающим это ремесло, но и профессиональным мастерам. Если же вы начинающий парикмахер видео вам нужно смотреть обязательно!
  p Парикмахер видео поможет вам отточить ваше искусство. Только представьте себе, как неотразимо и элегантно, ваши клиенты, будут выглядеть с новой прической или новым цветом волос. И что важно, все это вы сможете сделать собственными руками!
  p Если вы планируете совершенствовать технику причесок, то уроки парикмахерского искусства видео вам очень пригодятся. И это естественно, ведь благодаря видео урокам парикмахерского искусства, сделать вечернюю прическу гораздо проще!
  p На нашем портале вы сможете увидеть мастер-классы самых известных и признанных парикмахеров Москвы, Санкт – Петербурга и всей России. Причем не нужно, никуда ехать, достаточно лишь выбрать интересующий вас раздел.
  p Парикмахерские уроки видео – это ваша возможность прикоснуться к огромной базе знание и навыков. Пользуйтесь этим кладезем полезной информации!
