mixin listContestsSmall(list)
  ul.list-marked.list-contests-small
    each item in list
      li.list-contests-small__item
        .h3.list-contests-small__title: a(href != item.link) !{item.name}
        if item.description
          p.list-contests-small__info !{item.description}
        .list-contests-small__date !{item.date}
