mixin photoItem(photo)
  .photo-item
    .photo-item__header
      .photo-item__count Фотография !{photo.count} из !{photo.amount}
      .photo-item__all-works: a(href='peoples-item-portfolio.html') все работы автора
      .photo-item__controls
        a(href='photos-item.html') &larr;
        a(href='photos-item.html') &rarr;
    .photo-item__image: img(src != photo.src alt != photo.name title != photo.name)
    .photo-item__properties
      .photo-item__property
        strong Описание: 
        | !{photo.description}
      .photo-item__property
        strong Метки: 
        each tag, i in photo.tags
          a(href='/') !{tag}
          if (i < photo.tags.length - 1)
            | , 
    .photo-item__footer
      .photo-item__author Автор: 
        a(href='peoples-item.html') !{photo.author}
      .photo-item__votes Голосов: 
        strong !{photo.votes}
      .photo-item__buttons
        button.btn.photo-item__button.photo-item__button--like Нравится
        button.btn.photo-item__button.photo-item__button--dislike Не нравится
