.photo-item
  &__header
  &__footer
    display flex
    margin-bottom (basePadding*2)
    padding (basePadding/3*2) (basePadding/2*3)
    background-color #f2efe6
    border-top 1px solid #d8ceb7
  &__count
  &__all-works
  &__controls
  &__author
  &__votes
    padding (basePadding/3) (basePadding/2)
  &__count
    font-weight bold
  &__controls
    margin-left auto
    a
      display inline-block
      margin-x (basePadding/4)
      font-size font-xl
      text-decoration none
  &__image
    display flex
    justify-content center
  &__property
    margin-top .75rem
  &__footer
    flex-wrap wrap
    justify-content flex-end
    margin-x (-(basePadding))
    margin-top (basePadding*2)
  &__author
    margin-right auto
  &__buttons
    padding-x (basePadding/2)
  &__button
    padding-y (basePadding/2)
    font-weight normal
    &--dislike
      background-color #ceb894
      &:hover
        background-color #9c8b70
