.list-product-categories
  parMargin()
  display grid
  align-items center
  grid-column-gap (basePadding*2) // @stylint ignore
  grid-row-gap .75rem // @stylint ignore
  grid-template-columns 1fr min-content min-content
  &__header
  &__list
  &__item
    display contents
  &__header span
    font-size font-s
    font-weight bold
    color #ccc
  &__item-products
  &__item-offers
    text-align center
  
