mixin listProductCategories(list)
  .list-product-categories
    .list-product-categories__header
      span категория
      span товаров
      span предложений
    ul.list-product-categories__list
      each item in list
        li.list-product-categories__item
          .list-product-categories__item-name: a(href != item.link) !{item.name}
          .list-product-categories__item-products !{item.products}
          .list-product-categories__item-offers !{item.offers}
