.video-blocked
  .video-blocked__inner
    p Для получения доступа ко всей базе видео (более 2700), вам необходимо иметь хотя бы одну тему или 3 сообщения на 
      a(href='/forum/category/13/'): strong форуме
      | .
    p: strong Просто поделитесь своим опытом или задайте интересующий вас вопрос на форуме.
    p Комментарии, оставленные под видео, не учитываются!
