.announcement
  parMargin()
  &__subtitle
    display flex
    justify-content space-between
    align-items baseline
    margin-bottom 1rem
    padding-x basePadding
    background-color #f6f6f6
    border-radius borderRadius
    .h2
      font-size font-xl
      font-weight bold
  &__subtitle-addition
    font-size font-s
  &__properties.properties
    grid-template-columns 13.875rem 1fr
    .properties__item-name
      font-weight normal
      text-align right
    .properties__item + .properties__item
      .properties__item-name
      .properties__item-value
        margin-top .5rem
