.header-mobile-switcher
  display block
  height 3rem
  padding (basePadding)
  padding-left (basePadding*4)
  font-weight 500
  text-decoration none
  color #8f3211
  background-color #e5cda2
  background-image svgImport('svg/hamburger.svg')
  background-repeat no-repeat
  background-position basePadding center
  background-size (basePadding*2) auto
  @media screen and (min-width (point-m))
    display none
