.forum-item
  &__icon
  &__info
  &__topics
  &__messages
  &__last-message
    padding basePadding (basePadding*2)
    font-size font-s
    border-bottom 1px solid #ccc
  &__info
    &:last-child
      grid-column span forum-start / -1
  &__header
    font-size font-l
  &__description
  &__moderator
    margin-top .5rem
  &__topics
  &__messages
    padding basePadding
    text-align center
  &__last-message
    font-size font-s
    line-height line-s
  &__date
    white-space nowrap
  &__subforums
    margin-top basePadding
    padding-top (basePadding/2)
    border-top 1px dashed #ccc
    .list-marked li
      margin-bottom 0
    p, .list-marked
      font-size font-s
      line-height line-s
  &__icon
    position relative
    &::before
      content ''
      position absolute
      top 1rem
      display block
      width 0
      height 0
      border solid .5rem
      border-color #edf1f5 #dde0e4 #c6cbd3 #babfc6
    &--sticky
      &::before
        border-color #d7e5f3 #c3cfdc #9fb3c7 #90a2b4
    &--new
      &::before
        border-color #d8ceb7 #c1b18c #aa9562 #d6cbb1
    &--redirect
      &::before
        border-color #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
  &--sub
    & ^[-1]__header
      font-size font-m
      font-weight bold
  &--topic
    & ^[-1]__header
      font-size font-m
  &--important
    background-color #f2f4fa
  @media screen and (max-width (point-m - 1))
    border-bottom 1px solid #ccc
    &__topics
    &__messages
    &__description
    &__moderator
    &__subforums
      display none
    &__icon
      grid-area icon
      border-bottom 0
    &__last-message
      grid-area last
      text-align right
      border-bottom 0
    &__info
      border-bottom 1px solid rgba(#ccc, .25)
      &:last-child
        border-bottom none
    &--sub
      grid-template-areas 'icon forum'
      & ^[-1]__last-message
        display none
