mixin forumItem(forum = {})
  -
    forum.settings = forum.settings ? forum.settings : {}
    const itemLink = forum.settings.type == 'topic' ? 'forum-topic.html' : 'forum-board.html'
    const itemClassList = [
      forum.settings.type ? `forum-item--${forum.settings.type}` : '',
      forum.settings.important ? `forum-item--important` : '',
      attributes.class
    ]
  .forum-item(class != itemClassList id != attributes.id)
    - const forumIcon = forum.settings.icon ? `forum-item__icon--${forum.settings.icon}` : ''
    .forum-item__icon(class != forumIcon)
    .forum-item__info
      if forum.important
        .forum-item__header
          strong Важно: 
          a(href != itemLink) !{forum.name}
      else
        .forum-item__header: a(href != itemLink) !{forum.name}
      .forum-item__description !{forum.description}
      if forum.pages
        .forum-item__pages ( 
          - let i = 1
          - let pages = forum.pages > 5 ? 3 : forum.pages
          while i <= pages
            a(href='#') !{i}
            if i < pages
              |  
            - i++
          if forum.pages > 5
            |  
            a(href='#') !{forum.pages}
          |  )
      if forum.moderator 
        .forum-item__moderator (Модераторы: 
          a(href='peoples-item.html') !{forum.moderator}
          | )
      else if forum.author
        .forum-item__moderator Автор: !{forum.author}
      if forum.sub
        .forum-item__subforums
          p !{forum.sub.length === 1 ? 'Подфорум' : 'Подфорумы'}
          ul.list-marked.list-marked--w-prev-par
            each item in forum.sub
              if typeof(item) == 'string'
                li: a(href != itemLink) !{item}
              else if typeof(item) == 'object'
                li
                  a(href != itemLink) !{item.name}
                  ul.list-marked
                    each i in item.sub
                      li: a(href != itemLink) !{i}
    if forum.settings.type !== 'topic'
      if forum.topics
        .forum-item__topics !{forum.topics}
      if forum.messages
        .forum-item__messages !{forum.messages}
    else
      if forum.answers
        .forum-item__topics !{forum.answers}
      if forum.views
        .forum-item__messages !{forum.views}
    if forum.last
      .forum-item__last-message
        a(href='forum-topic.html').forum-item__date !{forum.last.date}
        br
        | Автор: !{forum.last.author}
