.forum-service-links
  display flex
  flex-wrap wrap
  align-items baseline
  justify-content space-between
  padding basePadding
  padding-bottom (basePadding*2)
  border #ccc 1px solid
  &__pagination
    padding (basePadding/2) basePadding
    .pagination
      &__item
        a
        span
          padding-y .375rem
  &__add
    padding (basePadding/2) basePadding
    font-size font-xl
  &__left
    display flex
    flex-direction column
    align-items flex-end
    align-self flex-start
    padding-x basePadding
    & ^[-1]__add
      margin-top basePadding
      padding-x 0
  &--search
    padding-y (basePadding/2)
