mixin forumServiceLinks(settings = {})
  if settings.type == 'forum' || settings.type == undefined ||  settings.type == false
    .forum-service-links
      .forum-service-links__pagination.pagination
        .pagination__title Страницы: 
        ul.pagination__list
          li.pagination__item.pagination__item--prev
            a(href='') Назад
          li.pagination__item
            a(href='') 1
          li.pagination__item.pagination__item--active
            span 2
          li.pagination__item
            a(href='') 3
          li.pagination__item: span ...
          li.pagination__item
            a(href='') 19
          li.pagination__item.pagination__item--next
            a(href='') Далее
      .forum-service-links__add: a(href='forum-topic-new.html') Начать новую тему
  if settings.type == 'topic'
    .forum-service-links
      .forum-service-links__pagination.pagination
        .pagination__title Страницы: 
        ul.pagination__list
          li.pagination__item.pagination__item--prev
            a(href='') Назад
          li.pagination__item
            a(href='') 1
          li.pagination__item.pagination__item--active
            span 2
          li.pagination__item
            a(href='') 3
          li.pagination__item: span ...
          li.pagination__item
            a(href='') 19
          li.pagination__item.pagination__item--next
            a(href='') Далее
      .forum-service-links__left
        +likely
        .forum-service-links__add: a(href='forum-topic-reply.html') Ответить
  if settings.type == 'search'
    .forum-service-links.forum-service-links--search
      .forum-service-links__pagination.pagination
        .pagination__title Страницы: 
        ul.pagination__list
          li.pagination__item.pagination__item--prev
            a(href='') Назад
          li.pagination__item
            a(href='') 1
          li.pagination__item.pagination__item--active
            span 2
          li.pagination__item
            a(href='') 3
          li.pagination__item: span ...
          li.pagination__item
            a(href='') 19
          li.pagination__item.pagination__item--next
            a(href='') Далее
