mixin workOfMonth(image)
  figure.work-of-month
    .work-of-month__image: a(href != 'photos-item.html'): img(src != image.src alt='' title='')
    figcaption.work-of-month__caption
      | Автор: 
      a(href != image.link) !{image.author}
      br
      | Голосов: !{image.votes}
