.work-of-month
  parMargin()
  padding-right (basePadding*4)
  &__image
    position relative
    margin-bottom .5rem
    padding .25rem
    border .25rem solid #ccc
    img
      display block
    &::after
      content ''
      position absolute
      right -(basePadding*4) - .25rem
      bottom -(basePadding*2)
      width (basePadding*8)
      height (basePadding*10)
      background-image svgImport('svg/workOfMonth.svg')
      background-repeat no-repeat
      background-position center
