.forum-block
  &__header
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    background-color #d8ceb7
  &__name
    padding (basePadding/2) basePadding
    font-weight bold
    line-height line-m
    a
      text-decoration none
      color #333
  &__header-link
    padding (basePadding/2) basePadding
    a
      color #fff
      &:hover
        color #f0f0f0
  &__table
    border-right 1px solid #ccc
    border-left 1px solid #ccc
    @media screen and (max-width (point-s - 1))
      display block
  &__table-row
    display grid
    grid-template-areas 'icon forum topics messages last'
    grid-template-columns 3rem 1fr 4.75rem 6rem 13.5rem
    @media screen and (max-width (point-m - 1))
      grid-template-areas 'icon forum' 'icon last'
      grid-template-columns 4rem 1fr
    &--header
      font-size font-s
      @media screen and (max-width (point-m - 1))
        display none
      & ^[-2]__table-cell
        padding (basePadding/2) basePadding
        background-color #f4f4f4
        &--header-2-cell
          grid-column icon / forum
  &__footer
    @extend .forum-block__header
  &__footer-name
    padding (basePadding/2) basePadding
    line-height line-m
