include ../forum-item/forum-item

mixin forumBlock(forum = {})
  -
    forum.settings = forum.settings ? forum.settings : {}
    const forumHeader = forum.settings.type == 'topics' || forum.settings.type == 'search' ? ['Темы','Ответов','Просмотров','Последнее сообщение',] : ['Форум','Темы','Сообщений','Последнее сообщение',]
    const forumClassList = [
      forum.settings.type ? `forum-block--${forum.type}` : '',
    ]
  .forum-block(class != forumClassList)
    .forum-block__header
      if forum.header.href
        .forum-block__name: a(href !=forum.header.href) !{forum.header.name}
      else
        .forum-block__name !{forum.header.name}
      if forum.settings.type == 'topics'
        .forum-block__header-link: a(href='/forum/feed/rss/forum/92/').link-rss RSS
      if forum.settings.type == 'search'
        .forum-block__header-link: a(href != staticLinks.forumSearch) Начать новый поиск
    .forum-block__table
      .forum-block__table-row.forum-block__table-row--header
        .forum-block__table-cell.forum-block__table-cell--header-2-cell !{forumHeader[0]}
        .forum-block__table-cell !{forumHeader[1]}
        .forum-block__table-cell !{forumHeader[2]}
        .forum-block__table-cell !{forumHeader[3]}
      each item in forum.list
        -
          item.settings = item.settings ? item.settings : {}
          item.settings.type = forum.settings.type ? forum.settings.type : undefined
          item.settings.type = item.settings.type === 'topics' || forum.settings.type === 'search' ? 'topic' : item.settings.type
        +forumItem(item).forum-block__table-row
    if forum.settings.type == 'topics'
      .forum-block__footer
        .forum-block__footer-name !{forum.header.name}
        .forum-block__header-link: a(href='') Отметить форум прочтённым
    if forum.settings.type == 'search'
      .forum-block__footer
        .forum-block__footer-name !{forum.header.name}
