mixin asideMenu(menu)
  -
    menu.settings = menu.settings ? menu.settings : {}
    const menuListClass = [
      menu.settings.sublist ? 'aside-menu--sublist' : '',
    ]
  .aside-menu(class != menuListClass)
    .aside-menu__header !{menu.header}
    ul.aside-menu__list
      each item in menu.list
        li.aside-menu__list-item
          a(href != item.href) !{item.name}
          if item.edit
            a(href != item.edit).aside-menu__item-edit
          if item.sublist
            ul.aside-menu__sublist
              each i in item.sublist
                li.aside-menu__sublist-item
                  a(href != i.href) !{i.name}
