.aside-menu
  & + &
  & + .aside // @stylint ignore
    margin-top 2.25rem
  &__header
    display flex
    justify-content space-between
    padding (basePadding/3) (basePadding*2)
    color #ffffff
    background-color #d8ceb7
    border-radius borderRadius
  &__list
  &__sublist
    padding-x 1rem
    padding-y .25rem
  &__list-item
    padding-y .25rem
    & + &
      margin-top .25rem
      border-top .5px solid #ccc
    & > a
      display inline-block
      padding-left 1.25rem
      background-image svgImport('svg/asideMenuListItem.svg')
      background-repeat no-repeat
      background-size 1.25rem
  &__sublist-item
    padding-y .25rem
    & > a
      display inline-block
      padding-left 1.25rem
      background-image svgImport('svg/asideMenuSublistItem.svg')
      background-repeat no-repeat
      background-position left .25rem
      background-size .75rem
  &--sublist
    & ^[-1]__list-item
      & > a
        background-image svgImport('svg/asideMenuSublistItem.svg')
        background-position left .25rem
        background-size .75rem
  a&__item-edit
    display inline-block
    width 1.25rem
    height 1.25rem
    margin-bottom -.25rem
    margin-left .5rem
    padding 0
    background-image svgImport('svg/asideMenuItemEdit.svg')
    background-position left .25rem
    background-size 1rem
