ul.footer-socials
  li.footer-socials__item.footer-socials__item--vk: a(href='http://vkontakte.ru/hairlife' target='_blank')
  li.footer-socials__item.footer-socials__item--ok: a(href='http://www.odnoklassniki.ru/hairlife' target='_blank')
  li.footer-socials__item.footer-socials__item--fb: a(href='http://www.facebook.com/media/set/?id=100002744227262&frecId=false&qn=1313047672&tid=232626496775183&success=10&failure=0&set=oa.232629816774851#!/groups/232626496775183/' target='_blank')
