.footer-socials
  display flex
  margin-x -(basePadding/3)
  &__item
    margin-x (basePadding/3)
    a
      display block
      width 1.5rem
      height 1.5rem
      border-radius 4px
    &--vk
      a
        background-color #54769B
        background-image svgImport('svg/footerSocialsVk.svg')
        background-repeat no-repeat
        background-position center
        background-size 1.25rem
    &--ok
      a
        background-color #F2720C
        background-image svgImport('svg/footerSocialsOk.svg')
        background-repeat no-repeat
        background-position center
        background-size 1.25rem
    &--fb
      a
        background-color #3B5998
        background-image svgImport('svg/footerSocialsFb.svg')
        background-repeat no-repeat
        background-position center
        background-size 1.5rem
