.inline-icon
  padding-left 1.5rem
  background-repeat no-repeat
  background-position left center
  background-size 1.25rem 1.25rem
  &--spb-metro-2
    background-image svgImport('svg/inlineMetroSpb2.svg')
