.quotebox
  parMargin()
  display block
  padding (basePadding*2)
  background-color #fff
  border 1px solid #ccc
  & > cite
    display block
    margin-bottom (line-m/2)
    font-weight bold
    font-style normal
  & > blockquote
    parMargin()
