.form-error
  parMargin()
  padding basePadding (basePadding*2)
  padding-left (basePadding*2 + 3.75rem)
  background-image svgImport('svg/formWarning.svg')
  background-repeat no-repeat
  background-position basePadding basePadding
  background-size 3.75rem
  border solid 1px #ccc
  &__title
    margin-bottom .75rem
    font-weight bold
    color #aa2a06
  &__body
    @extend p
