.tabs-non-interactive
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    margin -(basePadding/3)
  &__label
    margin (basePadding/3)
    color var(--color-link)
    background-color #ebe2d6
    border-radius borderRadius borderRadius 0 0
    cursor pointer
    a
      display block
      padding (basePadding/2) (basePadding*2)
      text-decoration none
    &--active
      color #fff
      background-color #715644
      border-bottom none
      cursor default
      @supports (text-decoration-style dashed)
        text-decoration none
        border-bottom none
      a
        color #fff
