

mixin tabsNonInteractive(tabs)
  - let tabNames = []
  - let tabsClassName = ''
  - tabsClassName = attributes.class ? attributes.class : ''
  .tabs-non-interactive(class != tabsClassName id != attributes.id)
    .tabs-non-interactive__labels(class != tabsClassName ? tabsClassName + '__labels' : '')
      each item in tabs
        -
          const itemClassList = [
            tabsClassName ? tabsClassName + '__label' : '',
            item.active ? 'tabs-non-interactive__label--active' : '',
            tabsClassName && item.active ? tabsClassName + '__label--active' : ''
          ]
        .tabs-non-interactive__label(class != itemClassList)
          a(href != item.link) !{item.name}
