mixin formRentRows
  .form-rent-elements
    -
      const rows = [
        [
          {
            type: 'select',
            name: 'type_id[]',
            id: 'type_id[]',
            options: ['- Выберите тип -','Кабинет','Рабочее место'],
            label: 'Что сдаете:',
          },
          {
            type: 'select',
            name: 'purpose_id[]',
            id: 'purpose_id[]',
            options: ['- Выберите какое(й) -','Парикмахера','Мастера маникюра/педикюра','Косметолога','Стоматолога'],
            label: 'Для кого:',
          },
          {
            type: 'number',
            name: 'day_cost[]',
            id: 'day_cost[]',
            label: 'За день:',
          },
          {
            type: 'number',
            name: 'month_cost[]',
            id: 'month_cost[]',
            label: 'За месяц',
          },
        ],
      ]
    .form-rent-elements__rows
      each row in rows
        .form-rent-elements__row
          each input in row
            .form-rent-elements__input: +formInput(input)(id != input.id)
          .form-rent-elements__remove: a(href='#') удалить
    a(href='#').form-rent-elements__add Добавить объект
