.header-service-menu
  .header-service-menu__register
    include ../header-service-login/header-service-login
  ul.header-service-menu__list
    li.header-service-menu__item.header-service-menu__item--about: a(href != staticLinks.about) о проекте
    li.header-service-menu__item.header-service-menu__item--question: a(href != staticLinks.support) поддержка
    li.header-service-menu__item.header-service-menu__item--target: a(href != staticLinks.adv) реклама
    li.header-service-menu__item.header-service-menu__item--search: a(href != staticLinks.search) поиск
