.forum-message-user
  font-size font-s
  line-height line-s
  &__name
    font-size font-l
    font-weight bold
  &__status
    margin-top .25rem
    font-weight bold
  &__photo
  &__rating
  &__stats
    margin-top 1rem
  @media screen and (max-width point-m - 1)
    display flex
    align-items center
    &__status
    &__rating
    &__stats
      display none
    &__photo
      display flex
      align-items center
      order 0
      height 3rem
      width 3rem
      margin-top 0 
      img
        height 100%
    &__name
      order 1
