mixin tableNotices(notices)
  -
    const noticesList = []
  each notice in notices
    -
      noticesList.push(
        [
          notice.date,
          [
            {tag:'a', attr:{href: notice.link}, content: notice.name},
            `<br>${notice.city}`,
          ],
          notice.address,
          notice.price,
        ]
      )
  -
    const noticesTable = {
      header: ['Дата', 'Название', 'Адрес', 'Стоимость'],
      rows: noticesList
    }
  +table(noticesTable)
