.list-blog
  parMargin()
  &__header
    @extend h2
    margin-bottom .75rem
    font-size font-xl
    line-height line-xl
  &__title
    display inline
    font-size inherit
    line-height inherit
    a
      text-decoration none
      color var(--color-link)
      &:hover
        color var(--color-link-hover)
  &__category
    a
      text-decoration none
      color inherit
      transition opacity .2s
      &:hover
        opacity .75
        transition none
  &__header-sep
    margin-right .25rem
    margin-left .75rem
    color #333
  &__item
    & + &
      margin-top (basePadding*3)
  &__read-more
    margin-top 1rem
  &__tags
  &__item-footer
    margin-top 1.25rem
