.search-form
  &__header
    @extend h2
    position static
    padding 0
    color #000
    background transparent
  &__input
    display flex
    flex-direction column
    justify-content center
    .form-input
      flex-direction column
