form.form.search-form
  p.search-form__header.form__header Поиск
  +grid({paddingy:true,parLike:true})
    +grid__item({m:4,s:6,xs:12}).search-form__input.form__input
        .form-input
          label(for='form-search--fio').form-input__label Фамилия и имя
          input(type='text' name='fio' id='form-search--fio').form-input__field
    +grid__item({m:4,s:6,xs:12}).search-form__input.form__input
        label(for='country_id').form-input__label Страна
        select(name='country_id' id='country_id')
          option(value='0') - Выберите страну -
          option(value='1') Россия
          option(value='2') Украина
          option(value='3') Беларусь
          option(value='72') Австралия
          option(value='59') Австрия
          option(value='5') Азербайджан
          option(value='60') Аргентина
    +grid__item({m:4,s:6,xs:12}).search-form__input.form__input
        label(for='city_id').form-input__label Город
        select(name='city_id' id='city_id')
          option(value='0') - Выберите город -
          option(value='1') Россия
          option(value='2') Украина
          option(value='3') Беларусь
          option(value='72') Австралия
    +grid__item({m:4,s:6,xs:12})
    +grid__item({m:4,s:6,xs:12}).search-form__input.form__input
        label(for='amplua_id').form-input__label Амплуа
        select(name='amplua_id' id='amplua_id')
          option(value='0') - Выберите город -
          option(value='1') Россия
          option(value='2') Украина
          option(value='3') Беларусь
          option(value='72') Австралия
    +grid__item({m:4,s:6,xs:12}).search-form__input.form__input
        .form-input
          label(for='form-search--position').form-input__label Должность
          input(type='text' name='position' id='form-search--position').form-input__field

  +grid({paddingy:true,parLike:true, justify: 'center'})
    +grid__item({m:4,s:6,xs:12})
      .search-form__submit.form__submit
        button(type='submit').btn Найти
