.header
  &__navigation
    position relative
    display flex
    background-color #9B3A1A
    background-image radial-gradient(#bc6941 20% , #9b3a1a)
    background-position 75% -1000%
    border-radius borderRadius
  &__navigation-user
    align-self center
    margin-left auto
    color #ffffff
  &__userbar
    position relative
    display flex
    flex-wrap wrap
    background-color #f2efe6
    border-radius 0 0 borderRadius borderRadius
    &::before
    &::after
      content ''
      position absolute
      top 0
      z-index -1
      display block
      width borderRadius
      height borderRadius
      background-color #f2efe6
      transform translateY(-100%)
    &::before
      left 0
    &::after
      right 0
  &__login
    margin-left auto
  &__message
    align-self center
    padding (basePadding/3) basePadding
