.form-add-post
  parMargin()
  &__field
    & + &
      margin-top 1rem
      padding-top 1rem
      border-top solid 1px #e6e6e6
    ^[-1]__subheader + &
      margin-top .5625rem
    & + ^[-1]__subheader
      margin-top 2.25rem
  &__input
    display flex
    flex-grow 1
    flex-direction column
    align-items stretch
    margin-bottom basePadding
    @media screen and (max-width (point-s - 1))
      width 100%
    select
      max-width 32rem
    textarea.form-input__field
      height 25rem
  &__label
    flex-shrink 0
    margin-bottom basePadding
    &--wide
      width 100%
      max-width 24rem
    @media screen and (max-width (point-s - 1))
      text-align left
  &__warning
    margin-bottom .75rem
    font-size font-s
    line-height line-s
    p
      font-size font-s
      line-height line-s
  &__clarification
    margin-top .75rem
    font-size font-s
    line-height line-s
    color #b0b0b0
  &__submit
    align-self flex-start
  &__login
    margin-top 2rem
