mixin formAddPost(form)
  form.form-add-post
    if form.blocks
      each block in form.blocks
        .h2.form-add-post__subheader !{block.name}
        +formAddPostFields(block.fields)
    else if form.fields
      +formAddPostFields(form.fields)
    .form-add-post__field
      .form-add-post__input
        button(type='submit').form-add-post__submit.btn !{form.submit.button ? form.submit.button : 'Отправить'}
        if form.submit.clarification
          +createElement(form.submit.clarification)
mixin formAddPostFields(fields)
  each item in fields
    .form-add-post__field
      .form-add-post__label(class != labelClass)
        if item.label
          if item.type != 'checks'
            label(for != item.id): +createElement(item.label)
          else
            | !{item.label}
      .form-add-post__input
        if item.warning
          strong.form-add-post__warning: +createElement(item.warning)
        if item.type != 'checks' && item.type != 'radios' && item.type != 'simpleText'
          +formInput({type: item.type, name: item.name, required: item.required, value: item.value, checked: item.checked, options: item.options, label: item.type == 'checkbox' && item.clarification ? item.clarification : undefined})(id != item.id)
        else if item.type == 'checks'
          each check in item.checks
            +formInput({type: check.type, name: check.name, label: check.label, required: check.required, checked: check.checked, value: check.value})(id != check.id)
        else if item.type == 'radios'
          each radio, i in item.radios
            if i == 0
              - radio.checked = true
            +formInput({type: radio.type, name: radio.name, label: radio.label, required: radio.required, checked: radio.checked, value: radio.value})(id != radio.id)
        else if item.type == 'simpleText'
          +createElement(item.value)
        if item.clarification && item.type !== 'checkbox'
          .form-add-post__clarification !{item.clarification}
        if item.additionalInfo
          .form-add-post__additional-info: +createElement(item.additionalInfo)
