.newsfeed-form
  parMargin()
  .newsfeed-form__input
    &--checkbox
      margin-bottom .5rem
      .form-input__label a
        @extend a.link-secondary
        font-weight bold
    &--email
      margin-top .75rem
      margin-bottom 0
  .form__submit
    margin-top 1rem
  
