mixin newsfeedForm(settings = {})
  -
    const newsfeedForm = {
      inputs: [
        {type: 'checkbox', name: 'grp', value:'business.school.salondirector', classMod: 'checkbox', label: 'Управление салоном',href:'http://subscribe.ru/catalog/business.school.salondirector'},
        {type: 'checkbox', name: 'grp', value:'industry.beauty.parikmaher', classMod: 'checkbox', label: 'Новости индустрии',href:'http://subscribe.ru/catalog/industry.beauty.parikmaher'},
        {type: 'checkbox', name: 'grp', value:'woman.beauty.kosmetolog', classMod: 'checkbox', label: 'Профессия - косметолог',href:'http://subscribe.ru/catalog/woman.beauty.kosmetolog'},
        {type: 'checkbox', name: 'grp', value:'woman.beauty.nailmaster', classMod: 'checkbox', label: 'Профессия - nail мастер',href:'http://subscribe.ru/catalog/woman.beauty.nailmaster'},
        {type: 'checkbox', name: 'grp', value:'woman.beauty.parikmaher', classMod: 'checkbox', label: 'Профессия - парикмахер',href:'http://subscribe.ru/catalog/woman.beauty.parikmaher'},
        {type: 'checkbox', name: 'grp', value:'woman.beauty.visage', classMod: 'checkbox', label: 'Профессия - визажист',href:'http://subscribe.ru/catalog/woman.beauty.visage'},
        {type: 'checkbox', name: 'grp', value:'woman.beauty.stilist', classMod: 'checkbox', label: 'Профессия - стилист, имиджмейкер',href:'http://subscribe.ru/catalog/woman.beauty.stilist'},
        {type: 'email', name:'email', id:'email', placeholder: 'ваш e-mail', classMod: 'email'},
      ],
      submit: 'Подписаться',
      settings: {background: settings.background == true ? true : false},
    }
    const readMore = settings.more != false ? true : false
  +form(newsfeedForm).newsfeed-form
  if readMore
    p: a(href='/analytics/posting.html').link-arrow Подробнее о рассылке
