include ../includes/includes

//- data
include /data/main-menu
include /data/static-links

- let breadcrumbs = {parents:['Главная'], current:'Тестовая страница'}

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        if breadcrumbs
          .container
            .content
              +breadcrumbs(breadcrumbs)
        .container
          .content
            block main
              +pageSection
                +grid({paddingy: true}).layout-account
                  +grid__item({m:3,s:6,xs:12}).layout-account__aside
                    block aside
                  +grid__item({m:9,xs:12}).layout-account__main
                    block content
              +pageBottom
                block pageBottom
      include ../footer/footer
  +scripts(['jquery.min.js'])
  +scripts(['script.js'])
