.form
  position relative
  display flex
  flex-direction column
  align-self flex-start
  parMargin()
  // padding (basePadding*3) (basePadding*4)
  // background-color #f7f7f7
  border-radius borderRadius
  // &--with-header
    // padding (basePadding*2) (basePadding*4) (basePadding*3)
  &--background
    padding (basePadding*2) (basePadding*4)
    background-color #f7f7f7
  &__header
    @extend h3
    margin-bottom basePadding
  &__input
    margin-bottom (basePadding*2)
  &__submit
    .btn
      width 100%
      padding-y (basePadding/3*4)
      font-size font-xl
