mixin form(form)
  -
    form.settings = form.settings ? form.settings : {}
    let formClassList = [
      ( form.header ? 'form--with-header' : '' ),
      ( attributes.class ? attributes.class : '' ),
      ( form.settings.background ? 'form--background' : '' ),
    ]
    let formClass = attributes.class
  form.form(id != attributes.id class != formClassList)&attributes(attributes)
    if form.header
      .form__header !{form.header}
    each item in form.inputs
      -
        let inputId =  item.id
        let requiredClass = item.required ? 'form__label--required' : ''
        let className = [
          `${formClass}__input`,
          item.classMod ? `${formClass}__input--${item.classMod}` : '',
        ]
      .form__input(class=className)
        +formInput({type:item.type,name:item.name,required:item.required,placeholder:item.placeholder,label:item.label, checked:item.checked, href:item.href, options: item.options})(id= inputId)
    .form__submit
      button(type='submit').btn !{form.submit}
