.form-support
  .form-input
    display flex
    flex-direction row
    align-items center
    margin -(basePadding)
    &__label
      width 30%
      margin basePadding
    &__field
    &__checkbox
    &__select
      width 100%
      margin basePadding
    &--captcha
      flex-direction column
      align-items stretch
    &__row
      display flex
    &__captcha-image
      width 100%
      margin basePadding basePadding 0
  .form__submit
    width 100%
    max-width 18.5rem
    margin-x auto
