.banner-volosy24
    .banner-volosy24__left
      .banner-volosy24__slide.banner-volosy24__slide--slide-1 Магазин<br>натуральных волос
      .banner-volosy24__slide.banner-volosy24__slide--slide-2
        ul.list-marked
          li Цена от производителя
          li Сертификат качества
          li Широкий ассортимент
      .banner-volosy24__slide.banner-volosy24__slide--slide-2
        ul.list-marked
          li Оптом и в розницу
          li Оптовикам скидки
      .banner-volosy24__slide.banner-volosy24__slide--slide-3
        ul.list-marked
          li Производство и офис в Санкт-Петербурге
          li Доставка по России
    .banner-volosy24__right.hidden-xs.hidden-s
