.banner-volosy24
  display flex
  height 100%
  font-family 'UKIJ Diwani Tom'
  background-color #fefbf6
  border 2px solid #f3e5da
  &__slide
    position absolute
    display flex
    align-items center
    justify-content space-around
    width 100%
    height 100%
    padding .5rem 3rem
    color #ad0a31
    opacity 0
    transition opacity .2s
    &--active
      opacity 1
    &--slide-1
      font-size 1.75rem
      line-height 1.25
      text-align center
    &--slide-2
      ul.list-marked
        margin-top 0
        font-size font-xxl
        line-height line-xxl
    &--slide-3
      ul.list-marked
        font-size font-xxl
        line-height line-xxl
  &__left
    position relative
    width 50%
    height 100%
    background-image linear-gradient(#f4eccb, #e3cfad)
    @media screen and (max-width point-s)
      width 100%
  &__right
    --banner-volosy24-background svgImport('svg/bannerVolosy.svg')
    position relative
    width 50%
    background-image var(--banner-volosy24-background), var(--banner-volosy24-background)
    background-position-y 0, 80px
    background-size auto 240px, auto 240px
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      width 208px
      height 86px
      background-image url(../images/banner-volosy24-logo.png)
      background-repeat no-repeat
      background-size contain
      transform translate(-50%, -50%)
    &::after
      content ''
      position absolute
      top 0
      right 0
      width 86px
      height 96px
      background-image url(../images/banner-volosy24-picture.png)
      background-repeat no-repeat
      background-size contain
