-
  const formSettingsEditSettings = {
    fields: [
      {
        type: 'checkbox',
        name: 'portal_news',
        id: 'portal_news',
        label: {tag: 'strong', content: 'Новости портала:'},
        checked: true,
        clarification: 'Информация о новых сервисах, возможностях, конкурсах и других событий портала. Периодичность рассылки: 1,2 раза в месяц.',
        warning: {tag: 'span', attr: {style: 'color: #aa2a06; font-weight: bold;'}, content: 'ВАЖНО: Это НЕ ОТПИСКА от рассылкок получаемых от сервиса SUBSCRIBE.RU'},
      },
      {
        type: 'checkbox',
        name: 'industry_news',
        id: 'industry_news',
        label: {tag: 'strong', content: 'Новости индустрии красоты:'},
        checked: true,
        clarification: 'Информация о всех событиях в индустрии красоты. Периодичность рассылки: 1 раза в неделю.',
        warning: {tag: 'span', attr: {style: 'color: #aa2a06; font-weight: bold;'}, content: 'ВАЖНО: Это НЕ ОТПИСКА от рассылкок получаемых от сервиса SUBSCRIBE.RU'},
      },
    ],
    submit: {button: 'Сохранить'}
  }

-
  const formSettingsEditNotification = {
    fields: [
      {
        type: 'checkbox',
        name: 'portfolio_photo_comment',
        id: 'portfolio_photo_comment',
        label: {tag: 'strong', content: 'Комментарии к фотографии из портфолио:'},
        checked: true,
        wideLabel: true,
      },
      {
        type: 'checkbox',
        name: 'gallery_photo_comment',
        id: 'gallery_photo_comment',
        label: {tag: 'strong', content: 'Комментарии к фотографии из фотогалерей:'},
        checked: true,
        wideLabel: true,
      },
    ],
    submit: {button: 'Сохранить'}
  }
