-
  const formAccountEdit = {
    fields: [
      {
        type: 'text',
        name: 'fio',
        label: 'Имя:',
        required: true,
      },
      {
        type: 'text',
        name: 'position',
        label: 'Должность',
      },
      {
        type: 'select',
        name: 'country_id',
        id: 'country_id',
        label: 'Страна:',
        options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
      },
      {
        type: 'select',
        name: 'city_id',
        id: 'city_id',
        label: 'Город:',
        options: [' - Выберите город - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
      },
      {
        type: 'select',
        name: 'male',
        id: 'male',
        label: 'Пол:',
        options: [' -- ', 'мужской', 'женский'],
      },
      {
        type: 'birthday',
      },
      {
        type: 'textarea',
        name: 'about',
        label: 'Информация о себе:',
      },
    ],
    submit: {button: 'Сохранить'}
  }
