-
  const tableAdvBannerStatic = {
    header: ['','месяц'],
    rows: [
      ['Позиция 1 (100% x 100 px)','12 500 руб.'],
      ['Позиция 2 (468x60 px)','9 000 руб.'],
      ['Позиция 3 (240x200 px) <span class="footnote-mark">*</span>','6 000 руб.'],
      ['Позиция 5 (120x600 px) <span class="footnote-mark">*</span><span class="footnote-mark">*</span>','3 500 руб.'],
    ]
  }
  const tableAdvBannerDynamic = {
    header: ['','1000 показов'],
    rows: [
      ['Позиция 1 (100 % 100 px)','40 руб.'],
      ['Позиция 2 (468x60 px)','30 руб.'],
      ['Позиция 3 (240x200 px)','15 руб.'],
      ['Позиция 5 (120x600 px) <span class="footnote-mark">*</span>','5 руб.'],
    ]
  }
  const tableAdvBannerPos4 = {
    header: ['Раздел для размещения','месяц'],
    rows: [
      ['Главная','1000 руб.'],
      ['Видео','3 000 руб.'],
      ['Форум (Только один)','3 000 руб.'],
      ['Портфолио','2 000 руб.'],
      ['Участники','1 500 руб.'],
      ['Компании, бренды','1 500 руб.'],
      ['Торговая площадка','1 500 руб.'],
      ['Новости, выставки, чемпионаты, акции','1 500 руб.'],
      ['Статьи','1 500 руб.'],
      ['Работа','1 000 руб.'],
      ['Объявления','1 000 руб.'],
    ]
  }
  const tableAdvBannerDevelop = {
    header: ['тип баннер','стоимость'],
    rows: [
      ['Flash','от 2000 до 3500 руб.'],
      ['Gif (анимированный)','от 1500 до 2500 руб.'],
      ['Статический','от 1000 до 2000 руб.'],
    ]
  }
