-
  const tableAdvPriority = {
    header: ['Опции', 'Бесплатное размещение', 'Приоритетное размещение'],
    rows: [
      [{colspan: 3, content:{tag: 'strong', content:'Профайл компании'}}],
      ['подробное описания деятельности', '250 символов', {content:{tag:'strong', content:'5000 символов'}}],
      ['логотип, схема проезда', '+', '+'],
      ['гиперссылка на сайт компании', '-', '+'],
      ['размещение информации о филиалах компании', '-', '+'],
      ['размещение перечня продукции и услуг компании', '-', '+'],
      ['размещение полного прайс-листа компании отдельным файлом', '-', '+'],
      [{colspan: 3, content:{tag: 'strong', content:'Отображение в списке компаний'}}],
      [{content:['приоритет размещения ', {tag: 'a', attr: {href: staticLinks.companies}, content: 'в каталоге компаний'}]}, '-', '+'],
      ['краткое описание деятельности', '+', '+'],
      ['логотип, контактная информация, филиалы, гиперссылка на сайт компании', '-', '+'],
      [{colspan: 3, content:{tag: 'strong', content:'Размещение материалов на портале'}}],
      ['количество размещаемых новостей в месяц', '5', {content: {tag: 'strong', content: 'без ограничений'}}],
      ['количество размещаемых акций и спецпредложений в месяц', '2', {content: {tag: 'strong', content: 'без ограничений'}}],
      ['количество размещаемых статей в месяц', '5', {content: {tag: 'strong', content: 'без ограничений'}}],
      ['количество размещаемых товаров', 'до 5', {content: {tag: 'strong', content: 'до 25'}}],
      [['приоритетное размещение новостей, акций, статей и товаров', {tag: 'span', className: 'footnote-mark', content: '*'}], '-', '+'],
      ['гиперссылки в публикуемых материалах', '-', '+'],
      [{colspan: 3, content:{tag: 'strong', content:'Другое'}}],
      [['получение заказов на товары', {tag: 'a', attr: {href: staticLinks.trade}, content: 'с торговой площадки'}], '-', '+'],
      [['размещение информации компании в разделе', {tag: 'a', attr: {href: staticLinks.brands}, content: 'Бренды'}], '-', '+'],
      ['внесение информации в описание брендов', '-', '+'],
      ['скидка при размещении рекламы на страницах портала (при заказе услуги от 6 мес.)', '-', {content: {tag: 'strong', content: '10%'}}],
    ]
  }
  const tableAdvPriorityCost = {
    header: ['','3 месяца', '6 месяцев', '12 месяцев'],
    rows: [
      ['Стоимость', '4 500 руб.', '8 000 руб.', '15 000 руб.']
    ]
  }
