-
  const tableAdvTorg = {
    header: ['', 'до 5 товаров', 'от 6 до 25 товаров', 'от 26 до 50 товаров', 'от 51 до 100 товаров', 'более 100 товаров'],
    rows: [
      ['Стоимость за месяц', 'бесплатно', '500 руб.', '1 000 руб.', '2 500 руб.', '4 000 руб.']
    ]
  }
