-
  const asideMenuAccount = {
    header: 'Главное меню',
    list: [
      {name: '<strong>Пригласить друзей</strong>', href: staticLinks.accountInvite},
      {name: 'Моя информация', href: staticLinks.account, edit: staticLinks.accountEditProfile,
        sublist: [
          {name: 'Мои настройки', href: staticLinks.accountSettingsEditSettings},
          {name: 'Мои сообщения', href: staticLinks.accountMessages},
          {name: 'Моё резюме', href: staticLinks.accountResume},
          {name: 'Мои статьи', href: staticLinks.accountPosts},
          {name: 'Мое видео', href: staticLinks.accountVideo},
          {name: 'Мои фотогалереи', href: staticLinks.accountGalleries},
          {name: 'Мои новости', href: staticLinks.accountCompanyNews},
        ]
      },
      {name: 'Моя компания', href: staticLinks.accountCompany, edit: staticLinks.accountCompanyEdit,
        sublist: [
          {name: 'Запросы в компанию', href: staticLinks.accountCompanyMessages},
          {name: 'Товары', href: staticLinks.accountCompanyProducts},
          {name: 'Вакансии', href: staticLinks.accountCompanyVacancies},
          {name: 'Обучающие мероприятия', href: staticLinks.accountCompanySeminars},
        ]
      },
    ]
  }
