-
  const companiesItemAsideMenu = {
    header: 'Дополнительно',
    list: [
      {href: staticLinks.registration, name: 'Зарегистрировать компанию'},
      {href: staticLinks.peoples, name: 'Каталог участников'},
    ]
  }
