-
  const event = [
    {
      name: 'Общая информация',
      properties: [
        {name: 'Вход', value: '<strong>Бесплатный</strong>'},
        {name: 'Тип мероприятия', value: '<strong>Курс</strong>'},
        {name: 'Дата проведения', value: '30.07.2019-16.08.2019'},
      ],
    },
    {
      name: 'Организатор',
      properties: [
        {name: '', value: 'NAIL-BARISTA', link: 'companies-item.html'},
      ],
    },
    {
      name: 'Описание',
      properties: [
        {name: {tag:'img', attr:{src:'http://www.hairlife.ru/uploaded_files/seminars/img/big_540_1562600118.jpg', alt:'NAIL-BARISTA', title:'NAIL-BARISTA'}}, value: ''},
      ],
    },
    {
      name: 'Место проведения',
      properties: [
        {name: 'Адрес', value: 'ул.Александра Солженицына д.27'},
      ],
    },
  ]
