-
  const resumesList = {
    header: ['Дата', 'Должность', 'Соискатель', 'Зарплата',],
    rows: [
      ['23.07.2019', {content:{tag:'a',attr:{href:'resume.html'}, content:'Стилист, имиджмейкер, шоппинг-сопровождение'}}, 'Пол: женский, 40 лет, Москва', ''],
      ['26.04.2019', {content:{tag:'a',attr:{href:'resume.html'}, content:'Мастер-парикмахер'}}, 'Пол: женский, 23 лет, Москва', '100.000 и больше'],
      ['25.02.2019', {content:{tag:'a',attr:{href:'resume.html'}, content:'мастер ногтевого сервиса'}}, 'Пол: женский, 36 лет, Санкт-Петербург', ''],
      ['14.03.2018', {content:{tag:'a',attr:{href:'resume.html'}, content:'Топ-Стилист'}}, 'Пол: мужской, 34 лет, Санкт-Петербург', '340 000 - 1020 000'],
      ['21.01.2018', {content:{tag:'a',attr:{href:'resume.html'}, content:'стилист-имиджмейкер'}}, 'Пол: женский, 45 лет, Москва', '60-70 т.р.'],
      ['30.10.2016', {content:{tag:'a',attr:{href:'resume.html'}, content:'парикмахер-универсал'}}, 'Пол: женский, 36 лет, Москва', 'от 40000'],
      ['29.10.2016', {content:{tag:'a',attr:{href:'resume.html'}, content:'Парикмахер - универсал.'}}, 'Пол: мужской, 37 лет, Москва', 'от 35000'],
      ['25.10.2016', {content:{tag:'a',attr:{href:'resume.html'}, content:'Визажист, мастер по прическам, парикмахер.'}}, 'Пол: женский, 25 лет, Москва', 'от 40 000'],
      ['24.10.2016', {content:{tag:'a',attr:{href:'resume.html'}, content:'Стилист по прическам'}}, 'Пол: женский, 27 лет, Санкт-Петербург', ''],
      ['17.10.2016', {content:{tag:'a',attr:{href:'resume.html'}, content:'Парикмахер-универсал'}}, 'Пол: женский, 29 лет, Москва', ''],
    ]
  }
