-
  const listBrands = [
    {
      name: 'Gamma & Bross Spa',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_7_1268338425.jpg',
      description: 'Gamma & Bross SPA представляет оборудование для салонов красоты премиум и люкс класса. Компания ориентирована на тщательное изучение рыночного спроса, осуществление ...',
      more: true,
    },
    {
      name: 'Nilo',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_1_1268338910.jpg',
      description: 'NILO - The SPA Industry - это одна из предприятий Maletti – Group, которая занимается производством оборудования для эстетических центров и салонов красоты. Это предприятие ...',
      more: true,
    },
    {
      name: 'Pietranera',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_0_1268339396.jpg',
      description: 'О компании PIETRANERA, основанная в 1955 г, уже более полувека создает элегантные, стильные коллекции, соблюдая высочайшие традиции качества. PIETRANERA по праву является одной из ведущих мировых ...',
      more: true,
    },
    {
      name: 'Ceriotti',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_5_1268339564.jpg',
      description: 'Компания CERIOTTI создает современное оборудование для парикмахерских салонов красоты и является ведущим производителем электрики и производителем номер ОДИН сушуаров в мире. CERIOTTI отличает высокий уровень ...',
      more: true,
    },
    {
      name: 'AGV Group',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_4_1268340022.jpg',
      description: 'В 1997 году Артём и Джорджио объединили свои компании и, избрав девизом «доступная элегантность», атаковали европейский рынок конкурентными ценами на высококачественное оборудование, быстро завоевав ...',
      more: true,
    },
    {
      name: 'Gamma & Bross Spa',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_7_1268338425.jpg',
      description: 'Gamma & Bross SPA представляет оборудование для салонов красоты премиум и люкс класса. Компания ориентирована на тщательное изучение рыночного спроса, осуществление ...',
      more: true,
    },
    {
      name: 'Nilo',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_1_1268338910.jpg',
      description: 'NILO - The SPA Industry - это одна из предприятий Maletti – Group, которая занимается производством оборудования для эстетических центров и салонов красоты. Это предприятие ...',
      more: true,
    },
    {
      name: 'Pietranera',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_0_1268339396.jpg',
      description: 'О компании PIETRANERA, основанная в 1955 г, уже более полувека создает элегантные, стильные коллекции, соблюдая высочайшие традиции качества. PIETRANERA по праву является одной из ведущих мировых ...',
      more: true,
    },
    {
      name: 'Ceriotti',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_5_1268339564.jpg',
      description: 'Компания CERIOTTI создает современное оборудование для парикмахерских салонов красоты и является ведущим производителем электрики и производителем номер ОДИН сушуаров в мире. CERIOTTI отличает высокий уровень ...',
      more: true,
    },
    {
      name: 'AGV Group',
      link: 'brands-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/brands/big_4_1268340022.jpg',
      description: 'В 1997 году Артём и Джорджио объединили свои компании и, избрав девизом «доступная элегантность», атаковали европейский рынок конкурентными ценами на высококачественное оборудование, быстро завоевав ...',
      more: true,
    },
  ]
