-
  const seminarsList = {
    header: ['Дата проведения', 'Название', 'Город', 'Организатор'],
    rows: [
      ['30.07.2019-16.08.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'NAIL-BARISTA'}}, 'Москва', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'NAIL-BARISTA'}}],
      ['30.05.2019-31.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'АВТОРСКИЕ КУРСЫ АФРОПЛЕТЕНИЯ В СПБ | ACADEMY FASHION KINGS'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['30.05.2019-31.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'АВТОРСКИЕ КУРСЫ АФРОПЛЕТЕНИЯ В СПБ | ACADEMY FASHION KINGS'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['20.05.2019-24.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'Интенсив по точным женским стрижкам с Антоном Кочетковым'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:''}}],
      ['17.05.2019-17.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'КУРС БАЗОВОЕ ОКРАШИВАНИЕ ВОЛОС В СПБ'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['12.05.2019-12.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'КУРС НАРАЩИВАНИЯ ВОЛОС В СПБ | ACADEMY FASHION KINGS'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['11.05.2019-11.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'КУРСЫ ПЛЕТЕНИЯ ДРЕД В СПБ | ACADEMY FASHION KINGS'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['04.05.2019-04.05.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'КУРС БОТОКСА ДЛЯ ВОЛОС В СПБ | ACADEMY FASHION KINGS'}}, 'Санкт-Петербург', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Academy Fashion Kings'}}],
      ['01.03.2019-01.03.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'WORKSHOP “Color Trends 2019” / ВОРКШОП «Тренды колористики 2019»'}}, 'Новосибирск', {content:{tag:'a', attr:{href:'companies-item.html'}, content:''}}],
      ['28.02.2019-28.02.2019', {content:{tag:'a',attr:{href:'event.html'}, content:'Форма и цвет. Модные тенденции.'}}, 'Исянгулово с.', {content:{tag:'a', attr:{href:'companies-item.html'}, content:'Hair academy'}}],
    ]
  }
