-
  const exhibitionsList = [
    {
      name: 'Central Asia Beauty Expo 2019',
      subtitle: 'Выставка Central Asia Beauty Expo 2019',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_422_1558944401.jpg',
      features: [
        {name: 'Город', value: 'Алматы (Казахстан)'},
        {name: 'Дата проведения', value: '08.08.2019 - 10.08.2019'},
      ],
    },
    {
      name: 'Красота и грация 2019',
      subtitle: 'Выставка Красота и грация 2019',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_570_1558944118.jpg',
      features: [
        {name: 'Город', value: 'Сочи (Россия)'},
        {name: 'Дата проведения', value: '06.06.2019 - 09.06.2019'},
      ],
    },
    {
      name: 'Beauty Show Krasnodar 2019',
      subtitle: 'Выставка Beauty Show Krasnodar 2019',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_842_1558940618.jpg',
      features: [
        {name: 'Город', value: 'Краснодар (Россия)'},
        {name: 'Дата проведения', value: '29.05.2019 - 31.05.2019'},
      ],
    },
    {
      name: '«Зеркало моды-Одесса-2014»',
      subtitle: 'Фестиваль индустрии красоты',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_614_1409734361.jpg',
      features: [
        {name: 'Город', value: 'Одесса (Украина)'},
        {name: 'Дата проведения', value: '09.10.2015 - 11.10.2015'},
      ],
    },
    {
      name: 'Выставка-продажа «FASHION ELITE»',
      subtitle: 'ФЕСТИВАЛЬ «ПОДАРКИ ДЛЯ ЛЮБИМЫХ»',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_452_1412322567.jpg',
      features: [
        {name: 'Город', value: 'Ставрополь (Россия)'},
        {name: 'Дата проведения', value: '28.02.2015 - 03.03.2015'},
      ],
    },
    {
      name: '«Индустрия красоты»',
      subtitle: 'X межрегиональная профессиональная выставка',
      link: 'exhibitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/exhibitions/img/big_100_1411990776.jpg',
      features: [
        {name: 'Город', value: 'Челябинск (Россия)'},
        {name: 'Дата проведения', value: '26.11.2014 - 28.11.2014'},
      ],
    },
  ]
