-
  const newsList = [
    {
      name: 'Большой курс по маникюру за небольшие деньги',
      link: 'news-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/news/img/big_650_1556266155.jpg',
      description: 'Авторский курс "Идеальный маникюр и покрытие" позволит вам получить навыки в этом прекрасном ремесле и стать мастером маникюра. В нем собрана самая полная, самая полезная информация, как научиться маникюру с нуля , а так же ...',
      more: true,
      tags: ['обучение мастера ногтевого сервиса', 'обучение мастеров маникюра', 'бесплатные-курсы-маникюра', 'курсы маникюра', 'френч', 'идеальный-маникюр', 'маникюр'],
      author: {name: 'Татьяна Сидоренко', link: 'peoples-item.html'},
      date: '26.04.2019'
    },
    {
      name: 'Международный чемпионат «Звездное Время-2019» г.Брест,Беларусь',
      link: 'news-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/news/img/big_386_1550272824.jpg',
      description: 'Приглашаем всех мастеров на II Открытый Международный Чемпионат  по маникюру, моделированию и дизайну ногтей "Звездное Время-2019" 04-05 апреля 2019 г. Брест, Беларусь.    ...',
      more: true,
      tags: ['конкурс', 'конкурсы'],
      author: {name: '"Международный тренинговый центр Лилии"', link: 'companies-item.html'},
      date: '15.02.2019'
    },
    {
      name: 'Курс "Эффективный директор бьюти-индустрии"',
      link: 'news-item.html',
      description: 'Курс "Эффективный директор бьюти-индустрии" Курс рассчитан для настоящих и будущих владельцев бьюти-бизнеса. А также для управляющих бьюти-салонов.  Собрана информация на основе успешного 19-летнего опыта ведения салонов премиум-класса.  Лучшие эксперты с 10 летним стажем. Владельцы салонов ...',
      more: true,
      tags: ['управление салоном'],
      author: {name: 'Hair academy', link: 'companies-item.html'},
      date: '22.01.2019'
    },
    {
      name: 'Мастер-класс Нико Баджио «Макияж по-итальянски: искусство цвета»',
      link: 'news-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/news/img/big_612_1542106246.jpg',
      description: 'Нико Баджио, мэтр визажа из Италии и создатель собственной линии косметики FACE nicobaggio professional make-up, проведет мастер-класс «Макияж по-итальянски: искусство цвета» 29 ноября в Санкт-Петербурге в пространстве Freedom.  В программе мастер-класса:   Как чувствует цвет знаменитый итальянец Как менялся ...  ',
      more: true,
      gallery: {
        name: 'Nico Baggio',
        settings: {fancyboxId: 'news-1'},
        list: [
          {src: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/small_875_1457021005.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/big_875_1457021005.jpg'},
          {src: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/small_348_1457021020.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/big_348_1457021020.jpg'},
          {src: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/small_579_1457021063.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/big_579_1457021063.jpg'},
          {src: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/small_546_1467723525.jpg', detail: 'http://www.hairlife.ru/uploaded_files/galleries/2016/53416/1304/big_546_1467723525.jpg'},
        ],
        more: 7,
      },
      tags: ['визажист', 'мастер-класс', 'курсы визажистов', 'макияж', 'профессиональный make-up', 'нико баджио', 'face-nicobaggio'],
      author: {name: 'Студия Fashion&Beauty NOI', link: 'companies-item.html'},
      date: '13.11.2018'
    },
  ]
