-
  const aboutNewsList = [
    {
      name: 'Сделайте заметку в своем календаре на 1 июня: Digitale 007',
      link: 'about-news.html',
      description: '1 июня в Санкт-Петербурге состоится седьмая конференция по маркетингу Digitale. «Здесь надо быть!» — уверен Игорь Манн, самый ...',
      date: '25.03.2015',
    },
    {
      name: 'Конкурс: "Волшебные метаморфозы"',
      link: 'about-news.html',
      description: 'Создание образ в стиле хеллуина "Волшебные метаморфозы" ...',
      date: '30.09.2014',
    },
    {
      name: 'Конкурс «МИСС INOAR»',
      link: 'about-news.html',
      description: '«Длинные ухоженные волосы – вечный тренд» ...',
      date: '16.06.2014',
    },
    {
      name: 'Нейл-постер. «Стильно. Модно. Молодёжно»',
      link: 'about-news.html',
      description: '...',
      date: '23.05.2014',
    },
    {
      name: 'Всегда вместе. Страсть к профессии',
      link: 'about-news.html',
      description: '...',
      date: '30.04.2014',
    },
    {
      name: 'Фотоконкурс для длинноволосых красавиц «Красота и совершенство неподвластные времени»',
      link: 'about-news.html',
      description: '...',
      date: '24.04.2014',
    },
    {
      name: 'Фотоконкурс по дизайну ногтей "Идеальный френч глазами мастера"',
      link: 'about-news.html',
      description: '...',
      date: '01.04.2014',
    },
    {
      name: 'Всероссийский фотоконкурс для визажистов «Spring look»',
      link: 'about-news.html',
      description: '...',
      date: '31.03.2014',
    },
    {
      name: 'Выбираем победителя премии Life beauty awards 2013',
      link: 'about-news.html',
      description: 'Настало время подвести итоги прошедшего 2013 года. Весь прошедший год ...',
      date: '30.01.2014',
    },
    {
      name: 'Интервью с победителем конкурса Life beauty awards',
      link: 'about-news.html',
      description: 'Предлагаем вашему вниманию интервью с победителем конкурса Life ...',
      date: '21.06.2013',
    },
  ]
