-
  const discountsList = [
    {
      name: 'Закажи комплексное обслуживание и получи скидку от 5% до 7%',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Москва'},
        {name: 'Дата проведения', value: '<strong>03.02.2009 - 31.03.2009</strong>'},
      ],
    },
    {
      name: '"Тариф детский"',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Москва'},
        {name: 'Дата проведения', value: '<strong>10.02.2009 - 31.03.2009</strong>'},
      ],
    },
    {
      name: 'весенние скидки',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Санкт-Петербург'},
        {name: 'Дата проведения', value: '<strong>15.02.2009 - 15.03.2009</strong>'},
      ],
    },
    {
      name: 'Закажи комплексное обслуживание и получи скидку от 5% до 7%',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Москва'},
        {name: 'Дата проведения', value: '<strong>03.02.2009 - 31.03.2009</strong>'},
      ],
    },
    {
      name: '"Тариф детский"',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Москва'},
        {name: 'Дата проведения', value: '<strong>10.02.2009 - 31.03.2009</strong>'},
      ],
    },
    {
      name: 'весенние скидки',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Санкт-Петербург'},
        {name: 'Дата проведения', value: '<strong>15.02.2009 - 15.03.2009</strong>'},
      ],
    },
    {
      name: 'Фестиваль красоты "Невские Берега"',
      link: 'discounts-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/discounts/big_8_1234951866.gif',
      features: [
        {name: 'Город', value: 'Санкт-Петербург'},
        {name: 'Дата проведения', value: '<strong>17.02.2009 - 23.02.2009</strong>'},
      ],
    },
    {
      name: 'ВАШ КУПОН НА СКИДКУ 10%! ПРОСТО РАСПЕЧАТАЙ!',
      link: 'discounts-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/discounts/big_6_1235121537.jpg',
      features: [
        {name: 'Город', value: 'Санкт-Петербург'},
        {name: 'Дата проведения', value: '<strong>20.02.2009 - 05.03.2009</strong>'},
      ],
    },
    {
      name: 'наращивание волос ленточное и капсульное в спб за 2000 руб',
      link: 'discounts-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/discounts/big_10_1235637694.jpg',
      features: [
        {name: 'Город', value: 'Санкт-Петербург'},
        {name: 'Дата проведения', value: '<strong>26.02.2009 - 15.08.2009</strong>'},
      ],
    },
    {
      name: '"Тариф детский"',
      link: 'discounts-item.html',
      image: '',
      features: [
        {name: 'Город', value: 'Москва'},
        {name: 'Дата проведения', value: '<strong>10.02.2009 - 31.03.2009</strong>'},
      ],
    },
  ]
