-
  const listBlogs = [
    {
      name: '4 полезных совета для владельцев салона красоты.',
      category: 'Управление салоном красоты',
      link: 'blogs-post.html',
      linkCategory: 'blogs-category.html',
      body: 'На сегодняшний день бизнес в сфере услуг один из самых распространённых видов деятельности, а салоны красоты есть чуть ли не на каждой улице наших городов, а то их бывает и по несколько штук. Однако, какой бы не был заманчив данный бизнес, не у многих получается вести его правильно. В больших городах салоны красоты открываются и закрываются чуть ли не каждый день. О том, что может помочь вашему бизнесу выйти вперед будет говориться именно в этой статье. Совет 1. Используем клиентскую базу,повышаем лояльность.',
      author: {name: 'Павел Ходак', link: 'peoples-item.html'},
      date: '07.03.2019',
      comments: 0,
      tags: ['продвижение салона', 'управление салоном', 'салон красоты'],
      more: true,
    },
    {
      name: 'Кейс: чат-бот, который экономит кучу времени владельцам салона красоты',
      category: 'Управление салоном красоты',
      link: 'blogs-post.html',
      linkCategory: 'blogs-category.html',
      body: 'Уже давно не новость, что мессенджеры становятся более популярными, чем социальные сети, а чат-боты все больше пространства занимают в жизни пользователей. И ведь действительно, так оно и есть. У меня же вообще есть предположение, что скоро на смену call-центрам и менеджерам по продажам придут именно чат-боты. Но сегодня делать какие-либо прогнозы не хочется, по крайней мере в этом блоге. Сегодня я вам расскажу, как чат-бот помог сэкономить одному владельцу салона красоты кучу времени и помог ей выделится среди конкурентов.',
      author: {name: 'Павел Ходак', link: 'peoples-item.html'},
      date: '06.03.2019',
      comments: 0,
      tags: ['управление', 'автоматизация бизнеса', 'администратор', 'салон красоты', 'управление расходами', 'управление персоналом', 'управление салоном'],
      more: true,
    },
    {
      name: 'Что делать, чтобы ножницы служили долго',
      category: 'Оборудование и инструменты',
      link: 'blogs-post.html',
      linkCategory: 'blogs-category.html',
      body: 'Что делать, чтобы ножницы служили долго Ножницы - довольно сложный механизм, на работу которого оказывает влияние множество факторов и показателей. Очень важно следить и ухаживать за своим рабочим инструментом, чтобы он мог служить Вам годами, доставляя истинное удовольствие.  1.      Избегайте механических воздействий и ударов. Если Вы уронили ножницы, то ни в коем случае не продолжайте ими работать, иначе полотна можно так повредить, что уже вряд ли их кто-то поправит.',
      author: {name: 'Арефьев Николай Антонович - правка и доводка японских ножниц', link: 'peoples-item.html'},
      date: '05.02.2019',
      comments: 0,
      tags: ['служили долго', 'чтобы ножницы', 'что делать'],
      more: true,
    },
    {
      name: 'Как ухаживать За волосами зимой - 10 рекомендаций для всех!',
      category: 'Уход за волосами',
      link: 'blogs-post.html',
      linkCategory: 'blogs-category.html',
      body: 'Зимой многие неблагоприятные условия отрицательно влияют на состояние наших волос: они становятся безжизненные, сухие, ломкие, тусклые, начинается выпадение и сечение кончиков или всей длины.  Преподаватель курса БОТОКС ВОЛОС Елена Волкова выделила основные факторы и дала ценные советы, как спасти волосы в зимний период: ⠀ Отопление. Главный источник, который интенсивно подсушивает волосы и особенно кончики. Гиповитаминоз.',
      author: {name: 'Розалина', link: 'peoples-item.html'},
      date: '05.01.2019',
      comments: 0,
      tags: ['лечение и уход за волосами'],
      more: true,
    },
    {
      name: 'Идеи маникюра 2019',
      category: 'Маникюр и дизайн ногтей',
      link: 'blogs-post.html',
      linkCategory: 'blogs-category.html',
      body: 'Какой цвет выбран главным в наступающем Новом году? Институт Pantone выбрал цветом 2019 года Живой коралл (Living Coral), притягательный и яркий оттенок оранжевого с золотыми полутонами. Коралловый цвет вдохновляет на эксперименты и яркое самовыражение как в мужской, так и в женской уличной моде, а также в маникюре. Теплый оттенок предлагает комфорт и позитив в простых цветовых решениях, но становится более изысканным и искрометным в узорах, текстурах и даже монохромных вариантах.',
      author: {name: 'Ольга Иванова', link: 'peoples-item.html'},
      date: '19.12.2018',
      comments: 0,
      tags: ['французский маникюр', 'мастера маникюра', 'проблемные ногти', 'моделирование и дизайн ногтей', 'новогодний дизайн', 'дизайн ногтей,  маникюр', 'ногти'],
      more: true,
    },
  ]
