-
  const usersList = [
    // {
    //   name:'',
    //   image: '',
    //   features: [
    //     {name:'',value:''},
    //     {name:'',value:'', link:'', popup:{name:'', text:''}},
    //   ]
    // },
    {
      name:'Золотарева Светлана',
      link:'peoples-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_702_1412752952.jpg',
      features: [
        {name:'Город',value:'Курск'},
        {name:'Должность',value:'Мастер ногтевого сервиса'},
        {name:'Компания',value:'Студия красивых ногтей NailBurg ', link:'http://www.hairlife.ru/company/823/', popup:{name:'адрес', text:'Россия, г.Курск, ул. Союзная 28а'}},
        {name:'Рейтинг',value:2149,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      more: true,
    },
    {
      name:'Морозова Лилия',
      link:'peoples-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_804_1297031324.jpg',
      features: [
        {name:'Город',value:'Минск'},
        {name:'Должность',value:'стилист-технолог "Мон Платин" в Беларуси.'},
        {name:'Компания',value:'ООО "ВЕСТ"', link:'http://www.hairlife.ru/company/683/', popup:{name:'адрес', text:'Жодино.'}},
        {name:'Рейтинг',value:1986,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      more: true,
    },
    {
      name:'Татьяна Волощук',
      link:'peoples-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_264_1401205968.jpg',
      features: [
        {name:'Город',value:'Киев'},
        {name:'Должность',value:'косметолог-эстетист'},
        {name:'Рейтинг',value:1493,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      more: true,
    },
    {
      name:'Татьяна Бочарова',
      link:'peoples-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_604_1401471317.jpg',
      features: [
        {name:'Город',value:'Санкт-Петербург'},
        {name:'Должность',value:'руководитель салона красоты, косметолог'},
        {name:'Компания',value:'салон красоты "Мастерская Анастасии Козельской"', link:'http://www.hairlife.ru/company/1797/', popup:{name:'адрес', text:'Санкт-Петербург Васильевский остров м. Василеостровская'}},
        {name:'Рейтинг',value:1352,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      more: true,
    },
    {
      name:'Каграманян Кристина',
      link:'peoples-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/users/pers/big_707_1316253104.jpg',
      features: [
        {name:'Город',value:'Минск'},
        {name:'Должность',value:''},
        {name:'Компания',value:'"ШАРМ КЛЕО"', link:'http://www.hairlife.ru/company/739/', popup:{name:'адрес', text:'Минск, Кальварийская,1'}},
        {name:'Рейтинг',value:1266,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
      ],
      more: true,
    },
  ]
