-
  const aboutContestsList = [
    {
      name: 'Конкурс: "Волшебные метаморфозы"',
      link: 'portfolio-contest.html',
      date: '30.09.2014',
    },
    {
      name: 'Нейл-постер. «Стильно. Модно. Молодёжно»',
      link: 'portfolio-contest.html',
      date: '23.05.2014',
    },
    {
      name: 'Всегда вместе. Страсть к профессии',
      link: 'portfolio-contest.html',
      date: '30.04.2014',
    },
    {
      name: 'Фотоконкурс для длинноволосых красавиц «Красота и совершенство неподвластные времени»',
      link: 'portfolio-contest.html',
      date: '24.04.2014',
    },
    {
      name: 'Фотоконкурс по дизайну ногтей "Идеальный френч глазами мастера"',
      link: 'portfolio-contest.html',
      date: '01.04.2014',
    },
    {
      name: 'Всероссийский фотоконкурс для визажистов «Spring look»',
      link: 'portfolio-contest.html',
      date: '31.03.2014',
    },
    {
      name: 'Конкурс MAKE-UP ART AWARDS 2013',
      link: 'portfolio-contest.html',
      description: 'Работы от участников портала HAIRLIFE.RU, проходящие по требованиям и условиям в номинациях, но не прошедшие в финал, будут размещены на ...',
      date: '18.10.2012',
    },
    {
      name: 'Фотоконкурс с ценными призами и подарками',
      link: 'portfolio-contest.html',
      description: 'Спешим сообщить вам, что на нашем проекте Hairlife.ru проводится "Открытый независимый заочный конкурс по парикмахерскому искусству, декоративной косметике, нейл-дизайну и профессиональной флористике ...',
      date: '22.08.2012',
    },
    {
      name: 'Премия Life beauty awards: стань известным!',
      link: 'portfolio-contest.html',
      description: 'Хотим официально объявить об учреждении премии Life beauty awards за вклад в развитие нашего проекта и в индустрию красоты в ...',
      date: '01.07.2012',
    },
    {
      name: 'Пригласи друзей на сайт, получи денежный приз',
      link: 'portfolio-contest.html',
      description: 'На нашем проекте проводится конкурс. Трое участников, пригласивших больше всего друзей на наш сайт получат денежный приз - 5 000 руб. ...',
      date: '04.05.2012',
    },
    {
      name: 'Конкурс на тему "Коммерческий женский образ"',
      link: 'portfolio-contest.html',
      date: '16.03.2012',
    },
    {
      name: 'Номинация Fashion-макияж конкурса MAKE-UP ART AWARDS',
      link: 'portfolio-contest.html',
      date: '27.02.2012',
    },
    {
      name: 'Конкурс по созданию образа - "Голливудская звезда"',
      link: 'portfolio-contest.html',
      date: '09.02.2012',
    },
    {
      name: 'Конкурс макияжа "Новогодний шик"',
      link: 'portfolio-contest.html',
      date: '12.01.2012',
    },
    {
      name: 'Всероссийский конкурс для парикмахеров «КОСА-ДЕВИЧЬЯ КРАСА»',
      link: 'portfolio-contest.html',
      date: '10.01.2012',
    },
    {
      name: 'Третий этап конкурса поощрения активистов форума',
      link: 'portfolio-contest.html',
      description: 'Уважаемые участники, в предверии праздников спешим сообщить вам о начале третьего (предпоследнего) этапа конкурса. Победители прошедшего ...',
      date: '13.12.2011',
    },
    {
      name: 'Второй этап конкурса поощрения активистов форума',
      link: 'portfolio-contest.html',
      description: 'Уважаемые участники, спешим сообщить вам о начале нового этапа конкурса.В данном конкурсе мы бы хотели поощрить тех ...',
      date: '23.09.2011',
    },
    {
      name: 'Черно-белая любовь для парикмахеров',
      link: 'portfolio-contest.html',
      date: '29.08.2011',
    },
    {
      name: 'Конкурс по афроплетению: "Черно-белая любовь"',
      link: 'portfolio-contest.html',
      date: '03.08.2011',
    },
    {
      name: 'Дарим активным участникам форумов призы!',
      link: 'portfolio-contest.html',
      description: 'Мы начинаем полномасштабный конкурс, целью которого является поощрение участников форумов нашего портала.Нам очень нужны ваши знания, а главное ...',
      date: '06.07.2011',
    },
    {
      name: 'Всероссийский конкурс на лучший дизайн ногтей',
      link: 'portfolio-contest.html',
      date: '28.06.2011',
    },
    {
      name: 'Интеллектуальный конкурс косметологов',
      link: 'portfolio-contest.html',
      date: '23.06.2011',
    },
    {
      name: 'Конкурс для парикмахеров',
      link: 'portfolio-contest.html',
      description: 'Хотим рассказать Вам, что на нашем портале проводится конкурс работ из портфолио «Окрашивание».Тема конкурса: все виды окрашивания волос ...',
      date: '16.12.2010',
    },
    {
      name: 'Конкурс фото уроков',
      link: 'portfolio-contest.html',
      description: 'На нашем портале проводится конкурс фото уроков по парикмахерскому искусству и макияжу. Участие в данном конкурсе отличная возможность проявить себя ...',
      date: '29.10.2010',
    },
    {
      name: 'Проводится конкурс работ из портфолио!',
      link: 'portfolio-contest.html',
      description: 'Хотим рассказать Вам, что на нашем портале проводится конкурс работ из портфолио «Макияж и прически сквозь века».Тема конкурса: ...',
      date: '12.09.2010',
    },
  ]
