-
  const competitionsList = [
    {
      name: 'Хрустальные ножницы - 2019',
      subtitle: 'Чемпионат России "Хрустальные ножницы - 2019"',
      link: 'competitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/competitions/img/big_614_1558950090.jpg',
      features: [
        {name: 'Город', value: 'Брянск (Россия)'},
        {name: 'Дата проведения', value: '28.09.2019	- 28.09.2019'},
      ],
    },
    {
      name: 'Beauty Lashes 2019',
      subtitle: 'Конкурс Beauty Lashes 2019',
      link: 'competitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/competitions/img/big_771_1558948692.jpg',
      features: [
        {name: 'Город', value: 'Челябинск (Россия)'},
        {name: 'Дата проведения', value: '02.11.2019	- 04.11.2019'},
      ],
    },
    {
      name: 'Beauty Lashes 2019',
      subtitle: 'Конкурс Beauty Lashes 2019',
      link: 'competitions-item.html',
      image: 'http://www.hairlife.ru/uploaded_files/competitions/img/big_863_1558948736.jpg',
      features: [
        {name: 'Город', value: 'Челябинск (Россия)'},
        {name: 'Дата проведения', value: '02.11.2019	- 04.11.2019'},
      ],
    },
  ]
