-
  const vacanciesList = {
    header: ['Дата', 'Вакансия', 'Компания', 'Зарплата',],
    rows: [
      ['22.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Массажист'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Аматика'}}, '50 000'],
      ['22.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер стилист'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Аматика'}}, 'от 70 000'],
      ['20.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер-универсал'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Салон красоты «Позитив»'}}, '35000-45000'],
      ['16.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер универсал'}, '<br>Новосибирск'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Салон " KISS "'}}, '25000'],
      ['11.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Мастер ногтевого сервиса'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'LaLaLaki'}}, '60000'],
      ['08.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер универсал'}, '<br>Ставрополь'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'TashaM studio'}}, ''],
      ['08.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Салон красоты SWELL'}}, '2000'],
      ['08.07.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Мастер ногтевого сервиса'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Салон красоты SWELL'}}, '1500'],
      ['30.06.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Мастер ногтевого сервиса'}, '<br>Москва'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Manki Manik'}}, '100000'],
      ['27.06.2019', [{tag:'a',attr:{href:'vacancy.html'}, content:'Парикмахер'}, '<br>Санкт-Петербург'], {content: {tag: 'a', attr: {href:'companies-item.html'}, content: 'Салон красоты "Бэль"'}}, '50 процентов от выполненных процедур'],
    ]
  }
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
