
-
  const mainMenu = [
    {'name':'Участники','href':'peoples.html'},
    {'name':'Компании','href':'companies.html'},
    {'name':'Бренды','href':'brands.html'},
    {'name':'События','href':'/',
      sublist: [
        {'name':'Новости','href':'news.html'},
        {'name':'Обучающие мероприятия','href':'seminars.html'},
        {'name':'Выставки','href':'exhibitions.html'},
        {'name':'Чемпионаты и конкурсы','href':'competitions.html'},
        {'name':'Акции компаний','href':'discounts.html'},
      ]
    },
    {'name':'Статьи','href':'blogs.html',
      sublist: [
        {'name':'Конкурсы','href':'blogs-contests.html'},
      ]},
    {'name':'Портфолио','href':'portfolio.html',
      sublist: [
        {'name':'Конкурсы','href':'portfolio-contests.html'},
        {'name':'Призеры','href':'portfolio-winners.html'},
      ]
    },
    {'name':'Видео','href':'videos.html'},
    {'name':'Форумы','href':'forum.html'},
    {'name':'Товары','href':'trade.html'},
    {'name':'Работа','href':'job.html',
      sublist: [
        {'name':'Резюме','href':'job-resumes.html'},
        {'name':'Вакансии','href':'job-vacancies.html'},
      ]
    },
    {'name':'Конкурсы','href':'about-contests.html'},
    {'name':'Объявления','href':'notices.html',
      sublist: [
        {'name':'Аренда кабинетов и салонов','href':'notices-rent.html'},
        {'name':'Продажа салонов и парикмахерских','href':'notices-sale-salons.html'},
      ]
    },
    {'name':'Информация','href':'/',
      sublist: [
        {'name':'Рассылка','href':'analytics-posting.html'},
      ]
    },
  ]
