-
  const portfolioSearchGallery = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/60197/small_458_1563915920.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Ксения Милованова'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_249_1563522620.jpg',
        alt: 'Креативное мелирование',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_909_1563522561.jpg',
        alt: 'Airtouch',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_435_1563522522.jpg',
        alt: 'Airtouch',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_666_1563522460.jpg',
        alt: 'Мелирование +тонирование волос',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_358_1563522416.jpg',
        alt: 'Окрашивание волос',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_926_1563522362.jpg',
        alt: 'Тонирование волос',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_673_1563522315.jpg',
        alt: 'Тонирование волос',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_793_1559685110.jpg',
        alt: 'Блондирование +тонирование волос +стрижка ассиметричное каре',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_575_1559684914.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_656_1559684782.jpg',
        alt: 'Мелкое и частое мелирование волос, тонирование и стрижка боб каре ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/16958/small_93_1559369840.jpg',
        alt: 'Моя работа - обесцвечивание, тонирование и стрижка градуированое каре.',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Стрелецкая'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/16958/small_456_1559369684.jpg',
        alt: 'Моя работа- стрижка каскад, химическая завивка.',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Стрелецкая'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/16958/small_934_1559369478.jpg',
        alt: 'Моя работа - женская стрижка боб, мелирование, укладка.',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Стрелецкая'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/16958/small_600_1559369182.jpg',
        alt: 'Моя работа на длинных волосах: стрижка, окрашивание, химическая завивка.',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Стрелецкая'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_398_1557571150.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_546_1557571113.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_8_1557571057.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_845_1557058695.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_928_1557058562.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
    ]
  }
