-
  const activeUsers = [
    {name: 'Стилист Орлова Яна', works: 515},
    {name: 'Ёлка', works: 281},
    {name: 'Наталия Кузнецова', works: 265},
    {name: 'Золотарева Светлана', works: 249},
    {name: 'Морозова Лилия', works: 215},
    {name: 'Светлана Луресова', works: 167},
    {name: 'Лора Белобровик', works: 160},
    {name: 'Остриянская Мария', works: 139},
    {name: 'полохина олеся геннадьевна', works: 138},
    {name: 'Мария Гринь', works: 133},
  ]

  const comments = [
    {text: 'Где вы находитесь?', author: 'Ирина Задоренок '},
    {text: 'Красивые волосы', author: 'Ирина Задоренок '},
    {text: 'Топ!!!', author: 'Ирина Задоренок '},
    {text: 'Симпатично', author: 'Ирина Задоренок '},
    {text: 'Классный цвет!', author: 'Ирина Задоренок '},
  ]

  const popularWorksGallery = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/60197/small_458_1563915920.jpg',
        alt: '',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Ксения Милованова'}],
      },
    ]
  }

  const galleryHairstyle = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_249_1563522620.jpg',
        alt: 'Креативное мелирование ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2012/16958/small_93_1559369840.jpg',
        alt: 'градуированое каре',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Стрелецкая'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59957/small_158_1556269031.jpg',
        alt: 'Фейд',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Шкваркова Анна'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59875/small_655_1554279981.jpg',
        alt: 'Стрижка',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Максим Галкин Парикмахер'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2017/56014/small_988_1551471117.jpg',
        alt: 'Вечерняя прическа на среднюю длину',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Людмила Воронцова'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59596/small_861_1548759045.jpg',
        alt: 'Прическа',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Олеся Ахмарова'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58892/small_846_1548690317.jpg',
        alt: 'Окрашивание',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Аида Штельман'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59587/small_446_1548417250.jpg',
        alt: 'Макияж укладки ногти ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Мария Кириченко'}],
      },
    ]
  }

  const nailDesignGallery = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59959/small_92_1556312195.jpg',
        alt: 'Маникюр',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Светлана Салмина'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59700/small_194_1551033270.jpg',
        alt: 'Делаю ваши ручки красивыми и ухоженными',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Светлана'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59587/small_446_1548417250.jpg',
        alt: 'Макияж укладки ногти',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Мария Кириченко'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/59395/small_464_1545666530.jpg',
        alt: 'Маникюр гель-лаками с эффектом ткани',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Ольга Иванова'}],
      },
    ]
  }

  const makeUpGallery = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59630/small_185_1549440158.jpg',
        alt: 'ресницы 3D, изгиб С, эффект - натуральный',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Алина Кащенко'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59587/small_446_1548417250.jpg',
        alt: 'Макияж укладки ногти ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Мария Кириченко'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/59294/small_210_1542011700.jpg',
        alt: 'Свадебный макияж',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Светлана Волкова'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58860/small_926_1535514916.jpg',
        alt: 'Макияж, коррекция бровей, укладка волос',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Мальвина Джагаева'}],
      },
    ]
  }

  const completeLookGallery = {
    list: [
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/60197/small_458_1563915920.jpg',
        alt: 'Полный модный образ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Ксения Милованова'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2019/59985/small_845_1557058695.jpg',
        alt: 'Креативный образ',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Анастасия Троян'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58834/small_168_1532212621.jpg',
        alt: 'Вечерний макияж и прическа',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'Оксана Негру'}],
      },
      {
        src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2018/58702/small_9_1529605351.jpg',
        alt: 'Гребешок для  прически',
        href: 'photos-item.html',
        description: ['Автор: ', {tag:'a',attr:{href:'peoples-item.html'}, content: 'наталья бакалкина'}],
      },
    ]
  }
