-
  const formReg = {
    fields: [
      {
        type: 'email',
        id: 'eml',
        name: 'eml',
        label: 'Логин (E-mail)', 
        warning: 'Обязательно указывайте рабочий E-mail, иначе регистрация невозможна!',
        clarification: 'Введите Ваш адрес электронной почты<br>Например: ivanov@gmail.com',
        required: true,
      },
      {
        type: 'password',
        id: 'pwd',
        name: 'pwd',
        label: 'Пароль:', 
        clarification: '',
        required: true,
      },
      {
        type: 'text',
        id: 'f',
        name: 'f',
        label: 'Имя, фамилия:', 
        clarification: 'Допускаются буквы латинского алфавита и цифры, не менее 6 символов',
        required: true,
      },
      {
        type: 'checks',
        checks: [
          {type:'checkbox',id:'amplua_2',name:'amplua[2]',label:'Руководитель салона'},
          {type:'checkbox',id:'',name:'',label:'Администратор салона'},
          {type:'checkbox',id:'',name:'',label:'Парикмахер'},
          {type:'checkbox',id:'',name:'',label:'Технолог'},
          {type:'checkbox',id:'',name:'',label:'Мастер по косичкам'},
          {type:'checkbox',id:'',name:'',label:'Имиджмейкер'},
          {type:'checkbox',id:'',name:'',label:'Мастер по наращиванию волос'},
          {type:'checkbox',id:'',name:'',label:'Стилист'},
          {type:'checkbox',id:'',name:'',label:'Визажист'},
          {type:'checkbox',id:'',name:'',label:'Мастер по ресницам'},
          {type:'checkbox',id:'',name:'',label:'Мастер ногтевого сервиса'},
          {type:'checkbox',id:'',name:'',label:'Косметолог'},
          {type:'checkbox',id:'',name:'',label:'Мастер перманентного макияжа'},
          {type:'checkbox',id:'',name:'',label:'Массажист'},
          {type:'checkbox',id:'',name:'',label:'Модельер одежды'},
          {type:'checkbox',id:'',name:'',label:'Врач-трихолог'},
          {type:'checkbox',id:'',name:'',label:'Татуировщик'},
          {type:'checkbox',id:'',name:'',label:'Пирсинг мастер'},
          {type:'checkbox',id:'',name:'',label:'Фотограф'},
          {type:'checkbox',id:'',name:'',label:'Преподаватель'},
          {type:'checkbox',id:'',name:'',label:'Продажи'},
          {type:'checkbox',id:'',name:'',label:'Маркетинг, PR'},
          {type:'checkbox',id:'',name:'',label:'Флорист'},
          {type:'checkbox',id:'',name:'',label:'Фитнес инструктор'},
          {type:'checkbox',id:'',name:'',label:'Иное'},
        ],
        label: 'Амплуа:', 
        warning: 'Это профессиональный портал!<br>Если Вы не имеете отношение к индустрии красоты просьба не регистрироваться. Вам лучше перейти на сайт <a href="http://www.cons.hairlife.ru/">для клиентов салонов</a>.',
        clarification: 'Выберите амплуа, которые вас интересуют',
        required: true,
      },
      {
        type: 'select',
        options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
        id: '',
        name: '',
        label: 'Страна:', 
        warning: '',
        clarification: '',
      },
      {
        type: 'select',
        options: [' - Выберите страну - ', 'Россия', 'Украина', 'Беларусь', 'Австралия'],
        id: '',
        name: '',
        label: 'Город:', 
        warning: '',
        clarification: '',
        required: true,
      },
      {
        type: 'text',
        id: 're',
        name: 're',
        label: '', 
        warning: 'или',
        clarification: 'Введите Вашу страну, область, город если его или ее нет в указанных выше списках.',
      },
      {
        type: 'checks',
        checks: [
          {type:'checkbox',id:'terms',name:'terms[]',value:1,required:true,checked:true,label:`Я принимаю <a href="${staticLinks.aboutTerms}">правила использования</a> сайта`,required: true,},
          {type:'checkbox',id:'subscribe',name:'subscribe[]',value:1,required:true,checked:true,label:'Подписаться на рассылку новостей портала',required: true,},
        ],
        label: '', 
        warning: '',
        clarification: '',
      }
    ],
    submit: {
      button: 'Зарегистрироваться',
      clarification: {tag: 'p', className: 'form-registration__login', content: {tag:'a', attr: {href: staticLinks.login}, content: 'Я уже зарегистрирован(а)'}}
    }
  } 
