-
  const resume = [
    {
      name: 'Личная информация',
      properties: [
        {name: 'Фамилия Имя Отчество', value: 'Ксения Милованова'},
        {name: 'Пол', value: 'Женский'},
        {name: 'Возраст', value: '40'},
        {name: 'Город', value: 'Москва'},
        {name: 'Контактный телефон', value: '8 963 757 80 31'},
        {name: 'Фотография', value: {tag:'img', attr:{src:'http://www.hairlife.ru/uploaded_files/users/pers/small_380_1563914763.jpg', alt:'Резюме Стилист, имиджмейкер, шоппинг-сопровождение, Москва / Работа', title:'Резюме Стилист, имиджмейкер, шоппинг-сопровождение, Москва / Работа'}}},
      ],
    },
    {
      name: 'Пожелания к работе',
      properties: [
        {name: 'Должность', value: 'Стилист, имиджмейкер, шоппинг-сопровождение'},
      ],
    },
    {
      name: 'Опыт работы',
      properties: [
        {name: 'Стаж работы', value: 'больше 5 лет'},
        {name: 'Подробно', value: 'Частная практика с клиентами 1995 г.- по настоящий момент Стилист. Ревизия гардероба Создания стиля и имиджа клиента ( с учетом пожеланий) Шопинг сопровождение Гардероб по запросу (на сезон, для молодых мам, в поездку) Дизайн бижутерии Этикет'},
      ],
    },
    {
      name: 'Основное образование',
      properties: [
        {name: 'Учебное заведение', value: 'Российский государственный социальный университет г.Москва , г. Москва'},
        {name: 'Специальность', value: 'Социология'},
        {name: 'Год окончания', value: 2003},
      ],
    },
    {
      name: 'Дополнительная информация',
      properties: [
        {name: '', value: 'http://milovanova-ksenia.ru/ @kseniy_stylist'},
      ],
    },
  ]
