-
  let prodLinks = process.env.NODE_ENV == 'production' || process.env.NODE_ENV == 'copySite' ? true : false
  let staticLinks =  {
    about: prodLinks ? '/about/' : 'about.html',
    aboutTerms: prodLinks ? '/about/terms.html' : 'about-terms.html',
    aboutBanners: prodLinks ? '/about/banners.html' : 'about-banners.html',
    aboutFaq: prodLinks ? '/about/faq.html' : 'about-faq.html',
    aboutNews: prodLinks ? '/about/news.html' : 'about-news.html',
    aboutAddBannerVkontakte: prodLinks ? '/about/add_banner_vkontakte.html' : 'about-add-banner-vkontakte.html',
    cooperation: prodLinks ? '/cooperation/' : 'cooperation.html',
    support: prodLinks ? '/support/' : 'support.html',
    adv: prodLinks ? '/adv/' : 'adv.html',
    advPriority: prodLinks ? '/adv/priority.html' : 'adv-priority.html',
    advBanner: prodLinks ? '/adv/banner.html' : 'adv-banner.html',
    advTorg: prodLinks ? '/adv/torg.html' : 'adv-torg.html',
    advRassilka: prodLinks ? '/adv/rassilka.html' : 'adv-rassilka.html',
    advForum: prodLinks ? '/adv/forum.html' : 'adv-forum.html',
    advNews: prodLinks ? '/adv/news.html' : 'adv-news.html',
    advDiscounts: prodLinks ? '/adv/discounts.html' : 'adv-discounts.html',
    advArticles: prodLinks ? '/adv/articles.html' : 'adv-articles.html',
    advVideos: prodLinks ? '/adv/videos.html' : 'adv-videos.html',
    advContest: prodLinks ? '/adv/contest.html' : 'adv-contest.html',
    advStat: prodLinks ? '/adv/stat.html' : 'adv-stat.html',
    advRequest: prodLinks ? '/adv/request.html' : 'adv-request.html',
    search: prodLinks ? '/structure/search.html' : 'search.html',
    login: prodLinks ? '/account/login.html' : 'login.html',
    registration: prodLinks ? '/reg/' : 'reg.html',
    rating: prodLinks ? '/about/faq.html#6' : 'faq.html#6',
    cooperation: prodLinks ? '/cooperation/' : 'cooperation.html',
    companies: prodLinks ? '/companies/' : 'companies.html',
    brands: prodLinks ? '/brands/' : 'brands.html',
    discounts: prodLinks ? '/discounts/' : 'discounts.html',
    market: prodLinks ? '/companies/exchange/' : 'exchange.html',
    news: prodLinks ? '/news/' : 'news.html',
    exhibitions: prodLinks ? '/exhibitions/' : 'exhibitions.html',
    competitions: prodLinks ? '/competitions/' : 'competitions.html',
    seminars: prodLinks ? '/study/seminars/' : 'seminars.html',
    press: prodLinks ? '/analytics/press/' : 'press.html',
    job: prodLinks ? '/job/' : 'job.html',
    peoples: prodLinks ? '/peoples/' : 'peoples.html',
    peoplesSendMessage: prodLinks ? '/peoples/send_message.html' : 'peoples-send-message.html',
    portfolio: prodLinks ? '/portfolio/' : 'portfolio.html',
    portfolioSearch: prodLinks ? '/portfolio/search.html' : 'portfolio-search.html',
    videos: prodLinks ? '/videos/' : 'videos.html',
    forum: prodLinks ? '/forum/' : 'forum.html',
    newsfeed: prodLinks ? '/analytics/posting.html' : 'analytics-posting.html',
    articles: prodLinks ? '/blogs/' : 'blogs.html',
    trade: prodLinks ? '/trade/' : 'trade.html',
    captcha: prodLinks ? '/_classes/securimage/securimage_show.php' : 'http://www.hairlife.ru/_classes/securimage/securimage_show.php',
    contacts: prodLinks ? '/about/contacts.html' : 'contacts.html',
    exhibitions: prodLinks ? '/exhibitions/' : 'exhibitions.html',
    pastExhibitions: prodLinks ? '/exhibitions/archive/' : 'exhibitions-archive.html',
    competitions: prodLinks ? '/competitions/' : 'competitions.html',
    discounts: prodLinks ? '/discounts/' : 'discounts.html',
    discountsArchive: prodLinks ? '/discounts/archive/' : 'discounts-archive.html',
    addPhoto: prodLinks ? '/account/gallery/add_photo.html' : 'add-photo.html',
    addPortfolio: prodLinks ? '/account/portfolio/add_photo.html' : 'add-portfolio.html',
    addVideo: prodLinks ? '/account/video/add_video.html' : 'add-video.html',
    addGallery: prodLinks ? '/account/gallery/add_gallery.html' : 'add-gallery.html',
    addCompany: prodLinks ? '/account/company/company_regform.html' : 'company-regform.html',
    addNews: prodLinks ? '/account/company/news/add_news.html' : 'add-news.html',
    addSeminar: prodLinks ? '/account/company/study/add_seminar.html' : 'add-seminar.html',
    addDiscounts: prodLinks ? '/account/company/discounts/add_discounts.html' : 'add-discounts.html',
    addOffer: prodLinks ? '/account/company/products/add_offer.html' : 'add-offer-step-1.html',
    addArticle: prodLinks ? '/account/posts/add_post.html' : 'add-post.html',
    addFilial: prodLinks ? '/account/company/filials/add_filial.html' : 'add-filial.html',
    addResume: prodLinks ? '/account/resume/add_resume.html' : 'add-resume.html',
    addVacancy: prodLinks ? '/account/company/vacancy/add_vacancy.html' : 'add-vacancy.html',
    noticesRentPlaces: prodLinks ? '/notices/rent/places/' : 'notices-rent-places.html',
    noticesRentSalons: prodLinks ? '/notices/rent/salons/' : 'notices-rent-salons.html',
    noticesSaleSalons: prodLinks ? '/notices/sale/salons/index.html' : 'notices-sale-salons.html',
    noticesRentAddPlace: prodLinks ? '/notices/rent/places/add_place.html' : 'notices-rent-add-place.html',
    noticesRentAddSalon: prodLinks ? '/notices/rent/salons/add_salon.html' : 'notices-rent-add-salon.html',
    noticesSaleAddSalon: prodLinks ? '/notices/sale/salons/add_salon.html' : 'notices-sale-add-salon.html',
    newsfeedSalondirector: prodLinks ? '/analytics/director_posting_template.html' : 'director-posting-template.html',
    newsfeedParikmaher: prodLinks ? '/analytics/parikmaher_posting_template.html' : 'parikmaher-posting-template.html',
    newsfeedVisage: prodLinks ? '/analytics/visage_posting_template.html' : 'visage-posting-template.html',
    newsfeedStilist: prodLinks ? '/analytics/stilist_posting_template.html' : 'stilist-posting-template.html',
    newsfeedNailmaster: prodLinks ? '/analytics/nailmaster_posting_template.html' : 'nailmaster-posting-template.html',
    newsfeedKosmetolog: prodLinks ? '/analytics/kosmetolog_posting_template.html' : 'kosmetolog-posting-template.html',
    account: prodLinks ? '/account/index.html' : 'account.html',
    accountInvite: prodLinks ? '/account/company/invite.html' : 'account-company-invite.html',
    accountMessages: prodLinks ? '/account/messages/messages.html' : 'account-messages.html',
    accountMessagesSent: prodLinks ? '/account/messages/sent_messages.html' : 'account-messages-sent.html',
    accountResume: prodLinks ? '/account/resume/' : 'account-resume.html',
    accountPosts: prodLinks ? '/account/posts/' : 'account-posts.html',
    accountVideo: prodLinks ? '/account/video/' : 'account-video.html',
    accountGalleries: prodLinks ? '/account/gallery/' : 'account-galleries.html',
    accountPortfolio: prodLinks ? '/account/portfolio/index.html' : 'account-portfolio.html',
    accountCompany: prodLinks ? 'account/company/company.html' : 'account-company.html',
    accountCompanyAddLogo: prodLinks ? '/account/company/add_logo.html' : 'account-company-add-logo.html',
    accountCompanyEdit: prodLinks ? '/account/company/edit_company.html' : 'account-company-edit.html',
    accountCompanyAddMap: prodLinks ? '/account/company/add_map.html' : 'account-company-add-map.html',
    accountCompanyAddPrice: prodLinks ? '/account/company/add_price.html' : 'account-company-add-price.html',
    accountCompanyFilials: prodLinks ? 'account/company/filials/filials.html' : 'account-company-filials.html',
    accountCompanyFilialsEdit: prodLinks ? '/account/company/filials/edit_filial.html' : 'account-company-filials-edit.html',
    accountCompanyNews: prodLinks ? '/account/company/news/index.html' : 'account-company-news.html',
    accountCompanyNewsEdit: prodLinks ? '/account/company/news/edit_news.html' : 'account-company-news-edit.html',
    accountCompanyMessages: prodLinks ? '/account/company/messages.html' : 'account-company-messages.html',
    accountCompanyVacancies: prodLinks ? '/account/company/vacancy/index.html' : 'account-company-vacancies.html',
    accountCompanySeminars: prodLinks ? 'account/company/study/seminars.html' : 'account-company-seminars.html',
    accountCompanyProducts: prodLinks ? '/account/company/products/index.html' : 'account-company-products.html',
    accountEditProfile: prodLinks ? '/account/edit_profile.html' : 'account-edit-profile.html',
    accountEditProfilePersphoto: prodLinks ? '/account/edit_profile_persphoto.html' : 'account-edit-profile-persphoto.html',
    accountEditProfileContacts: prodLinks ? '/account/edit_profile_contacts.html' : 'account-edit-profile-contacts.html',
    accountEditProfileDegree: prodLinks ? '/account/edit_profile_degree.html' : 'account-edit-profile-degree.html',
    accountEditProfileAccess: prodLinks ? '/account/edit_profile_access.html' : 'account-edit-profile-access.html',
    accountEditResume: prodLinks ? '/account/resume/edit_resume.html' : 'account-edit-resume.html',
    accountEditPost: prodLinks ? '/account/posts/edit_post.html' : 'account-edit-post.html',
    accountEditVideo: prodLinks ? '/account/video/edit_video.html' : 'account-edit-video.html',
    accountEditGallery: prodLinks ? '/account/gallery/edit_gallery.html' : 'account-edit-gallery.html',
    accountEditPhoto: prodLinks ? '/account/gallery/edit_photo.html' : 'account-edit-photo.html',
    accountEditPortfolio: prodLinks ? '/account/portfolio/edit_photo.html' : 'account-edit-portfolio.html',
    accountSettingsEditSettings: prodLinks ? 'account/settings/edit_settings.html' : 'account-settings-edit-settings.html',
    accountSettingsEditNotification: prodLinks ? 'account/settings/edit_notification.html' : 'account-settings-edit-notification.html',
    newsfeedIndustry: prodLinks ? '/analytics/posting_template.html' : 'analytics-posting-template.html',
    newsfeedSalondirector: prodLinks ? '/analytics/director_posting_template.html' : 'analytics-director-posting-template.html',
    newsfeedParikmaher: prodLinks ? '/analytics/parikmaher_posting_template.html' : 'analytics-parikmaher-posting-template.html',
    newsfeedVisage: prodLinks ? '/analytics/visage_posting_template.html' : 'analytics-visage-posting-template.html',
    newsfeedStilist: prodLinks ? '/analytics/stilist_posting_template.html' : 'analytics-stilist-posting-template.html',
    newsfeedNailmaster: prodLinks ? '/analytics/nailmaster_posting_template.html' : 'analytics-nailmaster-posting-template.html',
    newsfeedKosmetolog: prodLinks ? '/analytics/kosmetolog_posting_template.html' : 'analytics-kosmetolog-posting-template.html',
    forumSearch: prodLinks ? '/forum/search/' : 'forum-search.html',
    forumNewMessages: prodLinks ? '/forum/search/new/' : 'forum-new.html',
    forumRecent: prodLinks ? '/forum/search/recent/' : 'forum-recent.html',
    forumUnanswered: prodLinks ? '/forum/search/unanswered/' : 'forum-unanswered.html',
    forumHelpBbcode : prodLinks ? '/forum/help/bbcode/' : 'forum-help-bbcode.html',
    forumHelpImg: prodLinks ? '/forum/help/img/' : 'forum-help-img.html',
    forumHelpSmilies : prodLinks ? '/forum/help/smilies/' : 'forum-help-smilies.html',
    passRecovery: prodLinks ? '/reg/recovery.html' : 'reg-recovery.html',
    analyticsPress: prodLinks ? '/analytics/press/' : 'analytics-press.html',
  }
