-
  const tradeSubcategory = {
    header: ['Название или модель', 'Материал обивки', 'Тип подъемника'],
    rows: [
      [
        [
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'Beauty Star Domingo '}},
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 
            {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/users/2008/1/products/small_958_1305548262.jpg', alt: 'Beauty Star Domingo ', title: 'Beauty Star Domingo '}},
          }},
        ],
        'Кожзам','Гидравлика'
      ],
      [
        [
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'Beauty Star Amika'}},
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 
            {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/users/2008/1/products/small_145_1305548475.jpg', alt: '', title: ''}},
          }},
        ],
        'Кожзам','Гидравлика'
      ],
      [
        [
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'Beauty Star Anais'}},
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 
            {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/users/2008/1/products/small_797_1305548603.jpg', alt: '', title: ''}},
          }},
        ],
        'Кожзам','Гидравлика'
      ],
      [
        [
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'Beauty Star Bend'}},
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 
            {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/users/2008/1/products/small_675_1305548745.jpg', alt: '', title: ''}},
          }},
        ],
        'Кожзам','Гидравлика'
      ],
      [
        [
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 'Beauty Star Bianka'}},
          {tag: 'p', content: {tag: 'a', attr: {href: 'trade-item.html'}, content: 
            {tag: 'img', attr: {src: 'http://www.hairlife.ru/uploaded_files/users/2008/1/products/small_73_1305548841.jpg', alt: '', title: ''}},
          }},
        ],
        'Кожзам','Гидравлика'
      ],
    ]
  }
