-
  const userInfo = {
    basic: [
      {name:'Город',value:'Курск'},
      {name:'Должность',value:'Мастер ногтевого сервиса'},
      {name:'Компания',value:'Студия красивых ногтей NailBurg ', link:'http://www.hairlife.ru/company/823/', popup:{name:'адрес', text:'Россия, г.Курск, ул. Союзная 28а'}},
      {name:'Рейтинг',value:2149,clarLink:'http://www.hairlife.ru/about/faq.html#6'},
    ],
    contacts: [
      {name:'Адрес', value:'Россия, г.Курск, ул. Союзная 28а'},
      {name:'Телефон домашний', value:'+7(4712) 31-13-86'},
    ],
    works: {
      settings: {type: 'small'},
      list: [
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/square_715_1412756180.jpg', href: 'photos-item.html', alt: 'нейл постер'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/square_334_1412756134.jpg', href: 'photos-item.html', alt: 'нейл постер'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/square_808_1412755886.jpg', href: 'photos-item.html', alt: 'нейл постер'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/square_62_1412755503.jpg', href: 'photos-item.html', alt: 'классический френч'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/square_660_1412755458.jpg', href: 'photos-item.html', alt: 'медовые стилеты'},
      ]
    },
    activity: [
      {name:'Дата последнего посещения', value:'21.07.2018'},
      {name:'Дата регистрации', value:'30.07.2011'},
    ],
    education: {
      primary: [
        {name:'Город', value:'Курск'},
        {name:'Специальность', value:'маникюрша'},
        {name:'Год', value:2007},
      ],
      secondary: [
        {name:'Город', value:'Курск'},
        {name:'Специальность', value:'парикмахер-универсал'},
        {name:'Год', value:2011},
      ],
    },
    portfolio: {
      settings: {noBorders: true},
      list: [
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_381_1312658621.jpg', href: 'photos-item.html', alt: 'акриловое наращивание под лак, роспись акриловыми красками, флористика'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_938_1312055920.jpg', href: 'photos-item.html', alt: ''},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_528_1312056103.jpg', href: 'photos-item.html', alt: 'наращивание ногтей с удленением ногтевого ложа, френч выполнен с использованием глитера'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_84_1312056298.jpg', href: 'photos-item.html', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, прорисовка акриловыми красками'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_707_1312056391.jpg', href: 'photos-item.html', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, с добавлением кусочков слюды, прорисовка акриловыми красками'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_608_1312056433.jpg', href: 'photos-item.html', alt: 'гелевое наращивание ногтей, цветной френч'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_161_1312056637.jpg', href: 'photos-item.html', alt: ''},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_723_1312660417.jpg', href: 'photos-item.html', alt: 'акриловое моделирование с удленением ногтевого ложа, френч выложен глитером двух цветов, прорисовка акриловой краской'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_381_1312658621.jpg', href: 'photos-item.html', alt: 'акриловое наращивание под лак, роспись акриловыми красками, флористика'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_938_1312055920.jpg', href: 'photos-item.html', alt: ''},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_528_1312056103.jpg', href: 'photos-item.html', alt: 'наращивание ногтей с удленением ногтевого ложа, френч выполнен с использованием глитера'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_84_1312056298.jpg', href: 'photos-item.html', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, прорисовка акриловыми красками'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_707_1312056391.jpg', href: 'photos-item.html', alt: 'Материал компании Mozart Art House. Тонировка свободного края цветными акрилами, с добавлением кусочков слюды, прорисовка акриловыми красками'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_608_1312056433.jpg', href: 'photos-item.html', alt: 'гелевое наращивание ногтей, цветной френч'},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_161_1312056637.jpg', href: 'photos-item.html', alt: ''},
        {src: 'http://www.hairlife.ru/uploaded_files/users/portfolio/2011/5598/small_723_1312660417.jpg', href: 'photos-item.html', alt: 'акриловое моделирование с удленением ногтевого ложа, френч выложен глитером двух цветов, прорисовка акриловой краской'},
      ]
    },
    galleries: [
      {
        name:'Школа парикмахерского искусства',
        link:'peoples-item-gallery.html',
        image: 'http://www.hairlife.ru/uploaded_files/galleries/2011/5598/364/mid_906_1321394243.jpg',
        features: [
          {name:'Фотографий',value:14},
          {name:'Создана',value:'15.11.2011'},
        ]
      },
      {
        name:'Студия красоты "Рай"',
        link:'peoples-item-gallery.html',
        image: 'http://www.hairlife.ru/uploaded_files/galleries/2011/5598/365/mid_410_1321395105.jpg',
        features: [
          {name:'Фотографий',value:13},
          {name:'Создана',value:'15.11.2011'},
        ]
      },
      {
        name:'Работа',
        link:'peoples-item-gallery.html',
        image: 'http://www.hairlife.ru/uploaded_files/galleries/2011/5598/366/mid_43_1321395640.jpg',
        features: [
          {name:'Фотографий',value:2},
          {name:'Создана',value:'15.11.2011'},
        ]
      },
    ],
    videos: [
      {
        name:'3. салонный френч.',
        link:'videos-item.html',
        image: 'http://i1.ytimg.com/vi/_r4m6hVXOOA/default.jpg',
        tags: [' наращивание ногтей']
      },
    ],
  }
