-
  const vacancy = [
    {
      name: 'Общая информация',
      properties: [
        {name: 'Зарплата', value: '<strong>25000</strong>'},
        {name: 'Компания', value: 'Салон " KISS "', link: 'companies-item.html'},
        {name: 'Город', value: 'Новосибирск'},
        {name: 'Тип занятости', value: 'Сменный график'},
        {name: 'Адрес места работы', value: 'Новосибирск, пр.Карла Маркса 3'},
        {name: 'Дата публикации', value: '16.07.2019'},
      ],
    },
    {
      name: 'Требования и обязанности',
      properties: [
        {name: 'Возраст', value: 'от 19	до 50	лет'},
        {name: '', value: 'Умение работать в коллективе. Работа с ESTEL .'},
      ],
    },
    {
      name: 'Условия',
      properties: [
        {name: '', value: 'График 22 . Зп в конце рабочего дня', link: ''},
      ],
    },
    {
      name: 'Контактная информация',
      properties: [
        {name: 'Контактное лицо', value: 'Михайлюк Евгения'},
        {name: 'Контактный телефон', value: '3800859'},
      ],
    },
  ]
