-
  const videos = [
    {
      name:'Акварель гель лаками / Весенний маникюр 2019',
      link:'videos-item.html',
      image: 'http://i1.ytimg.com/vi/bKGp2IwKuV4/default.jpg',
      description: '...',
      tags: ['техника акварель',  'дизайн ногтей в технике акварель',  'дизайн ногтей',  'маникюр',  'педикюр',  'маникюр-акварельными-красками']
    },
    {
      name:'Трендовый дизайн ногтей - жидкий металл на ногтях',
      link:'videos-item.html',
      image: 'http://i1.ytimg.com/vi/AzCc9KBzSXo/default.jpg',
      description: 'дизайн ногтей, маникюр, трендовый дизайн ногтей, экспресс дизайн ногтей, модный дизайн ...',
      tags: ['маникюр',  'дизайн ногтей',  'экспресс-дизайн-ногтей',  'маникюр-2019']
    },
    {
      name:'Аида Штельман семинар Beauty dey by BLANZO 2018 Аида Штельман семинар Beauty dey by BLANZO 2018',
      link:'videos-item.html',
      image: 'http://i1.ytimg.com/vi/MocrbLhLH6M/default.jpg',
      description: 'Семинар Beauty dey by BLANZO ...',
      tags: ['пермь',  'парикмахер',  'парикмахерская',  'салон красоты',  'стиль',  'тренды',  'мода',  'модные-люди',  'аида-штельман',  'окрашивание',  'окрашивание волос',  'волосы24',  'укладка',  'семинар',  'blanzo',  'matrix',  'blond',  'estel',  'estel professional',  'loreal',  'londa',  'wella',  'beauty star']
    },
    {
      name:'Парикмахерское искусство мои работы Парикмахерское искусство мои работы',
      link:'videos-item.html',
      image: 'http://i1.ytimg.com/vi/emH5II17awU/default.jpg',
      description: 'Мои ...',
      tags: ['estel',  'matrix',  'color',  'blonde',  'wella',  'londa',  'loreal',  'beauty star',  'style',  'волосы',  'парикмахер',  'стилист',  'стиль',  'красота и стиль',  'мода',  'пермь',  'окрашивание',  'покраска',  'покраска волос',  'укладка',  'стрижка']
    },
  ]
