.footer-advertising
  padding-left 3.5rem
  line-height line-s
  text-align center
  background-image svgImport('svg/medreclamaLogo.svg')
  background-repeat no-repeat
  background-position left center
